<%= form_for [:customers, load], url: set_address_customers_load_path(load) do |f| %>
<%= yield f %>
<div class="modal-footer">
		<%= f.submit "Save",class: " modal-action modal-close waves-effect waves-green btn-flat" %>
      <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Save</a> -->
    </div>
<% end %>
<%#= f.submit "Save" %>
