<ul class="timeline2">
  <li>
    <div class="timeline-badge green"></div>
    <div class="timeline-panel left-align  text-darken-2" style="font-size: 0.9rem;">
      <div class="p-none">
        <strong class="theme-text">Loading address:</strong>
        <p style="margin:0px;">
          <span class="grey-text left-align text-left"><%= label "from", "address", @load.from_address, id: "from_address" %></span>
        </p>
      </div>
    </div>
	</li>
  <li>
    <div class="timeline-badge red"></div>
    <div class="timeline-panel left-align  text-darken-2" style="font-size: 0.9rem;">
      <div class="p-none">
        <strong class="theme-text">Delivery address:</strong>
        <p style="margin:0px;">
            <span class="grey-text left-align text-left"><%= label "destination", "address", @load.to_address, id: "to_address" %></span>
        </p>
      </div>
    </div>
  </li>
</ul>

<!-- <div class="col s10 left-align grey-text text-darken-2" style="font-size: 0.9rem;">
  <%= @load.from_address %>
  <div class="clearfix" style="height: 13px;"></div>
  <%= @load.to_address %>
</div> -->
<!-- Loading address:<br>
<%#= label "from", "address", @load.from_address, id: "from_address" %><br>
Delivery address:<br>
<%#= label "destination", "address", @load.destination_address, id: "destination_address" %><br>
<br> -->
<!-- <%#= label "destination", "address", @load.to_address, id: "to_address" %><br>
<br>
 -->