<div class="modal-content">
  <h5> Are you sure you want to Cancel?</h5>
</div>
<div class="modal-footer ">
	<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CANCEL</a>
	<%= link_to "YES", cancel_customers_load_path(@load.slug), class: "modal-action modal-close waves-effect waves-green btn-flat", title: "Cancel Load", method: :put %>
</div>