<%#= render 'addresses' %>

<!-- TRANSPORTER ID : <%#= @load.accepted_quote.transporter_id %><br>

Loading Date : <%#= @load.loading_date.strftime("#{@load.loading_date.day.ordinalize} %b, %Y") %><br>
Load Type : <%#= @load.load_type.name %><br>
Vehicle detail : <%#= @load.vehicle_quantity %> <%#= @load.vehicle_load_type.name %> <%#= @load.vehicle_type.name %><br>
Avg trip time : - <br>
Quoted Price: <%#= @load.accepted_quote.offered_price %><br>
Destination Address : <%#= @load.destination_address %><br>
Load status : <strong><%#= @load.load_status %></strong>
<%#= render 'map' %> -->

<%#= link_to_if @load.in_transit?, "TRACK SHIPMENT", track_customers_load_path(@load) do %>
	<%#= link_to "Dispatch", dispatch_order_customers_load_path(@load) %>
<%# end %>

<div class="posi-top-right">
    <a class="btn-floating btn-large waves-effect waves-light theme-bg posi top-call-btn green">
        <i class=" large material-icons">call</i>
    </a>
</div>
<div class="custom_model">
    <div class="modal-content">
        <!-- <div class="col s12 "> -->
        <% if @load.confirmed? %>
          <div class="posi-top-left">
            <span class="confirmed"><i class="material-icons">done</i><%= @load.load_status.upcase %></span>
          </div>
        <% elsif @load.completed? %>
            <div class="posi-top-left">
                <span class="completed"><i class="material-icons">done</i><%= @load.load_status.upcase %></span>
            </div>
        <% elsif @load.in_transit? %>
            <div class="posi-top-left">
                <span class="completed"><i class="material-icons">local_shipping</i>IN-TRANSIT</span>
            </div>
        <% end %>
        <div class="row m-none">
            <div class="col s12 m12 l6 center-align left-content ">
                <div class="row full-height-sub">
                         <!-- <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.459559908322!2d77.20591391460435!3d28.645955390225115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd68259e3211%3A0x40e4f874caed8109!2sPahar+Ganj+Police+Thana+Bus+Stand!5e0!3m2!1sen!2sin!4v1463556920628" style="height: 450px;width:100%">
                        </iframe> -->
                        <%= render 'map' %>
                        <!-- <div id="map" style="height: 450;width: 100%;"></div> -->
                </div>
                <div class="row address">
                  <div class="row"><p class="orange-text text-left left-align m-none">ADDRESS</p></div>
                  <div class="col s1 center-align icons" style="padding: 5px;">
                      <span class="first green"></span>
                      <span class="mid">.</span>
                      <span class="mid">.</span>
                      <span class="mid">.</span>
                      <span class="first red"></span>
                  </div>
                  <%= render 'addresses' %>
                  <div class="clearfix" ></div>
                </div>
            </div>
            <div class="col s12 m12 l6 right-content">
                <div class="row section_row">
                    <div class="title">
                        <div class="col s12">
                            <h6 class="theme-text">TRANSPORT ID</h6>
                            <% if @load.accepted? %>
                                <p><%= @load.accepted_quote.transporter_id %></p>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="row section_row">
                    <div class="title schedule">
                        <div class="col s12">
                            <div class="row m-none">
                                <div class="col s2 p-l-none" style="padding-left: 0px;">
                                    <span class="theme-text"><i class="material-icons">event</i></span>
                                </div>
                                <div class="col s10"><%= @load.loading_date.strftime("#{@load.loading_date.day.ordinalize} %b, %Y") %></div>
                            </div>
                            <div class="row m-none">
                                <div class="col s2 p-l-none" style="padding-left: 0px;">
                                    <span class="theme-text"><i class="material-icons">shopping_cart</i></span>
                                </div>
                                <div class="col s10"><%= @load.load_type.name %></div>
                            </div>
                            <div class="row m-none">
                                <div class="col s2 p-l-none" style="padding-left: 0px;">
                                    <span class="theme-text"><i class="material-icons">local_shipping</i></span>
                                </div>
                                <div class="col s10"><%= @load.vehicle_quantity %> <%= @load.vehicle_load_type.name %> <%= @load.vehicle_type.name %></div>
                            </div>
                            <div class="row m-none">
                                <div class="col s2 p-l-none" style="padding-left: 0px;">
                                    <span class="theme-text"><i class="material-icons">access_time</i></span>
                                </div>
                                <div class="col s10">-</div>
                            </div>
                            <div class="row m-none">
                                <div class="col s2 p-l-none" style="padding-left: 0px;">
                                    <span class="theme-text"><i class="material-icons" title="Source Address">place</i></span>
                                </div>
                                <div class="col s10">
                                  <%= link_to_if @load.active? && !@load.loading_address.present?,"Enter Loading address",find_address_customers_load_path(@load,loading: true),remote: true do %>
                                    <%= @load.loading_address %> <%= link_to_if @load.confirmed?, "Change", find_address_customers_load_path(@load,loading: true),remote: true do;end %>
                                    <%#= load.loading_address %> <%#= link_to_if load.confirmed?, "Change", get_address_form_customers_load_path(load, loading: true) do;end %>
                                  <% end %>
                                </div>
                            </div>
                            <div class="row m-none">
                                <div class="col s2 p-l-none" style="padding-left: 0px;">
                                    <span class="theme-text"><i class="material-icons" title="Destination Address">pin_drop</i></span>
                                </div>
                                <div class="col s10">
                                  <%= @load.destination_address %>
                                  <%= link_to_if @load.active? && !@load.destination_address.present?, "Enter Destination address", find_address_customers_load_path(@load,destination: true),remote: true do %>
                                    <%= @load.destination_address %> <%= link_to_if @load.confirmed?, "Change", find_address_customers_load_path(@load,destination: true),remote: true do;end %>
                                  <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row section_row">
                    <div class="title price">
                        <p>
                            <span class="col s6 theme-text left-align ">QUOTED PRICE</span>
                            <strong class="col s6 right-align " style="color: #000;">
                            <% if @load.accepted? %>
                                <%= @load.accepted_quote.offered_price %>
                            <% end %></strong>
                        </p>
                    </div>
                </div>
                <div class="row section_row">
                    <div class="title payment_info">
                        <div class="col s12">
                            <h6 class="theme-text">PAYMENT INFO</h6>
                            <table class="centered payment_table" >
                                <thead>
                                    <tr>
                                        <th>DATE</th>
                                        <th>AMOUNT</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if @load.accepted_quote.present? %>
                                  <% @load.accepted_quote.customers_payments.sort_by(&:paying_date).each do |payment| %>
                                    <tr>
                                      <td><strong><%= payment.paying_date.strftime("%d/%m/%y") %></strong></td>
                                      <td><strong><%= payment.amount %></strong></td>
                                      <td class="<%= payment.paid? ? 'text-green' : payment.overdue? ? 'overdue' : '' %>"><%= payment.status %></td>
                                    </tr>
                                  <% end %>
                                <% end %>
                                </tbody>
                            </table>
                        </div>
                        <div class="row col s12 note">
                            <div class="col s2 p-l-none">NOTE:</div>
                            <div class="col s10">The amount mentiond above includes convenience charges due to your selected payment method</div>
                        </div>
                        <%= link_to_if @load.confirmed? && @load.assign_vehicles.present?, "Dispatch", dispatch_order_customers_load_path(@load), method: :put do %>
                            <%= link_to_if @load.in_transit?, "TRACK SHIPMENT", track_customers_load_path(@load) do; end %>
                            <%= link_to_if @load.in_transit?, "Reached", marke_as_reached_customers_load_path(@load), method: :put do; end %>
                        <% end %>
                                <%#= link_to_if @load.in_transit?, "TRACK SHIPMENT", track_customers_load_path(@load) do %>
    								<%#= link_to "Dispatch", dispatch_order_customers_load_path(@load),method: :put %>
                                <%# end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
