<div class="modal-content">
  <h5><%= params[:loading].present? ? 'Loading Address' : 'Destination Address' %></h5>
  <%= render 'address_form', load: @load do |f| %>
  	<% if params[:loading].present? %>
		<%= f.text_field :loading_address, placeholder: "Enter Loading address", autofocus: true %>
	<% elsif params[:destination].present? %>
		<%= f.text_field :destination_address, placeholder: "Enter Destination address", autofocus: true %>
	<% end %>
<% end %>
</div>

<%#= render 'address_form', load: @load do |f| %>
	<%#if params[:loading].present? %>
		<%#= f.text_field :loading_address, placeholder: "Enter Loading address", autofocus: true %>
	<%# elsif params[:destination].present? %>
		<%#= f.text_field :destination_address, placeholder: "Enter Destination address", autofocus: true %>
	<%# end %>
<%# end %>
<style type="text/css">
	.pac-container{
		z-index: 1050;
	}
</style>