<div class="col m12 s12 l6">
  <% if load.canceled? %>
    <div class="detail-box custom-box custom-box-wrap cancelled-box">
  <% else %>
    <div class="detail-box custom-box custom-box-wrap">
  <% end %>
  <%#= link_to_unless(load.canceled?,load_detail_customers_load_path(load),remote: true) do %>
  <%= link_to load.canceled? ? "" : load_detail_customers_load_path(load) ,remote: true do %>
    <div class="row" style="font-size: 0.85rem;">
      <div class="col s6 theme-text"><strong>Load ID:</strong> <%= load.load_docket_id %></div>
      <div class="col s6 right-align"><strong>Loading Date:</strong> <%= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %></div>
    </div>
    <div class="row">
      <div class="address">
        <div class="col s6 m9">
          <div class="col s1 center-align icons" style="padding: 5px;">
            <span class="first green"></span>
            <span class="mid">.</span>
            <span class="mid">.</span>
            <span class="mid">.</span>
            <span class="mid">.</span>
            <span class="first red"></span>
          </div>
          <div class="col s10 grey-text">
            <%= load.from_address %>
            <br><br>
            <%= load.to_address %>
          </div>
        </div>
        <div class="col s6 m3 center-align">
          <div class="detail-box-1 text-right">
            <img src="/assets/customer/way.png" alt="way">
            <br>
            <%= load.trip_distance %> KM
          </div>
        </div>
    	</div>
    </div>
    <div class="row detail-box-2 margn-b-o">
      <% unless load.active? || load.processed? %>
        <div class="col s6 mobile-full-width">
          <h6>LOAD TYPE</h6>
          <p><%= load.load_type.name %></p>
          <p><small>Posted on <%= load.posted_on %></small></p>
          <p>Detail</p>
          <p><img src="/assets/customer/wight-grey.png" alt="wight" class="img">
          <%= load.weight["value"] + load.weight["unit"] %> <% unless load.volume["value"].blank? %> <%= load.volume["value"] + load.volume["unit"] %> <% end %><% unless load.dimension["length"].blank? && load.dimension["height"].blank? && load.dimension["dept"] .blank? %> <%= load.dimension["length"] + "x" + load.dimension["height"] + "x" +load.dimension["dept"] + "" + load.dimension["unit"] %>
          <% end %>
          </p>
      	</div>
      <% end %>
      <div class="col s6 mobile-full-width">
        <h6>TRUCK LOAD</h6>
        <p><%= load.vehicle_type.name %></p>
        <p>Detail</p>
        <p><%= load.vehicle_quantity %> <img src="/assets/customer/big-truck.png" alt="truck" class="img img-truck-type"></p>
      </div>
      <% if load.active?  || load.processed?%>
      <div class="col s6 mobile-full-width">
        <h6>TRANSPORTER ID</h6>
        <p><% if load.accepted_quote.present? %>
            <%= load.accepted_quote.transporter_id %>
            <% else %>
            <%= "-" %>
            <% end %>
        </p>
        <h6>Quoted Price</h6>
        <p class="theme-text">
          <% if load.accepted_quote.present? %>
            <%= load.accepted_quote.offered_price %>
          <% else %>
            <%= "-" %>
          <% end %></p>
      </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= link_to_if load.active? && !load.loading_address.present?,"Enter Loading address",find_address_customers_load_path(load,loading: true),remote: true do %>
    <%#= link_to_if load.active? && !load.loading_address.present?, "Enter Loading address", get_address_form_customers_load_path(load, loading: true) do%>
    <%= load.loading_address %> <%= link_to_if load.confirmed?, "Change", find_address_customers_load_path(load,loading: true),remote: true do;end %>
    <%#= load.loading_address %> <%#= link_to_if load.confirmed?, "Change", get_address_form_customers_load_path(load, loading: true) do;end %>
    <% end %>
    <br>
    <%= link_to_if load.active? && !load.destination_address.present?, "Enter Destination address", find_address_customers_load_path(load,destination: true),remote: true do %>
    <%= load.destination_address %> <%= link_to_if load.confirmed?, "Change", find_address_customers_load_path(load,destination: true),remote: true do;end %>
    <% end %>

    <%#= link_to_if load.active? && !load.destination_address.present?, "Enter Destination address", get_address_form_customers_load_path(load, destination: true) do %>
    <%#= load.destination_address %> <%#= link_to_if load.confirmed?, "Change", get_address_form_customers_load_path(load, destination: true) do;end %>
    <%# end %>
  </div>
  <%# end %>
  <div class="row margn-b-o del-edt-quo custom-actions">
  	<% if controller_name == "loads" && action_name == "index" %>
  		<div class="col s3" >
        <% unless load.active? %>
          <% if can? :cancel, load %>
      	   <%= link_to cancel_load_customers_load_path(load.slug), class: "theme-text modal-trigger", title: "Cancel Load",remote: true do %>
              <i class="material-icons">delete</i>CANCEL
            <% end %>
          <% end %>
        <% end %>
        <% if load.completed? %>
          <div class="col s6" >
            <span class="completed"><i class="material-icons">done</i>COMPLETED</span>
          </div>
        <% end %>
        <% if load.canceled? %>
          <div class="col s6" >
            <span class="cancelled"><i class="material-icons">clear</i>CANCELLED</span>
          </div>
        <% end %>
        <% if load.confirmed? %>
          <div class="col s6" >
            <span class="confirmed"><i class="material-icons">done</i>CONFIRMED</span>
          </div>
        <% end %>
        <% if load.in_transit? %>
          <div class="col s6" >
            <span class="completed"><i class="material-icons">local_shipping</i>IN_TRANSIT</span>
          </div>
        <% end %>
          <%#= load.load_status.capitalize %>
        <%#= link_to_if load.waiting_for_approval? || load.posted?, "show", customers_load_path(load) do %>
      <%#= link_to "show", order_customers_load_path(load) %>
        <%# end %>
      </div>

      <div class="col s9 text-right right-align">
        <% if load.active? %>
          <% if can? :cancel, load %>
            <%= link_to cancel_load_customers_load_path(load.slug), class: "theme-text modal-trigger", title: "Cancel Load",remote: true do %>
              <i class="material-icons">delete</i>CANCEL
            <% end %>
          <% end %>
        <% end %>
        <% if can? :edit, load %>
        	<%= link_to "EDIT", customers_loads_build_path(:load_detail, load_id: load.id), class: "theme-text", title: "Edit Load" %>
          <%= link_to "See Quotes(#{total_quote(load.submitted_quotes)})",quotes_customers_load_path(load), class: "theme-text modal-trigger", title: "See Quotes", style: "margin-left: 20px;",remote: true%>
        <% else %>
            <% if load.waiting_for_approval? %>
              <div class="col s12" >
            <span class="completed"><i class="material-icons">update</i>   Waiting For Approval</span>
          </div>
            <% end %>
            <%#= link_to_if load.confirmed?, load.load_status.capitalize, load_detail_customers_load_path(load),remote: true do %>
          <%= link_to_if load.confirmed? && load.assign_vehicles.present?, "Dispatch", dispatch_order_customers_load_path(load), method: :put do %>
            <%= link_to_if load.in_transit? ,"Track SHIPMENT",track_shipment_customers_load_path(load),remote: true do; end %>
            <%= link_to_if load.in_transit?, "Reached", marke_as_reached_customers_load_path(load), method: :put do; end %>
          <% end %>
          <% if load.completed? %>
            <div class="col s6">
              <a href="#" class="theme-text text-right"> MAKE PAYMENT</a>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
<%# end %>



<!-- Load ID : <%#= load.load_docket_id %><br>
Loading Date : <%#= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %><br>
From Address : <%#= load.from_address %><br>
Destination Address : <%#= load.destination_address %><br>
Load Type : <%#= load.load_type.name %><br>
Load details : <br>
- weight : <%#= load.weight["value"] + load.weight["unit"] %><br>
- Volume : <%#= load.volume["value"] + load.volume["unit"] %><br>
- Dimension : <%#= load.dimension["length"] + load.dimension["height"] + load.dimension["dept"] + load.dimension["unit"] %><br>
Vehicle Details : <br>
- Vehicle load type : <%#= load.vehicle_load_type.name %><br>
- Vehicle type : <%#= load.vehicle_type.name %><br>
- Vehicle Quantity : <%#= load.vehicle_quantity %><br>
- Strict Date : <%#= load.strict_date %><br>
Comment : <%#= load.commentable %><br>
Trip Distance : <%#= load.trip_distance %><br>
<hr>

<%# if controller_name == "loads" && action_name == "index" %>
	<%#= link_to_unless  load.in_transit?, "Cancel", cancel_customers_load_path(load.slug), class: "action-link", title: "Cancel Load", method: :put, data: { confirm: "Are you sure you want to cancel this load ?" } do; end%>
	<%# if can? :edit, load %>
		<%#= link_to "Edit", customers_loads_build_path(:load_detail, load_id: load.id), class: "action-link", title: "Edit Load" %>
		<%#= link_to "See Quotes(#{total_quote(load.submitted_quotes)})", customers_load_path(load), class: "action-link", title: "See Quotestes" %>
	<%# else %>
		<%#= link_to_if load.confirmed?, load.load_status.capitalize, confirmed_load_customers_load_path(load) do %>
			<%#= load.load_status.capitalize %>
			<%#= link_to "TRACK SHIPMENT", in_transit_customers_load_path(load)  %>
		<%# end %>
	<%# end %>
<%# end %>
<hr style="height:2px;border:none;color:#333;background-color:#333;"> -->

