Load ID : <%= load.load_docket_id %><br>
Loading Date : <%= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %><br>
From Address : <%= load.from_address %><br>
Destination Address : <%= load.to_address %><br>
Load Type : <%= load.load_type.name %><br>
Load details : <br>
- weight : <%= load.weight["value"] + load.weight["unit"] %><br>
- Volume : <%= load.volume["value"] + load.volume["unit"] %><br>
- Dimension : <%= load.dimension["length"] + load.dimension["height"] + load.dimension["dept"] + load.dimension["unit"] %><br>
Vehicle Details : <br>
- Vehicle load type : <%= load.vehicle_load_type.name %><br>
- Vehicle type : <%= load.vehicle_type.name %><br>
- Vehicle Quantity : <%= load.vehicle_quantity %><br>
- Strict Date : <%= load.strict_date %><br>
Comment : <%= load.commentable %><br>
Trip Distance : <%= load.trip_distance %><br>
<% if load.accepted? %>
TRANSPORTER ID : <%= load.accepted_quote.transporter_id %><br>
Quoted Price: <%= load.accepted_quote.offered_price %><br>
<% end %>

<%= link_to_if load.active? && !load.loading_address.present?, "Enter Loading address", get_address_form_customers_load_path(load, loading: true) do%>
	<%= load.loading_address %> | <%= link_to_if load.confirmed?, "Change", get_address_form_customers_load_path(load, loading: true) do;end %>
<% end %>
<br>
<%= link_to_if load.active? && !load.destination_address.present?, "Enter Destination address", get_address_form_customers_load_path(load, destination: true) do %>
	<%= load.destination_address %> | <%= link_to_if load.confirmed?, "Change", get_address_form_customers_load_path(load, destination: true) do;end %>
<% end %>
<hr>

<% if controller_name == "loads" && action_name == "index" %>
	<% if can? :edit, load %>
		<%= link_to "Edit", customers_loads_build_path(:load_detail, load_id: load.id), class: "action-link", title: "Edit Load" %>
		<%= link_to "See Quotes(#{total_quote(load.submitted_quotes)})", customers_load_path(load), class: "action-link", title: "See Quotestes" %>
	<% else %>
		<%= load.load_status.capitalize %>
		<%= link_to_if load.waiting_for_approval? || load.posted?, "show", customers_load_path(load) do %>
			<%= link_to "show", order_customers_load_path(load) %>
		<% end %>
		<%= link_to_if load.confirmed? && load.assign_vehicles.present?, "Dispatch", dispatch_order_customers_load_path(load), method: :put do %>
			<%= link_to_if load.in_transit?, "TRACK SHIPMENT", track_customers_load_path(load) do; end %>
			<%= link_to_if load.in_transit?, "Reached", marke_as_reached_customers_load_path(load), method: :put do; end %>
		<% end %>
	<% end %>
	<% if can? :cancel, load %>
		<%= link_to  "Cancel", cancel_customers_load_path(load.slug), class: "action-link", title: "Cancel Load", method: :put, data: { confirm: "Are you sure you want to cancel this load ?" } %>
	<% end %>
	<% if can? :cancel, load %>
		<%= link_to  "Cancel", cancel_customers_load_path(load.slug), class: "action-link", title: "Cancel Load", method: :put, data: { confirm: "Are you sure you want to cancel this load ?" } %>
	<% end %>
<% end %>
<hr style="height:2px;border:none;color:#333;background-color:#333;">