<style>
  .notice,.alert{
    display:none;
  }
</style>
<main>
  <div id="my-order" class="main-page"> 
    <div class="black-bg">
      <div class="row">
        <div class="col l8 offset-l2 m10 offset-m1 s12">
          <ul class="menu top-menu">
            <li class="menu-item top-menu-item item"><%= link_to authenticated_customer_root_path,class: "#{!params[:status].present? ? 'active' : ''}" do %><span class="icon-menu load"></span>Loads posted<% end %></li>
            <li class="menu-item top-menu-item item"><%= link_to authenticated_customer_root_path(status: "active"), class: "#{params[:status]}" do %><span class="icon-menu actve"></span>Active<% end %></li>
            <li class="menu-item top-menu-item item"><%= link_to authenticated_customer_root_path(status: "processed"), class: "#{params[:status] == 'processed' ? 'active' : ''}" do %><span class="icon-menu history"></span>History<% end %></li>
            <li class="menu-item top-menu-item item"><a href="#"><span class="icon-menu profile"></span>Profile</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="add-more">
      <a class="btn-floating btn-large waves-effect waves-light theme-bg posi top-add-btn">
        <i class=" large material-icons">
        <%= form_for @new_load, url: customers_loads_builds_path do |f| %>
          <%= f.submit "add" %>
        <% end %></i>
      </a>
    </div>
    <div id="test1" class="col s12">
      <div class="container content">
        <div class="row">
          <div class="col l10 offset-l1 s12 search-bar">
            <% if request.url.split("?")[1] == "status=active" %>
              <div class="active_load_list_tab">
                <div class="col l1 m1 s2 center-align theme-bg search"><i class="material-icons white-text">search</i></div>
                <input type="text" class="col l5 m3 s10">
                <div class="col l5 m6 s12 center-align tab-contain">
                  <div class="filter custom-filter-tab ">
                    <ul class="tabs transport-tabs">
                        <li class="tab col s3"><a href="#all" class="">All</a></li>
                        <li class="tab col s3"><%= link_to "IN TRANSIT", authenticated_customer_root_path(status: "in_transit"),class: "" %></li>
                        <!-- <a href="#transit" class="" >IN TRANSIT</a></li> -->
                        <li class="tab col s3"><%= link_to "CONFIRMED", authenticated_customer_root_path(status: "confirmed"),class: "" %></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="active_load_grid_tab">
                <div class="col l1 m1 s2 center-align theme-bg search"><i class="material-icons white-text">search</i></div>
                <input type="text" class="col l10 m9 s10">
              </div>
            <% else %>
              <div class="col l1 m1 s2 center-align theme-bg search"><i class="material-icons white-text">search</i></div>
              <input type="text" class="col l10 m9 s10">
            <% end %>
            <div class="col m1 s12 center-align">
              <ul class="tabs view custom-tabs">
                <li class="tab custom-tab-icon"><a class="material-icons size" href="#grid-view">view_module</a><a class="material-icons size" href="#table-view">view_list</a></li>
                  <!--<li class="tab col s6"><a class="material-icons size" href="#table-view">view_list</a></li>-->
              </ul>
            </div>
          </div>
          <div id="grid-view" class="col s12">
          <h5 class="custom-table-view">October 2016</h5>
          <div class="custom-table-view">
            <% @cnt = 0 %>
            <% @loads.each_with_index do |load,index| %>
              <% if index%2 == 0 %>
                <% @cnt = 0 %>
                <div class="row flex-display">
              <% end %>
              <% @cnt += 1 %>
              <%= render partial: 'grid_view', locals: {load: load} %>
              <% if @cnt%2 == 0 %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
          <!-- <div id="grid-view" class="col s12">
            <h5 class="col l10 offset-l1 s12">October 2015</h5>
            <div class="col l10 offset-l1 s12">
              <div class="row">
                <div class="col m12 s12 l6">
                  <div class="detail-box custom-box custom-box-wrap">

                    <%#= render partial: 'grid_view', locals:{loads: @loads} %>
                    <%#= @loads.inspect %>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div id="table-view" class="col s12">
            <div class="col l10 offset-l1 s12 table-view grey-text" style="background: #fff;">
              <table class="striped centered responsive-table">
                <thead>
                  <tr class="theme-bg white-text">
                    <th>LOAD ID</th>
                    <th>FROM</th>
                    <th>TO</th>
                    <th><img src="/assets/customer/tehen-direction.jpg" alt="direction"></th>
                    <th>LOAD TYPE</th>
                    <th><img src="/assets/customer/tehen-wight.jpg" alt="wight"></th>
                    <th><img src="/assets/customer/tehen-date.jpg" alt="date"></th>
                    <th><img src="/assets/customer/tehen-truck.jpg" alt="truck"></th>
                    <%# @loads.each do |load| %>
                    <% if request.url.split("?")[1] == "status=active" %>
                      <th>OFFER PRICE</th>
                      <th>STATUS</th>
                    <%# end %>
                    <% end %>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: 'table_view', locals:{loads: @loads} %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
