<div class="modal-content">
            <div class="col s12 ">
                <div class="detail-box">
                    <div class="row" style="font-size: 0.85rem;">
                        <div class="col s6 theme-text"><strong class="grey-text text-darken-3">Load ID:&nbsp;&nbsp;</strong> <%= @load.load_docket_id %></div>
                        <div class="col s6 right-align"><strong class="grey-text text-darken-3">Loading Date:&nbsp;&nbsp;</strong> <%= @load.loading_date.strftime("#{@load.loading_date.day.ordinalize} %b, %Y") %></div>
                    </div>
                   <div class="row address">
                        <div class="col l4 m12 s12">
                            <div style="border-right: 1px solid #ddd;">
                            <div class="row">
                                <div class="col s1 center-align icons" style="padding: 5px;">
                                    <span class="first green"></span>
                                    <span class="mid">.</span>
                                    <span class="mid">.</span>
                                    <span class="mid">.</span>
                                    <span class="first red"></span>
                                </div>
                                <div class="col s11 grey-text text-darken-2" style="font-size: 0.8rem;">
                                    <%= @load.from_address %>
                                    <div class="clearfix" style="height: 13px;"></div>
                                    <%= @load.destination_address %>
                                </div>
                                <div class="clearfix" style="height: 10px;"></div>
                                <div class="col s1">
                                    <img src="/assets/customer/way.png" alt="way" style="width: 16px;">
                                </div>
                                <div class="col s11 grey-text text-darken-2" style="font-size: 0.8rem;">
                                    <%= @load.trip_distance %> KM
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col col l4 m12 s12">
                            <div style="border-right: 1px solid #ddd;">
                                <h6>LOAD TYPE</h6>
                                <p><%= @load.load_type.name %></p>
                                <p><small>Posted on <%= @load.posted_on %></small></p>
                                <p>Detail</a></p>
                                <p><img src="/assets/customer/wight-grey.png" alt="wight" class="img"><%= @load.weight["value"] + @load.weight["unit"] %> <%= @load.volume["value"] + @load.volume["unit"] %> <%= @load.dimension["length"] + @load.dimension["height"] + @load.dimension["dept"] + @load.dimension["unit"] %></p>
                            </div>
                        </div>
                        <div class="col col l4 m12 s12">
                            <h6>TRUCK LOAD</h6>
                            <p><%= @load.vehicle_type.name %></p>
                            <p>Detail</p>
                            <p><%= @load.vehicle_quantity %> <img src="/assets/customer/big-truck.png" alt="truck" class="img img-truck-type"></p>
                        </div>
                    </div>
                    <div class="row" style="margin: 0 -10px;">
                        <table class="striped responsive-table centered">
                            <thead>
                                <tr class="theme-bg white-text">
                                    <th>Owner/Broker</th>
                                    <th>Rating</th>
                                    <th>Avg. Trip. Time</th>
                                    <th>Offered Truck Load</th>
                                    <th>Offered Loading Date</th>
                                    <th>Offered Price</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                            	<%= render partial: 'customers/loads/quotes/quote',locals:{quotes: @quotes} %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>