<% loads.each do |load| %>
    <tr>
        <td><%= link_to load_detail_customers_load_path(load),remote: true,class: "theme-text" do %><%= load.load_docket_id %><% end %></td>
        <td><%= load.from_address %></td>
        <td><%= load.to_address %></td>
        <td><%= load.trip_distance %></td>
        <td class="grey-text text-darken-2"><%= load.load_type.name %></td>
        <td><%= load.weight["value"] + load.weight["unit"] %></td>
        <td><%= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %></td>
        <td><%= load.vehicle_quantity %></td>
        <% if load.active? %>
            <td><%= load.accepted_quote.offered_price %></td>
            <td><%= load.load_status %></td>
        <% end %>
        <% if controller_name == "loads" && action_name == "index" %>
            <td>
                <% unless load.accepted? %>
                <%= link_to cancel_load_customers_load_path(load.slug), class: "theme-text modal-trigger", title: "Cancel Load",remote: true do %>
            <i class="material-icons">delete</i>CANCEL
            <!-- <a class="theme-text modal-trigger" href="#modaldelete"><i class="material-icons">delete</i>CANCEL</a>--><% end %>
            <% end %>
            <% if can? :edit, load %>
                <!-- <a href="#modaldelete" class="grey-text modal-trigger"><i class="tiny material-icons">delete</i></a> -->
                <%= link_to "EDIT", customers_loads_build_path(:load_detail, load_id: load.id), class: "theme-text", title: "Edit Load" %>
                <%= link_to "See Quotes(#{total_quote(load.submitted_quotes)})",quotes_customers_load_path(load), class: "theme-text modal-trigger", title: "See Quotes", style: "margin-left: 20px;",remote: true%>
            <% end %>
        </td>

        <% end %>

    </tr>
<% end %>
 