<%#= render 'addresses' %>

<!-- <h3>TRACKING DETAILS FOR</h3>
<%#= select_tag "vehicle_list", options_for_select(@trips.collect{ |t| [t.vehicle.number_plate, t.id] }) %>

<div id="tracking_details">
	<%#= render 'tracking_details', load: @load, trip: @trips.first %>
</div> -->


<%#= render 'map' %>

<div class="posi-top-left-outer">
  <a id="back_to" href="#modal_transit" class="btn-floating btn-large waves-effect waves-light theme-bg posi top-call-btn modal-trigger">
    <i class="large material-icons">arrow_back</i>
  </a>
</div>
<div class="custom_model">
  <div class="modal-content">
    <div class="row m-none full-height">
      <div class="col s12 m12 l6 center-align left-content ">
        <div class="row" style="height: 100%;">
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.459559908322!2d77.20591391460435!3d28.645955390225115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd68259e3211%3A0x40e4f874caed8109!2sPahar+Ganj+Police+Thana+Bus+Stand!5e0!3m2!1sen!2sin!4v1463556920628" width="100%" height="450" frameborder="0" style="border:0;margin-bottom: -6px; height:100%;" allowfullscreen>
          </iframe> -->
          <%= render 'map' %>
        </div>
      </div>
      <div class="col s12 m12 l6 right-content">
    		<div class="row section_row">
    			<div class="col s12">
    				<%= render 'addresses' %>
    			</div>
    		</div>
        <div class="row section_row">
          <div class="title">
            <div class="col s12">
              <h6 class="theme-text">TRACKING DETAILS</h6>
                  <!-- <p>BRGEO9870  <span>(4.5 <i class="tiny material-icons active">grade</i>)</span></p> -->
            </div>
          </div>
        </div>
        <div class="row section_row">
          <ul class="timeline">
            <%= render 'tracking_details', load: @load, trip: @trips.first %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>