<% trip.trip_trackings.each do |track| %>
	<li>
	  <div class="timeline-badge gray"></div>
	  <div class="timeline-panel left-align  text-darken-2" style="font-size: 0.9rem;">
	      <div class="p-none">
	         <%= track.location %>
	          <p style="margin:0px;">
	              <span class="grey-text left-align text-left"></span>
	              <span class="grey-text right-align text-right"><%= track.created_at.strftime("%d/%m - %I:%M %p") %></span>
	          </p>
	      </div>
	  </div>
	</li>
<% end %>
<div class="row address dots-address" style="margin-top: -6px;">
  <div class="center-align icons dots" >
      <span class="first green"></span>
      <span class="mid">.</span>
      <span class="mid">.</span>
      <span class="mid">.</span>
      <span class="mid">.</span>
      <span class="mid">.</span>
      <span class="mid">.</span>
      <span class="first red"></span>
  </div>
  <div class="left-align  text-darken-2 final_address" style="font-size: 0.9rem;">
    <div class="" style="margin-bottom: 35px;">
       <%= label "from", "address", load.from_address, id: "from_address" %> <span class="grey-text right-align text-right time"><%= trip.created_at.strftime("%d/%m - %I:%M %p") %></span>
    </div>
    <div class="" style="margin-bottom: 15px;">
       <%= label "destination", "address", load.to_address, id: "to_address" %>
    </div>
  </div>
  <div class="clearfix" ></div>
</div>


<!-- > <%#= label "from", "address", load.from_address, id: "from_address" %> | <%#= trip.created_at.strftime("%d/%m - %I:%M %p") %><br>
<div id="tracking_list">
	<%# trip.trip_trackings.each do |track| %>
		> <span><%#= track.location %></span> | <%#= track.created_at.strftime("%d/%m - %I:%M %p") %><br>
	<%# end %>
</div>
<br>
> <%#= label "destination", "address", load.to_address, id: "to_address" %> -->