<%= render 'addresses' %>

TRANSPORTER ID : <%= @load.accepted_quote.transporter_id %><br>

Loading Date : <%= @load.loading_date.strftime("#{@load.loading_date.day.ordinalize} %b, %Y") %><br>
Load Type : <%= @load.load_type.name %><br>
Vehicle detail : <%= @load.vehicle_quantity %> <%= @load.vehicle_load_type.name %> <%= @load.vehicle_type.name %><br>
Avg trip time : - <br>
Quoted Price: <%= @load.accepted_quote.offered_price %><br>
Destination Address : <%= @load.to_address %><br>
Load status : <strong><%= @load.load_status %></strong>
<%= render 'map' %>

<%= link_to_if @load.in_transit?, "TRACK SHIPMENT", track_customers_load_path(@load) do %>
	<%= link_to "Dispatch", dispatch_order_customers_load_path(@load) %>
<% end %>