<!-- <h1>Customer Loads (
<%#= form_for @new_load, url: customers_loads_builds_path do |f| %>
<%#= f.submit "Add new load" %>
<%# end %>
)</h1> -->
<%= render 'menu', loads: @loads %>

<div>
  <%= render 'shared/default_footer' %>
</div>