<div class="col-md-8">
<%= render 'shared/error_messages', object: @load %>
<%= form_for(@load, :url => wizard_path(@step, load_id: @load.id), :method => :put, html: { id: "load_form" }) do |f| %>
  <%= render "location_name_field", f: f %>
  <h3>LOAD TYPE/ MATERIAL</h3>
  <%= f.select :load_type_id, LoadType.active.collect {|lt| [lt.name, lt.id]}, { prompt: "Select Load Type"}, { required: true } %><br>
  <h3>LOAD DETAILS</h3>
  WEIGHT : <%= text_field_tag "load[weight][value]", f.object.weight["value"], required: true %>
  <%= select_tag "load[weight][unit]", options_for_select(WeightUnit.all.collect {|wu| [wu.short_name, wu.short_name]}, f.object.weight["unit"]), required: true %><br>
  VOLUME : <%= text_field_tag "load[volume][value]", f.object.volume["value"] %>
  <%= select_tag "load[volume][unit]", options_for_select(VolumeUnit.all.collect {|vu| [vu.short_name, vu.short_name]}, f.object.volume["unit"]) %><br>
  DIMENSION : <%= text_field_tag "load[dimension][length]", f.object.dimension["length"] %>
  <%= text_field_tag "load[dimension][height]", f.object.dimension["height"] %>
  <%= text_field_tag "load[dimension][dept]", f.object.dimension["dept"] %>
  <%= select_tag "load[dimension][unit]", options_for_select(VolumeUnit.all.collect {|vu| [vu.short_name, vu.short_name]}, f.object.dimension["unit"]) %><br>
  <%= link_to 'Previous', "",:class => 'btn btn-primary disabled', id: "previous_details" %>
  <%= f.submit 'Next', :class => 'btn btn-primary' %>
<% end %>
</div>
<div class="col-md-4">
  <div id="map" style="height: 400px;width: 700px;"></div>
</div>