<%= render 'addresses' %>

<% if @load.accepted_quote.present? %>
	TRANSPORTER ID : <%= @load.accepted_quote.transporter_id %><br>
<% end %>

Loading Date : <%= @load.loading_date.strftime("#{@load.loading_date.day.ordinalize} %b, %Y") %><br>
Load Type : <%= @load.load_type.name %><br>
Vehicle detail : <%= @load.vehicle_quantity %> <%= @load.vehicle_load_type.name %> <%= @load.vehicle_type.name %><br>
Avg trip time : - <br>
<% if @load.accepted_quote.present? %>
	Quoted Price: <%= @load.accepted_quote.offered_price %><br>
<% end %>
Load status : <strong><%= @load.load_status %></strong><br>
<%= link_to_if @load.active? && !@load.loading_address.present?, "Enter Loading address", get_address_form_customers_load_path(@load, loading: true) do%>
	<%= @load.loading_address %> | <%= link_to_if @load.confirmed?, "Change", get_address_form_customers_load_path(@load, loading: true) do;end %>
<% end %>
<br>
<%= link_to_if @load.active? && !@load.destination_address.present?, "Enter Destination address", get_address_form_customers_load_path(@load, destination: true) do %>
	<%= @load.destination_address %> | <%= link_to_if @load.confirmed?, "Change", get_address_form_customers_load_path(@load, destination: true) do;end %>
<% end %>
<%= render 'map' %>

<%= link_to_if @load.in_transit?, "TRACK SHIPMENT", track_customers_load_path(@load) do %>
	<%= link_to_if @load.confirmed? && @load.assign_vehicles.present?, "Dispatch", dispatch_order_customers_load_path(@load), method: :put do;end %>
<% end %>
 | <%= link_to_if @load.in_transit?, "Reached", marke_as_reached_customers_load_path(@load), method: :put do; end %>
<% if can? :cancel, @load %>
	<%= link_to  "Cancel", cancel_customers_load_path(@load.slug), class: "action-link", title: "Cancel Load", method: :put, data: { confirm: "Are you sure you want to cancel this load ?" } %>
<% end %>