<%= render @load %>
<% if can? :manage, @load %>
	<table>
		<thead>
			<tr>
				<th>Owner/Broker</th>
				<th>Rating</th>
				<th>Avg. Trip Time</th>
				<th>Offered Truck Load</th>
				<th>Offered Loading date</th>
				<th>Offered Price</th>
			</tr>
		</thead>
		<tbody>
			<%= render partial: "customers/loads/quotes/quote", collection: @quotes %>
		</tbody>
	</table>
<% end %>