<%= render 'shared/error_messages', object: @load %>
<%= form_for(@load, :url => wizard_path(@step, load_id: @load.id), :method => :put, html: { id: "load_form" }) do |f| %>
  <%= render "location_name_field", f: f %>
  <%= f.select :vehicle_load_type_id, VehicleLoadType.all.collect {|vlt| [vlt.name, vlt.id]} %><br>
  TRUCK TYPE : <%= f.select :vehicle_type_id, VehicleType.all.collect {|vt| [vt.name, vt.id]}, { prompt: "Select Vehicle Type" }, { required: true } %><br>
  QUANTITY : <%= f.number_field :vehicle_quantity, required: true %>
  STRICT DATE :<br>
  <%= f.text_field :loading_date, required: true %>
  <%= f.check_box :strict_date %> Strict with date
  <br>
  <%= link_to 'Previous', previous_wizard_path(load_id: @load.id),:class => 'btn btn-primary', id: "previous_details" %>
  <%= f.submit 'Next', :class => 'btn btn-primary' %>
<% end %>
<div class="col-md-4">
  <div id="map" style="height: 400px;width: 700px;"></div>
</div>
