<%= form_for payment, url: customers_payments_path(quote), method: :post do |f| %>
	<%#= f.hidden_field :quote_id, value: @quote.id %>
	<p>Offered price :<%= label "offered", "price", @quote.offered_price, id: "offered_price" %></p>
	<div id="content">
		<div id="installment_content_1" class="installment_content">
			<%= hidden_field_tag "customers_payment[][payment_plan_id]", nil,id: "payment_plan_id" %>
			<p>Amount to be paid : <%= number_field "payable", "amount", :step => 'any', placeholder: "Enter amount", value: @quote.offered_price, id: "payable_amount", readonly: true %></p>
			<div id="extra_fees">
			</div>
			<%= date_field_tag "customers_payment[][paying_date]", Date.today, placeholder: "Paid amount on", id: "payment_date", class: "date" %>
			<br>
		</div>
	</div>
	<p class="center-align clearfix">
    <div class="col s6">
        <button class="waves-effect waves-light text-grey btn-flat butons p-none center-align" style="background: #dfdfdf; width:100%;">CANCEL</button>
    </div>
    <div class="col s6">
        <button type="submit" class="waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align" style="width:100%;">CONFIRM</button>
    </div>
  </p>
	<%#= f.submit "Confirm Payment" %>
<% end %>

<!-- <script type="text/html" id="extra_fee_template">
	<%= label "extra","fee", data: { content: "title" } %>
	<%= label "fee","value", data: {"content": "value"} %>
	<br>
</script>
<script type="text/html" id="total_value_template">
	<%= label "lbl_total", "title", data: { content: "total_title" } %>
	<%= number_field "customers_payment", "amount",data: { value: "total_value" }, readonly: true %>
	<%#= label "lbl_total","value", data: { content: "total_value" } %>
	<br>
</script> -->