<%= form_for payment, url: customers_payments_path(quote), method: :post do |f| %>
		Offered price : <%= label "offered", "price", @quote.offered_price, id: "offered_price" %><br>

	<div id="content">
		<div id="installment_content_1" class="installment_content">
			<%= hidden_field_tag "customers_payment[][payment_plan_id]", nil, id: "payment_plan_id" %>
			Amount to be paid(atleast 30%) : <%= number_field "payable", "amount", :step => 'any', placeholder: "Enter amount", value: (@quote.offered_price * 30 / 100), min: (@quote.offered_price * 30 / 100), id: "payable_amount", readonly: true %>
			<div id="extra_fees">
			</div>
			on
			<%= date_field_tag "customers_payment[][paying_date]", Date.today, placeholder: "Paid amount on", id: "payment_date", class: "date", readonly: true %>
		</div>
	</div>
	<hr>
	<div id="installment_content">
		<div id="installment_content_2" class="installment_content">
			<%= hidden_field_tag "customers_payment[][payment_plan_id]", nil, id: "payment_plan_id" %>
			Next payable amount : <%= number_field "payable", "amount", :step => 'any', placeholder: "Enter amount", value: @quote.offered_price - (@quote.offered_price * 30 / 100), id: "payable_amount", max: @quote.offered_price - (@quote.offered_price * 30 / 100), class: "remain_payment_txt" %>
			<div id="extra_fees">
			</div>
			on
			<%= date_field_tag "customers_payment[][paying_date]", Date.today+1.day, placeholder: "Paid amount on", id: "payment_date",class: "date" %>
		</div>
		<div id="new_installment">
		</div>
	</div>

<br>
<p class="center-align clearfix">
    <div class="col s6">
        <button class="waves-effect waves-light text-grey btn-flat butons p-none center-align" style="background: #dfdfdf; width:100%;">CANCEL</button>
    </div>
    <div class="col s6">
        <button type="submit" class="waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align" style="width:100%;">CONFIRM</button>
    </div>
  </p>
<%#= f.submit "Confirm Payment" %>
<% end %>

<!-- <script type="text/html" id="extra_fee_template">
	<%= label "extra","fee", data: { content: "title" } %>
	<%= label "fee","value", data: {"content": "value"} %>
	<br>
</script>
<script type="text/html" id="total_value_template">
	<%= label "lbl_total", "title", data: { content: "total_title" } %>
	<%= number_field "customers_payment", "amount",data: { value: "total_value" }, readonly: true %>
	<br>
</script> -->