<main>
            <div id="my-order" class="main-page">
                <!-- first tab -->
                <div class="col s12">
                    <div class="container">
                        <div class="row">
                            <!-- grid view  starts -->
                            <div id="order-payment" class="col s12">
                                <div class="col l10 offset-l1 s12">
                                    <div class="row">
                                        <div class="col m12 s12 l6">
                                            <div class="detail-box custom-box">
                                                <span class="page-fold"><img src="/assets/customer/fold.png" alt="fold"></span>
                                                <p class="center-align h2">ORDER SUMMARY</p>
                                                <div class="row" style="font-size: 0.85rem;">
                                                    <div class="col s6 theme-text"><strong>Load ID:</strong> <%= @load.load_docket_id %></div>
                                                    <div class="col s6 right-align"><strong>Loading Date:</strong> <%= @load.loading_date.strftime("#{@load.loading_date.day.ordinalize} %b, %Y") %></div>
                                                </div>
                                                <div class="row ">
                                                    <div class="address">
                                                        <div class="col s6 m9">
                                                            <div class="col s1 center-align icons" style="padding: 5px;">
                                                                <span class="first green"></span>
                                                                <span class="mid">.</span>
                                                                <span class="mid">.</span>
                                                                <span class="mid">.</span>
                                                                <span class="mid">.</span>
                                                                <span class="first red"></span>
                                                            </div>
                                                            <div class="col s10 grey-text">
                                                                <%= render 'customers/loads/addresses' %>
                                                            </div>
                                                        </div>
                                                        <div class="col s6 m3 center-align">
                                                            <div class="detail-box-1 text-right">
                                                                <img src="/assets/customer/way.png" alt="way">
                                                                <br>
                                                               <%= @load.trip_distance %> KM
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row detail-box-2 margn-b-o">
                                                    <div class="col s6 mobile-full-width">
                                                            <h6>LOAD TYPE</h6>
                                                            <p><%= @load.load_type.name %></p>
                                                            <p><small>Posted on <%= @load.posted_on %></small></p>
                                                            <p>Detail</p>
                                                            <p><img src="/assets/customer/wight-grey.png" alt="wight"> <strong class="grey-text text-darken-2"><%= @load.weight["value"] + @load.weight["unit"] %> <%= @load.volume["value"] + @load.volume["unit"] %> <%= @load.dimension["length"] + @load.dimension["height"] + @load.dimension["dept"] + @load.dimension["unit"] %></strong></p>
                                                    </div>
                                                    <div class="col s6 mobile-full-width">
                                                        <h6>TRUCK LOAD</h6>
                                                        <p><%= @load.vehicle_type.name %></p>
                                                        <p>Detail</p>
                                                        <p>&nbsp;</p>
                                                    </div>
                                                    <div class="clearfix">
                                                        <br>
                                                        <h6 class="col s12" style="margin-bottom: 10px;">TRANSPORT DETAILS</h6>
                                                    <p>
                                                        <span class="col s6 left-align">
                                                        <%# if @load.accepted_quote.present? %>
                                                        	<%if @quote.transporter.name.blank? %>
																														<%= @quote.transporter.ph_no %>
																													<% else %>
																														<%= @quote.transporter.name %>
																														<!-- <%#= @load.accepted_quote.transporter_id %><br> -->
																											<% end %><%# end %></span>
                                                        <span class="col s6 right-align grey-text"><i class="tiny material-icons active">grade</i><i class="tiny material-icons active">grade</i><i class="tiny material-icons active">grade</i><i class="tiny material-icons">grade</i><i class="tiny material-icons">grade</i></span>
                                                    </p>
                                                    </div>
                                                </div>
                                                <div class="row margn-b-o trip-time">
                                                    <div class="col s6">
                                                        <p class="grey-text"><strong class="grey-text text-darken-2">Avg. Trip Time:</strong>--</p>
                                                    </div>
                                                    <div class="col s6">
                                                        <p class="theme-text right-align">
                                                        	<%= @quote.offered_price %>
																												</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col m12 s12 l6">
                                            <div class="detail-box custom-box">
                                                <p class="center-align h2">PAYMENT</p>
                                                <!-- <div class=" row col s12"> -->
                                                    <div class="filter custom-filter-tab" style="width: 100%;">
                                                        <ul class="tabs payment">
                                                            <li class="tab col s3"><a href="#fullpay" class="active">FULL PAYMENT</a></li>
                                                            <li class="tab col s3"><a href="#partpay" class=" ">PART PAYMENT</a></li>
                                                        </ul>
                                                    </div>
                                                <!-- </div> -->
                                                <div id="fullpay">
                                                	<%# render "customers/loads/payments/full_payment", payment: @payment, quote: @quote %>
                                                	<%= render "full_payment", payment: @payment, quote: @quote %>
                                                    <!-- <form action="#" method="post">
                                                        <p>
                                                            <input class="with-gap" name="group1" type="radio" id="test1" />
                                                            <label for="test1">Pay Now</label>
                                                            <span class="grey-text">&LT; Offer Price &GT; +3% Convenience Fees</span>
                                                        </p>
                                                        <p>
                                                            <input class="with-gap" name="group1" type="radio" id="test2" />
                                                            <label for="test2">Within 15 Days</label>
                                                            <span class="grey-text">&LT; Offer Price &GT; +2% Late Fee +3% Convenience Fees</span>
                                                        </p>
                                                        <p>
                                                            <input class="with-gap" name="group1" type="radio" id="test3"  />
                                                            <label for="test3">Within 30 Days</label>
                                                            <span class="grey-text">&LT; Offer Price &GT; +2% Late Fee +3% Convenience Fees</span>
                                                        </p>
                                                        <p>
                                                            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                                                            <label for="filled-in-box">I agree to all the <a class="modal-trigger" href="#modalterms">Terms and Condition</a></label>
                                                        </p>
                                                        <br>
                                                        <p class="center-align clearfix">
                                                            <div class="col s6">
                                                                <button class="waves-effect waves-light text-grey btn-flat butons p-none center-align" style="background: #dfdfdf; width:100%;">CANCEL</button>
                                                            </div>
                                                            <div class="col s6">
                                                                <button type="submit" class="waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align" style="width:100%;">CONFIRM</button>
                                                            </div>
                                                        </p>
                                                        <div class="clearfix"></div>
                                                    </form> -->
                                                </div>
                                                <div id="partpay">
                                                		<%= render "part_payment", payment: @payment, quote: @quote %>
                                                    <!-- <form action="#" method="post">
                                                        <div class="row center-align">
                                                            <div class="col s4">
                                                                <div class="box z-depth-1">
                                                                <input class="with-gap" name="group2" type="radio" id="test4" />
                                                                <label for="test4">30%</label>
                                                                <p>
                                                                    <span class="grey-text text-darken-2"><strong>TO BE PAID NOW</strong></span>
                                                                    <span class="grey-text">30% of OP</span>
                                                                </p>
                                                                <p>
                                                                    <span class="grey-text text-darken-2"><strong>WITHIN 15 DAYS</strong></span>
                                                                    <span class="grey-text">Remaining 70% of OP +2% Late Fee 0n 70% of Offer Price</span>
                                                                </p>
                                                                <p>
                                                                    <span class="grey-text text-darken-2"><strong>WITHIN 30 DAYS</strong></span>
                                                                    <span class="grey-text">Remaining 70% of OP +4% Late Fee 0n 70% of Offer Price</span>
                                                                </p>
                                                                
                                                                </div>
                                                            </div>
                                                            <div class="col s4">
                                                                <div class="box z-depth-1">
                                                                <input class="with-gap" name="group2" type="radio" id="test5" />
                                                                <label for="test5">50%</label>
                                                                <p>
                                                                    <span class="grey-text text-darken-2"><strong>TO BE PAID NOW</strong></span>
                                                                    <span class="grey-text">50% of OP</span>
                                                                </p>
                                                                <p>
                                                                    <span class="grey-text text-darken-2"><strong>WITHIN 15 DAYS</strong></span>
                                                                    <span class="grey-text">Remaining 50% of OP +2% Late Fee 0n 50% of Offer Price</span>
                                                                </p>
                                                                <p>
                                                                    <span class="grey-text text-darken-2"><strong>WITHIN 30 DAYS</strong></span>
                                                                    <span class="grey-text">Remaining 50% of OP +4% Late Fee 0n 50% of Offer Price</span>
                                                                </p>
                                                                
                                                                </div>
                                                            </div>
                                                            <div class="col s4">
                                                                <div class="box z-depth-1">
                                                                <input class="with-gap" name="group2" type="radio" id="test6"  />
                                                                <label for="test6">80%</label>
                                                                <p>
                                                                    <span class="grey-text text-darken-2"><strong>TO BE PAID NOW</strong></span>
                                                                    <span class="grey-text">20% of OP</span>
                                                                </p>
                                                                <p>
                                                                    <span class="grey-text text-darken-2"><strong>WITHIN 15 DAYS</strong></span>
                                                                    <span class="grey-text">Remaining 20% of OP +2% Late Fee 0n 20% of Offer Price</span>
                                                                </p>
                                                                <p>
                                                                    <span class="grey-text text-darken-2"><strong>WITHIN 30 DAYS</strong></span>
                                                                    <span class="grey-text">Remaining 20% of OP +4% Late Fee 0n 20% of Offer Price</span>
                                                                </p>
                                                                
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <p>
                                                            <input type="checkbox" class="filled-in" id="filled-in-boxs" checked="checked" />
                                                            <label for="filled-in-boxs">I agree to all the <a class="modal-trigger" href="#modalterms">Terms and Condition</a></label>
                                                        </p>
                                                        <p class="center-align clearfix">
                                                            <div class="col s6">
                                                                <button class="waves-effect waves-light text-grey btn-flat butons p-none center-align" style="background: #dfdfdf; width:100%;">CANCEL</button>
                                                            </div>
                                                            <div class="col s6">
                                                                <button type="submit" class="waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align" style="width:100%;">CONFIRM</button>
                                                            </div>
                                                        </p>
                                                        <div class="clearfix"></div>
                                                    </form> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
<div>
  <%= render 'shared/default_footer' %>
</div>

<!-- <h2>Payment</h2> -->
<%#= select_tag "payment_type", options_for_select([["Full Payment", "full"], ["Part payment", "part"]]) %>
<!-- <div id="paymet_form_content">
	<%#= render "full_payment", payment: @payment, quote: @quote %>
</div> -->
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<script type="text/javascript" src="/assets/jquery.loadTemplate.min"></script>
<script type="text/javascript" charset="utf-8" async defer>
    var payments = new Payment({offerPrice: $("#offered_price").html()})
</script>

<script type="text/html" id="extra_fee_template">
    <%= label "extra","fee", data: { content: "title" } %>
    <%= label "fee","value", data: {"content": "value"} %>
    <br>
</script>
<script type="text/html" id="total_value_template">
    <%= label "lbl_total", "title", data: { content: "total_title" } %>
    <%= number_field_tag "customers_payment[][amount]", nil,data: { value: "total_value" }, readonly: true %>
    <%#= label "lbl_total","value", data: { content: "total_value" } %>
    <br>
</script>