<%= form_for [:admins, vehicle_load_type] do |f| %>
  <div class="panel panel-default">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row custom-form-row-full">
          <div class="col-sm-2">
            <p class="feature_title form-label-title">
              Vehicle Load Type name
            </p>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.text_field :name, class: 'form-control custom-form-control', placeholder: 'Load type name'  %>
              <div style="color: rgb(204, 0, 0)"><%= show_errors(vehicle_load_type, :name) %></div>
            </div>
          </div>
          <div class="col-sm-4 add-more-right">
            <!-- <button type="submit" class="btn custom-btn custom_btn custom-add-bordered-btn m-none"> <span class="glyphicon glyphicon-plus"></span> Save</button> -->
            <% if params[:action] == 'edit' %>
              <%= f.button :submit, class: 'btn custom-btn custom_btn custom-add-bordered-btn m-none' do %>
                 Update
              <% end %>
            <% else %>
              <%= f.button :submit, class: 'btn custom-btn custom_btn custom-add-bordered-btn m-none' do %>
                <span class='glyphicon glyphicon-plus'></span> Save
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
<% end %>