<tr>
	<td><%= vehicle_load_type.name %></td>
	<td>
		<%= link_to edit_admins_vehicle_load_type_path(vehicle_load_type), title: 'Edit', class: 'action-link', remote: true do %>
			<i class="glyphicon glyphicon-pencil"></i>
		<% end %>
		<%= link_to [:admins,vehicle_load_type],method: :delete, title: 'Delete', class: 'action-link', data: {confirm: 'Are you sure?'} do %>
			<i class="glyphicon glyphicon-trash"></i>
		<% end %>
	</td>
</tr>