
<div class="checkbox">
  <label>
    <%= check_box_tag "assign_vehicle[]", vehicle.id, !assign_vehicles.nil? ? assign_vehicles.collect(&:id).include?(vehicle.id) : false %> <%= vehicle.number_plate %>
  </label>
</div>