<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Customer Payment</h4>
    </div>
		<%= form_for next_receivable_payment, url: receive_customer_payment_admins_order_payment_path(order, next_receivable_payment) do |f| %>
	    <div class="modal-body">
	    Pyament Type :
	    <%= select_tag "payment_type", options_for_select([["Full Payment"], ["Part Payment"]], [f.object.payment_plan.payment_type]) %><br>
	    Amount to be paid :
	    <%= f.text_field :amount, readonly: true %><br>
	    Paying date :
	    <%= f.date_field :paying_date, readonly: true %><br>
	    Pay via :
	    <%= f.text_field :pay_via, placeholder: "Pay via check or case or etc." %><br>
	    Reference Number :
	    <%= f.text_field :ref_no, placeholder: "Payment reference number if any" %><br>
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit "Receive",class: "btn btn-primary" %>
	    </div>
    <% end %>
 </div>
</div>
