<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Trasnporter Payment</h4>
    </div>
		<%= form_for next_payable_payment, url: admins_order_pay_transporter_payment_path(order) do |f| %>
	    <div class="modal-body">
		    <div class="row">
		    	<div class="col-sm-6">
					  <div class="form-group">
					    <label for="inputExample">Amount to be paid</label>
					    <%= f.number_field :amount, value: order.admin_next_payable_payment, max: order.admin_next_payable_payment, class: 'form-control custom-form-control' %>
					  </div>
					</div>

					<div class="col-sm-6">
					  <div class="form-group">
					    <label for="inputExample">Paying date :</label>
					    <%= f.date_field :paying_date, value: Date.current,readonly: true, class: 'form-control custom-form-control' %>
					  </div>
					</div>

					<div class="col-sm-6">
					  <div class="form-group">
					    <label for="inputExample">Pay via :</label>
		    			<%= f.text_field :pay_via, placeholder: "Pay via check or case or etc.", class: 'form-control custom-form-control' %>
					  </div>
					</div>

					<div class="col-sm-6">
					  <div class="form-group">
					    <label for="inputExample">Reference Number :</label>
					    <%= f.text_field :ref_no, placeholder: "Payment reference number if any", class: 'form-control custom-form-control' %>
					  </div>
					</div>
				</div>
		  </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit "Paid",class: "btn btn-primary" %>
	    </div>
    <% end %>
 </div>
</div>
