<div class="custom_model">
    <div class="modal-content" style="padding: 0px;">
        <div class="row m-none flex-display">
            <div class="col s12 m12 l12" style="padding:20px 0px !important;">
                <div class="row section_row">
                    <div class="title">
                        <div class="col s12">
                            <h6>Edit <%= resource_name.to_s.humanize %></h6>
                        </div>
                    </div>
                </div>
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "modal-form", remote: true }) do |f| %>
                    <div class="col s12">
                        <div class="title">
                            <div class="row">
                                <div class="">
                                    <div class="input-field col s12 error-log input-row">
                                      <%= f.text_field :ph_no, class: "validate", placeholder: "Enter Phone number" %>
                                      <%= f.label :ph_no, "Phone Number", class: "theme-text actives login_input" %>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                        <%= f.email_field :email, class: "validate", placeholder: "Enter Email ( Optional )" %>
                                        <%= f.label :email, "Email", class: "theme-text actives login_input" %>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                        <%= f.text_field :name, class: "validate", placeholder: "Enter Your Name" %>
                                        <%= f.label :name, "Name", class: "theme-text actives login_input" %>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                      <%= f.text_field :company_name, class: "validate", placeholder: "Enter Your Company Name" %>
                                      <%= f.label :company_name, "Company Name", class: "theme-text actives login_input" %>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                      <%= f.text_area :address_detail, class: "validate materialize-textarea", placeholder: "Enter Your Address Detail" %>
                                      <%= f.label :address_detail, "Address", class: "theme-text actives login_input" %>
                                    </div>
                                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                    <% end %>
                                    <div class="input-field col s12 error-log input-row">
                                      <i>(we need your current password to confirm your changes)</i>
                                      <%= f.password_field :current_password, class: "validate", placeholder: "Enter Your Current Password", autocomplete: "off" %>
                                      <%= f.label :current_password, "Current Password", class: "theme-text actives login_input" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="col s12 right-align">
                        <%= f.submit "Update", data: {disable_with: "submitting..."}, class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align", style: "padding: 0px 20px; margin-right: 20px;" %>
                        <%= link_to "CANCEL", "javascript:;", class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align close-popup", style: "padding: 0px 20px; background-color:#d0d0d0;" %>
                        </div>
                    </div>
                <% end %>
                <div class="row section_row cancel-acc-section">
                  <div class="col s12">
                      <h6>CANCEL MY ACCOUNT</h6>
                  </div>
                  <div class="col s12">
                    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "theme-text text-left cancel-acc-link" %></p>
                    <!-- <a href="#" class="theme-text text-left cancel-acc-link">cancel my account</a> -->
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
