<style>
  .notice,.alert{
    display:none;
  }
</style>
<main>
  <div class="section no-pad-bot main-page" id="home">
    <div class="container" style="overflow: visible;">
      <h1 class="header center"><img src="/assets/customer/transport-logo.png" alt="transport"></h1>
      <div class="row">
        <div class="col m8 offset-m2 l6 offset-l3 s12 center-form-box">
          <div class="login_title_wrap reg_title_wrap">
            <div>Register</div>
            <span>
              Already Registered?
              <%= link_to "Login here", new_session_path(resource_name) %>
            </span>
          </div>
          <div class="home-from login_form clearfix col s12">
            <%= form_for(resource, as: resource_name, id: "regForm", url: registration_path(resource_name)) do |f| %>
              <div>
                <div class="row">
                  <div class="col s12">
                  <% if resource.errors.any? %>
                    <div class="card-panel theme-bg">
                      <%= devise_error_messages! %>
                    </div>
                  <% end %>
                  </div>
                </div>
                <div class="input-field col s12 error-log">
                  <%= f.label :ph_no, "ENTER PHONE NUMBER", class: "theme-text actives login_input" %>
                  <%= f.text_field :ph_no, autofocus: true, placeholder: "Enter Phone number", class: "validate" %>
                </div>
                <div class="input-field col s12 error-log">
                  <%= f.label :email, "ENTER EMAIL",class: "theme-text actives login_input" %>
                  <%= f.email_field :email, placeholder: "Enter Email ( Optional )",class: "validate" %>
                </div>
                <div>
                  <button type="submit" class="btn-floating btn-large waves-effect waves-light theme-bg posi"><i class=" large material-icons">navigate_next</i></button>
                </div>
                <div class="input-field col s12 error-log">
                  <%= f.label :password, "ENTER PASSWORD",class: "theme-text actives login_input" %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Enter Password", class: "validate" %>
                </div>
                <div class="input-field col s12 error-log">
                  <%= f.label :password_confirmation,class: "theme-text actives login_input" %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Enter Confirmation Password",class: "validate" %>
                </div>
                <div class="col s12 show-moblie">
                  <button type="submit" class="btn-floating btn-large waves-effect waves-light theme-bg"><i class=" large material-icons">navigate_next</i></button>
                </div>
                <div class="col s12 form_footer">
                  <div class="term">
                    <span>
                      By signing in you agree to the <a href="#">Terms and Conditions.</a>
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div>
  <%= render 'shared/default_footer' %>
</div>
<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

  <!-- <div class="field">
    <%#= f.label :ph_no, "ENTER PHONE NUMBER" %><br />
    <%#= f.text_field :ph_no, autofocus: true, placeholder: "Enter Phone number", required: true %>
  </div>

  <div class="field">
    <%#= f.label :email, "ENTER EMAIL" %><br />
    <%#= f.email_field :email, placeholder: "Enter Email ( Optional )" %>
  </div>

  <div class="field">
    <%#= f.label :password, "ENTER PASSWORD" %>
    <%# if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <%# end %><br />
    <%#= f.password_field :password, autocomplete: "off", placeholder: "Enter Password", required: true %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %><br />
    <%#= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Enter Confirmation Password", required: true %>
  </div>

  <div class="actions">
    <%#= f.submit "Sign up", data: {disable_with: "Submitting..."} %>
  </div>
<%# end %>
 -->
<%#= render "customers/shared/links" %>
