.dashboard_wrapper {
    background-color: #e8edf2;
}
.dashboard_menu_box_wrap {
    margin-top: 10px;
}
.dashboard_menu_box {
    background-color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
    border: 1px solid #ccc;
    float: left;
    width: 100%;
}
.dashboard_menu_box span {
    background-color: #eb8823;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    width: 75px;
    /*height: 75px;*/
    margin:  20px 0 20px 40px;
    line-height: 75px;
    text-align: center;
    float: left;
}
.dashboard_menu_box div {
    font-size: 17px;
    margin-left: 20px;
    float: left;
    color: #252525;
    margin-top: 47px;
}
.large_menu_box div {
    margin-top: 32px;
}
.dashboard_menu_box:hover {
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
    background-color: #f9f9f9;  
    border: 1px solid #999;  
}



@media screen and (max-width: 1200px){
    .dashboard_menu_box span {
        margin-left: 20px;
    }
    .dashboard_menu_box div {
        margin-left: 14px;
    }
    .dashboard_menu_box div br {
        display: none;
    }
}
@media screen and (max-width: 991px){

}

@media screen and (max-width: 768px){
   .dashboard_menu_box {
        margin: 0;
        border-radius: 0;
   }
   .dashboard_menu_box_wrap a {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
   }
   .dashboard_menu_box span {
        font-size: 21px;
        height: 45px;
        line-height: 45px;
        width: 45px;
    }
    .dashboard_menu_box div {
        margin-top: 28px;
        font-size: 18px;
    }
}
@media screen and (max-width: 580px){

}