<i>Load status</i> : <%= web_notification.body["load_status"].humanize %><br>
<i>Customer ID</i> : <%= web_notification.body["customer"]["id"] %><br>
<i>Load Docket ID</i> : <%= web_notification.body["load_docket_id"] %><br>
<i>Load Type</i> : <%= web_notification.body["load_type"]["name"] %><br>
<i>Vehicle Load Type</i> : <%= web_notification.body["vehicle_load_type"]["name"] %><br>
<i>Vehicle Type</i> : <%= web_notification.body["vehicle_type"]["name"] %><br>
<i>Vehicle Quantity</i> : <%= web_notification.body["vehicle_quantity"] %><br>
<i>Weight</i> : <%= web_notification.body["weight"]["value"] %> | <%= web_notification.body["weight"]["unit"] %><br>
<i>Volume</i> : <%= web_notification.body["volume"]["value"] %> | <%= web_notification.body["volume"]["unit"] %><br>
<i>Dimension</i> : <%= web_notification.body["dimension"]["length"] %> x <%= web_notification.body["dimension"]["height"] %> x <%= web_notification.body["dimension"]["dept"] %> | <%= web_notification.body["dimension"]["unit"] %><br>
<i>Loading Date</i> : <%= web_notification.body["loading_date"] %><br>
<i>Strict Date</i> : <%= web_notification.body["strict_date"] %><br>
<i>Comment</i> : <%= web_notification.body["comment"] %><br>
<i>Display Comment</i> : <%= web_notification.body["display_comment"] %><br>
<i>Trip Distance</i> : <%= web_notification.body["trip_distance"] %><br>
<i>Fom Address</i> : <%= web_notification.body["from_address"] %><br>
<i>To Address</i> : <%= web_notification.body["to_address"] %><br>