<% if web_notification.event_type == "accepted" %>
	<i>Customer ID</i> : <%= web_notification.body["load"]["customer_id"] %><br>
	<i>Selected Transporter's ID</i> : <%= web_notification.body["transporter"]["id"] %><br>
<% else %>
	<i><%= web_notification.event_type == "create" ? "Quote By" : "Quote Edited By" %></i> :
	<%= web_notification.body["transporter"].try(:[],"id") || "Admin" %><br>
<i><%= web_notification.event_type == "create" ? "Quote Details" : "New Quote Details" %></i>:<br>
<i>Load Docket ID</i> : <%= web_notification.body["load"]["load_docket_id"] %><br>
<i>Offered Vehicle Load Type</i> : <%= web_notification.body["vehicle_load_type"]["name"] %><br>
<i>Offered Vehicle Type</i> : <%= web_notification.body["vehicle_type"]["name"] %><br>
<i>Offered Vehicle Quantity</i> : <%= web_notification.body["vehicle_quantity"] %><br>
<i>Offered Loading Date</i> : <%= web_notification.body["offered_date"] %><br>
<i>Offered Price</i> : <%= web_notification.body["offered_price"] %><br>
<% end %>

<br>
<b>Load Details :</b><br>
<% load = web_notification.notifiable.load %>
	<i>Load status</i> : <%= web_notification.body["load"]["load_status"].humanize %><br>
	<i>Load Docket ID</i> : <%= web_notification.body["load"]["load_docket_id"] %><br>
	<i>Load Type</i> : <%= load.load_type.name %><br>
	<i>Vehicle Load Type</i> : <%= load.vehicle_load_type.name %><br>
	<i>Vehicle Type</i> : <%= load.vehicle_type.name %><br>
	<i>Vehicle Quantity</i> : <%= web_notification.body["load"]["vehicle_quantity"] %><br>
	<i>Weight</i> : <%= web_notification.body["load"]["weight"]["value"] %> | <%= web_notification.body["load"]["weight"]["unit"] %><br>
	<i>Volume</i> : <%= web_notification.body["load"]["volume"]["value"] %> | <%= web_notification.body["load"]["volume"]["unit"] %><br>
	<i>Dimension</i> : <%= web_notification.body["load"]["dimension"]["length"] %> x <%= web_notification.body["load"]["dimension"]["height"] %> x <%= web_notification.body["load"]["dimension"]["dept"] %> | <%= web_notification.body["load"]["dimension"]["unit"] %><br>
	<i>Loading Date</i> : <%= web_notification.body["load"]["loading_date"] %><br>
	<i>Strict Date</i> : <%= web_notification.body["load"]["strict_date"] %><br>
	<i>Comment</i> : <%= web_notification.body["load"]["comment"] %><br>
	<i>Display Comment</i> : <%= web_notification.body["load"]["display_comment"] %><br>
	<i>Trip Distance</i> : <%= web_notification.body["load"]["trip_distance"] %><br>
	<i>Fom Address</i> : <%= web_notification.body["load"]["from_address"] %><br>
	<i>To Address</i> : <%= web_notification.body["load"]["to_address"] %><br>