<i>Name</i> : <%= web_notification.body["name"] %><br>
<i>Phone Number</i> : <%= web_notification.body["ph_no"] %><br>
<i>Email</i> : <%= web_notification.body["email"] %><br>
<i>Registration Requested as</i> : <%= web_notification.notifiable_type %><br>