<tr>
	<td><%= city.name %></td>
	<td><%= city.short_name %></td>
	<td>
			<%= link_to edit_admins_city_path(city), title: 'Edit', class: 'action-link', remote: true do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
			<%= link_to [:admins,city],method: :delete, title: 'Delete', class: 'action-link', data: { confirm: 'Are you sure?'} do %>
				<i class="glyphicon glyphicon-trash"></i>
			<% end %>
	</td>
</tr>