<%= form_for sub_admin, url: :sub_admins do |f| %>
  <div class="panel panel-default">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row custom-form-row-full">
          <div class="col-sm-2">
            <p class="feature_title form-label-title">
              Email
            </p>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <%= f.email_field :email, class: 'form-control custom-form-control', placeholder: 'Enter Email'  %>
              <div style="color: rgb(204, 0, 0)"><%= show_errors(sub_admin, :email) %></div>
            </div>
          </div>
          <div class="col-sm-2">
            <p class="feature_title form-label-title">
              Password
            </p>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <%= f.text_field :password, class: 'form-control custom-form-control', placeholder: 'Enter Password'  %>
              <div style="color: rgb(204, 0, 0)"><%= show_errors(sub_admin, :password) %></div>
            </div>
          </div>
          <div class="col-sm-4 add-more-right">
            <%= f.button :submit, class: 'btn custom-btn custom_btn custom-add-bordered-btn m-none' do %>
              <span class='glyphicon glyphicon-plus'></span> Save
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
<% end %>
