<div class="col-sm-6 add-more-right">
  <%= link_to "Load",admins_loads_path, class: 'btn custom-head-add-bordered-btn' %>
  <%= link_to "Quotes",admins_quotes_path, class: 'btn custom-head-add-bordered-btn' %>
  <%= link_to "Active", active_orders_admins_orders_path, class: 'btn custom-head-add-bordered-btn' %>
  <%= link_to "History", processed_orders_admins_orders_path, class: 'btn custom-head-add-bordered-btn' %>
</div>