<a href="<%= linkable?(web_notification) %>">
  <div class="dashboard_menu_box">
    <strong>TITLE</strong> : <%= web_notification.title %><br>
		<strong>MESSAGE</strong> :<br>
    <% case web_notification.notifiable_type %>
    <% when "Inquiry" %>
	    <%= render 'admins/web_notification_templates/inquiry', web_notification: web_notification %>
    <% when "Customer", "Transporter" %>
	    <%= render 'admins/web_notification_templates/registration', web_notification: web_notification %>
    <% when "Load" %>
	    <%= render 'admins/web_notification_templates/load', web_notification: web_notification %>
    <% when "Quote" %>
      <%= render 'admins/web_notification_templates/quote', web_notification: web_notification %>
    <% end %>
    <strong>Submitted at:</strong> : <%= time_ago_in_words(web_notification.created_at).match("month|year").blank? ? time_ago_in_words(web_notification.created_at, include_seconds: true) : web_notification.created_at %><br>
  </div>
</a>