<!-- <table>
  <%# @customers.each do |customer| %>
    <tr>
      <td><%#= customer.email.presence || customer.ph_no %></td>
      <td><%#= customer.approved %></td>
      <%# if params[:approved] %>
      	<td><%#= link_to "Approve", approve_customer_admin_path(current_admin, customer), method: :post %></td>
      <%# end %>
    </tr>
   <%# end %>
</table> -->
            <!-- Main page content including header-->



                 <!-- page title row starts here-->
                <div class="row page-title-row custom-page-title-row">
                    <div class="col-xs-12 breadcrums-wrapper">
                        <ol class="breadcrumb">
                            <li><a href="<%= authenticated_admin_root_path %>">Home</a></li>
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
                <!-- page title row ends here-->

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="page_title">
                            <h2 class="mt-10">Welcome Admin!</h2>
                        </div>
                    </div>
                </div>

                <div class="row dashboard_menu_box_wrap">
                  <a href="<%= admins_customers_path %>" class="col-sm-6 col-md-4 col-lg-3">
                    <div class="dashboard_menu_box">
                     <span>
                         <i class="fa fa-users" aria-hidden="true"></i>
                     </span>
                     <div>Customers</div>
                    </div>
                  </a>
                  <a href="<%= admins_transporters_path %>" class="col-sm-6 col-md-4 col-lg-3">
                    <div class="dashboard_menu_box">
                     <span>
                         <i class="fa fa-ship" aria-hidden="true"></i>
                     </span>
                     <div>Transporter</div>
                    </div>
                  </a>
                  <!-- <a href="view_students.html" class="col-sm-6 col-md-4 col-lg-3">
                      <div class="dashboard_menu_box">
                         <span>
                             <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                         </span> 
                         <div>Students</div>
                     </div>
                  </a>
                  <a href="view_schools.html" class="col-sm-6 col-md-4 col-lg-3">
                      <div class="dashboard_menu_box">
                         <span>
                             <i class="fa fa-building" aria-hidden="true"></i>
                         </span> 
                         <div>Schools</div>
                     </div>
                  </a>
                  <a href="class.html" class="col-sm-6 col-md-4 col-lg-3">
                      <div class="dashboard_menu_box">
                         <span>
                             <i class="fa fa-leanpub" aria-hidden="true"></i>
                         </span> 
                         <div>Classes</div>
                     </div>
                  </a>

                  <a href="session.html" class="col-sm-6 col-md-4 col-lg-3">
                      <div class="dashboard_menu_box">
                         <span>
                             <i class="fa fa-book" aria-hidden="true"></i>
                         </span> 
                         <div>Sessions</div>
                     </div>
                  </a>
                  <a href="fees_charges.html" class="col-sm-6 col-md-4 col-lg-3">
                      <div class="dashboard_menu_box">
                         <span>
                             <i class="fa fa-money" aria-hidden="true"></i>
                         </span> 
                         <div>Fees Charges</div>
                     </div>
                  </a>
                  <a href="view_students.html" class="col-sm-6 col-md-4 col-lg-3">
                      <div class="dashboard_menu_box large_menu_box">
                         <span>
                             <i class="fa fa-money" aria-hidden="true"></i>
                         </span> 
                         <div>Fees <br> Collections</div>
                     </div>
                  </a>
                  <a href="roles.html" class="col-sm-6 col-md-4 col-lg-3">
                      <div class="dashboard_menu_box">
                         <span>
                             <i class="fa fa-user-plus" aria-hidden="true"></i>
                         </span> 
                         <div>Roles</div>
                     </div>
                  </a>

                    <a href="id_types.html" class="col-sm-6 col-md-4 col-lg-3">
                        <div class="dashboard_menu_box large_menu_box">
                           <span>
                               <i class="fa fa-file-text" aria-hidden="true"></i>
                           </span> 
                           <div>Identification <br> Types</div>
                       </div>
                    </a> -->
                  <a href="<%= admins_payment_plans_path %>" class="col-sm-6 col-md-4 col-lg-3">
                    <div class="dashboard_menu_box">
                      <span>
                        <i class="fa fa-money" aria-hidden="true"></i>
                      </span>
                      <div>Payments</div>
                    </div>
                  </a>
                  <a href="#" class="col-sm-6 col-md-4 col-lg-3">
                    <div class="dashboard_menu_box">
                      <span>
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                      </span>
                      <div>Reports</div>
                   </div>
                  </a>
                  <a href="<%= admins_loads_path %>" class="col-sm-6 col-md-4 col-lg-3">
                    <div class="dashboard_menu_box">
                      <span>
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                      </span>
                      <div>Loads And Quotes</div>
                   </div>
                  </a>
                    <!-- <a href="calendar_view.html" class="col-sm-6 col-md-4 col-lg-3">
                        <div class="dashboard_menu_box">
                           <span>
                               <i class="fa fa-calendar" aria-hidden="true"></i>
                           </span>
                           <div>Calendar</div>
                       </div>
                    </a> -->

                </div>
            </div>

            <!-- Footer-->

<script type="text/javascript">
  $("#leftbtn").click(function(){

    // if ($(window).width() > 1300) {
    //      $('.dashboard_menu_box').find("span").css({
    //       'marginLeft' :'20px',
    //       width:'70px',
    //       hight:'70px',
    //       lineHeight:'70px',
    //     });
    // }
    // else{
    //     $('.dashboard_menu_box').find("span").css({
    //       'marginLeft' :'40px',
    //       width:'75px',
    //       hight:'75px',
    //       lineHeight:'75px',
    //     });
    // }

  }); 
</script>