<% provide(:title, "Sub Admin") %>
<%= render 'shared/admin_breadcrumbs' %>

<div class="row">
  <div class="col-xs-12 col-sm-12 load_form">
  	<%= render 'form', sub_admin: @sub_admin %>
  </div>
</div>
<div class="row table-contents-wrapper table-records-wrapper">
  <div class="col-xs-12 revenue-table-wrapper">
    <!-- <div class="row search-wrapper">
      <div class="col-sm-6 revenue-search-box">
        <form class="form-inline revenue-table-form view-record-form">
          <label>Search</label>
          <input type="text" class="form-control search-box" name="search" id="search">
        </form>
      </div>
    </div> -->
    <div class="table-responsive">
      <table class="table table-hover revenue-table">
        <thead class="bg-color-pink">
          <tr>
            <th>Id</th>
            <th>Email</th>
            <th class="width-10">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @sub_admins.each do |sub_admin| %>
            <tr>
              <td><%= sub_admin.id %></td>
              <td><%= sub_admin.email %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>