<!-- <h2>Welcome to transporter</h2> -->
<!-- header start -->
<style>
  .notice,.alert{
    display:none;
  }
</style>
        <div class="section no-pad-bot" id="home">
            <div class="container" style="overflow: visible;">
                <h1 class="header center"><img src="/assets/customer/transport-logo.png" alt="transport"></h1>
                <div class="row">
                    <div class="col m8 offset-m2 l6 offset-l3 s12">
                        <div class="home-from clearfix col s12">
                          <%= form_tag authenticate_customer_for_account_existence_path,id: "landing_form" do  %>
                             <div>
                                <div class="input-field col s12 error-log">
                                    <!-- <input id="" type="text" class="validate"> -->
                                    <%= text_field_tag "from_address", nil,class: "validate" %>
                                    <label for="number" class="theme-text actives">From</label>
                                    <em>Please Enter Valid City</em>
                                </div>
                                <div>
                                    <%= button_tag "save", class: "btn-floating btn-large waves-effect waves-light theme-bg posi" do %>
                                      <i class=" large material-icons">navigate_next</i>
                                    <% end %>
                                    <!-- <a class="btn-floating btn-large waves-effect waves-light theme-bg posi"><i class=" large material-icons">navigate_next</i></a> -->
                                </div>
                                <div class="input-field col s12 error-log">
                                    <!-- <input id="" type="text" class="validate"> -->
                                    <%= text_field_tag "to_address", nil,class: "validate" %>
                                    <label for="number" class="theme-text actives">To</label>
                                    <em>Please Enter Valid City</em>
                                </div>
                                <div class="input-field col s12 error-log">
                                    <!-- <input id="" type="text" class="validate"> -->
                                    <%= text_field_tag "phone", nil,class: "validate" %>
                                    <label for="number" class="theme-text actives">Phone</label>
                                    <em>Please Enter Number City</em>
                                </div>
                                <div class="col s12 show-moblie">
                                    <a class="btn-floating btn-large waves-effect waves-light theme-bg"><i class=" large material-icons">navigate_next</i></a>
                                </div>
                            </div>
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header end -->
        <!-- about seaction-->
        <div id="about" class="row">
            <div class="container">
                <div class="row">
                    <h4 class="center-align theme-text col s12">About Us</h4>
                    <div class="col s12">
                        <p class="col l10 offset-l1 center-align" style="color: #9E9E9E;">Transport.co.in is an online and mobile marketplace to connect load with goods carrier vehicles. We provide technology and platform to transfer goods in an easy and reliable way. Our comparison metrics helps customers (typically Industries and MSMEs) to
                            select most relevant transporter for them and our lead generation technology in turn empowers transporter and truckers with more business.</p>
                    </div>
                    <h5 class="col s12 center-align">Mission</h5>
                    <p class="col m10 s12 offset-m1 center-align" style="color: #9E9E9E;">To make goods transfer from one place to another amazingly simple</p>
                    <h5 class="col s12 center-align">Vision</h5>
                    <p class="col m10 s12 offset-m1 center-align" style="color: #9E9E9E;">To boost the world economies</p>
                </div>
            </div>
        </div>
        <!-- about seaction end-->
        <div id="why" class="row">
            <div class="container">
                <div class="row">
                    <h4 class="center-align theme-text col s12">WHY US ?</h4>
                    <br><br>
                    <div class="row">

                        <!--expln-one-->
                        <div class="col m6 s12">
                            <div class="row">
                                <div class="col m4 s12">
                                    <div class="circle-cmc z-depth-2 icon-1-cmc center-align theme-text"><i class="medium material-icons"><img src="/assets/customer/1.png"></i></div>
                                </div>
                                <div class="col m8 s12">
                                    <h5>EASY BOOKING AND TRACING</h5>
                                    <p class="hiw-cmc-2" >Find, select and book trucks by just sitting<br> at one place. Track goods in real-time</p>
                                </div>
                            </div>
                        </div>
                        <!--expln-one-ends-->
                        <!--expln-two-->
                        <div class="col m6 s12">
                            <div class="row">
                                <div class="col m4 s12">
                                    <div class="circle-cmc z-depth-2 icon-1-cmc center-align theme-text"><i class="medium material-icons"><img src="/assets/customer/5.png"></i></div>
                                </div>
                                <div class="col m8 s12">
                                    <h5>VERIFIED SUPPLIERS</h5>
                                    <p class="hiw-cmc-2" >100% verified suppliers for trust-<br>worthy deals</p>
                                </div>
                            </div>
                        </div>
                        <!--expln-two-ends-->
                        </div>
                    <div class="row">
                        <!--expln-three-->
                        <div class="col m6 s12">
                            <div class="row">
                                <div class="col m4 s12">
                                    <div class="circle-cmc z-depth-2 icon-1-cmc center-align theme-text"><i class="medium material-icons"><img src="/assets/customer/2.png"></i></div>
                                </div>
                                <div class="col m8 s12">
                                    <h5>COMPARE AND SELECT</h5>
                                    <p class="hiw-cmc-2" >Get the power to compare suppliers on<br>different metrics and select the best deal.</p>
                                </div>
                            </div>
                        </div>
                        <!--expln-three-ends-->
                        <!--expln-four-->
                        <div class="col m6 s12">
                            <div class="row">
                                <div class="col m4 s12">
                                    <div class="circle-cmc z-depth-2 icon-1-cmc center-align theme-text"><i class="medium material-icons"><img src="/assets/customer/6.png"></i></div>
                                </div>
                                <div class="col m8 s12">
                                    <h5>REALTIME COMMUNICATION</h5>
                                    <p class="hiw-cmc-2" >We have communication engine that run 24x7 across<br/>all platform - web, mobile, calls, SMS and emails</p>
                                </div>
                            </div>
                        </div>
                        <!--expln-four-ends-->
                        </div>
                    <div class="row">
                        <!--expln-five-->
                        <div class="col m6 s12">
                            <div class="row">
                                <div class="col m4 s12">
                                    <div class="circle-cmc z-depth-2 icon-1-cmc center-align theme-text"><i class="medium material-icons"><img src="/assets/customer/3.png"></i></div>
                                </div>
                                <div class="col m8 s12">
                                    <h5>COMPETITIVE PRICING</h5>
                                    <p class="hiw-cmc-2" >Suppliers compete to get you the<br/>best deals to move your goods.</p>
                                </div>
                            </div>
                        </div>
                        <!--expln-five-ends-->
                        <!--expln-six-->
                        <div class="col m6 s12">
                            <div class="row">
                                <div class="col m4 s12">
                                    <div class="circle-cmc z-depth-2 icon-1-cmc center-align theme-text"><i class="medium material-icons"><img src="/assets/customer/7.png"></i></div>
                                </div>
                                <div class="col m8 s12">
                                    <h5>DATA SCIENCE</h5>
                                    <p class="hiw-cmc-2">We crunch a lot of data and provide business intelli-<br/>gence insights to help you make better decisions.</p>
                                </div>
                            </div>
                        </div>
                        <!--expln-six-ends-->
                        </div>
                    <div class="row" style="margin-bottom: 0;">
                        <!--expln-seven-->
                        <div class="col m6 s12">
                            <div class="row">
                                <div class="col m4 s12">
                                    <div class="circle-cmc z-depth-2 icon-1-cmc center-align theme-text"><i class="medium material-icons"><img src="/assets/customer/4.png"></i></div>
                                </div>
                                <div class="col m8 s12">
                                    <h5>HASSLE FREE PAYMENTS</h5>
                                    <p class="hiw-cmc-2" >Convenient payment terms, multiple payment mode options. Trust us on payments, we are transparent.</p>
                                </div>
                            </div>
                        </div>
                        <!--expln-seven-ends-->
                        <!--expln-eight-->
                        <div class="col m6 s12">
                            <div class="row">
                                <div class="col m4 s12">
                                    <div class="circle-cmc z-depth-2 icon-1-cmc center-align theme-text"><i class="medium material-icons"><img src="/assets/customer/8.png"></i></div>
                                </div>
                                <div class="col m8 s12">
                                    <h5>TRANSIT INSURANCE</h5>
                                    <p class="hiw-cmc-2">Pay a drop more and get your goods insured with all risks covered.</p>
                                </div>
                            </div>
                        </div>
                        <!--expln-eight-ends-->
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--why us section ends-->

        <!--how it works section starts-->
        <div id="how-work" class="row margin-bottom-zero">
            <div class="container">
                <h4 class="center-align theme-text">HOW IT WORKS ?</h4>
            <div class="col m4 s12 center-align">
                <h3  class="hed-num theme-text">1</h3>
                <h6>POST LOAD DETAILS</h6>
                <P class="text">Give us the dates and details</br> of the goods to be moved.</P>
            </div>
            <div class="col m4 s12 center-align">
                <h3 class="hed-num theme-text">2</h3>
                <h6>CHOOSE THE BEST SUITED DEAL</h6>
                <P class="text">Suppliers offer quotes. We compare suppliers on different metrics. You select the best.</P>
            </div>
            <div class="col m4 s12 center-align " style="padding-bottom: 5%;" >
                <h3 class="hed-num theme-text">3</h3>
                <h6>TRACK YOUR ORDERS</h6>
                <P class="text">Sit back and relax. Track all your goods with ease at our platform</P>
            </div>
            </div>
        </div>
        <!--form section starts-->
        <div id="contact" class="row form-main-cmc">
            <div class="container">
            <div class="col m6 offset-m3 col l4 offset-l4 s12 form-contact z-depth-2">
                <h5 class="theme-text center-align">REACH OUT TO US </h5>
                <p class="center-align" >Whether it is your business or you just want to say us hello, feel free to shoot out us an email.</p>
                <div class="row">
                  <%= form_for Inquiry.new, class: "col s12" do |f| %>
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <%= f.email_field :email, id: "icon_prefix", class: "validate" %>
                        <label for="icon_prefix" class="theme-text actives">E-Mail Address</label>
                      </div>
                      <div class="input-field col s12">
                        <i class="material-icons prefix">stay_current_portrait</i>
                        <%= f.text_field :phone_number, id: "icon_telephone", class: "validate" %>
                        <label for="icon_telephone" class="theme-text actives">Phone Number</label>
                      </div>
                      <div class="input-field col s12">
                        <i class="material-icons prefix">comment</i>
                        <%= f.text_area :message, id: "icon_telephone", class: "validate" %>
                        <label for="icon_telephone" class="theme-text actives">Message</label>
                      </div>
                      <div class="col s12 center-align" style="margin-top: 10%;">
                        <%= f.submit "SEND", class: "waves-effect waves-light btn theme-bg"  %>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
                </div>
        </div>
        <!--form section ends-->
        <div class="row sub">
            <div class="container">
                 <div class="col s12">
                     <div class="col m6 s12 center-align" style="font-size:1.3rem;margin-bottom: 10px;">Subscribe to our blogs, updates and news</div>
                <div class="col m3 s12"><input type="text" placeholder="Enter Email Address" class="col s12"></div>
                <div class="col m3 s12 center-align">
                  <!-- <a href="#" class="waves-effect waves-light btn-tiny theme-bg">SUBSCRIBE</a> -->
                  <a class="waves-effect waves-light btn theme-bg">SUBSCRIBE</a>
                </div>
                 </div>
            </div>
        </div>
        <div>
        	<%= render 'shared/default_footer' %>
        </div>