<%# exit%>
<div class="row custom-form-row-full">
  <div class="col-sm-12">
    <h3>ADDRESS DETAILS</h3>
  </div>
</div>
<div class="row custom-form-row-full">
  <div class="col-sm-2">
    <div class="form-group">
      <%= f.text_field :from_address, placeholder: "Enter from address",class: 'form-control custom-form-control' %>
      <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :from_address) %></div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= f.text_field :to_address, placeholder: "Enter destination address",class: 'form-control custom-form-control' %>
      <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :to_address) %></div>
    </div>
  </div>
</div>
<%= f.hidden_field :trip_distance %>
<div class="row custom-form-row-full">
  <div class="col-sm-12">
    <h3>LOAD TYPE/ MATERIAL</h3>
  </div>
</div>
<div class="row custom-form-row-full">
  <div class="col-sm-12">
    <div class="form-group">
      <%= f.select :load_type_id, LoadType.active.collect {|lt| [lt.name, lt.id]}, { prompt: "Select Load Type"} %>
      <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :load_type_id) %></div>
    </div>
  </div>
</div>
<div class="row custom-form-row-full">
  <div class="col-sm-12">
    <h3>LOAD DETAILS</h3>
  </div>
</div>
<div class="row custom-form-row-full">
  <div class="col-sm-2">
    <p class="feature_title form-label-title">
      WEIGHT :
    </p>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= text_field_tag "load[weight][value]", f.object.weight["value"],class: 'form-control custom-form-control' %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= select_tag "load[weight][unit]", options_for_select(WeightUnit.all.collect {|wu| [wu.short_name, wu.short_name]}, f.object.weight["unit"]),prompt: "Select Weight Unit" %>
    </div>
  </div>
</div>
<div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :weight) %></div>
<div class="row custom-form-row-full">
  <div class="col-sm-2">
    <p class="feature_title form-label-title">
      VOLUME :
    </p> 
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= text_field_tag "load[volume][value]", f.object.volume["value"],class: 'form-control custom-form-control' %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= select_tag "load[volume][unit]", options_for_select(VolumeUnit.all.collect {|vu| [vu.short_name, vu.short_name]}, f.object.volume["unit"]),prompt: "Select Volume Unit" %>
    </div>
  </div>
</div>
<div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :volume) %></div>
<div class="row custom-form-row-full">
  <div class="col-sm-2">
    <p class="feature_title form-label-title">
      DIMENSION :
    </p> 
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= text_field_tag "load[dimension][length]", f.object.dimension["length"],class: 'form-control custom-form-control' %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= text_field_tag "load[dimension][height]", f.object.dimension["height"],class: 'form-control custom-form-control' %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= text_field_tag "load[dimension][dept]", f.object.dimension["dept"],class: 'form-control custom-form-control' %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= select_tag "load[dimension][unit]", options_for_select(VolumeUnit.all.collect {|vu| [vu.short_name, vu.short_name]}, f.object.dimension["unit"]),prompt: "Select Dimension Unit" %>
    </div>
  </div>
</div>
<div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :dimension) %></div>
<div class="row custom-form-row-full">
  <div class="col-sm-12">
    <h3>VEHICLE DETAILS</h3>
  </div>
</div>
<div class="row custom-form-row-full">
  <div class="col-sm-12">
    <div class="form-group">
      <%= f.select :vehicle_load_type_id, VehicleLoadType.all.collect {|vlt| [vlt.name, vlt.id]},{prompt: "Select Vehicle Load Type"} %>
      <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :vehicle_load_type_id) %></div>
    </div>
  </div>
</div>
<div class="row custom-form-row-full">
  <div class="col-sm-2">
    <p class="feature_title form-label-title">
      TRUCK TYPE : 
    </p>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= f.select :vehicle_type_id, VehicleType.all.collect {|vt| [vt.name, vt.id]}, { prompt: "Select Truck Type" } %>
      <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :vehicle_type_id) %></div>
    </div>
  </div>
</div>
<div class="row custom-form-row-full">
  <div class="col-sm-2">
    <p class="feature_title form-label-title">
      QUANTITY : 
    </p>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= f.number_field :vehicle_quantity,class: 'form-control custom-form-control' %>
      <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :vehicle_quantity) %></div>
    </div>
  </div>
</div>
<div class="row custom-form-row-full">
  <div class="col-sm-2">
    <p class="feature_title form-label-title">
      STRICT DATE :
    </p>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= f.text_field :loading_date,class: 'form-control custom-form-control' %>
      <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :loading_date) %></div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= f.check_box :strict_date %> Strict with date
    </div>
  </div>
</div>
<div class="row custom-form-row-full">
  <div class="col-sm-2">
    <p class="feature_title form-label-title">
      COMMENTS TO SUPPLIER : 
    </p>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= f.text_field :comment,class: 'form-control custom-form-control' %>
      <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :comment) %></div>
    </div>
  </div>
</div>