<div class="row custom-form-row-full">
  <div class="col-sm-2">
  	<% if params[:action] == 'edit' %>
			<%= f.submit 'Update', :class => 'btn custom-btn custom_btn custom-add-bordered-btn m-none' %>
		<% else %>
			<%= f.submit 'Save', :class => 'btn custom-btn custom_btn custom-add-bordered-btn m-none' %>
		<% end %>
	</div>
	<div class="col-sm-2">
		<%= link_to 'cancel', admins_loads_path, :class => 'btn custom-btn custom_btn custom-add-bordered-btn m-none' %>
	</div>
  <% if @load.load_status == 'waiting_for_approval'%>
		<div class="col-sm-2">
			<%= f.submit 'Update and approve load', :class => 'btn custom-btn custom_btn custom-add-bordered-btn m-none',name: "approved_and_update" %>
		</div>
	<% end %>
</div>