<tr>
	<td><%= load.id %></td>
	<td>
		<%= link_to load.customer.id, show_customer_in_load_admins_customer_path(load.customer) %>
	</td>
	<td><b><%= load.load_status.humanize %></b></td>
	<td><%= load.from_address %></td>
	<td><%= load.to_address %></td>
	<td><%= load.try(:load_type).try(:name) %></td>
	<td><%= load.posted_on.try(:strftime, "#{load.posted_on.try(:day).try(:ordinalize)} %b, %Y") || "-" %></td>
	<td><%= load.loading_date.try(:strftime, "#{load.loading_date.try(:day).try(:ordinalize)} %b, %Y") %></td>
	<td><%= load.try(:vehicle_type).try(:name) %></td>
	<td>
		<%= link_to cancel_admins_load_path(load.id), class: "action-link", title: "Cancel Load", method: :put do %>
			<i class="glyphicon glyphicon-remove"></i>
		<% end %>
	</td>
	<td>
		<%= link_to edit_admins_load_path(load), class: "action-link", title: "Edit Load" do %>
			<i class="glyphicon glyphicon-pencil"></i>
		<% end %>
	</td>
	<td>
		<%= link_to admins_load_path(load), class: "action-link", title: "See Loads" do %>
			<i class="glyphicon glyphicon-eye-open"></i>
		<% end %>
	</td>
	<% if load.posted? %>
		<td>
			<%= link_to see_quotes_admins_load_path(load), class: "action-link", title: "See Quotes" do %>
				SEE QUOTES
			<% end %>
		</td>
		<td>
			<%= link_to "#", class: "action-link", title: "Get Quotes" do %>
				GET QUOTES
			<% end %>
		</td>
	<% end %>
	<% if load.confirmed? %>
		<td>
			<%= link_to "#", class: "action-link", title: "Dispatch Load" do %>
				<i class="fa fa-cubes" aria-hidden="true"></i>
			<% end %>
		</td>
		<td>
			<%= link_to "#", class: "action-link", title: "Assign Vehicle" do %>
				<i class="fa fa-truck" aria-hidden="true"></i>
			<% end %>
		</td>
	<% elsif load.in_transit? %>
		<td>
			<%= link_to admins_load_trackers_path(load), class: "action-link", title: "Track Shipment" do %>
				<i class="fa fa-location-arrow" aria-hidden="true"></i>
			<% end %>
		</td>
		<td>
			<%= link_to "#", class: "action-link", title: "Mark as Reached" do %>
				<i class="fa fa-check" aria-hidden="true"></i>
			<% end %>
		</td>
	<% end %>
</tr>