<% @load.quotes.each do |quote| %>
<tr>
	<td><%= quote.transporter.id %></td>
	<td><%= quote.transporter.name %></td>
	<td><%= quote.transporter.company_name %></td>
	<td><%= quote.transporter.ph_no %></td>
	<td><%= quote.offered_date.strftime("#{quote.offered_date.day.ordinalize} %b, %Y") %></td>
	<td><%= quote.offered_vehicle_quantity %></td>
	<td><%= quote.vehicle_load_type.name %></td>
	<td><%= quote.vehicle_type.name  %></td>
	<td><%= quote.offered_price %></td>
	<% if @accepted_quote <= 0 %>
		<td>
			<%= link_to edit_admins_quote_path(quote), class: "action-link", title: "Edit Load" do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
		</td>
		<td><%= link_to "Accept", accept_quote_admins_load_quote_path(@load,quote), method: :put %></td>
	<% else %>
		<td><%= quote.status == "accepted" ? "Accepted" : "-" %></td>
	<% end %>
</tr>
<% end %>	