<% provide(:title, "Edit Load") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
	<%= form_for([:admins, @load], html: { id: "load_form" }) do |f| %>
		<div class="panel panel-default">
   		<ul class="list-group">
      	<li class="list-group-item">
       		<%= render 'form_content', f: f %>
  				<%= render 'form_buttons', f: f %>
  			</li>
  		</ul>
  	</div>
	<% end %>
</div>