<div class="row">
  <div class=" col-xs-12 col-sm-12">
    <div class="page_title view-page-title">
      <h2 class="mt-10 col-sm-1 p-none">Loads</h2>
      <div class="col-sm-4 add-more-left post_load">
        <%= link_to "Post New Load", new_admins_load_path %>
      </div>
      <%= render 'load_and_quote_header' %>
    </div>
   </div>
</div>
<%#= link_to "Post New Load", new_admins_load_path, class: "btn btn-primary" %>
<!-- <h3>Loads</h3> -->
<div class="row table-contents-wrapper table-records-wrapper">
  <div class="col-xs-12 revenue-table-wrapper">
  	<div class="row search-wrapper">
      <div class="col-sm-6 revenue-search-box">
        <form class="form-inline revenue-table-form view-record-form">
          <label>Search</label>
          <input type="text" class="form-control search-box" name="search" id="search">
        </form>
      </div>
      <div class="col-sm-6 revenue-search-box">
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Load Type</button>
          <div id="myDropdown" class="dropdown-content">
            <%= link_to "Waiting for approval",admins_loads_path(load_status: 'waiting_for_approval') %>
            <%= link_to "Posted",admins_loads_path(load_status: 'posted') %>
            <%= link_to "Active",admins_loads_path(load_status: 'active') %>
            <%= link_to "Completed",admins_loads_path(load_status: 'processed') %>
            <%= link_to "Not Submitted",admins_loads_path(load_status: 'drafted')%>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover revenue-table">
        <thead class="bg-color-pink">
					<tr>
						<th>LOAD ID</th>
						<th>CUSTOMER ID</th>
						<th>STATUS</th>
            <th>FROM</th>
						<th>TO</th>
						<th>LOAD TYPE</th>
						<th>POSTED ON</th>
						<th>LOADING DATE</th>
						<th>VEHICLE LOAD</th>
						<th colspan="5">ACTIONS</th>
					</tr>
				</thead>
				<tbody>
          <%= render @loads %>
        </tbody>
			</table>
		</div>
  </div>
</div>