<% provide(:title, "Add Load") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
	<%= form_for([:admins, @load], html: { id: "load_form" }) do |f| %>
	<div class="panel panel-default">
   	<ul class="list-group">
      <li class="list-group-item">
       	<div class="row custom-form-row-full">
       		<div class="col-sm-12">
    				<h3>CUSTOMER</h3>
 					 </div>
 				</div>
 				<div class="row custom-form-row-full">
       		<div class="col-sm-2">
       			<div class="form-group">
  						<%= f.select :customer_id, Customer.approved.collect { |c| [c.email, c.id] }, { prompt: "Select Customer"}%>
  						<div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :customer_id) %></div>
  					</div>
  				</div>
  			</div>
			  <%= render 'form_content', f: f %>
			  <%= render 'form_buttons', f: f %>
			</li>
		</ul>
	</div>
<% end %>
</div>