<style>
	/*.post_load{
		margin-top:10px;
	}
	th{
		text-align:center;
	}*/
</style>
<div class="row">
  <div class=" col-xs-12 col-sm-12">
    <div class="page_title view-page-title">
      <h2 class="mt-10 col-sm-1 p-none">Quotes</h2>
      <div class="col-sm-4 add-more-left post_load">
        <%#= link_to "Post New Load", new_admins_load_path %>
      </div>
      <div class="col-sm-6 add-more-right">
        <%= link_to "Load",admins_loads_path, class: 'btn custom-head-add-bordered-btn' %>
        <%= link_to "Quotes",admins_quotes_path, class: 'btn custom-head-add-bordered-btn' %>
      </div>
    </div>
   </div>
</div>
<%#= link_to "Post New Load", new_admins_load_path, class: "btn btn-primary" %>
<!-- <h3>Loads</h3> -->
<div class="row table-contents-wrapper table-records-wrapper">
  <div class="col-xs-12 revenue-table-wrapper">
  	<div class="row search-wrapper">
      <div class="col-sm-6 revenue-search-box">
        <form class="form-inline revenue-table-form view-record-form">
          <label>Search</label>
          <input type="text" class="form-control search-box" name="search" id="search">
        </form>
      </div>
      <div class="col-sm-6 revenue-search-box">
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Quote Type</button>
          <div id="myDropdown" class="dropdown-content">
            <%= link_to "Submitted",admins_loads_path %>
            <%= link_to "Not Submitted",admins_loads_path(load_status: 'drafted')%>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover revenue-table">
        <thead class="bg-color-pink">
					<tr>
            <th>TID</th>
						<th>T_Name</th>
						<th>T_Company</th>
						<th>T_Mobile</th>
            <th>Loading Date</th>
						<th>Number of Trucks</th>
						<th>FTL/PTL</th>
            <th>Truck Type</th>
            <th>Offer Price</th>
						<th colspan="5">ACTIONS</th>
					</tr>
				</thead>
				<tbody>
					<%= render 'quote' %>
				</tbody>
			</table>
		</div>
  </div>
</div>