<% provide(:title, "Load") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
	<section class="section-details primary-section">
    <div class=" col-xs-12 col-sm-12">
      <div class="detail-wrapper">
      	<div class="row col-sm-6 student-header detail-wrap">
     			<ul class="basic-detail-list">
	    			<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Customer <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.customer.name || @load.customer.email %></div>
    				</li>
    				<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Load ID  <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.load_docket_id %></div>
    				</li>
    				<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Loading Date  <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.loading_date %></div>
    				</li>
    				<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">From Address  <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.from_address %></div>
              <%= hidden_field_tag "from_coordinate", @load.from_coordinate.to_a.join(",") %>
    				</li>
    				<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Destination Address  <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.to_address %></div>
              <%= hidden_field_tag "to_coordinate", @load.to_coordinate.to_a.join(",") %>
    				</li>
    				<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Load Type <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.try(:load_type).try(:name) %></div>
    				</li>
    			</ul>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-8 ">
	  <div class="section-details">
	    <div class="detail-wrapper p-none">
	      <div class="row">
	        <div class="detail-title">
	          <h3> Load details :</h3>
	        </div>
	      </div>
	      <div class="row ">
          <ul class="basic-detail-list">
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> weight  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><% unless @load.weight["value"].blank? %><%= @load.weight["value"] +" "+ @load.weight["unit"] %><% end %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Volume  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><% unless @load.volume["value"].blank? %><%= @load.volume["value"] +" "+ @load.volume["unit"] %><% end %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Dimension  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><% unless @load.dimension["length"].blank? && @load.dimension["height"].blank? && @load.dimension["dept"] .blank? %><%= @load.dimension["length"] +" x " +@load.dimension["height"] +" x " + @load.dimension["dept"] +" "+ @load.dimension["unit"] %><% end %></div>
            </li>
 					</ul>
 				</div>
 			</div>
 		</div>
 	</div>
 	<div class="col-sm-6 col-md-6 col-lg-4 ">
    <div class="section-details">
      <div class="detail-wrapper p-none">
        <div class="row">
          <div class="detail-title">
            <h3>Vehicle Details :</h3>
          </div>
        </div>
        <div class="row ">
          <ul class="basic-detail-list">
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Vehicle load type  <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.try(:vehicle_load_type).try(:name) %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Vehicle type   <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.try(:vehicle_type).try(:name) %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Vehicle Quantity   <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.try(:vehicle_quantity) %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Strict Date   <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.strict_date %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Comment   <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.comment %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left">Trip Distance   <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.trip_distance %></div>
            </li>

						<%= form_for [:admin, @load], url: approve_admins_load_path, method: :put do |f| %>
							<li>
	            	<div class="col-xs-6 col-sm-10  caption text-left"><%= f.check_box :display_comment %>Disaplay comments to transporter ?</div>
	            </li>
		 					<li>
	            	<div class="col-xs-6 col-sm-10  caption text-left">
                  <% if @load.load_status == 'waiting_for_approval'%>
                    <%= f.submit "Approve load", class: "btn btn-primary", id: "approve_load", data: {"load-id": "#{@load.id}"} %>
                  <% end %>
	            		<%= link_to "Cancel", admins_loads_path, class: "btn btn-primary" %>
	            	</div>
	            </li>
            <% end %>
          </ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  transportApp = new TransportApp(20)
</script>