// Place all the styles related to the transporters/Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.remove-lft-margin {
	margin-left: 0px !important;
}

#modal-second.modal .modal-content{
    padding: 0px;
}