/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/assets/fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.theme-bg{
    background: #54341D;
}
.theme-bg:hover{
    background: #54341D;
}
.theme-text{
    color: #54341D ! important;
}

.black-bg{
    background-color: #292728;
}
.black-text{
    color:#292728 ;
}

hr{
    margin: 10px 0px;
    background: #fff;
    border: none;
    height: 1px;
}

.margn-b-o{
    margin-bottom: 0px;
}

td, th{
    border-radius: 0px;
    padding: 12px 5px;
}


/* header css nav only */
.top-nav .logo{
    display:none;
}
.nav-wrapper .tiny img{
    width: 20px;
}
.nav-wrapper .tiny.material-icons{
    line-height: 35px;
}
.logo{
    width: 150px;
    line-height: 60px;
}
.logo img{
    width: 100%;
}
.top-nav.show .logo{
    display:block;
}
.top-nav.show .links{
    display:none;
}
.top-nav,.top-nav nav,nav .nav-wrapper i{
    height: 50px;
    line-height: 48px;
}

#dropdown1.dropdown-content{
    min-width: 145px;
    top: 50px !important;
    right: 0px !important;
}


@media only screen and (min-width: 993px){
    .container {
        width: 90%;
    }
}



@media only screen and (max-width: 992px){
    .top-nav .logo{
        display: block;
    }
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}


/* home sacetion css */
#home{
    background-image: url('/assets/transporter/home2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color:#54341D; */
    padding-bottom: 6%;
}
#home .header img{
    max-width: 300px;
    width: 100%;
    margin-bottom: 30px;
}

#home .home-from{
    background: #fff;
    border-radius: 5px;
    padding:30px 25px;
    box-shadow: 0px 5px 7px #ccc;
}

.show-moblie{
    display: none;
}

#home .home-from .validate{
    border-bottom: 1px solid #ccc;
}

input:not([type]).valid,
input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid, input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid, input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid,
#home .home-from .validate:focus{
    border-bottom: 1px solid #54341D !important;
    box-shadow: 0 1px 0 0 #54341D;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #54341D !important;
    box-shadow: 0 1px 0 0 #54341D;
}

#home .home-from .posi{
    position: absolute;
    top: calc(50% - 55.5px);
}

.error-log em{
    font-size: 0.8rem;
    color: #C80000;
    position: relative;
    margin-top: -12px;
    display: none;
    margin-bottom: 10px;
    font-weight: 600;
}

.error-log input{
    // border-bottom: 2px solid #F70303 !important;
}
div.error{
    color: #C80000;
    font-size: 14px;
    margin-bottom: 15px;
}
.center-form-box{
    margin-top: 65px;
}
.card-panel i{
    margin-right: 5px;
}
/* about css */
#about{
    padding: 7% 0%;
    background: #f4f4f4;
}

/* why css */
#why{
    padding: 7% 0%;
}

#why h4{
    margin-bottom: 5%;
}

#why .circle-cmc{
    width: 120px;
    height: 100px;
    float: right;
    border-radius: 50%;
    box-shadow: none;
}

#why .circle-cmc img{
    width: 100%;
}



@media only screen and (max-width: 600px){
    #why .circle-cmc{
        margin: 1% auto;
        float: none;
    }
    #why{
        text-align: center;
    }
    #home .home-from .posi {
        display: none;
    }

    .show-moblie{
        display: block;
         position: absolute; 
        /* left: 46% !important; */
         bottom: -28px; 
        // margin-bottom: -100px;
        // width: 77px !important;
        // float: right ! important;
        // margin-right: 39%;

    }
    .show-moblie .btn-floating{
        position: absolute;
        bottom: 0;
        left: calc(50% - 48px);
    }

    .container {
        overflow-x: hidden;
    }

    .side-nav{
        top:50px;
    }

    .nav-wrapper.container{
        overflow: hidden;
    }
}
/* how work css */
#how-work{
    padding: 7% 0% 5%;
    background-color: #f7f7f7;
}
#how-work .hed-num{
    margin-bottom: 10%;
    font-size: 5rem;
}
#how-work .text{
    color: #999;
}

#how-work h6{
    font-size: 1rem;
    margin: 4rem 0 1rem 0;
}


.sub{
    padding: 7% 0;
    margin-bottom: 0;
}
.sub input{
    border: 1px solid #ddd;
    padding: 3px 10px;
    line-height: 2rem;
    height: auto;
    border-radius: 4px;
}

.sub .btn-tiny{
    color: #fff;
    padding: 5px 25px;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 5px;
}

.sub input:focus{
    border: 1px solid #54341D !important;
    box-shadow: none !important;
}
/* contact css */
#contact{
    background-image: url('/assets/transporter/contact.png');
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    padding: 8% 0%;
    margin-bottom: 0;
}
#contact .form-contact{
    padding: 2% 20px;
    background: #fff;
    border-radius: 4px;
}

#contact h5, #contact p{
    padding: 5px 15px;
}

#contact .form-contact .validate{
    border-bottom: 1px solid #ccc;
}

#contact .form-contact .validate:focus{
    border-bottom: 1px solid #54341D;
    box-shadow: 0 1px 0 0 #54341D;
}

#contact .input-field .prefix.active,#contact .input-field .prefix {
    color: #ccc;
}

/* footer css */
.footer-color{
    background-color: #292728 !important;   
    color: white;
    font-weight: 200;
    margin-bottom: 0px !important;
    padding: 5% 0% 0% !important;
}

footer .logo img{
    max-width: 200px;
}
footer.page-footer{
    margin-top: 2px;
    float: left;
    width: 100%;
}

#modal1 h5{
    color: #999;
    margin-top: 3%;
    margin-bottom: 8%;
    font-size: 22px;
}

#modal1 a{
    color: #fff;
}

#modal1 a i {
    /*    border: 1px solid #BDBDBD;
        border-radius: 50%;
        padding: 20px;*/
    margin-bottom: 2%;
    width: 100px;
    height: 100px;
}

#modal1 a i img{
    width: 100%;
}

.modal h4{
    margin-bottom: 3%;
    margin-top: 10%;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.9px;
}

.modal p{
    color: #999;
    letter-spacing: 1px;
}

#modal{
    overflow: visible;
}

.modal{
    width: 60%;
    max-height: 80%;
    box-shadow: none;
}

#modal1 a:hover{
    color: #54341D;
}

.input-field label.actives {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
    font-weight: 500;
    font-size: 0.85rem
}

.go-top.show-btn{
    position: fixed;
    bottom: 30px;
    right: 30px
}

.go-top{
    position: fixed;
    bottom: -60px;
    right: 30px
}


footer a {
    color: #fff;
    text-transform: uppercase;
}

.margin-bottom-zero{
    margin-bottom: 0px;
}


/* my order page css */
#my-order{
    padding: 0px;
    background: #f4f4f4;
    position: relative;
    float: left;
    width: 100%;
}

#my-order .tabs{
    background: transparent;
    color: #666;
}

#my-order .tabs .tab a{
    color: #999;
}

#my-order .tabs .tab a.active{
    color: #54341D;
}

#my-order .tabs .indicator{
    background-color: #54341D;
}

a .icon-menu{
    display: inline-block;
    background: url('/assets/transporter/menu-icons.png');
    height: 23px;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

a .icon-menu.load{
    width: 26px;
    background-position: 25px 0px;
}

a.active .icon-menu.load{
    background-position: 26px 23px;
}

a .icon-menu.actve{
    width: 40px;
    background-position: 0px 0px;
}

a.active .icon-menu.actve{
    background-position: 1px 23px;
}

a .icon-menu.history{
    width: 21px;
    background-position: 65px 0px;
}

a.active .icon-menu.history{
    background-position: 66px 23px;
}

a .icon-menu.profile{
 width: 20px;
    background-position: 44px 0px;

}

a.active .icon-menu.profile{
    background-position: 45px 23px;
}


.detail-box{
    background: #fff;
    border-radius: 5px;
    padding: 20px 25px;
    overflow: hidden;
    position: relative;
}
.detail-box-1{
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.detail-box-2{
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}

.detail-box-2 h6{
    font-size: .9rem;
    font-weight: 500;
    color: #444;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.detail-box-2 p{
    font-size: .90rem;
    font-weight: 400;
    color: #777;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 7px;
    letter-spacing: 0.5px;
}

.detail-box-2 img.img{
    position: relative;
    top: 4px;
    margin-right: 2px;
    margin-left: 2px;
}

.del-edt-quo{
    padding-top: 13px;
    margin-bottom: -5px;
    font-size: 13px;
    color: #888;
    padding-left: 40px;
}

.del-edt-quo .material-icons{
    font-size: 20px;
    line-height: 0;
    margin-top: 8px;
    position: absolute;
    margin-left: -40px;
}

#my-order #test1 h5{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    color: #666;
}

#my-order #test1 .detail-box strong{
    color: #333;
    margin-right: 10px;
}

#my-order .search-bar input{
    border: 1px solid #ddd;
    height: 35px;
    background: #fff;
    border-radius: 0px 3px 3px 0px;
}

#my-order .search-bar .material-icons{
    line-height: 35px;
}

#my-order .search-bar .search{
    border-radius: 3px 0px 0px 3px;
    overflow: hidden;
}
#my-order .search-bar .material-icons.size{
    font-size: 30px;
}

#my-order .detail-box .address{
    font-size: 0.85rem;
    letter-spacing: 0.5px;
}

.table-view{
    background: #fff;
    padding: 0 !important;
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.table-view table td strong{
    padding-left: 10px;
    padding-right: 10px;
}

.table-view table td i{
    top: 3px;
    position: relative;
}

 .table-view table th{
    font-weight: 300;
}

 .table-view table th img{
    position: relative;
    top: 3px;
}

.table-view table .truck-number{
    color: #333;font-weight: 500;
}
#test2-transpoter .filter,
#test2 .filter{
    font-size: .80rem;
    font-weight: 300;
    border: 2px solid #54341D;
    border-radius: 3px;
    overflow: hidden;
}
#test2-transpoter .filter .grup-btn .btn,
#test2 .filter .grup-btn .btn{
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    background: #fff;
    color: #54341D;
    box-shadow: none;
    border-left: 1px solid #54341D;
    border-right: 1px solid #54341D;
}
#test2-transpoter .filter .grup-btn .btn.activ,
#test2 .filter .grup-btn .btn.activ{
    background: #54341D;
    color: #fff;
}


/* customer-order */
#customer-order .detail-box{
    margin-top: 35px;
    padding: 0;
}

#customer-order .background-img{
    background-image: url('/assets/transporter/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0%;
    margin-bottom: 0;
}

#customer-order .background-img p{
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
}

.address .center-align.icons span.first,
#customer-order .background-img .center-align.icons span.first{
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    background: #54341D;
    float: right;
    clear: both;
}

.address .center-align.icons span.mid,
#customer-order .background-img .center-align.icons span.mid{
    width: 12px;
    color: #ccc;
    text-align: center;
    display: block;
    font-size: 1rem;
    float: right;
    clear: both;
    line-height: 7px;
}
#customer-order .left-order {
    background: #FBFBFB;
}

#customer-order .left-order .btn.btn-flat{
    height: 25px;
    padding: 2px 14px;
    font-size: .75rem;
    color: #444 !important;
    line-height: 22px;
}
#customer-order .left-order .input-field{
    margin-top: -1rem;
}

#customer-order .left-order .input-field .select-dropdown,
#customer-order .left-order .input-field .from-input{
    font-size: .85rem;
    padding: 0;
    border-color: #ccc;
    margin-bottom: 20px;
    padding-left: 5px;
}

#customer-order .left-order .input-field .dropdown-content.select-dropdown{
    height: auto; 
    padding-left: 15px;
    /*display: block !important;*/
}

#customer-order .left-order .add{
    padding-left: 20px;
}
#customer-order .left-order .add .material-icons{
    position: absolute;
    margin-left: -20px;
    margin-top: -3px;
}

#customer-order .left-order .heading{
    font-size: .85rem;
    font-weight: 600;
}
#customer-order .left-order .caret{
    color: #ccc;
}

#customer-order .left-order .text{
    font-size: .87rem;
    letter-spacing: .5px;
    color: #333;
    font-weight: 500;
}

#customer-order .second .select-wrapper input.select-dropdown{
    border: 0px;
}

[type="checkbox"].filled-in:checked + label:after,
#fullpay [type="checkbox"].filled-in:checked + label:after,
#customer-order [type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #54341D;
    background-color: #54341D;
    width: 16px;
    height: 16px;
}

[type="checkbox"].filled-in:not(:checked) + label:after,
#fullpay [type="checkbox"].filled-in:not(:checked) + label:after,
#customer-order [type="checkbox"].filled-in:not(:checked) + label:after{   
    width: 16px;
    height: 16px;
}

 [type="checkbox"].filled-in:checked + label:before,
#fullpay [type="checkbox"].filled-in:checked + label:before,
#customer-order [type="checkbox"].filled-in:checked + label:before{
    width: 6px;
    height: 10px;
}

[type="checkbox"] + label,
#fullpay [type="checkbox"] + label,
#customer-order [type="checkbox"] + label{
    height: 16px;
    line-height: 16px;
    font-size: .85rem;
}

#customer-order .grup-btn{
    border: 2px solid #54341D;
    border-radius: 3px;
}

#customer-order .grup-btn .btn{
    font-size: .8rem;
    border-radius: 0;
    padding: 0px 10px;
    height: auto;
    line-height: 1.8rem;
    background: #fff;
    color: #54341D;
    box-shadow: none; 
}
.btn-flat.butons{
    color: #666;
}

#customer-order .grup-btn .btn.activ{
    background: #54341D;
    color: #fff;
}

#customer-order .dropdown-content li{
        min-height: 40px;
}

#customer-order ul li span{
    font-size: .85rem;
    color:#777;
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
}

#customer-order ul li.active span,
#customer-order ul li span:hover{
    margin-left: -15px;
    display: block;
    background: #f2f2f2;
    padding-left: 27px;
}


/* date piker css */
#dates-piker input[type=text]{
    height: 2.3rem;
    font-size: 0.85rem;
    color: #777;
}

#dates-piker .picker{
    position: fixed;
}

#dates-piker .picker__frame{
    min-width: 340px;
    overflow-y: auto;
}

#dates-piker .picker__day--selected,
#dates-piker .picker__day--selected:hover,
#dates-piker .picker--focused .picker__day--selected{
    background-color: #54341D;
    border-radius: 15%;
}

#dates-piker  .picker__date-display{
    display: none;
}

#dates-piker .picker__select--year.browser-default,
#dates-piker .picker__select--month.browser-default{
    border: 0;
    font-size: 1rem;
    color: #777;
    font-weight: 400;
}

#dates-piker .picker__nav--prev:hover,
#dates-piker .picker__nav--next:hover {
    color: #fff;
    background: #54341D;
}

#dates-piker .picker__nav--prev:before{border-right: 0.75em solid #54341D;}
#dates-piker .picker__nav--next:before{border-left: 0.75em solid #54341D !important;}

#dates-piker .picker__nav--prev:hover:before{border-right: 0.75em solid #fff;}
#dates-piker .picker__nav--next:hover:before{border-left: 0.75em solid #fff;}

#dates-piker .picker__day--infocus:hover{
    cursor: pointer;
    color: #54341D;
    font-weight: 500;
    border: 3px solid #54341D;
    border-radius: 4px;
    padding: 0.6rem;
    background: #fdfdfd;
}
#dates-piker .picker__close,
#dates-piker .picker__today,
#dates-piker .picker__weekday{
    color: #54341D;
}

#dates-piker button.picker__today:focus,
#dates-piker button.picker__clear:focus,
#dates-piker button.picker__close:focus{
    background-color: #FFEDDB;
}

#dates-piker .picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #676767;
}
.view{
    overflow: visible;
}
.view .indicator{
    display: none;
}
.view a{    
    width: 40px !important;
    display: inline-block !important;
}

#corder1 .nav-wrapper{
    font-weight: 300;
}

.qulty .select-wrapper span.caret{
    top: 12px;
    margin-left: 20px;
}
.second .select-wrapper span.caret{
    top: 10px;
    margin-left: 20px;
    left: 0;
}

.butons{
    padding: 0 2.5rem;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: 300;
}

col.s12.tnc-box{
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 100px;
    overflow-y: auto;
    margin-bottom: 20px;
    background: whitesmoke;
}

.text-gray.heading{
    color: #777;
}

/* order payment page */

#order-payment{
    margin-top: 30px;
}

#order-payment p.h2{
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    margin-top: 0;
}

#order-payment p img{
    position: relative;
    top: 3px;
}

.page-fold{
    float: right;
    margin-top: -25px;
    margin-right: -30px;
}

.trip-time{
    font-size: .85rem;
}

#fullpay{
    margin-top: 50px;
    padding-bottom: 20px;
}

#partpay{
    padding-top: 30px;
}

#partpay form span{
    font-size: 0.7rem;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#fullpay form span{
    font-size: 0.8rem;
    display: block;
    padding-left: 35px;
}

#fullpay form p{
    margin-bottom: 25px;
}

#partpay [type="radio"]:checked + label,
#fullpay [type="radio"]:checked + label{
    color: #d87c1f;
}

#partpay [type="radio"]:checked + label:after,
#partpay [type="radio"].with-gap:checked + label:after,
#fullpay [type="radio"]:checked + label:after,
#fullpay [type="radio"].with-gap:checked + label:after {
    background-color: #54341D;
    z-index: 0;
}

#partpay [type="radio"]:checked + label:after,
#partpay [type="radio"].with-gap:checked + label:before,
#partpay [type="radio"].with-gap:checked + label:after,
#fullpay [type="radio"]:checked + label:after,
#fullpay [type="radio"].with-gap:checked + label:before,
#fullpay [type="radio"].with-gap:checked + label:after {
    border: 2px solid #54341D;
}

#partpay .box{
    border: 2px solid #eee;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#partpay .box.active{
    border: 2px solid #54341D;
    background: antiquewhite;
}

#partpay .box label{
    margin-top: 0;
    padding: 30px 0 0;
}

span i.active{
    color:#54341D;
}


.transport-modal,
#modal-quotes.modal{
    width: 70%;
}
.modal p#error{
    margin: -10px 0px 0px !important;
}

/* #modal_confirm ,#modal_transit, #modal_track, #modal_assign_truck, #modal_payment, #modal_statistic */

#modal_confirm, #modal_transit, #modal_track, #modal_assign_truck, #modal_payment, #modal_statistic{
    width: 70%;
    padding: 0px 30px;
    overflow-y: hidden;
    background-color: transparent;
    height: 100%;
}
.left-content{
    padding: 0px !important;
    height: 100%;
    margin-bottom: 20px;
    position: relative;
}
.right-content{
    padding-left: 15px !important;
    padding-right: 0px !important;
    height: auto;
    position: relative;
}
.custom_model{
    position: relative;
    overflow-y: auto;
    height: 100%;
    background-color: #fff;
}
.modal-content .track-btn{
    padding: 10px;
    height: auto !important;
    text-transform: uppercase;
}
.modal .full-height{
    height: 100% !important;
}

#modal_statistic.modal .modal-content,
#modal_payment.modal .modal-content,
#modal_track.modal .modal-content,
#modal_confirm.modal .modal-content,
#modal_assign_truck.modal .modal-content,
#modal_transit.modal .modal-content{
    position: relative;
    /* padding-bottom: 10px; */
    height: 100%;
}
.modal-content .posi-top-left{
    position: absolute;
    left: 2%;
    top: 7px;
    z-index: 999;
}
.dots-address{
    position: relative;
    width: 100%;
}
.dots-address:before{
    content: " ";
    display: table;
}
.dots-address .dots{
    float: left;
    position: absolute;
    text-align: center;
    top: 5px;
    left: 21px;
}
.dots-address .final_address{
    float: left;
    width: calc( 100% - 45px ) !important;
    float: right;
    padding: 0px;
    /* border: 1px solid #d4d4d4; */
    position: relative;
}

/*   timeline 1 */
.timeline {
  list-style: none;
  padding: 0px 0 20px;
  margin-bottom: 0px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #ccc;
  left: 25px;
  margin-right: -1.5px;
}
.timeline > li {
  margin-bottom: 10px; 
  position: relative;
}
.timeline > li:last-child{
    margin-bottom: 0px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}


.timeline > li > .timeline-badge {
  color: #fff;
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 20px;
  margin-right: -25px;
  background-color: #999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 45px );
  float: right;
  /* padding-left: 20px; */
  /* border: 1px solid #d4d4d4; */
  position: relative;
}

/*  timeline2   */

.timeline2 {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
}
.timeline2 > li {
  padding-bottom: 15px; 
  position: relative;
  margin-top: -5px;
  float: left;
  width: 100%;
}
.timeline2 > li:first-child{
    margin-top: 0px;
}
.timeline2 > li:last-child{
    padding-bottom: 0px;
}
.timeline2 > li:before,
.timeline2 > li:after {
  top: 5px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #ccc;
  left: 25px;
  margin-right: -1.5px;
}
.timeline2 > li:last-child:before,
.timeline2 > li:last-child:after {
    background-color: transparent !important;
}
.timeline2 > li:after {
  clear: both;
}


.timeline2 > li > .timeline-badge {
  color: #fff;
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 20px;
  margin-right: -25px;
  background-color: #999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline2 > li > .timeline-panel {
  width: calc( 100% - 45px );
  float: right;
  /* padding-left: 20px; */
  /* border: 1px solid #d4d4d4; */
  position: relative;
}

.text-green{
    color: #4CAF50 !important;
}
.text-red{
   color: #F44336 !important;
}
.gray{
    width: 10px !important;
    height: 10px !important;
    left: 21px !important;
    background-color: #ccc !important;
}
.posi-top-left-outer{
    position: absolute;
    top: 3%;
    left:5px;
}
.posi-top-right{
    position: absolute;
    top: 3%;
    right: 5px;
}
.modal-content .posi-top-left i{
    vertical-align: bottom;
    margin-left: -30px;
    padding-right: 10px;
}
.add-truck-row{
    margin: 10px 0px !important;
}
ul.trucks{
    list-style: none;
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
ul.trucks li{
    float: left;
    width: 100%;
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid #ddd;
}
ul.trucks [type="checkbox"] + label{
    width: 100%;
    padding-left: 0px !important;
}

ul.trucks [type="checkbox"]:checked + label:before{
    right: 20px !important;
    left: initial;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #54341d;
    border-bottom: 2px solid #54341d;
}

ul.trucks [type="checkbox"] + label:before, 
ul.trucks [type="checkbox"]:not(.filled-in) + label:after{
    right: 5px !important;
    left: initial;
    margin: 0;
    border: none;
}
/* [type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after{
    border: 2px solid transparent;
} */


/* statistics modal tabs start */
.custom-modal-tabs{
    background-color: #efefef;
}
.custom-modal-tabs .tab .active{
    color: #eb8d2d;
    background-color: #fff;
}
.custom-modal-tabs .tab{
    border-right: 1px solid #ddd;
}
.custom-modal-tabs .tabs:last-child{
    border-right: 0px;
}
.custom-modal-tabs .indicator{
    display: none !important;
}
/* statistics modal tabs end */

/* statistics modal graph start */
.modal canvas.canvasjs-chart-canvas{
    // position: relative !important;
    width: 100% !important;
    max-height: 500px !important;;
    min-height: 200px !important;
    height: 300px !important;;
}
.modal canvas.canvasjs-chart-canvas:first-child{
    // display: none !important;
}
.canvasjs-chart-container{
    // position: relative;
    /* height: auto; */
}
.canvasjs-chart-credit{
    display: none !important;
}
/*
#chartContainer{
    float: left;
    width: 100%;
    height: 300px;
    position: relative;
}*/
/* statistics modal graph end */

#modal_assign_truck .truck-list{
    float: left;
    width: 100%;
    position: relative;
}

#modal_statistic .modal-content .model-head-bar{
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    padding: 15px 10px 15px 25px;
}
#modal_statistic .full-height{
     /* height: -moz-calc(100% - (20px + 30px));
    height: -webkit-calc(100% - (20px + 30px)); */
    height: calc(100% - 0px) !important;
}
#modal_statistic.modal .modal-content .section_row,
#modal_payment.modal .modal-content .section_row,
#modal_assign_truck.modal .modal-content .section_row,
#modal_track.modal .modal-content .section_row,
#modal_transit.modal .modal-content .section_row,
#modal_confirm.modal .modal-content .section_row{
    border-bottom: 1px solid #ddd;
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

#modal_payment.modal .modal-content .section_row:last-child,
#modal_statistic.modal .modal-content .section_row:last-child,
#modal_assign_truck.modal .modal-content .section_row:last-child,
#modal_track.modal .modal-content .section_row:last-child,
#modal_transit.modal .modal-content .section_row:last-child,
#modal_confirm.modal .modal-content .section_row:last-child{
    border-bottom: 0px;
}

#modal_statistic.modal .modal-content .title p,
#modal_payment.modal .modal-content .title p,
#modal_assign_truck.modal .modal-content .title p,
#modal_track.modal .modal-content .title p,
#modal_transit.modal .modal-content .title p,
#modal_confirm.modal .modal-content .title p{
    float: left;
    width: 100%;
    margin-top: 0;
}

#modal_assign_truck.modal .modal-content .title{
    float: left;
    width: 100%;
    padding: 0px 0px 10px !important;
}
/* #modal_confirm.modal .modal-content .schedule p span i{
    vertical-align: top;
    margin-right: 20px;
} */

#modal_statistic.modal .modal-content .schedule,
#modal_payment.modal .modal-content .schedule,
#modal_assign_truck .modal .modal-content .schedule,
#modal_track.modal .modal-content .schedule,
#modal_transit.modal .modal-content .schedule,
#modal_confirm.modal .modal-content .schedule{
    float: left; 
    width: 100%;
    padding-bottom: 15px;
}

#modal_statistic.modal .modal-content p small,
#modal_payment.modal .modal-content p small,
#modal_assign_truck .modal .modal-content p small,
#modal_track.modal .modal-content p small,
#modal_transit.modal .modal-content p small,
#modal_confirm.modal .modal-content p small{
    font-size: 0.85rem;
}

#modal_statistic .modal-content .payment_info .note,
#modal_payment .modal-content .payment_info .note,
#modal_assign_truck .modal-content .payment_info .note,
#modal_track .modal-content .payment_info .note,
#modal_transit .modal-content .payment_info .note,
#modal_confirm .modal-content .payment_info .note{
    margin-top: 20px;
    font-size: 0.85rem;
    color: #999;
}

#modal_statistic table.payment_table,
#modal_payment table.payment_table,
#modal_assign_truck table.payment_table,
#modal_track table.payment_table,
#modal_transit table.payment_table,
#modal_confirm table.payment_table{
    border: 1px solid #d0d0d0;
    color: #999 !important;
}
/*
#modal_statistic table.payment_table thead,
#modal_payment table.payment_table thead,
#modal_assign_truck table.payment_table thead,
#modal_track table.payment_table thead,
#modal_transit table.payment_table thead,
#modal_confirm table.payment_table thead{
    border: 0px !important;
}

#modal_statistic table.payment_table thead tr,
#modal_statistic table.payment_table tbody tr,
#modal_payment table.payment_table thead tr,
#modal_payment table.payment_table tbody tr,
#modal_assign_truck table.payment_table thead tr,
#modal_assign_truck table.payment_table tbody tr,
#modal_track table.payment_table thead tr,
#modal_track table.payment_table tbody tr,
#modal_transit table.payment_table thead tr,
#modal_transit table.payment_table tbody tr,
#modal_confirm table.payment_table thead tr,
#modal_confirm table.payment_table tbody tr{
    border-bottom: 1px solid #d0d0d0;
} 

#modal_statistic table.payment_table tbody tr:last-child,
#modal_payment table.payment_table tbody tr:last-child,
#modal_assign_truck table.payment_table tbody tr:last-child,
#modal_track table.payment_table tbody tr:last-child,
#modal_transit table.payment_table tbody tr:last-child,
#modal_confirm table.payment_table tbody tr:last-child{
    border-bottom: 0px;
}*/

#modal_statistic table.payment_table th,
#modal_statistic table.payment_table td,
#modal_payment table.payment_table th,
#modal_payment table.payment_table td,
#modal_assign_truck table.payment_table th,
#modal_assign_truck table.payment_table td,
#modal_track table.payment_table th,
#modal_track table.payment_table td,
#modal_transit table.payment_table th,
#modal_transit table.payment_table td,
#modal_confirm table.payment_table th,
#modal_confirm table.payment_table td{
    font-weight: normal;
    border-right: 1px solid #d0d0d0;
    color: #999;
    padding: 6px 5px;
}

#modal_statistic table.payment_table th:last-child,
#modal_statistic table.payment_table td:last-child,
#modal_payment table.payment_table th:last-child,
#modal_payment table.payment_table td:last-child,
#modal_assign_truck table.payment_table th:last-child,
#modal_assign_truck table.payment_table td:last-child,
#modal_track table.payment_table th:last-child,
#modal_track table.payment_table td:last-child,
#modal_transit table.payment_table th:last-child,
#modal_transit table.payment_table td:last-child,
#modal_confirm table.payment_table th:last-child,
#modal_confirm table.payment_table td:last-child{
    border-right: 0px;
}

#modal_statistic table.payment_table strong,
#modal_payment table.payment_table strong,
#modal_assign_truck table.payment_table strong,
#modal_track table.payment_table strong,
#modal_transit table.payment_table strong,
#modal_confirm table.payment_table strong{
    color: #000;
}

#modal_statistic table.payment_table .text-green,
#modal_payment table.payment_table .text-green,
#modal_assign_truck table.payment_table .text-green,
#modal_track table.payment_table .text-green,
#modal_transit table.payment_table .text-green,
#modal_confirm table.payment_table .text-green{
     color: #4CAF50 !important;
}

#modal_statistic table.payment_table .overdue,
#modal_payment table.payment_table .overdue,
#modal_assign_truck table.payment_table .overdue,
#modal_track table.payment_table .overdue,
#modal_transit table.payment_table .overdue,
#modal_confirm table.payment_table .overdue{
    color: #f00;
}

.transport-modal .modal-content,
#modal-quotes.modal .modal-content{
    padding: 0px;
}
.transport-modal .modal-content .detail-box,
#modal-quotes.modal .modal-content .detail-box{
    padding: 15px 10px;
}

#modal_statistic.modal .modal-content .detail-box .mid,
#modal_payment.modal .modal-content .detail-box .mid,
#modal_assign_truck.modal .modal-content .detail-box .mid,
#modal_track.modal .modal-content .detail-box .mid,
#modal_transit.modal .modal-content .detail-box .mid,
#modal_confirm.modal .modal-content .detail-box .mid,
#modal-quotes.modal .modal-content .detail-box .mid,
.transport-modal .modal-content .detail-box .mid{
    line-height: .5rem;
}

#modal_statistic .address h6,
#modal_payment .address h6,
#modal_assign_truck .address h6,
#modal_track .address h6,
#modal_transit .address h6,
#modal_confirm .address h6,
#modal-quotes .address h6,
.transport-modal .address h6{
    font-size: .85rem;
    margin-top: 0;
    font-weight: 600;
}

.transport-modal .address p,
#modal-quotes .address p{
    margin-top: 0;
    font-size: .85rem;
    margin-bottom: 5px;
}

.transport-modal .address p small
#modal-quotes .address p small{
    font-size: .8rem;
}

.transport-modal .address p img.img
#modal-quotes .address p img.img{
    position: relative;
    top: 3px;
}

.transport-modal table,
#modal-quotes table{
    font-size: .85rem;
}

.transport-modal table th,
#modal-quotes table th{
    font-weight: 400;
}

.transport-modal table td,
#modal-quotes table td{
    color: #888;
    font-size: .8rem;
}

.transport-modal table td a,
#modal-quotes table td a{
    border: 1px solid #54341D;
    padding: 3px 5px;
    border-radius: 3px;
    color: #54341D;
}

.transport-modal table td a:hover,
#modal-quotes table td a:hover{
    background:  #54341D;
    color: #fff;
}

.transport-modal table td i,
#modal-quotes table td i{
    width: 15px;
}

.transport-modal table.striped > tbody > tr:nth-child(odd),
#modal-quotes table.striped > tbody > tr:nth-child(odd) {
    background-color: #fff5f3;
}

.transport-modal table.striped > tbody > tr:nth-child(even),
#modal-quotes table.striped > tbody > tr:nth-child(even) {
    background-color: #feede7;
}

/* transporter page few css */
#test1-transpoter .filter{
        border: 2px solid #54341D;
    border-radius: 3px;
}

#test1-transpoter .filter .btn{
height: 30px;
    line-height: 30px;
    border-radius: 0px;
    box-shadow: none;
    background: #fff;
    color: #54341D;
}

#test1-transpoter .filter .btn.active{
    background: #54341D;
    color: #fff;
}
#test2-transpoter td a.quote,
#test1-transpoter td span.quote{
    border: 1px solid #54341D;
    border-radius: 3px;
    padding: 3px 5px;
    color: #54341D;
    font-size: .75rem;
}

#test1-transpoter td span.quote .edit{
    display: none;
    border: 1px solid #54341D;
    border-radius: 2px;
    padding: 1px 5px;
    color: #fff;
    font-size: .85rem;
    position: absolute;
    background: #54341D;
    margin-left: 0px;
    margin-top: -20px;
    letter-spacing: .5px;
}

#test1-transpoter td span.quote:hover .edit{
    display: block;
}

#test1-transpoter td span.quote .edit i{
    border-left: .14rem solid #fff;
    height: 1.57rem;
    top: 2px;
    padding: 3px 0px 0px 9px;
    margin-top: -4px;
    margin-left: 5px;
}

#edit-quote .modal-content{
    padding: 0;
}

#edit-quote .detail-box {
    background: #fff;
     border-radius: 0px; 
     padding: 0; 
    overflow: hidden;
}

#edit-quote .detail-box .row.theme-bg{
    padding-top: 10px;
    padding-bottom: 10px;
}

#edit-quote .detail-box .row.theme-bg a{
    padding:0 10px;
}
#edit-quote .one-col{
    padding: 25px;
    background: #f3f4f8;
    font-size: 0.85rem;
}

#edit-quote .two-col{
    padding: 25px;
    background: #fff;
}

#edit-quote .detail-box p{
    font-size: 0.85rem;
    margin-bottom: 0;
    margin-top: 0;
}

#edit-quote .first {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #54341D;
    padding: 0;
    position: relative;
    top: 4px;
}

.distance{
    line-height: 35px;
    font-size: .8rem;
}
#edit-quote .detail-box p a{
    margin-bottom: 10px;
    display: block;
    color:blue;
}
#edit-quote .detail-box p img{
        position: relative;
    top: 3px;
}

#edit-quote .two-col .date{
    font-size: .85rem;
    display: inline-block;
    margin-top: 10px;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}
#edit-quote .two-col .tabs{
    margin-top: 15px;
    border: 2px solid #54341D;
    border-radius: 4px;
    width: 100% !important;
    height: 32px;
}
#edit-quote .two-col .tabs .btn{
    background: #fff;
    color: #54341D;
    height: 30px;
    line-height: 30px;
    font-size: .8rem;
    border-radius: 0;
    box-shadow: none;
}
#edit-quote .two-col .tabs .btn.active{
    background: #54341D;
    color: #fff;
}


#edit-quote .two-col .date:hover,
#edit-quote .two-col .date.active{
    background: #54341D;
    border-color: #54341D;
    color:#fff;
}

#edit-quote .one-col p{
    margin-bottom: 5px;
    margin-top: 3px;
}

#fullload{
    padding-top: 15px;
}

#fullload .input-field{
     margin-top: 0;
    line-height: 0px;
}
#Details .input-field,
#fullload .input-field .qulty,
#fullload .input-field .truck-type{
    color: #888;
    height: 30px;
    font-size: 8.5rem;
}

#Details .select-wrapper input.select-dropdown,
#fullload .select-wrapper input.select-dropdown{
    height: 2rem;
    line-height: 2rem;
    border-color: #ccc;
}

#Details ul li span, 
#fullload ul li span {
    font-size: .85rem;
    color: #777;
    border-bottom: 1px solid #eee;
}

#fullload p{
    line-height: 2rem;
    padding-left: 0px;
}

#fullload .type-rps{
    line-height: 2rem;
    padding-left: 0px;
    height: 2rem;
}
#fullload .type-rps input{
    line-height: 1.5rem;
    height: 1.5rem;
    font-size: .85rem;
}
#Details.modal{
    width: 80%;
}

#Details.modal .modal-content{
    padding: 25px 20px;
    background: #fff;
}

#Details.modal p{
    font-size: .8rem;
    letter-spacing: .5px;
}

#Details.modal p .black-text,
#Details.modal p.theme-text{
    font-size: .85rem;
}

.midd-col p{
    margin-bottom: 15px !important;
}

#Details.modal .midd-col{
        border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 0px 20px;
}

#Details.modal p i{
    position: relative;
    top: 3px;
}

#Details.modal .caret{
    top: 8px;
}

#Details.modal .btn{
    font-size: .75rem;
    margin-top: 20px;
}

button.theme-bg:hover,
button.theme-bg:focus{
    background-color: #4c2f1a;
}
a.theme-bg:hover,
a.theme-bg:focus{
    background-color: #4c2f1a;
}

.login_form {
    background-color: #fafafa !important;
    border-radius: 0 0 5px 5px !important;
    padding-top: 14px !important;
    position: relative;
}
.login_title_wrap {
    background-color: #eeeeec;
    padding: 15px 25px;
    border-radius: 5px 5px 0 0;
    float: left;
    width: 100%;
}
.login_title_wrap div {
    float: left;
    color: #452b1a;
    font-size: 22px;
    letter-spacing: 2px;
}
.login_title_wrap span {
    float: right;
    margin: 6px 14px 0 0;
    font-weight: normal;
    font-size: 14px;
}
.login_title_wrap span a {
    color: #0244ff;
    text-decoration: underline;   
}
.login_input {
    text-transform: uppercase;
}
.form_footer {
    float: left;
    width: 100%;
    font-size: 14px;
}
.form_footer a {
    color: #0244ff;
    text-decoration: underline; 
}
.form_footer div {
    float: left;
}
.form_footer span {
    float: right;
}
.login_button button {
    margin-top: 0 !important;
    top: calc(50% - 55.5px);
}

/* register page*/
.term{
    float: left;
    width: 100%;
    text-align: center;
}
.term span{
    float: left;
    width: 100%;
    text-align: center;
    line-height: 28px;
    margin: 15px 0px;
}
.mobile-full-width, .medium-full-width{
    border-right: 1px solid #ddd;
}
.mobile-full-width:last-child{
    border-right: 0px;
}
.medium-full-width:last-child{
    border-right: 0px;
}

/* forgot password start*/
.reset-btn{
    text-align: center;
    margin: 20px 0px;
}
.reset-btn button{
    padding: 5px 20px;
    height: auto !important;
}
/* forgot password end*/

.add-more{
    text-align: right;
    position: absolute;
    margin-top: -50px;
    right: 6%;
}
.img-truck-type{
    top: 14px !important;
}
/* active loads page*/
.custom-table{
    border:0px !important;
}
.custom-table thead tr th{
    line-height: 18px;
}
.custom-table thead tr th i{
    vertical-align: middle;
}
.custom-table tbody tr td{
    line-height: 20px;
}
table.custom-table thead{
    border: 0px !important;
}
table.custom-table tbody tr{
    margin: 0px -2px;
}
table.custom-table > tbody > tr:nth-child(odd){    
    background-color: #f2f2f2;
}
table.custom-table > tbody > tr:nth-child(even){    
    background-color: #fff;
}
.tab-contain-view{
    padding: 0px !important;
}
.tab-contain-view .custom-tab-icon{
    text-align: right !important;
}
.custom-filter-tab{
    font-size: .80rem;
    font-weight: 300;
    border: 2px solid #54341D;
    border-radius: 3px;
    overflow: hidden;
}
.custom-filter-tab .tab{
    height: 100% !important;
    border:transparent !important;
}
.custom-filter-tab a {
    color: #54341d !important;
    background-color: #fff !important;
}
/* payment tabs*/

.payment{
    /*border: 2px solid #54341D;*/
    height: 30px !important;
    overflow: hidden !important;
}
.payment .tab{
    height: 100% !important;
    border:transparent !important;
}
.payment .tab a{
   line-height: 30px !important;
   background-color: #fff !important;
   border:none !important;
   -moz-transition: all 0.18s linear;
   -webkit-transition: all 0.18s linear;
   transition: all 0.18s linear;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.payment .tab a.active{
    color: #fff !important;
    background-color: #54341D !important;
    border:none !important;
    -moz-transition: all 0.18s linear;
   -webkit-transition: all 0.18s linear;
   transition: all 0.18s linear;
}
.payment .indicator{
    display: none !important;
}

/* truck load tabs */
.truck-load-tabs{
    /*border: 2px solid #54341D;*/
    height: 30px !important;
    overflow: hidden !important;
}
.truck-load-tabs .tab{
    height: 100% !important;
    border:transparent !important;
}
.truck-load-tabs .tab a{
   line-height: 30px !important;
   background-color: #fff !important;
   border:none !important;
   -moz-transition: all 0.18s linear;
   -webkit-transition: all 0.18s linear;
   transition: all 0.18s linear;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.truck-load-tabs .tab a.active{
    color: #fff !important;
    background-color: #54341D !important;
    border:none !important;
    -moz-transition: all 0.18s linear;
   -webkit-transition: all 0.18s linear;
   transition: all 0.18s linear;
}

.truck-load-tabs .indicator{
    display: none !important;
}

/* transport tab filtrs*/
.transport-tabs{
    /*border: 2px solid #54341D;*/
    height: 30px !important;
    overflow: hidden !important;
}
.transport-tabs li.tab{
    height: 100% !important;
    border:transparent !important;
   border-right: 1px solid #54341D !important;
}
.transport-tabs li.tab:last-child{
    border-right: none !important;
    border: none !important;
}
.transport-tabs li.tab a{
   line-height: 30px !important;
   background-color: #fff !important;
   border: none !important;   
   -moz-transition: all 0.18s linear;
   -webkit-transition: all 0.18s linear;
   transition: all 0.18s linear;
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}

.transport-tabs .indicator{
    display: none !important;
}
.transport-tabs .tab a.active{
    color: #fff !important;
    background-color: #54341D !important;
    border:none !important;
    -moz-transition: all 0.18s linear;
   -webkit-transition: all 0.18s linear;
   transition: all 0.18s linear;
}

.menu{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    background: transparent;
    color: #666;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
}
.menu .menu-item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 80px;
}
.menu .menu-item a{
    color: #999;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
.menu .menu-item a.active{
    color: #eb8d2d;
    border-bottom: 2px solid #eb8d2d;
}
.load-status{
    padding-top: 13px;
    margin-bottom: -5px;
    font-size: 13px;
    color: #888;
    padding-left: 0px !important;
}
.load-status .material-icons{
    margin-left: -30px;
}
.completed, .cancelled, .confirmed{
    background-color: #4CAF50 ;
    color: #fff;
    padding: 8px 15px 8px 60px;
    margin-left: -25px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400 !important;
}
.confirmed{
    background-color: #2BB9D1;
}
.cancelled{
    background-color: #444;
}
.cancelled-box{
    opacity: 0.5;
}
.text-right{
    float: right !important;
}

.custom-box{
    margin-bottom: 20px;
    min-height: 530px;
    height: auto;
}
.custom-box-wrap{
    margin-bottom: 20px;
    min-height: auto !important;
    height: auto !important;
    position: relative !important;
    width: 100%;
}

/*h2.tmp_error {
    font-size: 12px;
    color: #f00;
    margin: -15px 0px 20px;
    width: 100%;
}*/

.input-valid label.error, .input-valid label.active
{
    font-size: 10px !important;
    padding: 15px 0px 0px;
    text-align: left;
    margin: 0px;
    width: 100%;
    top: 2px;
    left: 0px;
    color: #f00 !important;
    transform: translateY(0) !important;
}
.input-valid label.active{
    opacity: 0.5;
}
.custome-textarea{
        border: 1px solid #ccc !important;
        padding: 12px 10px !important;
}
#custom-order1 .input-field .select-dropdown,
#custom-order1  .input-field .from-input{
    margin-bottom: 0px !important;
}
p.tmp_error{
    margin: 5px 0px 20px !important;
    font-size: 12px;
    color: #f00;
    opacity: 0;
}

.b-none{
    border: 0px !important;
}
.m-t-none{
    margin-top: 0px !important;
}
.m-b-none{
    margin-bottom: 0px !important;
}
.m-l-none{
    margin-left: 0px !important;
}
.m-r-none{
    margin-right: 0px !important;
}
.m-none{
    margin: 0px !important;
}
.p-none{
	padding: 0px !important;
}
.p-l-none{
    padding-left: 0px !important;
}
.p-r-none{
    padding-right: 0px !important;
}
.p-b-none{
    padding-bottom: 0px !important;
}
.p-t-none{
    padding-top: 0px !important;
}

.custom-cross{
    padding:0px !important;
}
.custom-actions{
    padding-top: 13px;
    padding-left: 20px;
}
.custom-actions i.material-icons{
    margin-left: -24px;
}
.top-menu .top-menu-item{
    min-width: 25%;
}

.modal-body{
    display: flex;
}
.flex-display{
    display: flex !important;
}

.modal-body .btn.btn-flat{
    height: 25px;
    padding: 2px 14px;
    font-size: .75rem;
    color: #444 !important;
    line-height: 22px;
}
.modal-body .input-field{
    margin-top: -1rem;
}

.modal-body .input-field .select-dropdown,
.modal-body .input-field .from-input{
    font-size: .85rem;
    padding: 0;
    border-color: #ccc;
    margin-bottom: 20px;
    padding-left: 5px;
}

.modal-body .input-field .dropdown-content.select-dropdown{
    height: auto; 
    padding-left: 15px;
    /*display: block !important;*/
}

.modal-body .add{
    padding-left: 20px;
}
.modal-body .add .material-icons{
    position: absolute;
    margin-left: -20px;
    margin-top: -3px;
}

.modal-body .heading{
    font-size: .85rem;
    font-weight: 600;
}
.modal-body.caret{
    color: #ccc;
}

.modal-body .text{
    font-size: .87rem;
    letter-spacing: .5px;
    color: #333;
    font-weight: 500;
}

.modal-body .second .select-wrapper input.select-dropdown{
    border: 0px;
}

.modal-body .grup-btn .btn.activ{
    background: #54341D;
    color: #fff;
}

.modal-body .dropdown-content li{
        min-height: 40px;
}

.modal-body ul li span{
    font-size: .85rem;
    color:#777;
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
}

.modal-body ul li.active span,
.modal-body ul li span:hover{
    margin-left: -15px;
    display: block;
    background: #f2f2f2;
    padding-left: 27px;
}
/* .modal-body .offer_date{
    float: left;
    border-radius: 5px;
    border: 1px solid #54341D;
    background-color: transparent !important;
    padding: 7px 10px;
    margin: 0px 5px;
} */
.modal-body .offer_date:hover{
    background-color: #54341D !important;
    color: #fff !important;
}

#date_radio [type="radio"]+ label{
    float: left;
    border-radius: 5px;
    height: auto !important;
    color:  #54341D !important;
    font-size: 14px !important;
    border: 1px solid #54341D;
    background-color: transparent !important;
    padding: 7px 10px !important;
    margin: 0px 5px !important;
}
#date_radio [type="radio"]:checked + label{
    background-color: #54341D !important;
    color: #fff !important;
}
#date_radio [type="radio"] + label:before,
#date_radio [type="radio"] + label:after{
    display: none !important;
}
#date_radio [type="radio"]:not(:checked) + label:before, 
#date_radio [type="radio"]:not(:checked) + label:after{
    display: none !important;
}
#date_radio input[type="radio"]:checked + label:before,
#date_radio input[type="radio"]:checked + label:after,{
    display: none !important;
}

.model-head-bar{
    margin-bottom: 0px;
    padding: 10px;
    color: #fff;
}
.modal-body{
    margin-bottom: 0px;
    position: relative;
    width: 100%;
}
.modal-body .row:last-child{
    margin-bottom: 0px !important;
}
.modal-body p{
    margin-top: 0px !important;
    margin-bottom: 10px;
}

.modal-right-body,.modal-left-body{
    padding: 20px 40px !important;
    background-color: #fff;
    position: relative;
}
.custom-right-body,.custom-left-body{
    padding: 20px 25px !important;
    background-color: #fff;
    position: relative;
}
.push-bottom-btns{
    position: absolute !important;
    width: 90%;
    bottom: 20px;
}
.detail-wrap{
    padding-bottom: 25px !important;
}
.push-bottom{
    position: absolute !important;
    width: 95%;
    bottom: 20px;
    border-top: 2px solid #ddd;
}
.modal-body .address div{
    height: 45px;
}
.modal-body .address p{
    font-size: 15px !important
}
.modal-body .address div.distance{
    vertical-align: middle;
    font-size: 15px !important;
}
.model-head-bar a:hover,
.model-head-bar a:focus,
.model-head-bar a:active{
    color: #fff !important;
}

#modaldelete{ 
    width: 35%; 
}
.custom_side_nav{
    display: none;
}
.main-page{
    float: left;
    width: 100%;
}

#table-view table td a.truck_no{
    border: 1px solid #DDD;
    background-color: #E9E9E9;
    border-radius: 3px;
    color: #000;
    font-size: 0.85rem;
    padding: 3px 12px;
    word-break: keep-all !important;
}
/* #table-view table td a.truck_no:hover, 
#table-view table td a.truck_no:focus,
#table-view table td a.truck_no:active{
    background-color: #54341d;
    color: #fff;    
    border: 0px !important;
} */
.assign-btn{
    padding: 7px !important;
    line-height: 22px !important;
    font-size: 0.85rem !important;
    margin-top: 10px !important;
}
.top-btn{
    padding: 0px 15px !important;
    font-size: 0.95rem !important;
    margin-top: 10px !important;
}
.top-btn i{
     margin-right: 5px;
     vertical-align: middle;
 }
.truck-no{
    border: 1px solid #DDD;
    background-color: #E9E9E9;
    color: #666;
    font-size: 0.9rem;
    margin: 10px 2px;
    padding: 3px 5px;
    display: inline-block;
    word-break: keep-all !important;
}
#table-view table td a.truck_no.active{
    background-color: #54341d;
    color: #fff;
    font-size: 0.8rem;
    padding: 5px 5px;
    border: 0px !important;
}

#table-view table td a.quate{
    border: 1px solid #54341d;
    border-radius: 3px;
    color: #54341d;
    padding: 3px 5px;
    word-break: keep-all !important;
}
#table-view table td a.quate:hover, 
#table-view table td a.quate:focus,
#table-view table td a.quate:active{
    background-color: #54341d;
    color: #fff;
}
#table-view table td a.quate.active{
    background-color: #54341d;
    color: #fff;
    border: 0px !important;
}

#table-view table td a.load_id{
    color: #54341d;
    text-decoration: underline;
}
#table-view table td a.load_id:hover, 
#table-view table td a.load_id:focus,
#table-view table td a.load_id:active{
    text-decoration: none;
}
.custom-material-icon{
    margin: 0px 5px;
}
.status{
    float: left;
    margin-bottom: 10px;
    width: 100%;
    line-height: 18px;
    vertical-align: middle;
}
.status .status-value{
    float: left;
    text-align: right;
    vertical-align: middle;
    padding: 0px !important;
}
.status .status-name{
    float: left;
    text-align: left;
    vertical-align: middle;
    padding: 0px !important;
}
 i.custom-fa-icon, .custom-material-icon{
    top: 0px !important;
    font-size: 16px;
    color: #999;
    vertical-align: middle; 
}
 i.custom-fa-icon.active,
 .custom-material-icon.active{
    color: #54341d;
}
.custom-table-view{
    width: 83% !important;
    float: none !important;
    margin: 0px auto;
}
.head-menu{
    position: relative;
    background-color: transparent;
}
.head-menu li a.menu-item{
    color: #fff !important;
    border-bottom: 2px solid transparent !important;
}
.head-menu li a.menu-item:hover{
    color: #EB8D2D !important;
    border-bottom: 2px solid #EB8D2D !important;
}
.head-menu li a.menu-item.active{
    color: #EB8D2D !important;
    border-bottom: 2px solid #EB8D2D !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    background-color: #f4f4f4;
}
em{
    -moz-hyphens:none !important;
    -ms-hyphens:none !important;
    -webkit-hyphens: none !important;
    hyphens:none !important;
}     
* {
    word-break:keep-all !important;
}
a{
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
a:hover,a:focus{
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.visible-on-very-small{
    display: none;
}

/***********************************/
/***   custom media queries    ****/
/*********************************/
@media only screen and (max-width: 1200px){
    
    .custom-table-view{
        width: 85% !important;
    }
     #modaldelete{
        width: 42%;
    }
    .custom-top-nav{
        display: none;
    }
    .custom_sidenav_icon_bar{
        display: block !important;
    }
    .custom_side_nav{
        display: block;
        right: 0px !important;
        left: 100% !important;
        position: fixed;
        width: 240px;
        top: 50px;
        margin: 0;
        /*-webkit-transform: translateX(100%)!important;*/
        /*transform: translateX(0%) !important;*/
        height: 100%;
        height: calc(100% + 60px);
        height: -moz-calc(100%);
        padding-bottom: 60px;
        background-color: #fff;
        -moz-background-color: #fff;
        -webkit-background-color: #fff;
        z-index: 999;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow-y: auto;
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(0px) !important;
        -webkit-transform: translateX(0px) !important;
        transform: translateX(0px) !important;
        -moz-transition: all 0.4s linear;
        -webkit-transition: all 0.4s linear;
        transition: all 0.4s linear;
    }
    .custom_anim{
        -moz-transform:translate(-100%) !important;
        -webkit-transform:translate(-100%) !important;
        transform: translateX(-100%) !important;
        -moz-transition: all 0.4s linear;
        -webkit-transition: all 0.4s linear;
        transition: all 0.4s linear;
    }
    .top-btn {
        padding: 0px 7px !important;
    }
}
@media only screen and (max-width: 1120px){
    .custom-table-view{
        width: 93% !important;
    }
}
@media only screen and (max-width: 1024px){
    .custom-table-view{
        width: 95% !important;
    }
    .custom-box{
        height: 620px;
    }
    .modal-right-body,.modal-left-body{
        padding: 20px 25px !important;
    }
    .top-btn{
        padding: 0px 10px !important;
        font-size: 0.85rem !important;
    }

}
@media only screen and (max-width: 992px){
    .detail-wrap{
        padding-bottom: 0px !important;
    }
    .flex-display{
        display: block !important;
    }
    .modal-right-body,.modal-left-body{
        padding: 20px 30px !important;
    }
    .modal-body .push-bottom-btns{
        position: relative !important;
        width: auto;
        bottom: initial;
    }
    .push-bottom{
        position: relative !important;
        width: auto;
        bottom: initial;
        border-top: 2px solid #ddd;
    }

    .modal-body{
        display: block;
    }
    .custom-table-view{
        width: 100% !important;
    }
    .modal .full-height{
        height: 70% !important;
    }
    
    .right-content{
        padding: 0px !important;
    }
    .medium-full-width{
        border-right: 0px;
        width: 100%;
    }
    .custom_sidenav_icon_bar{
        display: none !important;
    }
    
    .custom-box{
        height: auto;
        min-height: auto;
    }
    .tab-contain-view .custom-tab-icon {
        text-align: left !important;
    }
    .tab-contain-view .custom-tab-icon a {
        width: 30px !important;
    }
    #modaldelete{
        width: 48%;
    }
    #modaldelete .modal-content h5{
        font-size: 22px;
    }
    .add-more{
        right: 2%;
        margin-top: -60px;
    }
}
@media only screen and (max-width: 767px){
    
    .full-height-sub{
        height: 220px !important;
    }
    .full-height-sub .map{
        height: 100%;
    }
    #modal-quotes.modal, .transport-modal{
        width: 80%;
    }
    #modaldelete{
        width: 60%;
    }
    .custom-full-width{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .center-form-box{
        margin-top: 0;
    }
    .term_reset{
        float: left;
        width: 100%;
        text-align: center;
        margin: 15px 0px;
    }
    .term_reset span{
        float: none;
    }
    .swap_loc_row{
        width: 100% !important;
    }
    .loc_icons{
        width: auto !important;
        padding: 0 !important;
        margin: 0px 5px 0px 25px !important;
    }
}
@media only screen and (max-width: 730px){
    
    #modal_statistic.modal .modal-content,
    #modal_payment.modal .modal-content,
    #modal_assign_truck.modal .modal-content,
    #modal_track.modal .modal-content,
    #modal_confirm.modal .modal-content,
    #modal_transit.modal .modal-content{
        padding: 20px;
    }
    .add-more {
        margin-top: -45px;
    }
    .term span a{
        display: block;
    } 
    .add-more .top-add-btn, .top-call-btn{
        height: 45px !important;
        width: 45px !important;
    } 
    .add-more .top-add-btn i, .top-call-btn i{
        line-height: 45px !important;
    }


    .top-menu{
        height: auto !important;
        display: inline-block !important;
    }
    .top-menu .top-menu-item{
        float: left;
        display: inline-block !important;
        width: 50%;
        min-width: 50%;
        height: auto;
        padding:0px 20px;
        text-align: center;
    }
    .top-menu .top-menu-item a{
        text-align: left;
    }
    .top-menu .top-menu-item a.active{
        border-bottom: none;
    }
}
@media only screen and (max-width: 600px){
    
    .full-height-sub{
        height: 220px !important;
    }
    #modal-quotes.modal, .transport-modal{
        width: 90%;
    }

    #modal_confirm,#modal_transit,#modal_track,#modal_assign_truck,
    #modal_payment,#modal_statistic{
        width: 95%;
    }
    .transport-modal table th,
    #modal-quotes table th{
        padding-right: 3px;
        padding-left: 3px;
        line-height: 20px;
    }

    .transport-modal table thead tr,
    #modal-quotes table thead tr{
        padding-right: 0px;
    }
    .tab-contain{
            padding: 0px !important;
    }
    .tab-contain .custom-tab-icon{
        text-align: right !important;
    }
    .tab-contain-view .custom-tab-icon {
        text-align: right !important;
    }
    .tab-contain-view .custom-tab-icon a {
        width: 40px !important;
    }
    #modaldelete{
        width: 80%;
    }

    .add-more {
        margin-top: -42px;
    }
    .add-more .top-add-btn{
        height: 38px !important;
        width: 38px !important;
    }
    .add-more .top-add-btn i{
        line-height: 38px !important;
    }
    .term span a{
        display: inline;
    }
    .custom-next{
        /*margin-top: 20px;
        position: relative;*/
        position: absolute;
        bottom: 72px;
        left: 40% !important;
    }
    .custom-filter-tab{
        margin-bottom: 20px;
    }
    .custom-tabs{
        height: auto !important;
    }
    .custom-tab-icon{
        text-align: right !important;
        width: auto !important;
        height: auto !important;
        line-height: 0px !important;
        min-width: 70px !important;
    }
    .custom-tab-icon a{ 
        text-align: right !important;
        height: auto !important;
    }
    .custom-fields{
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media only screen and (max-width: 560px){
    .custom-box, .custom-box-wrap{
        padding: 15px 15px !important;
    }
}
@media only screen and (max-width: 479px){
    .modal-right-body,.modal-left-body{
        padding: 20px 20px !important;
    }
    .custom-right-body,.custom-left-body{
        padding: 20px 20px !important;
    }
    
    .forgot_link_wrap,
    .reg_link_wrap{
        width: 100%;
        float: left;
        margin-top: 15px;
    }
    .reg_link_wrap{
        margin-bottom: 15px;
    }
    .login_title_wrap{
        padding: 15px 10px;
    }
    .login_title_wrap div{
        font-size: 18px;
        margin-left: 5px;
    }
    .reg_title_wrap span{
        float: left;
        width: 100%;
        margin-left: 5px;
    }
    #home .home-from{
        padding: 30px 15px;
    }
    .loc_icons{
        margin: 0px 0px 0px 20px !important;
    }
}
@media only screen and (max-width: 457px){
    .term span a{
        display: block;
    }
    .mobile-full-width{
        border-right: 0px;
    }
    .mobile-full-width{
        width: 100% !important;
    }
}
@media only screen and (max-width: 380px){
    .top-menu .top-menu-item{
        min-width: 100% !important;
    }

    #modal_statistic .modal-content,
    #modal_payment .modal-content,
    #modal_assign_truck.modal .modal-content,
    #modal_track.modal .modal-content,
    #modal_confirm.modal .modal-content,
    #modal_transit.modal .modal-content{
        padding: 15px;
    }
}
@media only screen and (max-width: 360px){
    .full-height-sub{
        height: 300px !important;
    }
   span.time{
    float: left !important;
    text-align: left !important;
    width: 100% !important;
   }
    .modal-right-body,.modal-left-body{
        padding: 15px 10px !important;
    }
    .custom-right-body,.custom-left-body{
        padding: 15px 10px !important;
    }
    .bottom-actions{
        position: relative;
        float: left !important;
        text-align: left !important;
        width: 100%;
        margin-top: 20px;
        padding: 0px 15px;
    }
    .hide-on-very-small{
        display: none !important;
    }
    .visible-on-very-small{
        display: inline-block;
        padding: 0px 15px;
    }
    .assign-btn {
        padding: 5px 7px !important;
        line-height: 15px !important;
    }
    .top-btn i,.assign-btn i{
        display: none;
    }
    .top-btn{
        padding: 0px 7px !important;
    }
    .top-track-btn{
        padding: 0px 20px !important;
    }

    .status{
        float: left;
        margin-bottom: 10px;
    }
    .status .status-name{
        float: left;
        text-align: left;
        width: 100%;
    }
    .status .status-value{
        text-align: right;
        float: left;
        width: 100%;
    }
}