// Place all the styles related to the transporters/vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_vehicle label.theme-text.actives {
	top: 0px;
}

#modal-quotes.modal .modal-content .section_row {
	border-bottom: 1px solid #ddd;
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}
