<tr>
	<td><%= load_type.name %></td>
	<!-- <td><%#= load_type.display_active %></td> -->
	<td><%= link_to edit_admins_load_type_path(load_type), title: 'Edit', class: 'action-link', remote: true do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
			<%= link_to [:admins,load_type],method: :delete, title: 'Delete', class: 'action-link', data: { confirm: 'Are you sure?'} do %>
				<i class="glyphicon glyphicon-trash"></i>
			<% end %>
	</td>
</tr>
