<div class="custom_model">
    <div class="modal-content" style="padding: 0px;">
        <div class="row m-none flex-display">
            <div class="col s12 m12 l12" style="padding:20px 0px !important;">
                <div class="row section_row">
                    <div class="title">
                        <div class="col s12">
                            <h6>Edit Transporter Vehicle</h6>
                        </div>
                    </div>
                </div>
                  <%= form_for [:transporters,vehicle], html: {class: "modal-form", remote: true} do |f| %>
                    <div class="col s12">
                        <div class="title">
                            <div class="row">
                                <div class="">
                                    <div class="input-field col s12 error-log input-row">
                                      <%= f.select :vehicle_type_id, VehicleType.all.collect {|p| [ p.name, p.id ] }, class: 'form-control custom-form-control validate'  %>
                                      <%= f.label :vehicle_type_id, "Vehicle Type", class: "theme-text actives" %>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                      <%= f.text_field :number_plate,placeholder: "Enter valid number plate",required: true, class: 'form-control custom-form-control validate' %>
                                      <%= f.label :number_plate, class: "theme-text actives" %>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                      <%= f.select :vehicle_status, options_for_select(Vehicle.vehicle_statuses.map {|k,v| [k,k]},selected: vehicle.vehicle_status), class: 'form-control custom-form-control validate' %>
                                      <%= f.label :vehicle_status, class: "theme-text actives" %>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                      <%= f.text_field :chassis_number,placeholder: "Enter valid chassis number",required: true, class: 'form-control custom-form-control validate' %>
                                      <%= f.label :chassis_number, class: "theme-text actives" %>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                      <%= f.select :fitness, options_for_select(Vehicle.fitnesses.map {|k,v| [k,k]},selected: vehicle.fitness), class: 'form-control custom-form-control validate' %>
                                      <%= f.label :fitness, class: "theme-text actives" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="col s12 right-align">
                        <%= f.submit "UPDATE", class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align"  %>
                        <%#= f.submit "Update", data: {disable_with: "submitting..."}, class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align", style: "padding: 0px 20px; margin-right: 20px;" %>
                        <%= link_to "CANCEL", "javascript:;", class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align close-popup", style: "padding: 0px 20px; background-color:#d0d0d0;" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>