<%= form_for [:transporters,vehicle] do |f| %>
  <div class="input-field col s12 error-log">
		<%= f.select :vehicle_type_id, VehicleType.all.collect {|p| [ p.name, p.id ] }  %>
		<%= f.label :vehicle_type_id, "Vehicle Type", class: "theme-text actives" %>
 	</div>

 	<div class="input-field col s12 error-log">
		<%= f.text_field :number_plate,placeholder: "Enter valid number plate",required: true %>
		<%= f.label :number_plate, class: "theme-text actives" %>
 	</div>

 	<div class="input-field col s12 error-log">
		<%= f.select :vehicle_status, options_for_select(Vehicle.vehicle_statuses.map {|k,v| [k,k]},selected: vehicle.vehicle_status)%>
		<%= f.label :vehicle_status, class: "theme-text actives" %>
 	</div>

 	<div class="input-field col s12 error-log">
		<%= f.text_field :chassis_number,placeholder: "Enter valid chassis number",required: true %>
		<%= f.label :chassis_number, class: "theme-text actives" %>
 	</div>

 	<div class="input-field col s12 error-log">
		<%= f.select :fitness, options_for_select(Vehicle.fitnesses.map {|k,v| [k,k]},selected: vehicle.fitness)%>
		<%= f.label :fitness, class: "theme-text actives" %>
 	</div>

 	<div class="actions col s12 left-align">
		<%= f.submit "CREATE", class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align" %></td>
	</div>
<% end %>