<tr>
	<td><%= vehicle.vehicle_type.name %></td>
	<td><%= vehicle.number_plate %></td>
	<td><%= vehicle.vehicle_status %></td>
	<td><%= vehicle.chassis_number %></td>
	<td><%= vehicle.fitness %></td>
	<td><%= link_to "Edit",edit_transporters_vehicle_path(vehicle), remote: true %> /
	<%= link_to "Delete",[:transporters,vehicle],method: :delete, data: {confirm: "Are you sure ?"} %></td>
</tr>

