<main>
  <div id="my-order" class="main-page">
    <!-- first tab -->
    <div id="test1" class="col s12 full-content-wrap">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="outer_box">
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="custom-box-wrap">
                    <div class="box_header">
                      <div class="col s6 text-left theme-text box_header_title">Add New Vehicle</div>
                    </div>
                    <div class="box_content" id="user_basic_detail">
											<%= render 'form', vehicle: @vehicle %>
                    </div>
                  </div>
                </div>
              </div>
            <table>
            	<thead>
            		<tr>
        					<th>Vehicle Type</th>
							    <th>Number Plate</th>
							    <th>Vehicle Status</th>
							    <th>Chassis Number</th>
							    <th>Fitness</th>
							    <th>Action</th>
            		</tr>
            	</thead>
            	<tbody id="transporter_vehicle_list">
            		<%= render @vehicles  %>
            	</tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

