<% if @vehicle.errors.blank? %>
	$("#modal-quotes").closeModal();
	$("#transporter_vehicle_list").html("<%= j(render @vehicles) %>")
<% else %>
	$("#modal-quotes").html("<%= j(render 'edit_form', vehicle: @vehicle) %>")
<% end %>
<% flash.each do |type, msg| %>
		Materialize.toast('<%= msg %>', 4000)
<% end %>
<% @vehicle.errors.full_messages.each do |msg| %>
		Materialize.toast('<%= msg %>', 4000)
<% end %>
<% flash.discard %>
$('select').material_select();
