<style>
  .notice,.alert{
    display:none;
  }
</style>
<main>
  <div class="section no-pad-bot main-page" id="home">
    <div class="container" style="overflow: visible;">
      <h1 class="header center"><img src="/assets/customer/transport-logo.png" alt="transport"></h1>
      <div class="row">
        <div class="col m8 offset-m2 l6 offset-l3 s12 center-form-box">
          <div class="login_title_wrap">
            <div>Change your password</div>
          </div>
          <div class="home-from login_form clearfix col s12">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <div>
                <div class="row">
                  <div class="col s12">
                  <% if resource.errors.any? %>
                    <div class="card-panel theme-bg">
                      <%= devise_error_messages! %>
                    </div>
                  <% end %>
                  </div>
                </div>
                <%= f.hidden_field :reset_password_token %>
                <div class="input-field col s12 error-log">
                  <%= f.label :password, "New password",class: "theme-text actives login_input" %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "off",class: "validate" %>
                </div>
                <div class="input-field col s12 error-log">
                  <%= f.label :password_confirmation, "Confirm new password",class: "theme-text actives login_input" %>
                  <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "validate"%>
                </div>
                <div>
                  <button type="submit" class="btn-floating btn-large waves-effect waves-light theme-bg posi"><i class=" large material-icons">navigate_next</i></button>
                </div>
                <div class="col s12 form_footer">
                  <div class="term_reset">
                    <span>New here? <%= link_to "Register here", new_registration_path(resource_name) %></span>
                  </div>
                  <span>Already Registered?<%= link_to "Login here", new_session_path(resource_name) %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>



<!-- <h2>Change your password</h2>

<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%#= devise_error_messages! %>
  <%#= f.hidden_field :reset_password_token %>

  <div class="field">
    <%#= f.label :password, "New password" %><br />
    <%# if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <%# end %>
    <%#= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation, "Confirm new password" %><br />
    <%#= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%#= f.submit "Change my password" %>
  </div>
<%# end %>

<%#= render "customers/shared/links" %>
 -->