<style>
  .notice,.alert{
    display:none;
  }
</style>
<main>
  <div class="section no-pad-bot main-page" id="home">
    <div class="container" style="overflow: visible;">
      <h1 class="header center"><img src="/assets/customer/transport-logo.png" alt="transport"></h1>
      <div class="row">
        <div class="col m8 offset-m2 l6 offset-l3 s12 center-form-box">
          <div class="login_title_wrap">
            <div>Reset Your Password</div>
          </div>
          <div class="home-from login_form clearfix col s12">
            <%= form_for(resource, as: resource_name,id: "resetForm", url: password_path(resource_name), html: { method: :post }) do |f| %>
            	<div>
                <div class="row">
                  <div class="col s12">
                  <% if resource.errors.any? %>
                    <div class="card-panel theme-bg">
                      <%= devise_error_messages! %>
                    </div>
                  <% end %>
                  </div>
                </div>
                <div class="input-field col s12 error-log">
                	<%= f.label :email,placeholder: "Enter Email",class: "theme-text actives login_input" %>
                	<%= f.email_field :email, autofocus: true,class: "validate"%>
                </div>
                <div class="login_button">
                  <button type="submit" class="btn-floating btn-large waves-effect waves-light theme-bg posi"><i class=" large material-icons">navigate_next</i></button>
              	</div>
                <div class="col s12 reset-btn">
                	<%= f.submit "Password Reset Link",class: "waves-effect waves-light btn theme-bg buton"%>
                </div>
                <div class="col s12 show-moblie">
                  <button type="submit" class="btn-floating btn-large waves-effect waves-light theme-bg"><i class=" large material-icons">navigate_next</i></button>
                </div>
                <div class="col s12 form_footer">
                  <div class="term_reset">
                  	<span>New here? <%= link_to "Register here", new_registration_path(resource_name) %></span>
                  </div>
                </div>
            	</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div>
  <%= render 'shared/default_footer' %>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#resetForm").validate({
        rules: {
            email: "required"
        },
        //For custom messages
        messages: {
            email: "Please enter valid email",
        },
        errorElement: 'div',
        errorPlacement: function(error, element) {
            var placement = $(element).data('error');
            if (placement) {
                $(placement).append(error)
            } else {
                error.insertAfter(element);
            }
        }
    });
  });
</script>

<!-- <h2>Forgot your password?</h2>

<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%#= f.submit "Send me reset password instructions" %>
  </div>
<%# end %>

<%#= render "customers/shared/links" %>
 -->