<div class="modal-content">
  <div class="col s12 ">
    <div class="detail-box p-none">
      <!-- <div class="row theme-bg model-head-bar" style="font-size: 0.85rem;">
        <div class="col s12 white-text"><strong>QUOTE PRICE</strong></div>
      </div> -->
      <!-- <div class="row modal-body">
      	<div class="col s12 m12 l6 modal-left-body" style="background-color: #f4f4f4;">
          <%#= render 'load_detail', load: @load %>
        </div> -->
        <!-- <div class="col s12 m12 l6 modal-right-body"> -->
          <%= render 'form', quote: @quote, load: @load do |f, args| %>
            <% if args[:button] == "submit" %>
              <div class="row">
                <div class="col s6">
                  <!-- <button type="submit" id="update" class="waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align" style="width:100%;" name="commit">UPDATE QUOTE</button> -->
                  <%= f.submit "Update Quote", id: "update", class: "waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align", style: "width:100%;" %>
                </div>
                <div class="col s6">
                	<%= link_to "Cancel", :back,id: "cancel",class: "grey-text  p-none center-align", style: "width:100%;" %>
                  <!-- <a href="#" id="cancel" class="grey-text  p-none center-align" style="width:100%;">CANCEL</a> -->
                </div>
            	</div>
            <% end %>
          <% end %>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
	$('#cancel').on('click',function(e){
    $('#modal-second').closeModal();
    e.preventDefault();
  });
});
</script>
<%#= render 'load', load: @load %>
<%#= render 'form', quote: @quote, load: @load do |f| %>
	<%#= f.submit "Update Quote" %>
	<%#= link_to "Cancel", transporters_quote_path %>
<%# end %>