<%= form_for [:transporters, @quote] do |f| %>
  <div class="row theme-bg model-head-bar" style="font-size: 0.85rem;">
    <div class="col s6 white-text"><strong>QUOTE PRICE</strong></div>
    <%= yield f, button: "draft" %>
  </div>
  <div class="row modal-body">
    <div class="col s12 m12 l6 modal-left-body" style="background-color: #f4f4f4;">
      <%= render 'load_detail', load: @load %>
    </div>
    <div class="col s12 m12 l6 modal-right-body">
      <%= f.hidden_field :load_id, value: @load.id %>
      <div class="row">
        <p class="black-text m-none"><strong>Offer your loading date:</strong></p>
      </div>
      <div class="row">
        <p class="grey-text"><%#= f.select :offered_date, options_for_select( offered_date_for(@load) ) %></p>
        <div id="date_radio" class="row m-none">
          <div>
            <% date = @quote.offered_date.try(:strftime, "%e") %>
            <% offered_date_for(@load).each do |d| %>
                <%= f.radio_button :offered_date, d, id: "radiodate1", class: "validate",:checked => (date.to_i == d[0]) ?  true : false %>
                <%= f.label d[0],class: "offer_date", id:"offerdate", data: {value: d } %>
              <% end %>
          </div>
           <p id="dateerror" class="date_error col s12"></p>
        </div>
        <div class="row">
          <div class="">
            <p class="black-text"><strong>Truck Type:</strong></p>
            <div class="filter custom-filter-tab">
              <ul class="tabs truck-load-tabs" style="width: 100%;">
                <% @vehicle_load_types.each_with_index do |vehicle_load_type, index| %>
                  <li class="tab col s3"><a class="<%= f.object.offered_vehicle_load_type_id == vehicle_load_type.id ? 'active' : !f.object.offered_vehicle_load_type_id.present? && index == 0 ? 'active' : '' %>" data="<%= vehicle_load_type.id %>" id="load"><%= vehicle_load_type.name %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <%= f.hidden_field :offered_vehicle_load_type_id, :value => f.object.offered_vehicle_load_type_id.presence || VehicleType.first.id ,id: 'vehicle_load'%>
        <div class="row">
          <div id="" class="" style="display: block;">
            <div class="row" style="margin-bottom: 5px;">
              <div class="col s3 p-l-none">
                Truck type
              </div>
              <div class="col s9 p-r-none">
                <div class="input-field center-align">
                 	<%= f.select :offered_vehicle_type_id, VehicleType.all.collect { |vt| [vt.name, vt.id] },{ prompt: "Please select vehicle type" },{required: true} %>
                </div>
                <p id="error" class="tmp_error col s12"> error here</p>
              </div>
            </div>
            <div class="row m-b-none">
              <div class="col s3 p-l-none">
                Quantity
              </div>
              <div class="col s9 p-r-none">
                <div class="input-field center-align input-valid">
                	<%= f.number_field :offered_vehicle_quantity, required: true,class: "validate from-input", id: "quantity" %>
                </div>
              </div>
            </div>
            <div class="row m-b-none">
              <div class="col s3 p-l-none">
                <p class="black-text">Price Quote:</p>
              </div>
              <div class="col s9 p-r-none">
                <div class="input-field center-align input-valid">
                 	<%= f.number_field :offered_price, required: true,class: "validate from-input", id: "pricequote", step: 'any' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= yield f, button: "submit" %>
  </div>
    <%#= yield f, button: "discard" %>
<% end %>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<script>
$(document).ready(function() {
  // $("form").submit(function(e){
  //   return false
  //   e.preventDefault()
  // })
    $('select').material_select();
    $(document).on('change', "#quote_offered_vehicle_type_id", function(){
      $(this).valid()
    })
    // $(document).on('click', ".offer_date", function(){
    //   console.log($(this).prev())
    //   // $(this).prev().valid()
    // })

    // $(".tab").on('click', function (e) {
    //     var num = $(this).find("#load").attr('data')
    //     console.log($("#load").attr('data'))
    //     document.getElementById('vehicle_load').value = num;
    // });
    var selected_date = "<%= @quote.offered_date %>"
    console.log(selected_date)
});
// $('.datepicker').pickadate({
//     selectMonths: true, // Creates a dropdown to control month
//     selectYears: 15 // Creates a dropdown of 15 years to control year
// });
// $(".validate:input[type=radio]").on('change', function(){
//   console.log("changed")
//   // $(this).prev().attr('checked','checked');
// })
$('.offer_date').on('click',function(){
  $(this).prev().prop('checked', true)
  $(".validate:input[type=radio]").valid()
});
</script>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<%#= form_for [:transporters, @quote] do |f| %>
	<%#= f.hidden_field :load_id, value: @load.id %>
	<!-- Offer your loading date :
	<%#= f.select :offered_date, options_for_select( offered_date_for(@load) ) %><br>
	Vehicle load type :
	<%#= f.select :offered_vehicle_load_type_id, VehicleLoadType.all.collect { |vlt| [vlt.name, vlt.id] } %><br>
	Vehicle type :
	<%#= f.select :offered_vehicle_type_id, VehicleType.all.collect { |vt| [vt.name, vt.id] },{ prompt: "Please select vehicle type" },{required: true} %><br>
	Vehicle Quantity :
	<%#= f.number_field :offered_vehicle_quantity, required: true %><br>
	Price Quote :
	<%#= f.text_field :offered_price, required: true %><br>
	<br> -->
	<%#= yield f %>
<%# end %>
<script type="text/javascript">
// $.validator.setDefaults({
// });
$("#new_quote").validate({
    ignore: [],
    rules: {
    "quote[offered_date]": {
      required: function(){
        return $('[name="quote[offered_date]"]:checked').length === 0
      }
    },
    "quote[offered_vehicle_quantity]": {
        number: true
    }
  },
    //For custom messages
    messages: {
        "quote[offered_date]": {
          required: "Select date"
        },
        "quote[offered_vehicle_type_id]": {
          required: "Select truck type"
        },
        "quote[offered_vehicle_quantity]": {
          required: "Enter a numeric quantity",
          number: "Enter valid numeric quantity"
        },
        "quote[offered_price]": {
          required: "Enter valid price"
        }
    },
    errorElement : 'div',
    errorPlacement: function(error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        if (element.attr("name") == "quote[offered_date]") {
          $("#dateerror").html(error);
        }
        else{
          error.insertAfter(element);
        }
      }
    }
 });
</script>