<div class="col m12 s12 l6 flex-display remove-lft-margin">
  <div class="detail-box custom-box-wrap">
    <%= link_to !quoted_load?(load, @quotes) ? new_transporters_quote_path(load_id: load.id) : load_quote(load, @quotes).try(:drafted?) ? draft_transporters_quote_path(load_quote(load, @quotes).id) : transporters_quote_path(load_quote(load, @quotes).id) ,remote: true do %>
      <div class="row" style="font-size: 0.85rem;">
        <div class="col s6 theme-text"><strong>Load ID:</strong><%= load.load_docket_id %></div>
        <div class="col s6 right-align"><strong>Loading Date:</strong><%= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %></div>
      </div>
      <div class="row">
        <div class="address">
          <div class="col s6 m9">
            <div class="col s1 center-align icons" style="padding: 5px;">
              <span class="first green"></span>
              <span class="mid">.</span>
              <span class="mid">.</span>
              <span class="mid">.</span>
              <span class="mid">.</span>
              <span class="first red"></span>
            </div>
            <div class="col s10 grey-text">
              <%= load.from_address %>
              <br><br>
              <%= load.to_address %>
            </div>
          </div>
          <div class="col s6 m3 center-align">
            <div class="detail-box-1 text-right">
              <img src="/assets/transporter/way.png" alt="way">
              <br>
              <%= load.trip_distance %> KM
            </div>
          </div>
        </div>
      </div>
      <div class="row detail-box-2 detail-wrap b-none">
        <div class="col s6 mobile-full-width">
          <h6>LOAD TYPE</h6>
          <p><%= load.load_type.name %></p>
          <p><small>Posted on <%= load.posted_on %></small></p>
          <p>Detail</p>
          <p><img src="/assets/transporter/wight-grey.png" alt="wight" class="img"> <%= load.weight["value"] + load.weight["unit"] %> <% unless load.volume["value"].blank? %> <%= load.volume["value"] + load.volume["unit"] %> <% end %><% unless load.dimension["length"].blank? && load.dimension["height"].blank? && load.dimension["dept"] .blank? %> <%= load.dimension["length"] + "x" + load.dimension["height"] + "x" + load.dimension["dept"] + load.dimension["unit"] %><% end %></p>
        </div>
        <div class="col s6 mobile-full-width">
          <h6>TRUCK TYPE</h6>
          <p><%= load.vehicle_load_type.name %> <%= load.vehicle_type.name %></p>
          <p>Detail</p>
          <p><%= load.vehicle_quantity %> <img src="/assets/transporter/big-truck2.png" alt="truck" class="img"></p>
        </div>
      </div>
      <!-- <div class="row margn-b-o del-edt-quo custom-actions p-l-none push-bottom">
          <div class="col s2" >
              <a href="#" class="theme-text">
                  <i class="fa fa-thumb-tack custom-fa-icon active" aria-hidden="true"></i>
              </a>
          </div>
          <div class="col s10 text-right right-align">
              <a href="#" class="theme-text"> EDIT</a>
              <a href="#modal-quotes" class="theme-text modal-trigger" style="margin-left: 20px;"><strong>QUOTE NOW</strong></a>
          </div>
      </div>  -->

      <div class="row margn-b-o del-edt-quo custom-actions p-l-none">
        <hr style="height:2px;border:none;color:#333;background-color:#333;">
        <% if params[:action] == "index" %>
         <div class="col s2" >
            <% if can? :favorite, load %>
              <%= form_tag transporters_add_to_favorite_path(load), { id: "add_to_favorite"}  do %>
              <%#= check_box "load", "pin", checked: load.transporters.include?(current_transporter),title: "Pin this load", onclick: "$(this).parents('form').submit()" %>
                <%= link_to "", checked: load.transporters.include?(current_transporter),onclick: "$(this).parents('form').submit()" do %>
                  <i class="fa fa-thumb-tack custom-fa-icon pin_favorite <%= load.favorite_loads.present? ? "active" : "" %>" aria-hidden="true"></i>
                <% end %>
            <% end %>
            <% else %>
              <%= load.load_status %>
              <%= link_to_if load.in_transit?, "TRACK SHIPMENT", transporters_in_transit_path(load) do;end %>
              <%= link_to_if load.confirmed?, "Dispatch", transporters_ready_to_dispatch_load_path(load) do; end %>
            <% end %>
          </div>
          <div class="col s10 text-right right-align">
            <% if load_quote(load, @quotes).try(:drafted?) %>
              <%= link_to draft_transporters_quote_path(load_quote(load, @quotes).id),remote: true,class: "theme-text modal-trigger" do %>
                Drafted with price <%= load_quote(load, @quotes).offered_price %>
              <% end %>
            <% elsif load_quote(load, @quotes).try(:submitted?) %>
              <span class="grey-text"> QUOTED PRICE</span>
              <span class="theme-text" style="margin-right: 30px;"><strong>  <%= load_quote(load, @quotes).offered_price %></strong></span>
              <%= link_to transporters_quote_path(load_quote(load, @quotes).id),remote: true,class: "theme-text modal-trigger" do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
            <% end %>
            <%= link_to_if !quoted_load?(load, @quotes), "Quote Now", new_transporters_quote_path(load_id: load.id), class: "theme-text modal-trigger", title: "Quote Now",remote: true do; end %>
          </div>
        <% elsif params[:action] == "show" %>
          <%= link_to "Edit", edit_transporters_quote_path(quote.id) %>
          <%= link_to "Withdraw Quote", transporters_quote_path(quote), method: :delete, data: { confirm: "Are you sure ?" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<!-- </div> -->

