<div class="row">
    <p class="black-text m-none"><strong>Load ID:</strong> <%= load.load_docket_id %></p>
</div>
<div class="row address">
    <div class="col s4">
        <div class="col s1 center-align icons" style="padding: 5px;">
            <span class="first green"></span>
        </div>
        <div class="col s10">
            <p class="grey-text"><%= load.from_address %></p>
            <!-- <p class="grey-text"><small>110066</small></p> -->
        </div>
    </div>
    <div class="col s4 ">
        <div class="col s1 center-align icons" style="padding: 5px;">
            <span class="first red"></span>
        </div>
        <div class="col s10">
            <p class="grey-text"><%= load.to_address %></p>
            <!-- <p class="grey-text"><small>110066</small></p> -->
        </div>
    </div>
    <div class="col s4 center-align grey-text distance" style="border-left: 1px solid #ddd; ">
        <%= load.trip_distance %> km
    </div>
</div>
<div class="row">
    <p class="black-text"><strong>Preffered loading date</strong></p>
    <p class=""><%= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %></p>
</div>
<div class="row">
    <p class="black-text"><strong>Loading Details</strong></p>
    <p class="m-none"><%= load.load_type.name %></p>
    <p class="grey-text"><small>posted on <%= load.posted_on %></small></p>
    <p>Details</p>
    <p><img src="/assets/transporter/wight-grey.png" alt="wight" class="img" style="vertical-align: top;"> <%= load.weight["value"] + load.weight["unit"] %> <%= load.volume["value"] + load.volume["unit"] %> <%= load.dimension["length"] + load.dimension["height"] + load.dimension["dept"] + load.dimension["unit"] %></p>
</div>
<div class="row">
    <p class="black-text"><strong>Truck Type Requirement</strong></p>
    <p class=" m-none"><%= load.vehicle_load_type.name %> <%= load.vehicle_type.name %></p>
    <p>Details</p>
</div>
