Load ID : <%= load.load_docket_id %><br>
Loading Date : <%= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %><br>
From Address : <%= load.from_address %><br>
Destination Address : <%= load.to_address %><br>
Load Type : <%= load.load_type.name %><br>
Load details : <br>
- weight : <%= load.weight["value"] + load.weight["unit"] %><br>
- Volume : <%= load.volume["value"] + load.volume["unit"] %><br>
- Dimension : <%= load.dimension["length"] + load.dimension["height"] + load.dimension["dept"] + load.dimension["unit"] %><br>
Vehicle Details : <br>
- Vehicle load type : <%= load.vehicle_load_type.name %><br>
- Vehicle type : <%= load.vehicle_type.name %><br>
- Vehicle Quantity : <%= load.vehicle_quantity %><br>
- Strict Date : <%= load.strict_date %><br>
Comment : <%= load.commentable %><br>
Trip Distance : <%= load.trip_distance %><br>
<hr>

<% if params[:action] == "index" %>
	<% if can? :favorite, load %>
		<%= form_tag transporters_add_to_favorite_path(load), {remote: true, id: "add_to_favorite"}  do %>
			<%= check_box "load", "pin", checked: load.transporters.include?(current_transporter),title: "Pin this load", onclick: "$(this).parents('form').submit()" %>
		<% end %>
	<% else %>
			<%= load.load_status %>
		<%= link_to_if load.in_transit?, "TRACK SHIPMENT", transporters_in_transit_path(load) do;end %>
		<%= link_to_if load.confirmed?, "Dispatch", transporters_ready_to_dispatch_load_path(load) do; end %>
	<% end %>
	<% if load_quote(load, @quotes).try(:drafted?) %>
		<%= link_to draft_transporters_quote_path(load_quote(load, @quotes).id) do %>
			Drafted with price <%= load_quote(load, @quotes).offered_price %>
		<% end %>
	<% elsif load_quote(load, @quotes).try(:submitted?) %>
		<%= link_to transporters_quote_path(load_quote(load, @quotes).id) do %>
			Quoted Price <%= load_quote(load, @quotes).offered_price %>
		<% end %>
	<% end %>
	<%= link_to_if !quoted_load?(load, @quotes), "Quote Now", new_transporters_quote_path(load_id: load.id), class: "action-link", title: "Cancel Load" do; end %>
	<hr style="height:2px;border:none;color:#333;background-color:#333;">
<% elsif params[:action] == "show" %>
	<%= link_to "Edit", edit_transporters_quote_path(quote.id) %>
	<%= link_to "Withdraw Quote", transporters_quote_path(quote), method: :delete, data: { confirm: "Are you sure ?" } %>
<% end %>