<style>
  .notice,.alert{
    display:none;
  }
</style>
<div id="my-order" class="main-page">
    <%=  render 'shared/transporter_quote_header' %>
    <div id="test1" class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s12 search-bar custom-table-view">
                    <div class="col l1 m1 s2 center-align theme-bg search"><i class="material-icons white-text">search</i>
                    </div>
                    <input type="text" class="col l6 m5 s10" placeholder="Search via Load ID, Date, or, Destination">
                    <div class="col l4 m5 s12 center-align tab-contain">
                        <div class="filter custom-filter-tab ">
                            <ul class="tabs transport-tabs">
                                <li class="tab col s3"><a href="#all" class="">All</a></li>
                                <li class="tab col s3"><a href="#quated" class="" >QUOTED</a></li>
                                <li class="tab col s3"><a href="#pinned" class="" >PINNED</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l1 m1 s12 center-align tab-contain-view">
                        <ul class="tabs view custom-tabs">
                            <li class="tab custom-tab-icon"><a class="material-icons size" href="#grid-view">view_module</a><a class="material-icons size" href="#table-view">view_list</a></li>
                        </ul>
                    </div>
                </div>
                <!-- grid view  starts -->
                <div id="grid-view" class="col s12">
                    <h5 class="custom-table-view">October 2016</h5>
                    <div class="custom-table-view">
                        <% @cnt = 0 %>
                        <% @loads.each_with_index do |load, index| %>
                            <% if index%2 == 0 %>
                                <% @cnt = 0 %>
                                <div class="row flex-display">
                            <% end %>
                            <% @cnt += 1 %>
                            <%= render partial: 'grid_view', locals: {load: load} %>
                            <% if @cnt%2 == 0 %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <!-- table view start -->
                <div id="table-view" class="col s12">
                    <div class="col s12 table-view grey-text custom-table-view" style="background: #fff;">
                        <table class="striped centered responsive-table theme-bg custom-table">
                            <thead>
                                <tr class="theme-bg white-text">
                                    <th>LOAD ID</th>
                                    <th>FROM</th>
                                    <th>TO</th>
                                    <th><i class="material-icons white-text">directions</i></th>
                                    <th>LOAD TYPE</th>
                                    <th><img src="/assets/transporter/tehen-wight.png" alt="wight"></th>
                                    <th><i class="material-icons white-text">event</i></th>
                                    <th>TRUCK TYPE</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                                <%= render partial: 'table_view', collection: @loads, as: "load" %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
