<div class="modal-content">
  <div class="col s12 ">
    <div class="detail-box p-none">
      <%= render 'form', quote: @quote, load: @load do |f, args| %>
      <%#= form_for [:transporters, @quote] do |f| %>
        <!-- <div class="row theme-bg model-head-bar" style="font-size: 0.85rem;">
          <div class="col s6 white-text"><strong>QUOTE PRICE</strong></div> -->
          <% if args[:button] == "draft" %>
            <div class="col s6 right-align">
            <%= link_to_unless @quote.new_record?, "Discard", !@quote.new_record? ? transporters_quote_path(@quote) : '', method: :delete, data: { confirm: "Are you sure ?" }, id: "discard", class: "grey-text" %>&nbsp;&nbsp;
              <%= f.submit "Save as Draft", class: "grey-text", name: "draft", formnovalidate: true %>
              <!-- <a href="#" class="white-text">Save as draft</a> -->
            </div>
          <% end %>
        <!-- </div> -->
        <!-- <div class="row modal-body"> -->
          <!-- <div class="col s12 m12 l6 modal-left-body" style="background-color: #f4f4f4;">
            <%#= render 'load_detail', load: @load %>
          </div> -->
          <!-- <div class="col s12 m12 l6 modal-right-body"> -->
            <%#= f.hidden_field :load_id, value: @load.id %>
            <!-- <div class="row">
              <p class="black-text m-none"><strong>Offer your loading date:</strong></p>
            </div> -->
            <!-- <div class="row">
              <p class="grey-text"></p>
                <div id="date_radio" class="row m-none">
                  <div>
                    <%# offered_date_for(@load).each do |d| %>
                      <%#= f.radio_button :offered_date, d, id: "radiodate1", class: "validate" %>
                      <%#= f.label d[0],class: "offer_date", id:"offerdate", data: {value: d } %>
                    <%# end %>
                  </div>
                </div> -->
                <!-- <p id="dateerror" class="date_error col s12"> error here</p> -->
            <!-- </div>
            <div class="row">
              <div class="">
                <p class="black-text"><strong>Truck Type:</strong></p>
                <div class="filter custom-filter-tab">
                  <ul class="tabs truck-load-tabs" style="width: 100%;">
                    <%# @vehicle_load_types.each_with_index do |vehicle_load_type, index| %>
                      <li class="tab col s3 vehicle_load_tab"><a class="<%#= index == 0 ? 'active' : '' %>" data="<%#= vehicle_load_type.id %>" id="load"><%#= vehicle_load_type.name %></a></li>
                    <%# end %>
                  </ul>
                </div>
              </div>
            </div>
            <%#= f.hidden_field :offered_vehicle_load_type_id, :value => f.object.offered_vehicle_load_type_id.presence || VehicleType.first.id ,id: 'vehicle_load'%>
            <div class="row">
              <div id="" class="" style="display: block;">
                <div class="row" style="margin-bottom: 5px;">
                  <div class="col s3 p-l-none">
                    Truck type
                  </div>
                  <div class="col s9 p-r-none">
                    <div class="input-field center-align">
                      <%#= f.select :offered_vehicle_type_id, VehicleType.all.collect { |vt| [vt.name, vt.id] }, { prompt: "Please select vehicle type" },{:class => "offered_vehicle_type",required: true} %>
                    </div>
                    <div style="color: rgb(204, 0, 0)"><%#= show_errors(@quote, :offered_vehicle_type_id) %></div>
                    <p id="error" class="tmp_error vehicle_type col s12"> error here</p>
                  </div>
                </div>
                <div class="row m-b-none">
                  <div class="col s3 p-l-none">
                    Quantity
                  </div>
                  <div class="col s9 p-r-none">
                    <div class="input-field center-align input-valid">
                      <%#= f.number_field :offered_vehicle_quantity,class: "validate from-input", id: "quantity" %>
                    </div>
                     <p id="error" class="tmp_error col s12"> error here</p>
                  </div>
                </div>
                <div class="row m-b-none">
                  <div class="col s3 p-l-none">
                    <p class="black-text">Price Quote:</p>
                  </div>
                  <div class="col s9 p-r-none">
                    <div class="input-field center-align input-valid">
                      <%#= f.text_field :offered_price,class: "validate from-input", id: "pricequote" %>
                    </div>
                     <p id="error" class="tmp_error col s12"> error here</p>
                  </div>
                </div>
              </div>
            </div>-->
            <% if args[:button] == "submit" %>
              <div class="row">
                <div class="col s6">
                  <!-- <button type="submit" class="waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align" style="width:100%;">SUBMIT QUOTE</button> -->
                  <%= f.submit "SUBMIT QUOTE", class: "waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align", style: "width:100%;" %>
                </div>
              </div>
            <% end %>
          <!-- </div>
        </div> -->
      <% end %>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    // $('select').material_select();

    // $(".tab").on('click', function (e) {
    //     var num = $(this).find("#load").attr('data')
    //     console.log($("#load").attr('data'))
    //     document.getElementById('vehicle_load').value = num;
    // });
  //   $("#new_quote").validate({
  //   rules: {
  //     "quote[offered_vehicle_type_id]" : "required",
  //     "quote[offered_vehicle_quantity]" : "required",
  //     "quote[offered_price]" : "required"
  //   },
  //   //For custom messages
  //   messages: {
  //     // "quote[offered_vehicle_type_id]": "Please select valid vehicle type",
  //     "quote[offered_vehicle_quantity]": "Please enter valid vehicle quantity",
  //     "quote[offered_price]": "Please enter valid quote price"
  //   },
  //   errorElement: 'div',
  //   errorPlacement: function(error, element) {
  //     var placement = $(element).data('error');
  //     if (placement) {
  //         $(placement).append(error)
  //     } else {
  //         error.insertAfter(element);
  //     }
  //   }
  // });
});
// $('.datepicker').pickadate({
//     selectMonths: true, // Creates a dropdown to control month
//     selectYears: 15 // Creates a dropdown of 15 years to control year
// });
 // var tmp_cntrl = 0;
 //  $('[type = "submit"]').click(function(event) {
 //      //$('#error').show();
 //    $('input.select-dropdown').each(function(index, el) {
 //      tmp_cntrl = index;
 //      if($(this).hasClass('valid') == false)
 //      {
 //        if($(this).parent().find('.tmp_error').length == 1)
 //        {
 //        }
 //        else
 //        {
 //                    //$('<h2 class="tmp_error">Please Select Option </h2>').insertAfter($(this));
 //          $('p.vehicle_type').text("Please Select Option");
 //          $('p.vehicle_type').css({
 //              'color' : '#f00',
 //              'opacity' : '1'
 //          });
 //        }
 //      }
 //      else{
 //          $('p.vehicle_type').text("error here");
 //          $('p.vehicle_type').css({
 //                  'opacity' : '0'
 //              });
 //          //$(this).parent().find('.tmp_error').remove();
 //      }
 //    });
 //    if ($('.valid').length < tmp_cntrl) {
 //        return false;
 //    } else {
 //        return true;
 //    }
 //  });
// $('.offer_date').on('click',function(){
//   var date_value = $(this).data('value');
//   $(this).prev().attr('checked','checked');
//   $(this).find('.validate').value = date_value
// });
</script>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>

<%#= render 'load', load: @load %>
<%#= render 'form', quote: @quote, load: @load do |f| %>
  <%#= f.submit "Submit Quote" %>
  <%#= f.submit "Save as Draft", name: "draft" %>
  <%#= link_to "Discard", @quote.new_record? ? "" : transporters_quote_path(@quote), method: :delete, data: { confirm: "Are you sure ?" } %>
<%# end %>