Load ID : <%= order.load.load_docket_id %><br>
Loading Date : <%= order.load.loading_date.strftime("#{order.load.loading_date.day.ordinalize} %b, %Y") %><br>
From Address : <%= order.load.from_address %><br>
Destination Address : <%= order.load.to_address %><br>
Load Type : <%= order.load.load_type.name %><br>
Load details : <br>
- weight : <%= order.load.weight["value"] + order.load.weight["unit"] %><br>
- Volume : <%= order.load.volume["value"] + order.load.volume["unit"] %><br>
- Dimension : <%= order.load.dimension["length"] + order.load.dimension["height"] + order.load.dimension["dept"] + order.load.dimension["unit"] %><br>
Vehicle Details : <br>
- Vehicle load type : <%= order.load.vehicle_load_type.name %><br>
- Vehicle type : <%= order.load.vehicle_type.name %><br>
- Vehicle Quantity : <%= order.load.vehicle_quantity %><br>
- Strict Date : <%= order.load.strict_date %><br>
Comment : <%= order.load.commentable %><br>
Trip Distance : <%= order.load.trip_distance %><br>
<hr>

<%= order.status %>
<%= link_to_if order.completed?, "Payment Info", payment_info_transporters_order_path(order) do;end %>
<%= link_to_if order.in_transit?, "TRACK SHIPMENT", transporters_in_transit_path(order.load) do;end %>
<%= link_to_if order.confirmed?, "Dispatch", transporters_ready_to_dispatch_load_path(order.load) do; end %>
<hr style="height:2px;border:none;color:#333;background-color:#333;">