<div class="row theme-bg model-head-bar" style="font-size: 0.85rem;">
    <div class="col s12 white-text"><strong>QUOTE PRICE</strong></div>
</div>
<div class="row modal-body">
    <div class="col s12 m12 l6 modal-left-body" style="background-color: #f4f4f4;">
        <%= render 'load_detail', load: load %>
    </div>
    <div class="col s12 m12 l6 modal-right-body" >
        <div class="row">
            <p class="black-text m-none"><strong>Offered loading date:</strong></p>
        </div>
        <div class="row">
            <p class=""><%= quote.offered_date.strftime("#{quote.offered_date.day.ordinalize} %b, %Y") %></p>
        </div>
        <div class="row">
            <p class="black-text"><strong>Truck Type:</strong></p>
        </div>
        <div class="row">
            <p class=""><%= quote.vehicle_type.name %></p>
        </div>

        <div class="row">
            <p class="black-text"><strong>Quantity:</strong></p>
        </div>
        <div class="row">
            <p class=""><%= quote.offered_vehicle_quantity %> <%= quote.vehicle_load_type.name %></p>
        </div>

        <div class="row">
            <p class="black-text"><strong>Price Quote:</strong></p>
        </div>
        <div class="row">
            <p class="theme-text"><strong><%= quote.offered_price %></strong></p>
        </div>
        <div class="row push-bottom-btns">
            <div class="col s5">
                <%= link_to "Edit", edit_transporters_quote_path(quote.id),class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align modal-trigger",remote: true %>
                <!-- <button type="" href="#modal_update" class="waves-effect waves-light btn-flat theme-bg white-text butons center-align modal-trigger">EDIT</button> -->
            </div>
            <div class="col s7">
                <%= link_to "Withdraw Quote", transporters_quote_path(quote), method: :delete, data: { confirm: "Are you sure ?" },class: "grey-text center-align",style: "width:100%;" %>
                <!-- <a href="#" class="grey-text center-align" style="width:100%;">WITHDRAW QUOTE</a> -->
            </div>
        </div>
    </div>
</div>