<tr>
	<td class="theme-text"><%= load.load_docket_id %></a></td>
    <td><%= load.from_address %></td>
    <td><%= load.to_address %></td>
    <td><%= load.trip_distance %>KM</td>
    <td class="grey-text text-darken-2"><%= load.load_type.name %></td>
    <td><%= load.weight["value"] + load.weight["unit"] %></td>
    <td><%= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %></td>
    <td><%= load.vehicle_load_type.name %> <%= load.vehicle_type.name %></td>
    <td><%= link_to_if !quoted_load?(load, @quotes), "Quote Now", new_transporters_quote_path(load_id: load.id), class: "action-link quate modal-trigger", title: "Quote Now",remote: true do; end %>
        <% if load_quote(load, @quotes).try(:drafted?) %>
            <%= link_to draft_transporters_quote_path(load_quote(load, @quotes).id),remote: true,class: "quate active modal-trigger", style: "padding: 3px 22px;",id: "quate" do %>
                <%= load_quote(load, @quotes).offered_price %>
            <% end %>
        <% elsif load_quote(load, @quotes).try(:submitted?) %>
            <%= link_to transporters_quote_path(load_quote(load, @quotes).id),remote: true,class: "quate active modal-trigger", style: "padding: 3px 22px;",id: "quate" do %>
                <%= load_quote(load, @quotes).offered_price %><% end %></td>
            <td></td>
            <td><%= link_to transporters_quote_path(load_quote(load, @quotes).id),remote: true,class: "theme-text modal-trigger" do %>
                <i class="fa fa-pencil" aria-hidden="true"></i></td>
            <% end %>
        <% end %>
    <td colspan="3"><% if can? :favorite, load %>
        <%= form_tag transporters_add_to_favorite_path(load), { id: "add_to_favorite"}  do %>
            <%= link_to "", checked: load.transporters.include?(current_transporter),onclick: "$(this).parents('form').submit()" do %>
            <i class="fa fa-thumb-tack custom-fa-icon pin_favorite <%= load.favorite_loads.present? ? "active" : "" %>" aria-hidden="true"></i>
          <% end %>
      <% end %>
      <% end %></td>
</tr>
