<!-- breadcrumb-->
<!-- <div class="row page-title-row custom-page-title-row">
  <div class="col-xs-12 breadcrums-wrapper">
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Fees Type</li>
    </ol>
  </div>
</div> -->

<!-- Page title -->
<div class="row">
  <div class=" col-xs-12 col-sm-12">
    <div class="page_title view-page-title">
        <h2 class="mt-10"><%= yield(:title) %></h2>
    </div>
  </div>
</div>
