<ul class="sidebar_wrap navbar navbar-inverse navbar-fixed-top col-xs-12" id="sidebar-wrapper" role="navigation">
  <li class="active col-xs-12 ">
    <a href="<%= authenticated_admin_root_path %>" class="active_nav main-link" title="Dashboard">
      <span><i class="fa fa-tachometer"></i><span>Dashboard</span></span>
    </a>
  </li>

  <li class="col-xs-12">
    <%= link_to sub_admins_path, class: 'main-link col-xs-12', title:'Customer' do %>
      <span><i class="fa fa-users"></i><span>Sub Admin</span></span>
    <% end %>
  </li>

  <li class="col-xs-12">
    <%= link_to admins_customers_path, class: 'main-link col-xs-12', title:'Customer' do %>
      <span><i class="fa fa-users"></i><span>Customers</span></span>
    <% end %>
  </li>

  <li class="col-xs-12">
    <%= link_to admins_transporters_path, class: 'main-link col-xs-12', title: 'Transporter' do%>
      Transporters
      <!-- <span><i class="fa fa-graduation-cap"></i><span>Transporter</span></span> -->
    <% end %>
  </li>

  <li class="col-xs-12">
    <%= link_to admins_payment_plans_path, class: 'main-link col-xs-12', title: 'Transporter' do%>
       <span><i class="fa fa-money" aria-hidden="true"></i><span>Payments</span></span> 
    <% end %>
  </li>

  <li class="col-xs-12">
    <%= link_to admins_loads_path, class: 'main-link col-xs-12', title: 'Transporter' do%>
      Loads And Quotes
      <!-- <span><i class="fa fa-graduation-cap"></i><span>Transporter</span></span> -->
    <% end %>
  </li>

  <li class="col-xs-12">
    <%= link_to admins_load_types_path, class: 'main-link', title: 'Load Type' do%>
      LoadTypes
      <!-- <span><i class="fa fa-building"></i><span>LoadTypes</span></span> -->
    <% end %>
  </li>

  <li class="col-xs-12">
    <%= link_to admins_dimension_units_path, class: 'main-link', title: 'Dimention Unit' do%>
      Dimention Unit
      <!-- <span><i class="fa fa-leanpub"></i><span>Dimention Unit</span></span> -->
    <% end %>
  </li>

  <li class="col-xs-12">
    <%= link_to admins_volume_units_path, class: 'main-link', title: 'Volume Unit' do%>
      Volume Unit
      <!-- <span><i class="fa fa-book"></i><span>Volume Unit</span></span> -->
    <% end %>
  </li>

  <li class="col-xs-12">
    <%= link_to admins_weight_units_path, class: 'main-link', title: 'Weight Unit' do %>
      Weight Unit<!-- <span><i class="fa fa-money"></i><span>Weight Unit</span></span> -->
    <% end %>
  </li>

  <li class="col-xs-12">
    <%= link_to admins_vehicle_load_types_path, class: 'main-link', title: 'Vehicle Load Type' do %>
      Vehicle Load Type<!-- <span><i class="fa fa-money"></i><span>Vehicle Load Type</span></span> -->
    <% end %>
  </li>

  <li class="col-xs-12">
    <%= link_to admins_vehicle_types_path, class: 'main-link', title: 'Vehicle Type' do%>
      Vehicle Type<!-- <span><i class="fa fa-truck"></i><span>Vehicle Type</span></span> -->
    <% end %>
  </li>
  <li class="col-xs-12">
    <%= link_to admins_cities_path, class: 'main-link', title: 'City' do%>
      City<!-- <span><i class="fa fa-truck"></i><span>Vehicle Type</span></span> -->
    <% end %>
  </li>

  <!-- <li class="col-xs-12">
    <a href="id_types.html" class="main-link" title="IdentificationTypes">
      <span><i class="fa fa-file-text"></i><span>ID Types</span></span>
    </a>
  </li>

  <li class="col-xs-12">
    <a href="fees_type.html" class="main-link" title="FeesTypes">
      <span><i class="fa fa-credit-card"></i><span>Fees Types</span></span>
    </a>
  </li>
  <li class="col-xs-12">
    <a href="#" class="main-link" title="Reports">
      <span><i class="fa fa-list-alt"></i><span>Reports</span></span>
    </a>
  </li>
  <li class="col-xs-12">
    <a href="calendar_view.html" class="main-link" title="Calendar">
      <span><i class="fa fa-calendar"></i><span>Calendar</span></span>
    </a>
  </li> -->

</ul>