<div class="header_wrap navbar-fixed-top">
  <div class="menu_icon" class="hamburger is-closed" id="leftbtn">
      <i class="fa fa-bars"></i>
  </div>

  <div class="logo">
      <a href="<%= authenticated_admin_root_path %>"><img src="/assets/admin/trance-logo.png" alt=""></a>
  </div>
  <%= link_to web_notification_show_path(current_admin) do %>
    <span id="web_notification_bell">
      <i class="fa fa-bell">
        <div id="admin_web_notification_count">
          <%# if current_admin.web_notifications.count > 0 %>
            <%= render '/shared/admin_web_notification_bedge' %>
          <%# end %>
        </div>
      </i>
    </span>
  <% end %>
  <div class="my_account">
    <div class="btn-group account_wrap">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class=""><i class="fa fa-user"></i></span> <span class="u_name hidden-xs"> <%= current_admin.email %> </span><span class="caret"></span>
      </button>
      <ul class="dropdown-menu account_dropdown" role="menu">
        <!-- <li><a href="profile.html"><span><i class="fa fa-user"></i></span> My Profile</a></li> -->
        <li>
        <%= link_to destroy_admin_session_path, method: :delete do %>
        	<span><i class="fa fa-power-off"></i></span> Logout
        <% end %>
      </ul>
    </div>
  </div>

  <!-- <a class="icons-toggle-btn" title="More options"><i class="glyphicon glyphicon-chevron-down"></i></a>
  <div class="head-select">
    <select class="form-control custom-form-control" name="selectboxExample" id="selectboxExample">
      <option value=""> Select School</option>
      <option value=""> School One </option>
      <option value=""> School Two </option>
      <option value=""> School Three </option>
    </select>
  </div> -->
</div>
<!-- <%#= link_to "Sign out", destroy_admin_session_path, method: :delete %> |
<%#= link_to "All Customer", authenticated_admin_root_path%> |
<%#= link_to "Customer awaiting approval", authenticated_admin_root_path(:approved => "false") %> |
<%# if current_admin.kind_of?(Admin) %>
	<%#= link_to "Sub Admins", sub_admin_index_path %> |
<%# end %>
<%#= link_to "Weight Unit", admin_weight_units_path %> |
<%#= link_to "Dimention Unit", admin_dimention_units_path %> |
<%#= link_to "Volume Unit", admin_volume_units_path %> |
<%#= link_to "Load Type", admin_load_types_path %> |
<%#= link_to "Vehicle Type", admin_vehicle_types_path %> |
<%#= link_to "Vehicle Load Type", admin_vehicle_load_types_path %>
<%#= link_to "Payment Plan", admin_payment_plans_path %>
 -->