<!-- <head>
	<link rel="icon" href="/assets/customer/favicon.png" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body id="top"> -->
	<div id="corder1" class="navbar-fixed top-nav">
    <nav class="theme-bg" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo logo" style="display: block;"><img src="/assets/customer/logo.png" alt="Transport logo"></a>
        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to "Change password", change_password_customer_path(current_customer) %></li>
          <li><%= link_to "Profile", customer_path(current_customer) %></li>
          <li><%= link_to "Sign out", destroy_customer_session_path, method: :delete %></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="waves-effect waves-light" href="<%= web_notifications_customers_path %>">
              <img src="/assets/customer/bel-3.png" alt="load icon" style="position: relative;top:5px;">
              <div id="customer_web_notification_count">
                <% if current_customer.web_notifications.count > 0 %>
                  <%= render "/shared/customer_web_notification_bedge" %>
                <% end %>
              </div>
            </a>
          </li>
          <li><%= link_to "MY LOADS", authenticated_customer_root_path,class: "waves-effect waves-light" %></li>
          <li><a class="waves-effect waves-light" href="#">TRACK</a></li>
          <li><a class='dropdown-button' href='#' data-activates='dropdown1' style="padding-top: 1px;"><%= current_customer.email.present? ? current_customer.email : current_customer.ph_no %></a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
          <li><%= link_to "Change password", change_password_customer_path(current_customer) %></li>
          <li><%= link_to "Profile", customer_path(current_customer) %></li>
          <li><%= link_to "Sign out", destroy_customer_session_path, method: :delete %></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a class="waves-effect waves-light" href="#"><i class="large material-icons">person_pin</i></a></li>
          <li><%= link_to "MY LOADS", authenticated_customer_root_path,class: "waves-effect waves-light" %></li>
          <li><a class="waves-effect waves-light" href="#">TRACK</a></li>
          <li><a class='dropdown-button' href='#' data-activates='dropdown2'><%= current_customer.email.present? ? current_customer.email : current_customer.ph_no %></a></li>
         </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
<!-- </body> -->
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>

<!-- <%#= link_to "Sign out", destroy_customer_session_path, method: :delete %> | -->
<!-- <%#= link_to "Profile", customer_path(current_customer) %> | -->
<!-- <%#= link_to "Change password", change_password_customer_path(current_customer) %> | -->
<!-- Welcome, <%#= current_customer.email %> -->