<!-- <%#= link_to "LOADS POSTED", authenticated_customer_root_path %> | -->
<%#= link_to "ACTIVE", authenticated_customer_root_path(status: "active") %>
<!-- <%#= link_to "LOADS POSTED", authenticated_customer_root_path %> | -->
<!-- <%#= link_to "ACTIVE", authenticated_customer_root_path(status: "active") %> | -->
<%#= link_to "HISTORY", authenticated_customer_root_path(status: "processed") %>
