
        <div class="navbar-fixed top-nav">
            <nav class="theme-bg" role="navigation">
                <div class="nav-wrapper container">
                    <ul class="left hide-on-med-and-down links">
                        <li><a href="javascript:;"><img src="/assets/customer/logo.png" alt="Transport logo" alt="logo" style="width: 145px;margin-top: 7px;margin-bottom: -8px;"></a></li>
                        <li><a href="javascript:;"><i class="tiny material-icons left"><img src="/assets/customer/phone.png" alt="phone"></i> <small>(+91)</small> 78-78-50-50-50 </a></li>
                        <li><a href="javascript:;"><i class="tiny material-icons left"><img src="/assets/customer/massage.png" alt="massage"></i>hello@transport.co.in</a></li>
                    </ul>
                    <a id="logo-container" href="#" class="brand-logo logo"><img src="/assets/customer/logo.png" alt="Transport logo"></a>
                    <ul id="dropdown1" class="dropdown-content">
                      <li><%= link_to "CUSTOMER",new_customer_session_path,class: "theme-text" %></li>
                      <li><%= link_to "TRANSPORTER",new_transporter_session_path,class: "theme-text" %></li>
                      <!-- <a href="#!" class="theme-text">CUSTOMER</a></li> -->
                      <!-- <li><a href="#!" class="theme-text">TRANSPORTER</a></li> -->
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="waves-effect waves-light" href="#about">ABOUT US</a></li>
                        <li><a class="waves-effect waves-light" href="#why">WHY US</a></li>
                        <li><a class="waves-effect waves-light" href="#how-work">HOW IT WORK</a></li>
                        <li><a class="waves-effect waves-light" href="#contact">CONTACT US</a></li>
                        <li><a class='dropdown-button' href='#' data-activates='dropdown1' style="padding-top: 1px;">LOGIN</a></li>
                        <!--<li><a class="waves-effect waves-light modal-trigger" href="#modal1">LOGIN</a></li>-->
                    </ul>
                    <ul id="dropdown2" class="dropdown-content">
                      <li><a href="#!" class="theme-text">CUSTOMER</a></li>
                      <li><a href="#!" class="theme-text">TRANSPORTER</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a class="waves-effect waves-light" href="#about">ABOUT US</a></li>
                        <li><a class="waves-effect waves-light" href="#why">WHY US</a></li>
                        <li><a class="waves-effect waves-light" href="#how-work">HOW IT WORK</a></li>
                        <li><a class="waves-effect waves-light" href="#contact">CONTACT US</a></li>
                        <li><a class='dropdown-button' href='#' data-activates='dropdown2'>LOGIN</a></li>
                        <!--<li><a class="waves-effect waves-light modal-trigger" href="#modal1">LOGIN</a></li>-->
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </div>