<footer class="page-footer footer-color">
    <div class="container">
        <div class="row" style="margin-bottom:0px;">
            <div class="col l6">
                <div class="col s12 logo"><img src="/assets/customer/logo.png" alt="Transport logo"></div>
                <!-- <P class="col s12">Transport.co.in is a platform that helps you find,<br>compare and book trucks to move your from one<br>place to another.</P> -->
                <p>Copyrights, Maruti 3PL Pvt. Ltd.</p>
            </div>
            <div class="col l3">
                <h6><a href="<%= (transporter_signed_in? || customer_signed_in?) ? "#" : new_transporter_session_path %>" class="waves-effect waves-light">Transporter Login</a></h6>
                <h6><a href="<%= (transporter_signed_in? || customer_signed_in?) ? "#" : new_customer_session_path %>">Customer Login</a></h6>
                <h6><a href="#">CONTACT US</a></h6>
                <h6>FAQ</h6>
            </div>
            <div class="col l3">
                <h6 style="color: #888;">ADDRESS</h6>
                <h6>S-96,RAVINDRA BHAWAN,</h6>
                <h6>IIT ROORKEE,</h6>
                <h6>UTTARAKHAND - 247667</h6>
                <h6>INDIA</h6>
                <h6>MOB +91-9192939495</h6>
            </div>
        </div>
    </div>
</footer>