<% if object.errors.any? %>
		<div id="error_explanation">
					<div style="background-color: rgb(255, 230, 230); border-radius: 5px; height: 40px; padding: 7px; margin-bottom: 15px; color: rgb(204, 0, 0); border-color: rgb(45, 33, 33);">
						The form contains <%= pluralize(object.errors.count, "error") %>.
				</div>
				<ul>
					<% object.errors.full_messages.each do |msg| %>
						<li style="color: rgb(204, 0, 0);margin-left:15px;"><%= msg %></li>
					<% end %>
				</ul>
		</div>
<% end %>
