<% flash.each do |message_type,message| %>
  <div class="alert custom-alert alert-<%= message_type %>" >
  	<%= message unless message.blank? %> 
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
<% end %>
