<% if admin_signed_in? %>
	<%= render 'shared/admin_header' %>
<% elsif customer_signed_in? %>
	<%= render 'shared/customer_header' %>
	<%= render 'shared/customer_load_header' %>
<% elsif transporter_signed_in? %>
	<%= render 'shared/transporter_header' %>
	<%#= render 'shared/transporter_quote_header' %>
<% else %>
	<%= render 'shared/default_header' %>
	
	<!-- <%#= link_to "Log in as Customer", new_customer_session_path %> | -->
	<!-- <%#= link_to "Sign up as Customer", new_customer_registration_path %> | -->
	<!-- <%#= link_to "Log in as Transporter", new_transporter_session_path %> | -->
	<!-- <%#= link_to "Sign up as Transporter", new_transporter_registration_path %><br /> -->
	
<% end %>
