<div class="black-bg">
  <div class="row">
    <div class="col l8 offset-l2 m10 offset-m1 s12">
      <ul class="menu top-menu">
        <li class="menu-item top-menu-item item"><%= link_to authenticated_transporter_root_path,class: "#{!params[:status].present? ? 'active' : ''}" do %><span class="icon-menu load"></span>Loads Available<% end %></li>
        <li class="menu-item top-menu-item item"><%= link_to transporters_orders_path(status: "active"),class: "#{params[:status]}" do %><span class="icon-menu actve"></span>Active<% end %></li>
        <li class="menu-item top-menu-item item"><%= link_to transporters_orders_path(status: "processed"),class: "#{params[:status] == 'processed' ? 'active' : ''}" do%><span class="icon-menu history"></span>History<% end %></li>
        <li class="menu-item top-menu-item item"><a href="profile.html"><span class="icon-menu profile"></span>Profile</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- <%#= link_to "LOADS AVAILABLE", authenticated_transporter_root_path %> | -->
<!-- <%#= link_to "ACTIVE", transporters_orders_path(status: "active") %> | -->
<!-- <%#= link_to "HISTORY", transporters_orders_path(status: "processed") %> -->