<%= stylesheet_link_tag "transporters/style" %>
<div class="navbar-fixed top-nav">
  <nav class="theme-bg" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo logo" style="display: block;"><img src="/assets/transporter/logo.png" alt="Transport logo"></a>
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "Change password", change_password_transporter_path(current_transporter) %></li>
        <li><%= link_to "Profile", transporter_path(current_transporter) %></li>
        <li><%= link_to "Add new routes", transporters_transporter_routers_path %></li>
        <li><%= link_to "Add new vehicle", transporters_vehicles_path %></li>
        <li><%= link_to "Sign out", destroy_transporter_session_path, method: :delete %></li>
      </ul>
      <ul class="right hide-on-med-and-down head-menu">
        <li>
          <a class="waves-effect waves-light" href="<%= web_notifications_transporters_path %>">
            <img src="/assets/customer/bel-3.png" alt="load icon" style="position: relative;top:5px;">
            <div id="transporter_web_notification_count">
              <% if current_transporter.web_notifications.count > 0 %>
                <%= render "/shared/transporter_web_notification_bedge" %>
              <% end %>
            </div>
          </a>
        </li>
        <li><a class="waves-effect waves-light menu-item active" href="<%= authenticated_transporter_root_path %>">MY TRIPS</a></li>
        <li><a class="waves-effect waves-light menu-item" href="#">TRACK</a></li>
        <li><a class="dropdown-button menu-item" href='#' data-activates='dropdown1' style="padding-top: 1px;"><%= current_transporter.email %></a></li>
      </ul>
      <!-- <ul id="dropdown2" class="dropdown-content">
        <li><%#= link_to "Change password", change_password_transporter_path(current_transporter) %></li>
        <li><%#= link_to "Profile", transporter_path(current_transporter) %></li>
        <li><%#= link_to "Add new routes", new_transporters_transporter_router_path %></li>
        <li><%#= link_to "Sign out", destroy_transporter_session_path, method: :delete %></li>
      </ul> -->
      <ul id="nav-mobile" class="side-nav">
        <li><a class="waves-effect waves-light" href="#"><i class="large material-icons">person_pin</i></a></li>
        <li><a class="waves-effect waves-light" href="<%= authenticated_transporter_root_path %>">MY TRIPS</a></li>
        <li><a class="waves-effect waves-light" href="#">TRACK</a></li>
        <li><a class='dropdown-button' href='#' data-activates='dropdown2'><%= current_transporter.email %></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
