<% provide(:title, "Weight Unit") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
  <div class="col-xs-12 col-sm-12 load_form">
  	<%= render 'form', weight_unit: @weight_unit %>
  </div>
</div>

<div class="row table-contents-wrapper table-records-wrapper">
  <div class="col-xs-12 revenue-table-wrapper">
    <div class="table-responsive">
      <table class="table table-hover revenue-table">
        <thead class="bg-color-pink">
          <tr>
            <th>Name</th>
            <th>Short Name</th>
            <th class="width-10">Action</th>
          </tr>
        </thead>
        <tbody>
          <%= render @weight_units %>
        </tbody>
      </table>
    </div>
  </div>
</div>