<div class="row">
  <div class="col s5 m4 l3 mobile-view">
    <p><strong>Email <span class="text-right colon"> : </span></strong></p>
  </div>
  <div class="col s7 m8 l9 mobile-view">
    <p>
      <%= transporter.email %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col s5 m4 l3 mobile-view">
    <p><strong>Name <span class="text-right colon"> : </span></strong></p>
  </div>
  <div class="col s7 m8 l9 mobile-view">
    <p>
      <%= transporter.name || "-" %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col s5 m4 l3 mobile-view">
    <p><strong>Phone Number <span class="text-right colon"> : </span></strong></p>
  </div>
  <div class="col s7 m8 l9 mobile-view">
    <p>
      <%= transporter.ph_no || "-" %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col s5 m4 l3 mobile-view">
    <p><strong>Company Name <span class="text-right colon"> : </span></strong></p>
  </div>
  <div class="col s7 m8 l9 mobile-view">
    <p>
      <%= transporter.company_name || "-" %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col s5 m4 l3 mobile-view">
    <p><strong>Address detail <span class="text-right colon"> : </span></strong></p>
  </div>
  <div class="col s7 m8 l9 mobile-view">
    <p>
      <%= transporter.address_detail || "-" %>
    </p>
  </div>
</div>