<% case data[:type] %>
<% when "Load" %>
	<% case data[:action] %>
	<% when "matched" %>
		<!-- for testing : load 5, city 1-to_add, 6-from_add	 -->
		<% if assoc %>
			Load Available: <%= data[:object].id %> | <%= City.where("coordinate ~= point (?)", data[:object].from_coordinate).first.try(:short_name) %>-<%= City.where("coordinate ~= point (?)", data[:object].to_coordinate).first.try(:short_name) %> | (w:"<%= data[:object].weight['value'] %>-<%= data[:object].weight['unit'] %>"| v:"<%= data[:object].volume['value'] %>-<%= data[:object].volume['unit'] %>" | d: "<%= data[:object].dimension['length'] %>-<%= data[:object].dimension['height'] %>-<%= data[:object].dimension['dept'] %>-<%= data[:object].dimension['unit'] %>" ) | <%= data[:object].load_type.name %> | <%= data[:object].loading_date.strftime("#{data[:object].loading_date.day.ordinalize} %b, %Y - %I:%M %p") %> | Qty: <%= data[:object].vehicle_quantity %> truck(s) | Type: <%= data[:object].vehicle_type.name %>
		<% end %>
	<%# when "edit_matched" %>
		<!-- Edit: Load Available: <%#= data[:object].id %> | <%#= City.where("coordinate ~= point (?)", data[:object].from_coordinate).first.try(:short_name) %>-<%#= City.where("coordinate ~= point (?)", data[:object].to_coordinate).first.try(:short_name) %> | (w:"<%#= data[:object].weight['value'] %>-<%#= data[:object].weight['unit'] %>"| v:"<%#= data[:object].volume['value'] %>-<%#= data[:object].volume['unit'] %>" | d: "<%#= data[:object].dimension['length'] %>-<%#= data[:object].dimension['height'] %>-<%#= data[:object].dimension['dept'] %>-<%#= data[:object].dimension['unit'] %>" ) | <%#= data[:object].load_type.name %> | <%#= data[:object].loading_date.strftime("#{data[:object].loading_date.day.ordinalize} %b, %Y - %I:%M %p") %> | Qty: <%#= data[:object].vehicle_quantity %> truck(s) | Type: <%#= data[:object].vehicle_type.name %> -->
	<% when "canceled" %>
		<% if assoc %>
			Edit: Load Cancelled: <%= data[:object].id %> | <%= City.where("coordinate ~= point (?)", data[:object].from_coordinate).first.try(:short_name) %>-<%= City.where("coordinate ~= point (?)", data[:object].to_coordinate).first.try(:short_name) %> | (w:"<%= data[:object].weight['value'] %>-<%= data[:object].weight['unit'] %>"| v:"<%= data[:object].volume['value'] %>-<%= data[:object].volume['unit'] %>" | d: "<%= data[:object].dimension['length'] %>-<%= data[:object].dimension['height'] %>-<%= data[:object].dimension['dept'] %>-<%= data[:object].dimension['unit'] %>" ) | <%= data[:object].load_type.name %> | <%= data[:object].loading_date.strftime("#{data[:object].loading_date.day.ordinalize} %b, %Y - %I:%M %p") %> | Qty: <%= data[:object].vehicle_quantity %> truck(s) | Type: <%= data[:object].vehicle_type.name %>
		<% end %>
	<% end %>
<% when "Quote" %>
	<% case data[:action] %>
	<% when "create" %>
		Quote Submitted for <%= data[:object].load.id %>: <%= data[:object].offered_price %> | Truck Type: <%= data[:object].vehicle_type.name %> | Date: <%= data[:object].offered_date.strftime("#{data[:object].offered_date.day.ordinalize} %b, %Y - %I:%M %p") %>
	<% when "edited" %>
		Quote Edited for <%= data[:object].load.id %>: <%= data[:object].offered_price %> | Truck Type: <%= data[:object].vehicle_type.name %> | Date: <%= data[:object].offered_date.strftime("#{data[:object].offered_date.day.ordinalize} %b, %Y - %I:%M %p") %>
	<% when "accepted" %>
		<% if assoc %>
			<% quote = data[:object].load.submitted_quotes.select{|a|a.transporter == user }.uniq.first %>
			Sorry! Quote Not Accepted for <%= quote.load.id %>. Accepted Quote is: <%= data[:object].offered_price %> | Truck Type: <%= data[:object].vehicle_type.name %> | Date: <%= data[:object].offered_date.strftime("#{data[:object].offered_date.day.ordinalize} %b, %Y - %I:%M %p") %>
		<% else %>
			Congrats! Quote Accepted for <%= data[:object].load.id %>: <%= data[:object].offered_price %> | Truck Type: <%= data[:object].vehicle_type.name %> | Date: <%= data[:object].offered_date.strftime("#{data[:object].offered_date.day.ordinalize} %b, %Y - %I:%M %p") %> | | Assign Trucks: <%= url %>
		<% end %>
	<% end %>
<% end %>
