<style>
  .notice,.alert{
    display:none;
  }
</style>
<%= stylesheet_link_tag "transporters/materialize" %>
<%= stylesheet_link_tag "transporters/style" %>
<div class="section no-pad-bot main-page" id="home">
  <div class="container" style="overflow: visible;">
    <h1 class="header center"><img src="/assets/transporter/transport-logo.png" alt="transport"></h1>
    <div class="row">
      <div class="col m8 offset-m2 l6 offset-l3 s12 center-form-box">
        <div class="login_title_wrap">
        	<div>Enter the code that was sent to you</div>
        </div>
        <div class="home-from login_form clearfix col s12">
        	<%= form_tag(verify_phone_transporter_path,:method => :post) do %>
        		<div>
              <div class="row">
                <div class="col s12">
                  <div class="card-panel theme-bg">
                  	<p class="errmsg"><%= notice %><%= alert %></p>
                  </div>
                </div>
              </div>
              <div class="input-field col s12 error-log">
              	<%= text_field_tag :otp_code ,nil,class: "validate" %>
              </div>
              <div class="login_button">
              	<button type="submit" class="btn-floating btn-large waves-effect waves-light theme-bg posi"><i class=" large material-icons">navigate_next</i></button>
              </div>
              <div class="col s12 form_footer">
                <div class="term_reset">
                	<%= link_to "Resend OTP", send_otp_transporter_path %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
	<%= render 'shared/default_footer' %>
</div>
<!-- <h2>Enter the code that was sent to you</h2>

<%#= form_tag(verify_phone_transporter_path,:method => :post) do %>
  <%#= text_field_tag :otp_code %>
  <%#= submit_tag "Submit" %>
<%# end %>

<%#= link_to "Resend OTP", send_otp_transporter_path %> -->