<main>
  <div id="my-order" class="main-page">
    <!-- first tab -->
    <div id="test1" class="col s12 full-content-wrap">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="outer_box">
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="custom-box-wrap">
                    <div class="box_header">
                      <div class="col s6 text-left theme-text box_header_title">Basic Detail</div>
                      <div class="col s6 right-align">
                        <%= link_to "EDIT", edit_transporter_registration_path, class: "waves-effect waves-light right-align btn-flat theme-bg white-text center-align butons modal-trigger", remote: true %>
                          <!-- <a id="" href="#modal_edit_profile" class="waves-effect waves-light right-align btn-flat theme-bg white-text center-align butons modal-trigger">EDIT</a> -->
                      </div>
                    </div>
                    <div class="box_content" id="user_basic_detail">
                      <%= render 'basic_detail', transporter: @transporter %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="outer_box">
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="box_header">
                    <div class="col s6 text-left theme-text box_header_title">Bank Details</div>
                    <div class="col s6 right-align">
                      <%= link_to "Add new", new_transporter_bank_account_detail_path(current_transporter), class: "waves-effect waves-light right-align btn-flat theme-bg white-text center-align butons modal-trigger", remote: true %>
                    </div>
                  </div>
                  <div class="box_content" id="bank_detail_list">
                    <% if @bank_details.present? %>
                      <%= render(@bank_details, resource: current_transporter) %>
                    <% else %>
                      Bank detail not provide
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>



















<!-- <h3>Basic details :</h3>
email : <%#= @transporter.email %><br>
name : <%#= @transporter.name || "-" %><br>
phone number : <%#= @transporter.ph_no || "-" %><br>
Company name : <%#= @transporter.company_name || "-" %><br>
Address detail : <%#= @transporter.address_detail || "-" %><br>

<%#= link_to "Edit", edit_transporter_registration_path %><br>
<%#= link_to "Add new route", new_transporters_transporter_router_path %>
<h3>Bank details :( <%#= link_to "Add new", new_transporter_bank_account_detail_path(current_transporter) %> )</h3>
<%#= render @bank_details, resource: current_transporter  %>
 -->