<% if resource.errors.blank? %>
	$("#modal-quotes").closeModal();
	$("#user_basic_detail").html("<%= j(render 'transporters/basic_detail', transporter: resource) %>")
<% else %>
	$("#modal-quotes").html("<%= j(render 'edit_form', resource_name: resource_name, resource: resource) %>")
<% end %>
<% resource.errors.full_messages.each do |msg| %>
		Materialize.toast('<%= msg %>', 4000)
<% end %>
<% flash.discard %>
