<tr>
  <!-- <td><%#= customer.id %></td> -->
  <td><%= link_to customer.ph_no, admins_customer_path(customer) %></td>
  <td><%= customer.name %></td>
  <td><%= customer.company_name %></td>
  <td><%= customer.email %></td>
  <td><%= customer.approved ? 'Approved' : 'Pending' %></td>
  <td>
    <%= link_to edit_admins_customer_path(customer),class: "action-link" do %>
      <i class="glyphicon glyphicon-pencil"></i>
    <% end %>
    <%= link_to admins_customer_path(customer),class: "action-link" do %>
      <i class="glyphicon glyphicon-eye-open"></i>
    <% end %>
    
    <%= link_to [:admins,customer],method: :delete,class: "action-link",remote: true,data: { confirm: 'Are you sure?'} do %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %>
  <% unless customer.approved %>
      <%= link_to "Approve", approve_customer_admins_customer_path(customer), method: :post %>
    <% end %>
  </td>
</tr>