<% if @customer.new_record? %>
	<% provide(:title, "Add Customer ") %>
<% else %>
	<% provide(:title, "Edit Customer ") %>
<% end %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
	<%= form_for [:admins, @customer] do |f| %>
		<div class="panel panel-default">
  		<ul class="list-group">
    		<li class="list-group-item">
    			<div class="col-sm-12 col-md-12 col-lg-6">
          <div class="row">
      			<div class="col-xs-6 col-sm-5  caption text-left">
          		<p class="feature_title form-label-title">
            		Phone Number
          		</p>
        		</div>
        		<div class="col-xs-6 col-sm-6 caption-data font-normal">
          		<div class="form-group">
          			<%= f.text_field :ph_no,class: 'form-control custom-form-control', placeholder: "Enter phone number"%>
          			<div style="color: rgb(204, 0, 0)"><%= show_errors(@customer, :ph_no) %></div>
          		</div>
          	</div>
          </div>
      		
          <% if @customer.new_record? %>
	          <div class="row">
	      			<div class="col-xs-6 col-sm-5  caption text-left">
	          		<p class="feature_title form-label-title">
	            		Password
	            	</p>
	        		</div>
	        		<div class="col-xs-6 col-sm-6 caption-data font-normal">
	          		<div class="form-group">
	          			<%= f.password_field :password,class: 'form-control custom-form-control', placeholder: "Enter valid password"%>
	          			<div style="color: rgb(204, 0, 0)"><%= show_errors(@customer, :password) %></div>
	          		</div>
	          	</div>
	          </div>
	          <div class="row">
	      			<div class="col-xs-6 col-sm-5  caption text-left">
	          		<p class="feature_title form-label-title">
	            		Confirm Password
	          		</p>
	        		</div>
	        		<div class="col-xs-6 col-sm-6 caption-data font-normal">
	          		<div class="form-group">
	          			<%= f.password_field :password_confirmation,class: 'form-control custom-form-control', placeholder: "Enter valid password" %>
	          			<div style="color: rgb(204, 0, 0)"><%= show_errors(@customer, :password_confirmation) %></div>
	          		</div>
	          	</div>
	          </div>
         <% end %>
         <div class="row">
      			<div class="col-xs-6 col-sm-5  caption text-left">
          		<p class="feature_title form-label-title">
            		Email
          		</p>
        		</div>
        		<div class="col-xs-6 col-sm-6 caption-data font-normal">
          		<div class="form-group">
          			<%= f.email_field :email,class: 'form-control custom-form-control', placeholder: "Enter valid email ID"%>
          			<div style="color: rgb(204, 0, 0)"><%= show_errors(@customer, :email) %></div>
          		</div>
          	</div>
          </div>
          <div class="row">
      			<div class="col-xs-6 col-sm-5  caption text-left2">
          		<p class="feature_title form-label-title">
            		Name
          		</p>
        		</div>
        		<div class="col-xs-6 col-sm-6 caption-data font-normal">
          		<div class="form-group">
          			<%= f.text_field :name,class: 'form-control custom-form-control', placeholder: "Enter name" %>
          			<div style="color: rgb(204, 0, 0)"><%= show_errors(@customer,:name) %></div>
          		</div>
          	</div>
          </div>
          
          <div class="row">
      			<div class="col-xs-6 col-sm-5  caption text-left">
          		<p class="feature_title form-label-title">
            		Company Name
          		</p>
        		</div>
        		<div class="col-xs-6 col-sm-6 caption-data font-normal">
          		<div class="form-group">
          			<%= f.text_field :company_name,class: 'form-control custom-form-control', placeholder: "Enter company name"%>
          			<div style="color: rgb(204, 0, 0)"><%= show_errors(@customer, :company_name) %></div>
          		</div>
          	</div>
          </div>
          <div class="row">
      			<div class="col-xs-6 col-sm-5  caption text-left">
          		<p class="feature_title form-label-title">
            		Address Detail
          		</p>
        		</div>
        		<div class="col-xs-6 col-sm-6 caption-data font-normal">
          		<div class="form-group">
          			<%= f.text_area :address_detail,class: 'form-control custom-form-control', placeholder: "Enter address detail" %>
          			<div style="color: rgb(204, 0, 0)"><%= show_errors(@customer, :address_detail) %></div>
          		</div>
          	</div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="bank_account_details">
            <%= f.fields_for :bank_account_details do |builder| %>
              <%= render "bank_account_detail_fields", :f => builder %>
            <% end %>
            <div>
            <%= link_to_add_fields "Add Bank Details", f ,:bank_account_details %>
            </div>
          </div>
        </div>
             
          <div class="row custom-form-row-full">
          	<div class="col-sm-12" style="align:center;">
          		<%= f.button :submit, class: 'btn custom-btn custom_btn custom-add-bordered-btn m-none' do %>
          			<% if @customer.new_record? %>
                 	Create
                <% else %>
                	Update
              	<% end %>
              <% end %>
              <%= link_to admins_customers_path , class: 'btn custom-btn custom_btn custom-add-bordered-btn m-none' do %>
                 Cancel
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</div>
