<div class="row">
  <div class=" col-xs-12 col-sm-12">
    <div class="page_title view-page-title">
      <h2 class="mt-10 col-sm-6 p-none">Customers</h2>
      <div class="col-sm-6 add-more-right">
        <%= link_to admins_customers_path(approved: 'false'), class: 'btn custom-head-add-bordered-btn' do %>
           Pending Customer
        <% end %>
        <%= link_to admins_customers_path(approved: 'true'), class: 'btn custom-head-add-bordered-btn' do %>
           Confirmed Customer
        <% end %>
        <%= link_to admins_customers_path(approved: 'all'), class: 'btn custom-head-add-bordered-btn' do %>
           All Customer
        <% end %>
        <%= link_to new_admins_customer_path,class: "btn custom-head-add-bordered-btn" do %>
        <span class="glyphicon glyphicon-plus"></span> Add New Customers
        <% end %>
        <!-- <a class="btn custom-head-add-bordered-btn" href="new_admins_customer_path">
          <span class="glyphicon glyphicon-plus"></span> Add New Customers
        </a> -->
      </div>
    </div>
  </div>
</div>

<div class="row table-contents-wrapper table-records-wrapper">
  <div class="col-xs-12 revenue-table-wrapper">
    <div class="row search-wrapper">
      <div class="col-sm-12 revenue-search-box">
        <form class="form-inline revenue-table-form view-record-form">
          <label>Search</label>
          <input type="text" class="form-control search-box" name="search" id="search">
        </form>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover revenue-table custom-record-table">
        <thead class="bg-color-pink">
          <tr>
            <!-- <th>Id</th> -->
            <th>Phone no.</th>
            <th>Name</th>
            <th>Company Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%= render @customers %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <div class="row table-contents-wrapper table-records-wrapper">
    <div class="col-sm-6 show-entries-wrapper">
        <form class="form-inline revenue-table-form">
            <label>Showing</label>
            <select class="form-control select-entries">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
            <label class="f-normal"> entries</label>
        </form>
    </div>
    <div class="col-sm-6 pagination-wrapper">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a>
                </li>
                <li><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li><a href="#">4</a>
                </li>
                <li><a href="#">5</a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div> -->