<% provide(:title, "Customer") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
  <section class="section-details primary-section">
    <div class=" col-xs-12 col-sm-12">
      <div class="detail-wrapper">
        <div class="row col-sm-6 student-header">
          <div class="col-xs-4  col-md-4">
            <img src="/assets/admin/user-avtar.png" class="img-responsive user-avtar">
          </div>
          <div class="col-xs-8  col-md-8 ">
            <h1 class="user-name student-name"> <%= @customer.name %></h1>
          </div>
        </div>
        <div class="row col-sm-6 student-header detail-wrap">
          <ul class="basic-detail-list">
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Phone no.  <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @customer.ph_no %></div>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Email <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @customer.email %></div>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Company name <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data "><%= @customer.company_name %></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="row">
	<!-- Payment Detail -->
	<div class="col-sm-12 col-md-12 col-lg-8 ">
	  <div class="section-details">
	    <div class="detail-wrapper p-none guardian-fixed-height-wrap">
	      <div class="row">
	        <div class="detail-title">
	          <h3><span><i class="fa fa-life-ring" aria-hidden="true"></i></span> Guardian Details <span class="edit-icon-right"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></span></h3>
	        </div>
	      </div>
	      <div class="row ">
	        <ul class="guardian-detail-list">
	          <li>
	            <div class="col-xs-6 col-sm-5 caption text-left"> <i class="fa fa-user color-red color-red" aria-hidden="true"></i> First Name <span>-</span></div>
	            <div class="col-xs-6 col-sm-7 caption-data font-normal">Jhon</div>
	          </li>

	          <li>
	            <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-user color-red" aria-hidden="true"></i> Middle Name <span>-</span></div>
	            <div class="col-xs-6 col-sm-7 caption-data font-normal">Asteen</div>
	          </li>

	          <li>
	            <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-user color-red" aria-hidden="true"></i> Last Name <span>-</span></div>
	            <div class="col-xs-6 col-sm-7 caption-data font-normal">Martin</div>
	          </li>

	          <li>
	            <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-mars color-red" aria-hidden="true"></i> Gender <span>-</span></div>
	            <div class="col-xs-6 col-sm-7 caption-data font-normal">Male</div>
	          </li>

	          <li >
	            <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-map-marker color-red" aria-hidden="true"></i> Address <span>-</span></div>
	            <div class="col-xs-6 col-sm-7 caption-data font-normal">D-603, Amsterdam villa, opp. Mc Donald Cafe, New york, USA</div>
	          </li>

	          <li>
	            <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-home color-red" aria-hidden="true"></i> City <span>-</span></div>
	            <div class="col-xs-6 col-sm-7 caption-data font-normal">New York</div>
	          </li>

	          <li>
	            <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-home color-red" aria-hidden="true"></i> State <span>-</span></div>
	            <div class="col-xs-6 col-sm-7 caption-data font-normal">New York</div>
	          </li>

	          <li>
	            <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-home color-red" aria-hidden="true"></i> Country <span>-</span></div>
	            <div class="col-xs-6 col-sm-7 caption-data font-normal">USA</div>
	          </li>

	          <li>
	            <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-envelope color-red" aria-hidden="true"></i> Email <span>-</span></div>
	            <div class="col-xs-6 col-sm-7 caption-data font-normal">me@example.com</div>
	          </li>

	          <li>
	            <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-phone-square color-red" aria-hidden="true"></i> Mobile <span>-</span></div>
	            <div class="col-xs-6 col-sm-7 caption-data font-normal">012-345-6789</div>
	          </li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div>

  <!-- contact detail -->
  <div class="col-sm-6 col-md-6 col-lg-4 ">
    <div class="section-details">
      <div class="detail-wrapper p-none">
        <div class="row">
          <div class="detail-title">
            <h3><span><i class="fa fa-book" aria-hidden="true"></i></span> Contact Details <span class="edit-icon-right"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></span></h3>
          </div>
        </div>
        <div class="row ">
          <ul class="basic-detail-list">
            <li>
              <div class="col-xs-6 col-sm-5  caption text-left"><i class="fa fa-envelope color-red" aria-hidden="true"></i> Email <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @customer.email %></div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-phone-square color-red" aria-hidden="true"></i> Mobile <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @customer.ph_no %></div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-map-marker color-red" aria-hidden="true"></i> Address <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @customer.address_detail %></div>
            </li>
            <!-- <li>
              <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-home color-red" aria-hidden="true"></i> City <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal">New York</div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-home color-red" aria-hidden="true"></i> State <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal">New York</div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5 caption text-left"><i class="fa fa-home color-red" aria-hidden="true"></i> Country <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal">USA</div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Bank Account details -->
  <!-- <div class="col-sm-6 col-md-6 col-lg-4 ">
    <div class="section-details">
      <div class="detail-wrapper p-none ">
        <div class="row">
          <div class="detail-title">
            <h3>
              <span><i class="fa fa-files-o" aria-hidden="true"></i></span> Bank Account Details 
              <span class="edit-icon-right">
                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              </span>
            </h3>
          </div>
        </div>
        <div class="row document-fixed-height-wrap">
          <ul class="basic-detail-list">
            <li>
              <div class="col-xs-6 col-sm-5 caption text-left">
                <p class="label label-danger doc-label">PDF</p> <span>-</span>
              </div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal">
                <a href="#" class="doc-link"> Birthdate Certificate</a>
              </div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5 caption text-left">
                <p class="label label-danger doc-label">DOCX</p>  <span>-</span>
              </div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal">
                <a href="#" class="doc-link"> Leaving Certificate(last year)</a>
              </div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5 caption text-left">
                <p class="label label-danger doc-label">JPEG</p>  <span>-</span>
              </div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal">
                <a href="#" class="doc-link"> Cast Catagory Certificate</a>
              </div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5 caption text-left">
                <p class="label label-danger doc-label">PDF</p> <span>-</span>
              </div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal">
                <a href="#" class="doc-link"> Birthdate Certificate</a>
              </div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5 caption text-left">
                <p class="label label-danger doc-label">DOCX</p>  <span>-</span>
              </div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal">
                <a href="#" class="doc-link"> Leaving Certificate(last year)</a>
              </div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5 caption text-left">
                <p class="label label-danger doc-label">JPEG</p>  <span>-</span>
              </div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal">
                <a href="#" class="doc-link"> Cast Catagory Certificate</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 -->
  <!-- Bank details -->
  <div class="col-sm-12 col-md-12 col-lg-6 ">
    <div class="section-details">
      <div class="detail-wrapper p-none">
        <div class="row">
          <div class="detail-title">
            <h3><span><i class="fa fa-money" aria-hidden="true"></i></span> Bank Details <span class="edit-icon-right"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></span></h3>
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-12 revenue-table-wrapper">
            <div class="table-responsive border-none">
              <table class="table table-hover revenue-table">
                <thead class="bg-color-pink">
                  <tr>
                    <th>Bank Name</th>
                    <th>Account Number</th>
                    <th>IFSC code</th>
                    <th>Branch name</th>
                    <th>Accountholder name</th>

                  </tr>
                </thead>
                <tbody>
                  <% @customer.bank_account_details.each do |bank_account_detail| %>
                    <tr>
                      <td><%= bank_account_detail.bank_name %></td>
                      <td><%= bank_account_detail.account_number %></td>
                      <td><%= bank_account_detail.ifsc_code %></td>
                      <td><%= bank_account_detail.branch_name %></td>
                      <td><%= bank_account_detail.account_holder_name %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PaymentDetail -->
  <div class="col-sm-12 col-md-12 col-lg-6 ">
    <div class="section-details">
      <div class="detail-wrapper p-none">
        <div class="row">
          <div class="detail-title">
            <h3><span><i class="fa fa-money" aria-hidden="true"></i></span> Payment Histories <span class="edit-icon-right"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></span></h3>
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-12 revenue-table-wrapper">
            <div class="table-responsive border-none">
              <table class="table table-hover revenue-table">
                <thead class="bg-color-pink">
                  <tr>
                    <th>Load Id</th>
                    <th>Payment date</th>
                    <th>Pay via</th>
                    <th>Reference no.</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% @customer.customers_payments.includes({quote: [:load]}).each do |customer_payment| %>
                    <tr>
                      <td><%= customer_payment.quote.load.id %></td>
                      <td><%= customer_payment.paying_date.strftime("%d-%b %Y") %></td>
                      <td><%= customer_payment.pay_via %></td>
                      <td><%= customer_payment.ref_no %></td>
                      <td><%= customer_payment.amount %></td>
                      <td><%= customer_payment.status %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>