<% provide(:title, "Customer Details ") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
	<section class="section-details primary-section">
    <div class=" col-xs-12 col-sm-12">
      <div class="detail-wrapper">
      	<div class="row col-sm-6 student-header detail-wrap">
     			<ul class="basic-detail-list">
	    			<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Customer name <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @customer.name.presence || @customer.email %></div>
    				</li>
    				<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Customer Number <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @customer.ph_no %></div>
    				</li>
    				<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Business Name <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @customer.company_name %></div>
    				</li>
    				<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Address <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @customer.address_detail %></div>
    				</li>
    			</ul>
    		</div>
    	</div>
    </div>
  </section>
</div>