<% case data[:type] %>
<% when "Load" %>
	<% case data[:action] %>
	<% when "posted" %>
		<!-- for testing : load 5, city 1-to_add, 6-from_add	 -->
		Load Posted: <%= data[:object].id %> | <%= City.where("coordinate ~= point (?)", data[:object].from_coordinate).first.try(:short_name) %>-<%= City.where("coordinate ~= point (?)", data[:object].to_coordinate).first.try(:short_name) %> | (w:"<%= data[:object].weight['value'] %>-<%= data[:object].weight['unit'] %>"| v:"<%= data[:object].volume['value'] %>-<%= data[:object].volume['unit'] %>" | d: "<%= data[:object].dimension['length'] %>-<%= data[:object].dimension['height'] %>-<%= data[:object].dimension['dept'] %>-<%= data[:object].dimension['unit'] %>" ) | <%= data[:object].load_type.name %> | <%= data[:object].loading_date.strftime("#{data[:object].loading_date.day.ordinalize} %b, %Y - %I:%M %p") %>. Quotations Coming Soon.
	<% when "edited" %>
		Load Edited: <%= data[:object].id %> | <%= City.where("coordinate ~= point (?)", data[:object].from_coordinate).first.try(:short_name) %>-<%= City.where("coordinate ~= point (?)", data[:object].to_coordinate).first.try(:short_name) %> | (w:"<%= data[:object].weight['value'] %>-<%= data[:object].weight['unit'] %>"| v:"<%= data[:object].volume['value'] %>-<%= data[:object].volume['unit'] %>" | d: "<%= data[:object].dimension['length'] %>-<%= data[:object].dimension['height'] %>-<%= data[:object].dimension['dept'] %>-<%= data[:object].dimension['unit'] %>" ) | <%= data[:object].load_type.name %> | <%= data[:object].loading_date.strftime("#{data[:object].loading_date.day.ordinalize} %b, %Y - %I:%M %p") %>. Quotations Coming Soon.
	<% when "canceled" %>
		Load Cancelled: <%= data[:object].id %> | <%= City.where("coordinate ~= point (?)", data[:object].from_coordinate).first.try(:short_name) %>-<%= City.where("coordinate ~= point (?)", data[:object].to_coordinate).first.try(:short_name) %> | (w:"<%= data[:object].weight['value'] %>-<%= data[:object].weight['unit'] %>"| v:"<%= data[:object].volume['value'] %>-<%= data[:object].volume['unit'] %>" | d: "<%= data[:object].dimension['length'] %>-<%= data[:object].dimension['height'] %>-<%= data[:object].dimension['dept'] %>-<%= data[:object].dimension['unit'] %>" ) | <%= data[:object].load_type.name %> | <%= data[:object].loading_date.strftime("#{data[:object].loading_date.day.ordinalize} %b, %Y - %I:%M %p") %>.
	<% end %>
<% when "Quote" %>
	<% case data[:action] %>
	<% when "create" %>
		<% if assoc %>
			New Quote for your load <%= data[:object].load.id %>: <%= data[:object].offered_price %> | Truck Type: <%= data[:object].vehicle_type.name %> | Date: <%= data[:object].offered_date.strftime("#{data[:object].offered_date.day.ordinalize} %b, %Y - %I:%M %p") %> | Compare: <%= url %> (This URL will take to comparison screen).
		<% end %>
	<% when "edited" %>
		<% if assoc %>
			Quote edited for <%= data[:object].load.id %>: <%= data[:object].offered_price %> | Truck Type: <%= data[:object].vehicle_type.name %> | Date: <%= data[:object].offered_date.strftime("#{data[:object].offered_date.day.ordinalize} %b, %Y - %I:%M %p") %> | Compare: <%= url %> (This URL will take to comparison screen).
		<% end %>
	<% when "accepted" %>
		<% if assoc %>
			Booking Done Successfully for <%= data[:object].load.id %>: <%= data[:object].offered_price %> | Truck Type: <%= data[:object].vehicle_type.name %> | Date: <%= data[:object].offered_date.strftime("#{data[:object].offered_date.day.ordinalize} %b, %Y - %I:%M %p") %> | Enter Address: <%= url %> (This URL will take to form to enter detailed loading and destination address).
		<% end %>
	<% end %>
<% end %>
