<div class="detail-box custom-box custom-box-wrap">
  <a data-remote="true" href="<%= linkable?(web_notification) %>">
    <div class="row" style="font-size: 0.85rem;">
      <div><strong>TITLE:</strong> <%= web_notification.title %></div>
      <div><strong>MESSAGE:</strong></div>
    </div>
    <div class="row">
      <% case web_notification.notifiable_type %>
      <% when "Load" %>
        <%= render 'customers/web_notification_templates/load', web_notification: web_notification %>
      <% when "Quote" %>
        <%= render 'customers/web_notification_templates/quote', web_notification: web_notification %>
      <% end %>
      <strong>Submitted at:</strong> : <%= time_ago_in_words(web_notification.created_at).match("month|year").blank? ? time_ago_in_words(web_notification.created_at, include_seconds: true) : web_notification.created_at %><br>
    </div>
  </a>
<div>
