<main>
  <div id="my-order" class="main-page">
    <!-- first tab -->
    <div id="test1" class="col s12 full-content-wrap">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="outer_box">
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="custom-box-wrap">
                    <div class="box_header">
                      <div class="col s6 text-left box_header_title">Change Password</div>
                    </div>
                    <div class="box_content" id="user_basic_detail">
                      <%= form_for(@customer, url: update_password_customer_path(@customer), html: { method: :put }) do |f| %>

                        <div class="input-field col s12 error-log">
                          <%= f.password_field :password, autocomplete: "off", placeholder: "Enter new password", class: "validate" %>
                          <!-- <label for="number" class="theme-text actives">From</label> -->
                          <%= f.label :password, class: "theme-text actives" %> <br />
                            <em>Please Enter Valid City</em>
                        </div>

                        <div class="input-field col s12 error-log">
                          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password", class: "validdate" %>
                          <%= f.label :password_confirmation, class: "theme-text actives" %><br />
                        </div>

                        <div class="input-field col s12 error-log">
                          <i>(we need your current password to confirm your changes)</i>
                          <%= f.password_field :current_password, autocomplete: "off", placeholder: "Enter Your Current Password", class: "validate" %>
                          <%= f.label :current_password, class: "theme-text actives" %> <br />
                        </div>

                        <div class="actions col s12 left-align">
                          <%= f.submit "Update", class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>