Dear Admin,<br>
Kindly note this new registration request from the website.<br>
Name: <%= @object.name %><br>
Phone Number: <%= @object.ph_no %><br>
Email: <%= @object.email %><br>
Registration Requested as: <%= @object.class.name %><br>
<strong>Submitted at:</strong> : <%= @object.created_at.strftime("#{@object.created_at.day.ordinalize} %b, %Y - %I:%M %p") %><br>

Thank You,