<b>Dear Admin,</b><br>
Kindly note this new contact from the website.<br>
Email: <%= @object.email %><br>
Phone Number: <%= @object.phone_number %><br>
Message:<br>
<%= @object.message %><br>
<strong>Submitted at:</strong> : <%= @object.created_at.strftime("#{@object.created_at.day.ordinalize} %b, %Y - %I:%M %p") %><br>
<br>
Thank You,