Dear Admin,<br>
Kindly consider following quote edited for load <%= @load.id %><br>

<i>Quote Edited By:</i> <%= @object.transporter_id %><br>
<b>New Quote Details:</b><br>
<i>Load Docket ID</i> : <%= @load.load_docket_id %><br>
<i>Offered Vehicle Load Type</i> : <%= @object.vehicle_load_type.name %><br>
<i>Offered Vehicle Type</i> : <%= @object.vehicle_type.name %><br>
<i>Offered Vehicle Quantity</i> : <%= @object.offered_vehicle_quantity %><br>
<i>Offered Loading Date</i> : <%= @object.offered_date.strftime("#{@object.offered_date.day.ordinalize} %b, %Y - %I:%M %p") %><br>
<i>Offered Price</i> : <%= @object.offered_price %><br>
<strong>Quote Edited on:</strong> : <%= @object.updated_at.strftime("#{@object.updated_at.day.ordinalize} %b, %Y - %I:%M %p") %><br>
<br>

<b>Load Details :</b><br>
<i>Load status</i> : <%= @load.load_status.humanize %><br>
<i>Load Docket ID</i> : <%= @load.load_docket_id %><br>
<i>Load Type</i> : <%= @load.load_type.name %><br>
<i>Vehicle Load Type</i> : <%= @load.vehicle_load_type.name %><br>
<i>Vehicle Type</i> : <%= @load.vehicle_type.name %><br>
<i>Vehicle Quantity</i> : <%= @load.vehicle_quantity %><br>
<i>Weight</i> : <%= @load.weight["value"] %> | <%= @load.weight["unit"] %><br>
<i>Volume</i> : <%= @load.volume["value"] %> | <%= @load.volume["unit"] %><br>
<i>Dimension</i> : <%= @load.dimension["length"] %> x <%= @load.dimension["height"] %> x <%= @load.dimension["dept"] %> | <%= @load.dimension["unit"] %><br>
<i>Loading Date</i> : <%= @load.loading_date.strftime("#{@load.loading_date.day.ordinalize} %b, %Y - %I:%M %p") %><br>
<i>Strict Date</i> : <%= @load.strict_date %><br>
<i>Comment</i> : <%= @load.comment %><br>
<i>Display Comment</i> : <%= @load.display_comment %><br>
<i>Trip Distance</i> : <%= @load.trip_distance %><br>
<i>Fom Address</i> : <%= @load.from_address %><br>
<i>To Address</i> : <%= @load.to_address %><br>

Thank You,