Dear Admin,<br>
Kindly consider following load posted by <%= @object.customer.id %><br>
<b>Details of load:</b><br>
<i>Load status</i> : <%= @object.load_status.humanize %><br>
<i>Load ID</i> : <%= @object.id %><br>
<i>Load Docket ID</i> : <%= @object.load_docket_id %><br>
<i>Load Type</i> : <%= @object.load_type.name %><br>
<i>Vehicle Load Type</i> : <%= @object.vehicle_load_type.name %><br>
<i>Vehicle Type</i> : <%= @object.vehicle_type.name %><br>
<i>Vehicle Quantity</i> : <%= @object.vehicle_quantity %><br>
<i>Weight</i> : <%= @object.weight["value"] %> | <%= @object.weight["unit"] %><br>
<i>Volume</i> : <%= @object.volume["value"] %> | <%= @object.volume["unit"] %><br>
<i>Dimension</i> : <%= @object.dimension["length"] %> x <%= @object.dimension["height"] %> x <%= @object.dimension["dept"] %> | <%= @object.dimension["unit"] %><br>
<i>Loading Date</i> : <%= @object.loading_date.strftime("#{@object.loading_date.day.ordinalize} %b, %Y - %I:%M %p") %><br>
<i>Strict Date</i> : <%= @object.strict_date %><br>
<i>Comment</i> : <%= @object.comment %><br>
<i>Display Comment</i> : <%= @object.display_comment %><br>
<i>Trip Distance</i> : <%= @object.trip_distance %><br>
<i>Fom Address</i> : <%= @object.from_address %><br>
<i>To Address</i> : <%= @object.to_address %><br>
<strong>Submitted at:</strong> : <%= @object.updated_at.strftime("#{@object.updated_at.day.ordinalize} %b, %Y - %I:%M %p") %><br>

Thank You,
