<tr>
	<td><%= volume_unit.name %></td>
	<td><%= volume_unit.short_name %></td>
	<!-- <td><%#= load_type.display_active %></td> -->
	<td>
			<%= link_to edit_admins_volume_unit_path(volume_unit), title: 'Edit', class: 'action-link', remote: true do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
			<%= link_to [:admins,volume_unit],method: :delete, title: 'Delete', class: 'action-link', data: { confirm: 'Are you sure?'} do %>
				<i class="glyphicon glyphicon-trash"></i>
			<% end %>
	</td>
</tr>
