<tr>
	<td><%= dimension_unit.name %></td>
	<td><%= dimension_unit.short_name %></td>
	<td>
			<%= link_to edit_admins_dimension_unit_path(dimension_unit), title: 'Edit', class: 'action-link', remote: true do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
			<%= link_to [:admins,dimension_unit],method: :delete, title: 'Delete', class: 'action-link', data: { confirm: 'Are you sure?'} do %>
				<i class="glyphicon glyphicon-trash"></i>
			<% end %>
	</td>
</tr>