<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo-wrapper">
          <a href="#">
            <img src="/assets/admin/trance-logo-white.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), novalidate: "novalidate", class: "form-inline") do |f| %>
          <div class="login_box_wrap login_box_wrap_v1">
            <div class="form-group col-md-5 col-sm-5 col-xs-12  login_input">
                <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control", required: true %>
            </div>
            <div class="form-group col-md-5 col-sm-5 col-xs-12 login_input pw_input">
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control",  required: true %>
            </div>
            <div class="col-md-2 col-sm-2 col-sm-12 login_btn">
              <%= f.submit "Login", class: 'btn btn-default' %>
            </div>
            <div class="row">
              <div class="col-xs-12  pl-none">
                <p class="errmsg"><%= notice %><%= alert %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>