<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Assign Address</h4>
    </div>
		<%= form_for @trip_tracking, url: admins_load_trackers_path(@load, trip: @trip) do |f| %>
	    <div class="modal-body">
				Enter current location of vehicle : <%= f.text_field :location, placeholder: "Enter location name" %><br>
				<%= f.hidden_field :coordinate %>
				Time of fetch tracking detail : <%= f.date_field :location_time_stamp %><br>
				Speed of vehicle : <%= f.number_field :speed, placeholder: "Enter location name", :step => 'any'%><br>
				<br>
			</div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>