Distance travelled : <span id="travelled_distance"></span><br>
	Stoppages : -<br>
	Stoppage duration : -<br>
	Trip duration : <%= trip.duration %><br>
	Average speed : <%= number_with_precision(trip.avg_speed, precision: 2) %><br>
	<hr>
> <%= label "from", "address", load.from_address, id: "from_address" %> | <%= trip.created_at.strftime("%d/%m - %I:%M %p") %><br>
<%= hidden_field_tag "tracking_from_coordinate", load.from_coordinate.to_json %>
<div id="tracking_list">
	<% trip.trip_trackings.sort_by(&:id).each_with_index do |track, i| %>
		> <span id="<%= (trip.trip_trackings.collect.count - 1) == i ? 'tracking_current_address' : '' %>"><%= track.location %></span> | <%= track.created_at.strftime("%d/%m - %I:%M %p") %><br>
		<span id="<%= (trip.trip_trackings.collect.count - 1) == i ? 'tracking_coordinate' : '' %>"><%= hidden_field_tag "tracking_current_coordinate", track.coordinate.to_json %></span>
	<% end %>
</div>
<br>
> <%= label "destination", "address", load.to_address, id: "to_address" %>
<br>
<br>

<%= link_to "Add tracking details", new_admins_load_tracker_path(load, trip: trip.id) %>