<% provide(:title, "Track Load") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
  <section class="section-details primary-section">
    <div class=" col-xs-12 col-sm-12">
      <div class="detail-wrapper">
        <div class="row col-sm-6 student-header detail-wrap">
          <%= select_tag "vehicle_list", options_for_select(@trips.collect{ |t| [t.vehicle.number_plate, t.id] }) %>
        </div>
        <div class="row">
          <div id="map" style="height: 400px;width: 700px;"></div>
        </div>
        <div class="row" id="tracking_details">
          <%= render 'tracking_details', load: @load, trip: @trips.first %>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="row">
	<section class="section-details primary-section">
    <div class=" col-xs-12 col-sm-12">
      <div class="detail-wrapper">
      	<div class="row col-sm-6 student-header detail-wrap">
     			<ul class="basic-detail-list">
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Load ID  <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.load_docket_id %></div>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">From Address  <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data" id="from_address"><%= @load.from_address %></div>
              <%= hidden_field_tag "from_coordinate", @load.from_coordinate.to_json %>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Destination Address  <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data" id="to_address"><%= @load.to_address %></div>
              <%= hidden_field_tag "to_coordinate", @load.to_coordinate.to_json %>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Loading Date  <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.loading_date %></div>
            </li>
    				<li>
				      <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Load Type <span>-</span></div>
				      <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.load_type.name %></div>
    				</li>
    			</ul>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-8 ">
	  <div class="section-details">
	    <div class="detail-wrapper p-none">
	      <div class="row">
	        <div class="detail-title">
	          <h3> Load details :</h3>
	        </div>
	      </div>
	      <div class="row ">
          <ul class="basic-detail-list">
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> weight  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.weight["value"] +" "+ @load.weight["unit"] %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Volume  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.volume["value"] +" "+ @load.volume["unit"] %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Dimension  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.dimension["length"] +" x " +@load.dimension["height"] +" x " + @load.dimension["dept"] +" "+ @load.dimension["unit"] %></div>
            </li>
 					</ul>
 				</div>
 			</div>
 		</div>
 	</div>
 	<div class="col-sm-6 col-md-6 col-lg-4 ">
    <div class="section-details">
      <div class="detail-wrapper p-none">
        <div class="row">
          <div class="detail-title">
            <h3>Vehicle Details :</h3>
          </div>
        </div>
        <div class="row ">
          <ul class="basic-detail-list">
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Vehicle load type  <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.vehicle_load_type.name %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Vehicle type   <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.vehicle_type.name %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Vehicle Quantity   <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.vehicle_quantity %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left"> Comment   <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.comment %></div>
            </li>
            <li>
            	<div class="col-xs-6 col-sm-5  caption text-left">Trip Distance   <span>-</span></div>
              <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @load.trip_distance %></div>
            </li>

          </ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  transportApp = new TransportApp({googleMap: true});
</script>