<%= render 'form', trip_tracking: @trip_tracking, load: @load, trip: @trip %>

<script type="text/javascript">
  transportApp = new TransportApp({autocomplete: true, selector: "trip_tracking_location"});
</script>