<style>
  div.hidden { display: none; }
</style>
<%= form_for [:admins, payment_plan] do |f| %>
  <div class="panel panel-default">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row custom-form-row-full">
          <div class="col-sm-2">
            <p class="feature_title form-label-title">
              Payment type
            </p>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
            	<%= f.select :payment_type, options_for_select(PaymentPlan.payment_types.map {|k,v| [k,k]}),class: 'form-control custom-form-control'%>
             	
            </div>
          </div>
          <div class="col-sm-2">
            <p class="feature_title form-label-title">
              Pay within days
            </p>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
            	<%= f.text_field :pay_within_days,class: 'form-control custom-form-control', placeholder: "Enter valid day",required: true %>
            	<div style="color: rgb(204, 0, 0)"><%= show_errors(payment_plan, :pay_within_days) %></div>
            </div>
          </div>
        </div>
        <div class="row custom-form-row-full">
          <div class="col-sm-2">
            <p class="feature_title form-label-title">
              Extra fees: 
            </p>
          </div>
          </div>
           <div class="row custom-form-row-full">
          <div class="col-sm-6">
            <p class="feature_title form-label-title">
              Extra fee field name  
            </p>
          </div>
          <div class="col-sm-6">
            <p class="feature_title form-label-title">
            	Extra fee value 
            </p>
          </div>
        </div>
        <div class="row custom-form-row-full">
          <!-- <div class="col-sm-2">
          	<div class="form-group">
          	</div>
         	</div> -->
          <div class="payment_fees"> 
          	<div class = "payment">
          		<div class="col-sm-5">
          	 		<div class="form-group">
          				<%= text_field_tag :extra_fee_field,nil, placeholder: 'Enter field name',name: "payment_plan[payment_fees[extra_fee_field]][]",required: true %>  Fees 
						 		</div>
						 	</div>
							<div class="col-sm-5">
            		<div class="form-group">
			 						<%= number_field_tag :extra_fee_value,nil, placeholder: 'Enter fee value in %',name: "payment_plan[payment_fees[extra_fee_value]][]",required: true %> %
			 					</div>
 							</div>
              <div class="col-sm-2">
                  <div class="form-group">
                    <%= submit_tag "Remove",id: "",class: "btn btn-danger remove_form" %>
                  </div>
              </div>
 						</div>
 					</div>
 					<div class="col-sm-1">
           	<div class="form-group">
           		<%= submit_tag "Add",id: "add_form" ,class: "btn btn-primary"%>
           	</div>
          </div>
 				</div>
				<div class="row custom-form-row-full">
          <div class = "hidden">
            <div class="col-sm-5">
              <div class="form-group">
                <%= text_field_tag :extra_fee_field,nil, placeholder: 'Enter field name',name: "payment_plan[payment_fees[extra_fee_field]][]" %>  Fees 
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <%= number_field_tag :extra_fee_value,nil, placeholder: 'Enter fee value in %',name: "payment_plan[payment_fees[extra_fee_value]][]" %> %
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <%= submit_tag "Remove",id: "",class: "btn btn-danger remove_form" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row custom-form-row-full">
          <div class="col-sm-2">
           	<p class="feature_title form-label-title">
           		Display plan ?
           	</p>
          </div>
          <div class="col-sm-2">
           	<div class="form-group">
           		<%= f.check_box :display_active, as: :boolean %>
            </div>
          </div>
          <div class="col-sm-4 add-more-right">
            <%= f.button :submit, class: 'btn custom-btn custom_btn custom-add-bordered-btn m-none' do %>
              <span class='glyphicon glyphicon-plus'></span> Save
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
<% end %>

 <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
      $('#add_form').on('click', function(){
      	contents = "<div class='payment_fees'>" + $(".hidden").html() + '</div>';
      	$(".payment_fees:last").after(contents);
       return false;
     });
      $(document).on('click',".remove_form", function() {
           $(this).closest('.payment_fees').html('');
           return false
       });
     });
 </script>