<% @payment_plans.each do |payment_plan| %>
<tr>
		<td><%= payment_plan.payment_type %></td>
		<td><%= payment_plan.pay_within_days %></td>
		<td>
			<% payment_plan.payment_fees.each do |key,value| %>
				<%= " #{key}:#{value}%," %>
			<% end %>
		</td>
		<td><%= payment_plan.display_active %></td>
		<td>
		<%= link_to edit_admins_payment_plan_path(payment_plan), title: 'Edit', class: 'action-link' do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
			<%= link_to [:admins,payment_plan],method: :delete, title: 'Delete', class: 'action-link', data: { confirm: 'Are you sure?'} do %>
				<i class="glyphicon glyphicon-trash"></i>
			<% end %>
		</td>
	</tr>
<%end %>