<style>
  div.hidden { display: none; }
</style>
<% provide(:title, " Edit Payment Plan") %>
<%= render 'shared/admin_breadcrumbs' %>
  <div class="row">
    <%= form_for [:admins, @payment_plan] do |f| %>
      <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row custom-form-row-full">
              <div class="col-sm-2">
                <p class="feature_title form-label-title">
                  Payment type
                </p>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <%= f.select :payment_type, options_for_select(PaymentPlan.payment_types.map {|k,v| [k,k]},selected: @payment_plan.payment_type)%>
                  <div style="color: rgb(204, 0, 0)"><%= show_errors(@payment_plan, :payment_type) %></div>
                </div>
              </div>
              <div class="col-sm-2">
                <p class="feature_title form-label-title">
                  Pay within days
                </p>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <%= f.text_field :pay_within_days,class: 'form-control custom-form-control', placeholder: "Enter valid day",required: true %>
                </div>
              </div>
            </div>

            <div class="row custom-form-row-full">
              <div class="col-sm-2">
                <p class="feature_title form-label-title">
                  Extra fees: 
                </p>
              </div>
            </div>
        
            <div class="row custom-form-row-full">
              <div class="col-sm-5">
                <p class="feature_title form-label-title">
                  Extra fee field name  
                </p>
              </div>
          
              <div class="col-sm-5">
                <p class="feature_title form-label-title">
                  Extra fee value 
                </p>
              </div>
            </div>
        
            <div class="row custom-form-row-full">
              <div class="payment_fees"> 
                <div class = "payment">
                  <% @payment_plan.payment_fees.try(:each) do |key,value| %>
                  <div class = "payment_inner">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <%= text_field_tag :extra_fee_field,nil,placeholder: 'Enter field name',name: "payment_plan[payment_fees[extra_fee_field]][]",value: key%>fees 
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <%= number_field_tag :extra_fee_value,nil,placeholder: 'Enter fee value in %',name: "payment_plan[payment_fees[extra_fee_value]][]",value: value%> %
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <%= submit_tag "Remove",id: "",class: "btn btn-danger remove" %>
                      </div>
                    </div>
                    </div>
                  <% end %> 
                </div>
              </div>
            </div>

            <div class="row custom-form-row-full">
              <div class = "hidden">
                <div class="col-sm-5">
                  <div class="form-group">
                    <%#= text_field_tag :extra_fee_field,nil, placeholder: 'Enter field name',name: "payment_plan[payment_fees[extra_fee_field]][]",required: true %>
                    <%= text_field_tag :extra_fee_field,nil, placeholder: 'Enter field name',name: "payment_plan[payment_fees[extra_fee_field]][]" %>  Fees 
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <%#= text_field_tag :extra_fee_value,nil, placeholder: 'Enter fee value in %',name: "payment_plan[payment_fees[extra_fee_value]][]",required: true %>
                    <%= number_field_tag :extra_fee_value,nil, placeholder: 'Enter fee value in %',name: "payment_plan[payment_fees[extra_fee_value]][]" %> %
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <%= submit_tag "Remove",id: "",class: "btn btn-danger remove" %>
                  </div>
                </div>
              </div>
          
              <div class="col-sm-2">
                <div class="form-group">
                  <%= submit_tag "Add",id: "add" ,class: "btn btn-primary"%>
                </div>
              </div>
            </div>
            
            <div class="row custom-form-row-full">
              <div class="col-sm-2">
                <p class="feature_title form-label-title">
                  Display plan ?
                </p>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <%= f.check_box :display_active, as: :boolean %>
                </div>
              </div>
              <div class="row custom-form-row-full">
                <div class="col-sm-6">
                  <%= f.button :submit, class: 'btn custom-btn custom_btn custom-add-bordered-btn m-none' do %>
                  Update
                  <% end %>
                  <%= link_to admins_payment_plans_path , class: 'btn custom-btn custom_btn custom-add-bordered-btn m-none' do %>
                  Cancel
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
 <script type="text/javascript">
   $(document).on('turbolinks:load', function() {
     $('#add').on('click', function(){
      contents = "<div class='payment_inner'>"  + $(".hidden").html() + '</div>';
      $(".payment_inner:last").after(contents);
      return false;
   });
     
    $(document).delegate(".remove",'click', function() {
          $(this).closest('.payment_inner').html('');
          return false;
          
        });
     
     });
 </script>