<% provide(:title, "Payment Plan") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
  <div class="col-xs-12 col-sm-12 load_form">
    <%= render 'form',payment_plan: @payment_plan %>
  </div>
</div>

<div class="row table-contents-wrapper table-records-wrapper">
  <div class="col-xs-12 revenue-table-wrapper">
    <div class="table-responsive">
      <table class="table table-hover revenue-table">
        <thead class="bg-color-pink">
          <tr>
            <th>Payment Type</th>
            <th>Pay Within Days</th>
            <th>Payment Fees</th>
            <th>Display Active</th>
            <th class="width-10">Action</th>
          </tr>
        </thead>
        <tbody>
          <%= render 'payment_plan' %>
        </tbody>
      </table>
    </div>
  </div>
</div>











<!-- <h3>All Plans</h3>( <%#= link_to "Add new plan", new_admin_payment_plan_path %> )
<table>
	<thead>
    <tr>
      <th>Payment Type</th>
      <th>Pay Within Days</th>
      <th>Payment Fees</th>
      <th>Display Active</th>
     </tr>
  </thead>
  <tbody class="payment_plans">
    <%#= render "payment_plan" %>
  </tbody>
</table> -->