<!-- <tr>
	<td><%#= quote.transporter.email %></td>
	<td>-</td>
	<td>-</td>
	<td><%#= quote.vehicle_type.name %></td>
	<td><%#= quote.offered_date.strftime("#{quote.offered_date.day.ordinalize} %b, %Y") %></td>
	<td><%#= quote.offered_price %></td>
	<td><%#= link_to "Accept", accept_quote_customers_load_path(@load,quote), method: :put %></td>
</tr> -->
<% quotes.each do |quote| %>
	<tr>
	<td><%= quote.transporter.name.blank? ? quote.transporter.ph_no : quote.transporter.name %></td>
	<td>-</td>
	<td>-</td>
	<td><%= quote.vehicle_type.name %></td>
	<td><%= quote.offered_date.strftime("#{quote.offered_date.day.ordinalize} %b, %Y") %></td>
	<td><%= quote.offered_price %></td>
	<td><%= link_to "Accept", accept_quote_customers_load_path(@load,quote), method: :put %></td>
</tr>
<% end %>
