<% provide(:title, "Vehicle Type") %>
<%= render 'shared/admin_breadcrumbs' %>

<div class="row">
  <div class="col-xs-12 col-sm-12 load_form">
  	<%= render 'form', vehicle_type: @vehicle_type %>
  </div>
</div>
<div class="row table-contents-wrapper table-records-wrapper">
  <div class="col-xs-12 revenue-table-wrapper">
    <!-- <div class="row search-wrapper">
      <div class="col-sm-6 revenue-search-box">
        <form class="form-inline revenue-table-form view-record-form">
          <label>Search</label>
          <input type="text" class="form-control search-box" name="search" id="search">
        </form>
      </div>
    </div> -->
    <div class="table-responsive">
      <table class="table table-hover revenue-table">
        <thead class="bg-color-pink">
          <tr>
            <th>Name</th>
            <th class="width-10">Action</th>
          </tr>
        </thead>
        <tbody>
          <%= render @vehicle_types %>
        </tbody>
      </table>
    </div>
  </div>
</div>