<div class="row margn-b-o">
  <div class="col s12 background-img">
    <div class="col m6 s12 swap_loc_row">
      <div class="row margn-b-o">
        <div class="col m2 s2 center-align icons loc_icons">
          <span class="first"></span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="first"></span>
        </div>
        <div class="col m10 s10 loc_names">
          <p class="white-text" id="source">
            <%= f.text_field :from_address, placeholder: "Enter from address",size: 40, value: params[:from].presence || f.object.from_address %>
            <%= f.hidden_field :from_coordinate, value: f.object.from_coordinate.to_a.join(",") %>
          </p>
          <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :from_address) %></div>
          <div class="row margn-b-o">
            <div class="col s11"></div>
            <div class="col s1 white-text"><span class="swap_v" style="cursor:pointer;"><i class="tiny material-icons">swap_vert</i></span></div>
          </div>
          <p class="white-text" id="destination">
            <%= f.text_field :to_address, placeholder: "Enter destination address", size: 40, value: params[:to].presence || f.object.to_address %>
            <%= f.hidden_field :to_coordinate, value: f.object.to_coordinate.to_a.join(",") %>
          </p>
          <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :to_address) %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= f.hidden_field :trip_distance %>

<%#= f.text_field :from_address, placeholder: "Enter from address",size: 40 , required: @step == :other_detail %>
<%#= f.text_field :destination_address, placeholder: "Enter destination address", size: 40 ,required: @step == :other_detail %>
<%#= f.hidden_field :trip_distance %>
<%#= f.text_field :from_address, placeholder: "Enter from address",size: 40 , required: @step == :other_detail %>
<%#= f.text_field :to_address, placeholder: "Enter destination address", size: 40 ,required: @step == :other_detail %><br>
