<style>
  .notice,.alert{
    display:none;
}
</style>
<main>
  <div id="customer-order" class="main-page">
    <div class="col s12">
      <div class="container">
        <div class="row">
          <div class="col l10 offset-l1 m12 s12">
            <div class="detail-box z-depth-3">
              <div class="row margn-b-o">
                <div class="col s12 background-img">
                  <div class="col m6 s12 swap_loc_row">
                    <div class="row margn-b-o">
                      <div class="col m2 s2 center-align icons loc_icons">
                        <span class="first"></span>
                        <span class="mid">.</span>
                        <span class="mid">.</span>
                        <span class="mid">.</span>
                        <span class="mid">.</span>
                        <span class="mid">.</span>
                        <span class="mid">.</span>
                        <span class="mid">.</span>
                        <span class="mid">.</span>
                        <span class="mid">.</span>
                        <span class="mid">.</span>
                        <span class="mid">.</span>
                        <span class="first"></span>
                      </div>
                      <div class="col m10 s10 loc_names">
                        <input type="text" class="white-text" id="load_from_address" value="<%= @load.from_address %>" disabled>
                        <div class="row margn-b-o">
                         <!--  <div class="col s11"><hr></div> -->
                          <!-- <div class="col s1 white-text"><span class="swap_v" style="cursor:pointer;"><i class="tiny material-icons">swap_vert</i></span></div> -->
                        </div>
                        <input type="text" class="white-text" id="load_to_address" value="<%= @load.to_address %>" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row left-order margn-b-o">
                <div class="col s12 m6">
                  <div class="row" style="margin-top: 25px;">
                    <div class="col s2 right-align"><img src="/assets/customer/load.jpg" alt="load icon"></div>
                    <div class="col s10 theme-text heading">LOAD TYPE/ MATERIAL</div>
                  </div>
                  <div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col s4 text ">
                          Load Type :
                      </div>
                      <div class="col s8 ">
                        <div class="col s5">
                          <div class="input-field input-valid">
                            <p><%= @load.load_type.name %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s2 right-align"><img src="/assets/customer/load2.jpg" alt="load icon"></div>
                    <div class="col s10 theme-text heading">LOAD DETAILS</div>
                  </div>
                  <div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col s4 text ">
                          Weight :
                      </div>
                      <div class="col s8 ">
                        <div class="col s5">
                          <div class="input-field input-valid">
                              <p><%= @load.weight["value"] + @load.weight["unit"] %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col s4 text">
                        Volume :
                    	</div>
                      <div class="col s8 ">
                        <div class="col s5">
                          <div class="input-field input-valid">
                            <p><%= @load.volume["value"] + @load.volume["unit"] %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col m4 text custom-full-width">
                        Dimension :
                    	</div>
                      <div class="col m8 custom-full-width">
                        <div class="col m5 s6">
                          <div class="input-field input-valid">
                            <p><%= @load.dimension["length"] + " x " + @load.dimension["height"] + " x " + @load.dimension["dept"] + @load.dimension["unit"] %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s2 right-align"><img src="/assets/customer/turck-1.jpg" alt="load icon"></div>
                    <div class="col s10 theme-text heading">VEHICLE DETAILS</div>
                  </div>
                  <div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col m4 text custom-full-width">
                        Vehicle Load Type:
                    	</div>
                      <div class="col m8 custom-full-width">
                       	<div class="col m7 s6">
                        	<div class="input-field input-valid">
                            <p><%= @load.vehicle_load_type.name %></p>
                       	 	</div>
                    		</div>
                      </div>
                    </div>
                  </div>
                  <div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col m4 text custom-full-width">
                       	Vehicle Type :
                  		</div>
                      <div class="col m8 custom-full-width">
                        <div class="col m8 s6">
                          <div class="input-field input-valid">
                            <p><%= @load.vehicle_type.name %></p>
                          </div>
                        </div>
                      </div>
              			</div>
                  </div>
                  <div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col m4 text custom-full-width">
                       	Vehicle Quantity :
                  		</div>
                      <div class="col m8 custom-full-width">
                        <div class="col m5 s6">
                          <div class="input-field input-valid">
                            <p><%= @load.vehicle_quantity %></p>
                          </div>
                        </div>
                      </div>
                  	</div>
                  </div>
                 	<div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col m4 text custom-full-width">
                       	Strict Date :
                  		</div>
                      <div class="col m8 custom-full-width">
                        <div class="col m5 s6">
                          <div class="input-field input-valid">
                            <p><%= @load.strict_date %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                	</div>

                  <div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col m4 text custom-full-width">
                        Loading Date :
                    	</div>
                      <div class="col m8 custom-full-width">
                        <div class="col m8 s6">
                          <div class="input-field input-valid">
                            <p><%= @load.loading_date %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col m4 text custom-full-width">
                          Comment :
                      </div>
                      <div class="col m8 custom-full-width">
                        <div class="col m8 s6">
                          <div class="input-field input-valid">
                          	<% if @load.comment.blank? %>
                          		<p>Not Available</p>
                          	<% else %>
                            	<p><%= @load.comment %></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row margn-b-o second" id="custom-order1">
                    <div class="col m10 offset-m2 s12">
                      <div class="col m4 text custom-full-width">
                        Trip Distance :
                      </div>
                      <div class="col m8 custom-full-width">
                       	<div class="col m5 s6">
		                      <div class="input-field input-valid">
		                        <p><%= @load.trip_distance %> km</p>
		                      </div>
                  			</div>
                 			</div>
              			</div>
                  </div>
                  <div class="row">
                    <div class="col offset-m2 s12">
                    	<div class="col m5 s6">
      									<%= link_to 'Previous', previous_wizard_path(load_id: @load.id),:class => 'waves-effect waves-light white-text btn-flat theme-bg butons p-none center-align', id: "previous_details",style: "width:100%;" %>
   								 		</div>
     								 	<div class="col m7 s6">
                      	<%= link_to 'Confirm & Save', next_wizard_path(load_id: @load.id), :class => 'waves-effect waves-light btn theme-bg butons', data: {load: "submitted", "load-id": @load.id} %>
                      </div>
                    </div>
                  </div>
         				</div>
                <div class="col s12 m6 center-align">
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.459559908322!2d77.20591391460435!3d28.645955390225115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd68259e3211%3A0x40e4f874caed8109!2sPahar+Ganj+Police+Thana+Bus+Stand!5e0!3m2!1sen!2sin!4v1463556920628" width="100%" height="450" frameborder="0" style="border:0;margin-bottom: -6px;" allowfullscreen></iframe> -->
                  <div id="map" style="height: 600px;width: 700px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div>
  <%= render 'shared/default_footer' %>
</div>
<script type="text/javascript">
	$('.swap_v').click(function(event) {
    var src = $("#source").html();
    var dest = $("#destination").html();
    $("#destination").html(src);
    $("#source").html(dest);
  });
</script>




<!-- <h2>Confirm Load deatils</h2>
<h4>ADDRESS DETAIL</h4>
From Address : <%#= @load.from_address %><br>
Destination Address : <%#= @load.to_address %><br>
<h4>LOAD TYPE/ MATERIAL</h4>
- Load Type : <%#= @load.load_type.name %><br><hr>
<h4>LOAD DETAILS</h4>
- weight : <%#= @load.weight["value"] + @load.weight["unit"] %><br>
- Volume : <%#= @load.volume["value"] + @load.volume["unit"] %><br>
- Dimension : <%#= @load.dimension["length"] + " x " + @load.dimension["height"] + " x " + @load.dimension["dept"] + @load.dimension["unit"] %><br>
<h4>VEHICLE DETAILS : </h4>
- Vehicle load type : <%#= @load.vehicle_load_type.name %><br>
- Vehicle type : <%#= @load.vehicle_type.name %><br>
- Vehicle Quantity : <%#= @load.vehicle_quantity %><br>
- Strict Date : <%#= @load.strict_date %><br>
Loading Date : <%#= @load.loading_date %><br>
Comment : <%#= @load.comment %><br>
Trip Distance : <%#= @load.trip_distance %> km<br>
<%#= link_to 'Previous', previous_wizard_path(load_id: @load.id),:class => 'btn btn-primary', id: "previous_details" %>
<%#= link_to 'Confirm & Save', next_wizard_path(load_id: @load.id), :class => 'btn btn-primary' %> -->