<style>
.material-item-row {
    margin-bottom: 0;
}
.notice,.alert{
    display:none;
}
</style>

<main>
<div id="customer-order" class="main-page">
  <div class="col s12">
    <div class="container">
      <div class="row">
        <div class="col l10 offset-l1 m12 s12">
          <div class="detail-box z-depth-3">
            <%#= render 'shared/error_messages', object: @load %>
            <%= form_for(@load, :url => wizard_path(@step, load_id: @load.id, from: params[:from], to: params[:to]), :method => :put, html: { id: "load_form", data: {form: "load_detail"} }) do |f| %>
              <%= render "location_name_field", f: f %>
              <div class="row left-order margn-b-o">
                <div class="col s12 m6">
                  <!-- <form id="loadDetailsForm"> -->
                    <div class="row" style="margin-top: 25px;">
                      <div class="col s2 right-align"><img src="/assets/customer/load.jpg" alt="load icon"></div>
                      <div class="col s10 theme-text heading">LOAD TYPE/ MATERIAL</div>
                    </div>
                    <div class="row material-item-row" id="custom-order1">
                      <div class="col m9 offset-m2 s8">
                        <div class="col s12">
                          <div class="input-field">
                            <%= f.select :load_type_id,LoadType.active.collect {|lt| [lt.name, lt.id]}, { prompt: "Select Load Type"},required: true %>
                            <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :load_type_id) %></div>
                          </div>
                          <p id="error" class="tmp_error col s12"> error here</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s2 right-align"><img src="/assets/customer/load2.jpg" alt="load icon"></div>
                      <div class="col s10 theme-text heading">LOAD DETAILS</div>
                    </div>
                    <div class="row margn-b-o second" id="custom-order1">
                      <div class="col m10 offset-m2 s12">
                        <div class="col s3 text ">
                          WEIGHT
                        </div>
                        <div class="col s9 ">
                          <div class="col s5">
                            <div class="input-field input-valid">
                              <%= text_field_tag "load[weight][value]", f.object.weight["value"],class: "validate from-input",id: "loadweight" %>
                              <!-- <input id="loadweight" type="text" class="validate from-input" name="loadweight"> -->
                            </div>
                          </div>
                          <div class="col s7 center-align">
                            <div class="input-field center-align">
                              <%= select_tag "load[weight][unit]", options_for_select(WeightUnit.all.collect {|wu| [wu.short_name, wu.short_name]}, f.object.weight["unit"]), required: true %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row margn-b-o second">
                      <div class="col m7 offset-m5 s12">
                        <p id="error" class="tmp_error col s12"> <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :weight) %></div></p>
                      </div>
                    </div>
                    <div class="row margn-b-o second" id="custom-order1">
                      <div class="col m10 offset-m2 s12">
                        <div class="col s3 text">
                          V0LUME
                        </div>
                        <div class="col s9 ">
                          <div class="col s5">
                            <div class="input-field input-valid">
                            <%= text_field_tag "load[volume][value]", f.object.volume["value"],id: "loadvolume", class: "validate from-input" %>
                                <!-- <input id="loadvolume" type="text"  class="validate from-input" name="loadvolume"> -->
                            </div>
                          </div>
                          <div class="col s7 center-align">
                            <div class="input-field center-align">
                              <%= select_tag "load[volume][unit]", options_for_select(VolumeUnit.all.collect {|vu| [vu.short_name, vu.short_name]}, f.object.volume["unit"]) %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row margn-b-o second">
                      <div class="col m7 offset-m5 s12">
                        <p></p>
                      </div>
                    </div>
                    <div class="row margn-b-o second" id="custom-order1">
                      <div class="col m10 offset-m2 s12">
                        <div class="col m3 text custom-full-width">
                          DIMENSION
                        </div>
                        <div class="col m9 custom-full-width">
                          <div class="col m2 s2">
                            <div class="input-field input-valid">
                              <%= text_field_tag "load[dimension][length]", f.object.dimension["length"],id: "loaddim1",class: "validate from-input" %>
                                <!-- <input id="loaddim1" type="text" value="2" class="validate from-input" name="loaddim1"> -->
                            </div>
                          </div>
                          <div class="col m1 s1 custom-cross center-align grey-text">x</div>
                          <div class="col m2 s2">
                            <div class="input-field input-valid">
                              <%= text_field_tag "load[dimension][height]", f.object.dimension["height"],id: "loaddim2",class: "validate from-input" %>
                                <!-- <input id="loaddim2" type="text" value="2" class="validate from-input" name="loaddim2"> -->
                            </div>
                          </div>
                          <div class="col m1 s1 custom-cross center-align grey-text">x</div>
                          <div class="col m2 s2">
                            <div class="input-field input-valid">
                             <%= text_field_tag "load[dimension][dept]", f.object.dimension["dept"],id: "loaddim3",class: "validate from-input" %>
                                <!-- <input id="loaddim3" type="text" value="2" class="validate from-input" name="loaddim3"> -->
                            </div>
                          </div>
                          <div class="col m3 s3">
                            <div class="input-field center-align">
                              <%= select_tag "load[dimension][unit]", options_for_select(VolumeUnit.all.collect {|vu| [vu.short_name, vu.short_name]}, f.object.dimension["unit"]) %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row margn-b-o second">
                      <div class="col m7 offset-m5 s12">
                        <p></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col offset-m2 s12">
                      <div class="col m4 s6">
                          <button type="submit" class="waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align" style="width:100%; background: #dfdfdf;">PREVIOUS</button>
                        </div>
                        <div class="col m4 s6">
                          <button type="submit" class="waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align" style="width:100%;">NEXT</button>
                        </div>
                      </div>
                    </div>
                  <!-- </form> -->
                </div>
                <div class="col s12 m6 center-align">
                  <div id="map" style="height: 400px;width: 700px;"></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
<div>
  <%= render 'shared/default_footer' %>
</div>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.js' %>
<script>
  // $(document).ready(function() {
  //   $('select').material_select();
  // });
  // // add item js

  // $("#loadDetailsForm").validate({
  //   rules: {
  //     loadweight: "required",
  //     loadvolume: "required",
  //     loaddim1: "required",
  //     loaddim2: "required",
  //     loaddim3: "required",
  //     dimUnit: "required"
  //   }
  // });


  //  // $('#error').hide();
  // var tmp_cntrl = 0;
  // $('[type = "submit"]').click(function(event) {
  //     //$('#error').show();
  //   $('input.select-dropdown').each(function(index, el) {
  //     tmp_cntrl = index;
  //     if($(this).hasClass('valid') == false)
  //     {
  //       if($(this).parent().find('.tmp_error').length == 1)
  //       {

  //       }
  //       else
  //       {
  //           //$('<h2 class="tmp_error">Please Select Option </h2>').insertAfter($(this));
  //           $('p#error').text("Please Select Option");
  //           $('p#error').css({
  //               'color' : '#f00',
  //               'opacity' : '1'
  //           });
  //       }
  //     }
  //     else{
  //       $('p#error').text("error here");
  //       $('p#error').css({
  //               'opacity' : '0'
  //           });
  //       //$(this).parent().find('.tmp_error').remove();
  //     }
  //   });
  //   if ($('.valid').length < tmp_cntrl) {
  //     return false;
  //   } else {
  //     return true;
  //   }
  // });
</script>


<!-- <div class="col-md-8">
<%#= render 'shared/error_messages', object: @load %>
<%#= form_for(@load, :url => wizard_path(@step, load_id: @load.id), :method => :put, html: { id: "load_form" }) do |f| %>
  <%#= render "location_name_field", f: f %>
  <h3>LOAD TYPE/ MATERIAL</h3>
  <%#= f.select :load_type_id, LoadType.active.collect {|lt| [lt.name, lt.id]}, { prompt: "Select Load Type"}, { required: true } %><br>
  <h3>LOAD DETAILS</h3>
  WEIGHT : <%#= text_field_tag "load[weight][value]", f.object.weight["value"], required: true %>
  <%#= select_tag "load[weight][unit]", options_for_select(WeightUnit.all.collect {|wu| [wu.short_name, wu.short_name]}, f.object.weight["unit"]), required: true %><br>
  VOLUME : <%#= text_field_tag "load[volume][value]", f.object.volume["value"] %>
  <%#= select_tag "load[volume][unit]", options_for_select(VolumeUnit.all.collect {|vu| [vu.short_name, vu.short_name]}, f.object.volume["unit"]) %><br>
  DIMENSION : <%#= text_field_tag "load[dimension][length]", f.object.dimension["length"] %>
  <%#= text_field_tag "load[dimension][height]", f.object.dimension["height"] %>
  <%#= text_field_tag "load[dimension][dept]", f.object.dimension["dept"] %>
  <%#= select_tag "load[dimension][unit]", options_for_select(VolumeUnit.all.collect {|vu| [vu.short_name, vu.short_name]}, f.object.dimension["unit"]) %><br>
  <%#= link_to 'Previous', "",:class => 'btn btn-primary disabled', id: "previous_details" %>
  <%#= f.submit 'Next', :class => 'btn btn-primary' %>
<%# end %>
</div>
<div class="col-md-4">
  <div id="map" style="height: 400px;width: 700px;"></div>
</div> -->