<style>
  .notice,.alert{
    display:none;
}
</style>
<main>
  <div id="customer-order" class="main-page">
	  <div class="col s12">
	    <div class="container">
	      <div class="row">
	        <div class="col l10 offset-l1 m12 s12">
	          <div class="detail-box z-depth-3">
            	<%#= render 'shared/error_messages', object: @load %>
            	<%= form_for(@load, :url => wizard_path(@step, load_id: @load.id), :method => :put, html: { id: "load_form" }, data: {form: "other_detail"}) do |f| %>
                <%= render "location_name_field", f: f %>
                <div class="row left-order margn-b-o">
                	<div class="col s12 m6">
                    <div class="row" style="margin-top: 25px;">
                      <div class="col s2 right-align"><img src="/assets/customer/Coment.jpg" alt="load icon"></div>
                      <div class="col s10 theme-text heading">COMMENTS TO SUPPLIER</div>
                    </div>
                    <div class="row">
                      <div class="col s11 m9 offset-m2 offset-s1 ">
                        <div class="input-field custom-fields">
                        	<%= f.text_field :comment,id: "cmnt",class: "validate from-input",placeholder: "Discription of load or truck type" %>
                            <!-- <input id="cmnt" type="text" class="validate from-input" name="comment" placeholder="Discription of load or truck type"> -->
                        </div>
                      </div>
                  	</div>
                    <div class="row">
                      <div class="col s2 right-align"><img src="/assets/customer/tnc.jpg" alt="load icon"></div>
                      <div class="col s10 theme-text heading">TERMS &amp; CONDITIONS</div>
                    </div>
                    <div class="row ">
                      <div class="col s11 m9 offset-m2 offset-s1">
                          <!-- <div class="col s12 tnc-box" style="border: 1px solid #ddd;border-radius: 3px;height: 100px;overflow-y: auto;margin-bottom: 20px;background: whitesmoke;">
                          </div> -->
                        <!-- <div class="input-field custom-fields">
                          <%#= f.text_area :terms_of_service, class: "materialize-textarea validate from-input",placeholder: "Terms & Conditions are here"%> -->
                          <!-- <textarea id="term" class="materialize-textarea validate from-input"   placeholder="Terms & Conditions are here"></textarea> -->
                        <!-- </div> -->
                      </div>
                  	</div>
                    <div class="row">
                      <div class="col s11 m9 offset-m2 offset-s1">
                      	<%= f.check_box :terms_of_service, required: true,class: "filled-in", id: "filled-in-box", checked: "checked" %>
                          <!-- <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /> -->
                        <label for="filled-in-box">I have read and accept the T&Cs.</label>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col l10 offset-l2 m11 offset-m1 s12">
                        <div class="col s6">
                          <%= link_to 'Previous', previous_wizard_path(load_id: @load.id),:class => 'waves-effect waves-light white-text btn-flat theme-bg butons p-none center-align', id: "previous_details",style: "width:100%;" %>
                              <!-- <button class="waves-effect waves-light white-text btn-flat theme-bg butons p-none center-align" style="width:100%;">PREVIOUS</button> -->
                        </div>
                        <div class="col s6">
                        		<%= f.submit 'POST LOAD', :class => 'waves-effect waves-light white-text btn-flat theme-bg butons p-none center-align',style: "width:100%;" %>
                            <!-- <button class="waves-effect waves-light white-text btn-flat theme-bg butons p-none center-align" style="width:100%;">POST LOAD</button> -->
                        </div>
                      </div>
                  	</div>
                  </div>
                  <div class="col s12 m6 center-align">
                      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.459559908322!2d77.20591391460435!3d28.645955390225115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd68259e3211%3A0x40e4f874caed8109!2sPahar+Ganj+Police+Thana+Bus+Stand!5e0!3m2!1sen!2sin!4v1463556920628" width="100%" height="450" frameborder="0" style="border:0;margin-bottom: -6px;" allowfullscreen></iframe> -->
                    <div id="map" style="height: 400px;width: 700px;"></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      	</div>
  		</div>
		</div>
	</div>
</main>
<div>
  <%= render 'shared/default_footer' %>
</div>
<%#= render 'shared/error_messages', object: @load %>
<%#= form_for(@load, :url => wizard_path(@step, load_id: @load.id), :method => :put, html: { id: "load_form" }) do |f| %>
  <%#= render "location_name_field", f: f %>
  <!-- COMMENTS TO SUPPLIER : <%#= f.text_field :comment %><br>
	TERM & CONDITIONS :<br>
	 => list down term & conditions...<br>
	 <%#= f.check_box :terms_of_service, required: true %> I have read and accept the T&Cs.
	 <br>
	<%#= link_to 'Previous', previous_wizard_path(load_id: @load.id),:class => 'btn btn-primary', id: "previous_details" %>
  <%#= f.submit 'POST LOAD', :class => 'btn btn-primary' %>
<%# end %>
<div class="col-md-4">
  <div id="map" style="height: 400px;width: 700px;"></div>
</div> -->
