<style>
  .select-dropdown li img{
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .notice,.alert{
    display:none;
}
</style>
<main>
  <div id="customer-order" class="main-page">
    <div class="col s12">
      <div class="container">
        <div class="row">
          <div class="col l10 offset-l1 m12 s12">
            <div class="detail-box z-depth-3">
              <%#= render 'shared/error_messages', object: @load %>
              <%= form_for(@load, :url => wizard_path(@step, load_id: @load.id), :method => :put, html: { id: "load_form", data: {form: "vehicle_detail"} }) do |f| %>
                <%= render "location_name_field", f: f %>
                <div class="row left-order margn-b-o">
                    <div class="col s12 m6 custom-full-width">
                        <div class="row" style="margin-top: 25px;">
                            <div class="col s2 right-align"><img src="/assets/customer/turck-1.jpg" alt="load icon"></div>
                            <div class="col s10 theme-text heading">TRUCK LOAD TYPE</div>
                        </div>
                       <%#= f.select :vehicle_load_type_id, VehicleLoadType.all.collect {|vlt| [vlt.name, vlt.id]} %>

                        <div class="row">
                          <div class="col m11 offset-m1 s12">
                            <div class="col m11 s12" style="margin-bottom: 10px;">
                              <div class="filter custom-filter-tab">
                                <ul class="tabs truck-load-tabs" style="width: 100%;">
                                  <% @vehicle_load_types.each_with_index do |vehicle_load_type, index| %>
                                    <li class="tab col s3"><a class="<%= f.object.vehicle_load_type_id == vehicle_load_type.id ? 'active' : '' %>" data="<%= vehicle_load_type.id %>" id="load"><%= vehicle_load_type.name %></a></li>
                                    <!-- <li class="tab col s3"><a href="#partial_truck_load" class=" ">PARTIAL TRUCK LOAD</a></li> -->
                                <% end %>
                                </ul>
                              </div>
                                <!-- </div>  -->
                            </div>
                          </div>
                        </div>
                        <%= f.hidden_field :vehicle_load_type_id, :value => f.object.vehicle_load_type_id.presence || VehicleType.first.id ,id: 'vehicle_load'%>
                        <div class="">
                            <div class="row" style="margin-bottom: 5px;">
                                <div class="col m11 offset-m1 s12">
                                    <div class="col s3 text">
                                        TRUCK TYPE
                                    </div>
                                    <div class="col s8">
                                        <div class="input-field center-align">
                                          <%= f.select :vehicle_type_id, VehicleType.all.collect {|vt| [vt.name, vt.id]}, { prompt: "Select Vehicle Type" } %>
                                          <div style="color: rgb(204, 0, 0)"><%= show_errors(@load, :vehicle_type_id) %></div>
                                        </div>
                                         <p id="error" class="tmp_error col s12">error here</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row"> -->
                              <!-- <div class="col m7 offset-m5 s12">
                                <p id="error" class="tmp_error col s12">error here</p>
                              </div> -->
                            <!-- </div> -->
                            <div class="row" style="margin-bottom: 5px;">
                                <div class="col m11 offset-m1 s12">
                                    <div class="col s3 text">
                                        QUANTITY
                                    </div>
                                    <div class="col s8 qulty">
                                        <div class="input-field center-align">
                                          <%= f.number_field :vehicle_quantity %>
                                          <!-- <div style="color: rgb(204, 0, 0)"><%#= show_errors(@load, :vehicle_quantity) %> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col m7 offset-m5 s12">
                                <p id="error" class="tmp_error col s12">error here</p>
                              </div>
                            <div class="row">
                                <div class="col s2 right-align"><img src="/assets/customer/date-pik.jpg" alt="load icon"></div>
                                <div class="col s10 theme-text heading">SELECT DATE</div>
                            </div>
                            <div class="row margn-b-o">
                              <div class="col m9 offset-m2 s12">
                                <div class="col s6">
                                  <div class="input-field center-align" id="dates-piker">
                                    <%= f.text_field :loading_date, class: "datepicker", value: f.object.loading_date.present? ? f.object.loading_date.strftime("#{f.object.loading_date.day} %B, %Y") : Date.today.strftime("#{Date.today.day} %B, %Y")%>
                                  </div>
                                </div>
                                <div class="col s6">
                                  <%= f.check_box :strict_date,class: "filled-in",id: "filled-in-box",default: 1 ,checked: f.object.strict_date%>
                                  <!-- <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /> -->
                                  <label for="filled-in-box">Strict with date</label>
                                </div>
                                <!-- <div style="color: rgb(204, 0, 0)"><%#= show_errors(@load, :loading_date) %> -->
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col offset-m2 s12">
                                <div class="col m4 s6">
                                  <%= link_to 'Previous', previous_wizard_path(load_id: @load.id),:class => 'waves-effect waves-light white-text btn-flat theme-bg butons p-none center-align', id: "previous_details",style: "width:100%;" %>
                                </div>
                                <div class="col m4 s6">
                                  <button type="submit" class="waves-effect waves-light btn-flat theme-bg white-text butons p-none center-align" style="width:100%;">NEXT</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6 center-align">
                      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.459559908322!2d77.20591391460435!3d28.645955390225115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd68259e3211%3A0x40e4f874caed8109!2sPahar+Ganj+Police+Thana+Bus+Stand!5e0!3m2!1sen!2sin!4v1463556920628" width="100%" height="450" frameborder="0" style="border:0;margin-bottom: -6px;" allowfullscreen></iframe> -->
                    <div id="map" style="height: 400px;width: 700px;"></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>


<div>
  <%= render 'shared/default_footer' %>
</div>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.js' %>



<%#= render 'shared/error_messages', object: @load %>
<%#= form_for(@load, :url => wizard_path(@step, load_id: @load.id), :method => :put, html: { id: "load_form" }) do |f| %>
  <%#= render "location_name_field", f: f %>
  <!-- <%#= f.select :vehicle_load_type_id, VehicleLoadType.all.collect {|vlt| [vlt.name, vlt.id]} %><br>
  TRUCK TYPE : <%#= f.select :vehicle_type_id, VehicleType.all.collect {|vt| [vt.name, vt.id]}, { prompt: "Select Vehicle Type" }, { required: true } %><br>
  QUANTITY : <%#= f.number_field :vehicle_quantity, required: true %><br>
  STRICT DATE :
  <%#= f.text_field :loading_date, required: true %>
  <%#= f.check_box :strict_date %> Strict with date
  <br>
  <%#= link_to 'Previous', previous_wizard_path(load_id: @load.id),:class => 'btn btn-primary', id: "previous_details" %>
  <%#= f.submit 'Next', :class => 'btn btn-primary' %>
<%# end %>
<div class="col-md-4">
  <div id="map" style="height: 400px;width: 700px;"></div>
</div>
 -->