<% @quotes.each do |quote| %>
	<tr>
		<td><%= quote.transporter_id %></td>
		<td><%= quote.load_id %></td>
		<td><%= link_to quote.load.customer_id, admins_customer_path(quote.load.customer_id) %></td>
		<td><%= quote.load.from_address %></td>
		<td><%= quote.load.to_address %></td>
		<td><%= quote.load.load_type.name %></td>
		<td><%= quote.load.posted_on.try(:strftime, "#{quote.load.posted_on.try(:day).try(:ordinalize)} %b, %Y") || "-" %></td>
		<td><%= quote.offered_date.strftime("#{quote.offered_date.day.ordinalize} %b, %Y") %></td>
		<td><%= quote.vehicle_type.name %></td>
		<td><%= quote.offered_price %></td>
		<td>
			<%= link_to edit_admins_quote_path(quote), class: "action-link", title: "Edit Quote" do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
		</td>
		<td>
		<%= link_to cancel_quote_admins_quote_path(quote.slug), class: "action-link", title: "Cancel Quote", method: :put do %>
			<i class="glyphicon glyphicon-remove"></i>
		<% end %>
		</td>
		<td>
			<%= link_to admins_quote_path(quote),class: "action-link" do %>
	      <i class="glyphicon glyphicon-eye-open"></i>
	    <% end %>
		</td>
	</tr>
<% end %>