<% provide(:title, " Edit Quote") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
	<%= form_for [:admins, @quote],  :url => url_for(:controller => 'admins/quotes', :action => 'update_quote') do |f| %>
		<div class="panel panel-default">
    	<ul class="list-group">
      	<li class="list-group-item">
        	<div class="row custom-form-row-full">
          	<div class="col-sm-2">
            	<p class="feature_title form-label-title">
              	LOADING DATE
            	</p>
          	</div>
          	<div class="col-sm-2">
            	<div class="form-groupload">
            		<%= f.text_field :offered_date,class: 'form-control custom-form-control',value: @quote.offered_date.strftime("#{@quote.offered_date.day.ordinalize} %b, %Y")%>
             		<div style="color: rgb(204, 0, 0)"><%= show_errors(@quote, :offered_date) %></div>
            	</div>
          	</div>
          </div>
        	
       		<div class="row custom-form-row-full">
          	<div class="col-sm-2">
            	<p class="feature_title form-label-title">
              	TRUCK LOAD
            	</p>
          	</div>
          	<div class="col-sm-2">
            	<div class="form-groupload">
            		<%= f.select :offered_vehicle_type_id, VehicleType.all.collect {|vt| [vt.name, vt.id]}, { prompt: "Select Truck Type" } %>
     						<div style="color: rgb(204, 0, 0)"><%= show_errors(@quote, :offered_vehicle_type_id) %></div>
     					</div>
            </div>
          </div> 
          		
          <div class="row custom-form-row-full">
          	<div class="col-sm-2">
            	<p class="feature_title form-label-title">
              	YOUR QUOTE
            	</p>
          	</div>
          	<div class="col-sm-2">
            	<div class="form-groupload">
            		<%= f.text_field :offered_price,placeholder: "Enter offered price",class: 'form-control custom-form-control'%>
             		<div style="color: rgb(204, 0, 0)"><%= show_errors(@quote, :offered_price) %></div>
            	</div>
          	</div>
          </div>
          	
          <div class="row custom-form-row-full">
						<div class="col-sm-2">
							<%= f.submit 'save', :class => 'btn custom-btn custom_btn custom-add-bordered-btn m-none' %>
						</div>
						<div class="col-sm-2">
							<%= link_to 'cancel', admins_quotes_path, :class => 'btn custom-btn custom_btn custom-add-bordered-btn m-none' %>
						</div>
          </div>
        </li>
      </ul>
    </div>
	<% end %>
</div>
	