<% provide(:title, "Load") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
	<section class="section-details primary-section">
    <div class=" col-xs-12 col-sm-12">
      <div class="detail-wrapper">
      	<div class="row col-sm-6 student-header detail-wrap">
     			<ul class="basic-detail-list">
	    			<li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Customer <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.customer.name || @load.customer.email %></div>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Load ID  <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.load_docket_id %></div>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Loading Date  <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.loading_date %></div>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">From Address  <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.from_address %></div>
              <%= hidden_field_tag "from_coordinate", @load.from_coordinate.to_a.join(",") %>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Destination Address  <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.to_address %></div>
              <%= hidden_field_tag "to_coordinate", @load.to_coordinate.to_a.join(",") %>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left">Load Type <span>-</span></div>
              <div class="col-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.load_type.name %></div>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left"> weight  <span>-</span></div>
              <div class="ol-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.weight["value"] +" "+ @load.weight["unit"] %></div>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left"> Volume  <span>-</span></div>
              <div class="ol-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.volume["value"] +" "+ @load.volume["unit"] %></div>
            </li>
            <li>
              <div class="col-xs-6 col-md-5 col-lg-4 caption text-left"> Dimension  <span>-</span></div>
              <div class="ol-xs-6 col-md-7 col-lg-8 caption-data"><%= @load.dimension["length"] +" x " +@load.dimension["height"] +" x " + @load.dimension["dept"] +" "+ @load.dimension["unit"] %></div>
            </li>
    			</ul>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="row section-details">
  <div class="detail-wrapper p-none">
    <div class="row">
      <div class="detail-title">
        <h3>Quote Details :</h3>
      </div>
    </div>
    <div class="row ">
      <ul class="basic-detail-list">
        <li>
        	<div class="col-xs-6 col-sm-5  caption text-left"> Transporter  <span>-</span></div>
          <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @quote.transporter.ph_no %></div>
        </li>
        <li>
        	<div class="col-xs-6 col-sm-5  caption text-left"> Offered Vehicle Load Type  <span>-</span></div>
          <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @quote.vehicle_load_type.name %></div>
        </li>
        <li>
        	<div class="col-xs-6 col-sm-5  caption text-left"> Offered Vehicle Type  <span>-</span></div>
          <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @quote.vehicle_type.name %></div>
        </li>
        <li>
        	<div class="col-xs-6 col-sm-5  caption text-left"> Offered Vehicle Quantity <span>-</span></div>
          <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @quote.offered_vehicle_quantity %></div>
        </li>
        <li>
        	<div class="col-xs-6 col-sm-5  caption text-left"> Offered Date  <span>-</span></div>
          <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @quote.offered_date.strftime("#{@quote.offered_date.day.ordinalize} %b, %Y") %></div>
        </li>
        <li>
        	<div class="col-xs-6 col-sm-5  caption text-left"> Offered Price <span>-</span></div>
          <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @quote.offered_price %></div>
        </li>
        <li>
          <div class="col-xs-6 col-sm-5  caption text-left"> Status <span>-</span></div>
          <div class="col-xs-6 col-sm-6 caption-data font-normal"><%= @quote.status %></div>
        </li>
      </ul>
		</div>
	</div>
</div>
