Distance travelled : <span id="travelled_distance"></span><br>
	Stoppages : -<br>
	Stoppage duration : -<br>
	Trip duration : <%= trip.duration %><br>
	Average speed : <%= number_with_precision(trip.avg_speed, precision: 2) %><br>
	<hr>
> <%= label "from", "address", load.from_address, id: "from_address" %> | <%= trip.created_at.strftime("%d/%m - %I:%M %p") %><br>
<div id="tracking_list">
	<% trip.trip_trackings.each do |track| %>
		> <span><%= track.location %></span> | <%= track.created_at.strftime("%d/%m - %I:%M %p") %><br>
	<% end %>
</div>
<br>
> <%= label "destination", "address", load.to_address, id: "to_address" %>
<br>
<br>