Dear Transporter/ Fleet Owner,<br>
Sorry, your Quote is not accepted for load <%= @load.id %><br>
<% quote = @load.submitted_quotes.select{|a|a.transporter == @user }.uniq.first %>
<b>Your Quote Details:</b><br>
<% unless quote.nil? %>
	<i>Offered Vehicle Load Type</i> : <%= quote.vehicle_load_type.name %><br>
	<i>Offered Vehicle Type</i> : <%= quote.vehicle_type.name %><br>
	<i>Offered Vehicle Quantity</i> : <%= quote.offered_vehicle_quantity %><br>
	<i>Offered Loading Date</i> : <%= quote.offered_date.strftime("#{quote.offered_date.day.ordinalize} %b, %Y - %I:%M %p") %><br>
	<i>Offered Price</i> : <%= quote.offered_price %><br>
	<br>
<% end %>

<b>Accepted Quote Details:</b><br>
<i>Offered Vehicle Load Type</i> : <%= @object.vehicle_load_type.name %><br>
<i>Offered Vehicle Type</i> : <%= @object.vehicle_type.name %><br>
<i>Offered Vehicle Quantity</i> : <%= @object.offered_vehicle_quantity %><br>
<i>Offered Loading Date</i> : <%= @object.offered_date.strftime("#{@object.offered_date.day.ordinalize} %b, %Y - %I:%M %p") %><br>
<i>Offered Price</i> : <%= @object.offered_price %><br>
<br>

<b>Load Details :</b><br>
<i>Load status</i> : <%= @load.load_status.humanize %><br>
<i>Load Docket ID</i> : <%= @load.load_docket_id %><br>
<i>Load Type</i> : <%= @load.load_type.name %><br>
<i>Vehicle Load Type</i> : <%= @load.vehicle_load_type.name %><br>
<i>Vehicle Type</i> : <%= @load.vehicle_type.name %><br>
<i>Vehicle Quantity</i> : <%= @load.vehicle_quantity %><br>
<i>Weight</i> : <%= @load.weight["value"] %> | <%= @load.weight["unit"] %><br>
<i>Volume</i> : <%= @load.volume["value"] %> | <%= @load.volume["unit"] %><br>
<i>Dimension</i> : <%= @load.dimension["length"] %> x <%= @load.dimension["height"] %> x <%= @load.dimension["dept"] %> | <%= @load.dimension["unit"] %><br>
<i>Loading Date</i> : <%= @load.loading_date.strftime("#{@load.loading_date.day.ordinalize} %b, %Y - %I:%M %p") %><br>
<i>Strict Date</i> : <%= @load.strict_date %><br>
<i>Comment</i> : <%= @load.comment %><br>
<i>Display Comment</i> : <%= @load.display_comment %><br>
<i>Trip Distance</i> : <%= @load.trip_distance %><br>
<i>Fom Address</i> : <%= @load.from_address %><br>
<i>To Address</i> : <%= @load.to_address %><br>

Thank You,<br>
Team Transport.co.in
