<div class="col s12 m12 l6 flex-display remove-lft-margin">
  <% if order.canceled? %>
    <div class="detail-box custom-box-wrap cancelled-box">
  <% else %>
    <div class="detail-box custom-box-wrap">
  <% end %>
<%= link_to order.canceled? ? "" : transporters_order_path(order),remote: true,id: "order_detail" do %>
  <div class="row" style="font-size: 0.85rem;">
    <div class="col s6 theme-text"><strong>Load ID:</strong><%= order.load.load_docket_id %></div>
    <div class="col s6 right-align theme-text"><strong>Loading Date:</strong><%= order.load.loading_date.strftime("#{order.load.loading_date.day.ordinalize} %b, %Y") %></div>
  </div>
  <div class="row ">
    <div class="address">
      <div class="col s6 m9">
        <div class="col s1 center-align icons" style="padding: 5px;">
          <span class="first green"></span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="mid">.</span>
          <span class="first red"></span>
        </div>
        <div class="col s10 grey-text">
            <%= order.load.from_address %>
            <br><br>
            <%= order.load.to_address %>
        </div>
      </div>
      <div class="col s6 m3 center-align">
        <div class="detail-box-1 text-right theme-text">
          <img src="/assets/transporter/way.png" alt="way">
          <br>
          <%= order.load.trip_distance %> KM
        </div>
      </div>
    </div>
  </div>
  <div class="row detail-box-2 detail-wrap b-none">
    <div class="col s6 mobile-full-width">
      <h6>TRUCK LOAD</h6>
      <p><%= order.load.vehicle_load_type.name %> <%= order.load.vehicle_type.name %></p>
     <div>
      <div class="truck-no"><%= order.load.assign_vehicles.map(&:number_plate).join(",") %></div>
         <!-- <div class="truck-no">DL-05E 7890</div> -->
      </div>
    </div>
    <div class="col s6 mobile-full-width">
      <div>
        <h6>QUOTED PRICE</h6>
        <p class="orange-text"><%= order.quote.offered_price %></p>
        <br>
        <p><strong>PAYMENT STATUS</strong></p>
        <p class="green-text"><%#= order.status %></p>
      </div>
    </div>
  </div>
<% end %>
<hr style="height:2px;border:none;color:#333;background-color:#333;">
<div class="row margn-b-o del-edt-quo load-status">
  <div class="col s6" >
    <% if order.status == 'confirmed' %>
        <span class="confirmed"><i class="material-icons">done</i>CONFIRMED</span>
    <% elsif order.status == 'in_transit' %>
        <span class="completed"><i class="material-icons">local_shipping</i>IN-TRANSIT</span>
    <% elsif order.status == 'completed' %>
        <span class="completed"><i class="material-icons">done</i>COMPLETED</span>
    <% elsif order.status == 'canceled' %>
        <span class="cancelled"><i class="material-icons">clear</i>CANCELLED</span>
    <% end %>
    <%#= order.status %>
    <%#= link_to "show", transporters_order_path(order),remote: true %>
  </div>
  <div class="right-align bottom-actions">
    <% if can? :cancel, order %>
      <%= link_to cancel_transporters_order_path(order), class: "theme-text right-align modal-trigger", title: "Cancel order",remote: true do %>
        <i class="fa fa-trash custom-fa-icon theme-text" aria-hidden="true" style="vertical-align: top;"></i><span class="visible-on-very-small">CANCEL</span>
      <% end %>
      <%#= link_to "Cancel Order", cancel_order_transporters_order_path(order), method: :put, data: { confirm: "Are you sure you want to cancel this order ?"} %>
    <% end %>
    <%#= link_to_if order.in_transit?,"TRACK SHIPMENT",track_shipment_transporters_order_path(order) do %>
    <%= link_to_if order.in_transit?, "TRACK SHIPMENT", track_transporters_order_path(order),class: "theme-text right-align modal-trigger", style: "margin-left: 20px;",remote: true do %>
      <%= link_to_if order.confirmed? && order.load.assign_vehicles.blank?, "ASSIGN TRUCKS", vehicle_list_transporters_order_path(order),class: "theme-text right-align modal-trigger",id: "assign_truck", style: "margin-left: 20px;",remote: true do %>
        <%= link_to_if order.confirmed?,"Change Vehicle", vehicle_list_transporters_order_path(order) do;end %>
      <% end %>
    <%end %>
    <%= link_to_if order.completed?,"PAYMENT INFO",transporters_order_path(order),remote: true,class: "theme-text right-align modal-trigger", style: "margin-left: 20px;" do; end %>
  </div>
</div>
</div>
</div>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<script>
//   $(document).ready(function () {
//     $('#assign_truck').on('click',function(){
//       alert('hi')
//     });
// });
</script>