<style>
  .model-head-bar {
    background-color: #fafafa !important;
    border-bottom: 1px solid #ddd;
    padding: 15px 10px 15px 25px;
}
</style>
<div class="posi-top-left-outer">
  <%= link_to  :back,id: "back_to_confirm",class: "btn-floating btn-large waves-effect waves-light theme-bg posi top-call-btn modal-trigger" do %>
    <i class="large material-icons">arrow_back</i>
  <% end %>
</div>
<div class="custom_model">
  <div class="modal-content" style="padding: 0px">
    <div class="row theme-bg model-head-bar" style="font-size: 0.85rem;">
        <div class="col s12 theme-text" style="margin-left: 5%;"><strong>JOURNEY STATISTICS</strong></div>
    </div>
    <div class="row m-none flex-display full-height">
      <div class="col s12 m12 l6 center-align flex-display custom-left-body m-none" style="background-color: #f4f4f4;">
        <div class="col s12 m12 left-content m-none">
          <div class="row section_row">
            <div class="title">
              <div class="col s6 left-align">
                <h6 class="theme-text">LOAD ID</h6>
                <p><%= load.load_docket_id %></p>
              </div>
              <div class="col s6 right-align">
                <h6 class="theme-text">LOADING DATE</h6>
                <p><%= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %></p>
              </div>
            </div>
          </div>
          <div class="row section_row">
            <ul class="timeline">
              <li>
                <div class="timeline-badge gray"></div>
                <div class="timeline-panel left-align  text-darken-2" style="font-size: 0.9rem;">
                  <div class="p-none">
                    <%= label "from", "address", load.from_address, id: "from_address" %>
                    <p style="margin:0px;">
                        <!-- <span class="grey-text left-align text-left"></span> -->
                      <span class="grey-text right-align text-right"><%= trip.created_at.strftime("%d/%m - %I:%M %p") %></span>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <% trip.trip_trackings.each do |track| %>
                  <div class="timeline-badge gray"></div>
                  <div class="timeline-panel left-align  text-darken-2" style="font-size: 0.9rem;">
                    <div class="p-none">
                      <%= track.location %><span class="grey-text right-align text-right time"><%= track.created_at.strftime("%d/%m - %I:%M %p") %></span>
                    </div>
                  </div>
                <% end %>
              </li>
            </ul>
            <div class="row address dots-address" style="margin-top: -6px;">
              <div class="center-align icons dots" >
                <span class="first green"></span>
                <span class="mid">.</span>
                <span class="mid">.</span>
                <span class="mid">.</span>
                <span class="mid">.</span>
                <span class="mid">.</span>
                <span class="mid">.</span>
                <span class="first red"></span>
              </div>
              <div class="left-align  text-darken-2 final_address" style="font-size: 0.9rem;">
                <div class="" style="margin-bottom: 35px;">
                  load.from_address <span class="grey-text right-align text-right time"><%= trip.created_at.strftime("%d/%m - %I:%M %p") %></span>
                </div>
                <div class="" style="margin-bottom: 15px;">
                  <%= label "destination", "address", load.to_address, id: "to_address" %>
                  <p style="margin-top:0px;">
                      <!-- <span class="grey-text left-align text-left">110066</span> -->
                  </p>
                </div>
              </div>
              <div class="clearfix" ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l6 flex-display p-none ">
        <div class="col s12 m12 right-content p-none ">
          <div class="row">
            <ul class="tabs custom-modal-tabs statistic_tabs">
              <li class="tab col s4 statistic_tab_speed"><a class="theme-text active statistic_speed" href="#speed" >SPEED</a></li>
              <li class="tab col s4 statistic_tab_distance"><a class="theme-text statistic_distance" href="#distance" >DISTANCE</a></li>
              <li class="tab col s4 statistic_tab_time"><a class="theme-text statistic_time" href="#time" >STAGNANT TIME</a></li>
            </ul>
          </div>
          <div id="speed" class="col s12">
            <div class="row">
              <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
            <div class="row">
              <div class="title schedule col s12">
                <div class="col s12">
                  <div class="row status">
                    <div class="col s8 m7 left-align status-name">
                      <strong class="black-text">Delivery:</strong>
                    </div>
                    <div class="col s4 m5 right-align status-value">27/4/2016 (6:38pm)</div>
                  </div>
                  <div class="row status">
                    <div class="col s8 m7 left-align status-name">
                      <strong class="black-text">Distance travelled:</strong>
                    </div>
                    <div class="col s4 m5 right-align status-value">918 kms</div>
                  </div>
                  <div class="row status">
                    <div class="col s8 m7 left-align status-name">
                      <strong class="black-text">Stoppages:</strong>
                    </div>
                    <div class="col s4 m5 right-align status-value">5</div>
                  </div>
                  <div class="row status">
                    <div class="col s8 m7 left-align status-name">
                      <strong class="black-text">Stoppage duration:</strong>
                    </div>
                    <div class="col s4 m5 right-align status-value">12 hrs</div>
                  </div>
                  <div class="row status">
                    <div class="col s8 m7 left-align status-name">
                      <strong class="black-text">Trip duration:</strong>
                    </div>
                    <div class="col s4 m5 right-align status-value"><%#= trip.duration %>-</div>
                  </div>
                  <div class="row status">
                    <div class="col s8 m7 left-align status-name">
                      <strong class="black-text">Average speed:</strong>
                    </div>
                    <div class="col s4 m5 right-align status-value">-<%#= number_with_precision(trip.avg_speed, precision: 2) %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="distance" class="col s12">
            <div class="row col s12">distance
            </div>
          </div>
          <div id="time" class="col s12">
            <div class="row col s12">time
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
  $('#back_to_confirm').on('click',function(e){
    $('#modal-second').closeModal()
    if ($('#modal-quotes').is(':visible')){

    }
    else{
      $('#modal-quotes').openModal()
    }
    e.preventDefault();
   });
});
$('ul.tabs').on('click',function(e){
   e.preventDefault();
 });
</script>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>