<div class="modal-content" style="padding: 0px">
  <div class="row m-none flex-display">
    <div class="col s12 m12 l6 flex-display custom-left-body" style="background-color: #f4f4f4;">
      <div class="posi-top-left">
      	<% if order.completed? %>
        	<span class="completed"><i class="material-icons">done</i>COMPLETED</span>
        <% elsif order.in_transit? %>
        	<span class="completed"><i class="material-icons">local_shipping</i>IN-TRANSIT</span>
        <% elsif order.confirmed? %>
        	<span class="confirmed"><i class="material-icons">done</i>CONFIRMED</span>
        <% end %>
      </div>
      <div class="col s12 m12 center-align left-content m-none">
        <div class="row full-height-sub">
          <%= render 'map' %>
        </div>
        <div class="row address">
          <div class="row"><p class="orange-text text-left left-align m-none">ADDRESS</p></div>
          <div class="row m-none">
            <%= render 'addresses' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6 flex-display custom-right-body">
      <div class="col s12 m12 right-content p-none ">
        <div class="row section_row">
          <div class="title">
            <div class="col s6">
              <h6 class="theme-text">LOAD ID</h6>
              <p><%= load.load_docket_id %></p>
            </div>
            <div class="col s6 right-align" style="padding-right: 0px;">
            	 <!-- <i class="material-icons white-text">insert_chart</i> STATISTICS -->
              <%= link_to_if order.completed?, "STATISTICS", order_statistic_transporters_order_path(order),class: "waves-effect waves-light right-align btn-flat theme-bg white-text center-align top-btn modal-trigger",remote: true do; end %>
              <%= link_to_if order.in_transit?, "TRACK", track_transporters_order_path(order),class: "waves-effect waves-light right-align btn-flat theme-bg white-text center-align butons top-track-btn modal-trigger",remote: true do %>
              	<%= link_to_if order.confirmed? && order.load.assign_vehicles.blank?, "Assign Truck", vehicle_list_transporters_order_path(order),class: "waves-effect waves-light right-align btn-flat theme-bg white-text center-align butons top-track-btn modal-trigger",id: "assign_to" ,remote: true do;end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row section_row">
          <div class="title schedule">
            <div class="col s12">
              <div class="row m-none">
                <div class="col s2 m1 p-l-none">
                  <span class="theme-text"><i class="material-icons">event</i></span>
                </div>
                <div class="col s10 m11"><%= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %></div>
              </div>
              <div class="row m-none">
                <div class="col s2 m1 p-l-none">
                  <span class="theme-text"><i class="material-icons">shopping_cart</i></span>
                </div>
                <div class="col s10 m11"><%= load.load_type.name %></div>
              </div>
              <div class="row m-none">
                <div class="col s2 m1 p-l-none">
                  <span class="theme-text"><i class="material-icons">local_shipping</i></span>
                </div>
                <div class="col s10 m11">
                  <div><%= load.vehicle_quantity %> <%= load.vehicle_load_type.name %> <%= load.vehicle_type.name %></div>
                  <div class="truck-no"><%= load.assign_vehicles.map(&:number_plate).join(",") %></div>
                  <!-- <div class="truck-no">DL-05E 7890</div> -->
                </div>
              </div>
              <div class="row m-none">
                <div class="col s2 m1 p-l-none">
                  <span class="theme-text"><img src="/assets/transporter/wight-brown.png" alt="wight"></span>
                </div>
                <div class="col s10 m11"><%= load.weight["value"] + load.weight["unit"] %></div>
              </div>
              <div class="row m-none">
                <div class="col s2 m1 p-l-none">
                  <span class="theme-text"><i class="material-icons">message</i></span>
                </div>
                <div class="col s10 m11 theme-text">
                  <strong>COMMENTS</strong>
                  <P><%= load.commentable %></P>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row section_row">
          <div class="title price">
            <p>
              <span class="col s6 theme-text left-align ">QUOTED PRICE</span>
              <strong class="col s6 right-align " style="color: #000;"><%= quote.offered_price %></strong>
            </p>
          </div>
        </div>
        <div class="row section_row">
          <div class="title payment_info">
            <div class="col s12">
              <h6 class="theme-text">PAYMENT INFO</h6>
              <table class="centered payment_table" >
                <thead>
                  <tr>
                    <th>DATE</th>
                    <th>AMOUNT</th>
                    <th>STATUS</th>
                  </tr>
                </thead>
                <tbody>
                <% if load.accepted_quote.present? %>
                <% load.accepted_quote.transporters_payments.sort_by(&:paying_date).each do |payment| %>
                  <tr>
                    <td><strong><% if payment.paid? %><%= payment.paying_date.strftime("%d/%m/%y") %><% end %></strong></td>
                    <td><strong><%= payment.amount %></strong></td>
                    <td class="<%= payment.paid? ? 'text-green' : payment.overdue? ? 'overdue' : '' %>"><%= payment.status %></td>
                  </tr>
                  <% end %>
                  <% end %>
                  <% if order.remain_paid_payments.present? %>
                    <tr>
                    <td><strong>-</strong></td>
                    <td><strong><%= order.remain_paid_payments %></strong></td>
                    <td>Due</td>
                    </tr>
                  <% end %>
                 <!--  <tr>
                    <td>31/5/2015</td>
                    <td>Rs 32,000</td>
                    <td class="overdue">overdue</td>
                  </tr>
                  <tr>
                    <td>31/5/2015</td>
                    <td>Rs 32,000</td>
                    <td>overdue</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
            <div class="row col s12 note">
              <div class="col s2 p-l-none">NOTE:</div>
              <div class="col s10">The amount mentiond above includes convenience charges due to your selected payment method</div>
            </div>
            <div class="col s12">
            	<% if can? :cancel, order %>
 							 <%= link_to "Cancel Order", cancel_order_transporters_order_path(order), method: :put, data: { confirm: "Are you sure you want to cancel this order ?" },class: "waves-effect waves-light btn-flat truck-no theme-text track-btn center-align close-popup",style: "width:100%;" %>
							<% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= render 'addresses' %>
<!-- <h3>LOAD ID</h3>
<%#= load.load_docket_id %><br>
Loading Date : <%#= load.loading_date.strftime("#{load.loading_date.day.ordinalize} %b, %Y") %><br>
Load Type : <%#= load.load_type.name %><br>
Load details : <br>
- weight : <%#= load.weight["value"] + load.weight["unit"] %><br>
- Volume : <%#= load.volume["value"] + load.volume["unit"] %><br>
- Dimension : <%#= load.dimension["length"] + load.dimension["height"] + load.dimension["dept"] + load.dimension["unit"] %><br>
Vehicle Details :
<%#= load.assign_vehicles.map(&:number_plate).join(",") %>
<br>
- Vehicle load type : <%#= load.vehicle_load_type.name %><br>
- Vehicle type : <%#= load.vehicle_type.name %><br>
- Vehicle Quantity : <%#= load.vehicle_quantity %><br>
Comment : <%#= load.commentable %><br>

<h3>QUOTED PRICE</h3>
<%#= quote.offered_price %><br>
<h2><%#= order.status %></h2>
Loading Address : <%#= order.load.loading_address.presence || "-" %><br>
Destination Address : <%#= order.load.destination_address.presence || "-" %><br>

<%#= link_to_if order.confirmed? && load.assign_vehicles.blank?, "Assign Vehicle", vehicle_list_transporters_order_path(order) do %>
	<%#= link_to_if order.confirmed?,"Change Vehicle", vehicle_list_transporters_order_path(order) do %>
		<%#= link_to_if order.in_transit?, "Track", track_transporters_order_path(order) do;end %>
	<%# end %>
<%# end %>
<%# if can? :cancel, order %>
 | <%#= link_to "Cancel Order", cancel_order_transporters_order_path(order), method: :put, data: { confirm: "Are you sure you want to cancel this order ?" } %>
<%# end %>

<%#= render 'map' %> -->