<div class="modal-content" style="padding: 0px">
  <div class="row m-none flex-display">
    <div class="col s12 m12 l6 flex-display custom-left-body" style="background-color: #f4f4f4;">
      <div class="posi-top-left">
        <span class="completed"><i class="material-icons">done</i>COMPLETED</span>
      </div>
      <div class="col s12 m12 center-align left-content m-none">
        <div class="row full-height-sub">
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.459559908322!2d77.20591391460435!3d28.645955390225115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd68259e3211%3A0x40e4f874caed8109!2sPahar+Ganj+Police+Thana+Bus+Stand!5e0!3m2!1sen!2sin!4v1463556920628" width="100%" height="450" frameborder="0" style="border:0;margin-bottom: -6px;" allowfullscreen>
          </iframe>
        </div>
        <div class="row address">
          <div class="row"><p class="orange-text text-left left-align m-none">ADDRESS</p></div>
          <div class="row m-none">
            <ul class="timeline2">
              <li>
                <div class="timeline-badge green"></div>
                <div class="timeline-panel left-align  text-darken-2" style="font-size: 0.9rem;">
                  <div class="p-none">
                    <strong class="theme-text">Loading address:</strong>
                    <p style="margin:0px;">
                      <span class="grey-text left-align text-left">House No. 13, Housing Board Colony,<br>Saraswati Vihar,<br>Delhi, 110066</span>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge red"></div>
                <div class="timeline-panel left-align  text-darken-2" style="font-size: 0.9rem;">
                  <div class="p-none">
                    <strong class="theme-text">Delivery address:</strong>
                    <p style="margin:0px;">
                      <span class="grey-text left-align text-left">House No. 13, Housing Board Colony,<br>Saraswati Vihar,<br>Mumbai, 110066</span>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6 flex-display custom-right-body">
      <div class="col s12 m12 right-content p-none ">
        <div class="row section_row">
          <div class="title">
            <div class="col s6">
              <h6 class="theme-text">LOAD ID</h6>
              <p>RRKDL341987  </p>
            </div>
            <div class="col s6 right-align" style="padding-right: 0px;">
              <a id="statistics_to" href="#modal_statistic" class="waves-effect waves-light right-align btn-flat theme-bg white-text center-align top-btn modal-trigger">
                <i class="material-icons white-text">insert_chart</i> STATISTICS</a>
            </div>
          </div>
        </div>
        <div class="row section_row">
          <div class="title schedule">
            <div class="col s12">
              <div class="row m-none">
                <div class="col s2 m1 p-l-none">
                  <span class="theme-text"><i class="material-icons">event</i></span>
                </div>
                <div class="col s10 m11">30th April, 2016</div>
              </div>
              <div class="row m-none">
                <div class="col s2 m1 p-l-none">
                  <span class="theme-text"><i class="material-icons">shopping_cart</i></span>
                </div>
                <div class="col s10 m11">wire Rods/ Metals/ Sheets</div>
              </div>
              <div class="row m-none">
                <div class="col s2 m1 p-l-none">
                  <span class="theme-text"><i class="material-icons">local_shipping</i></span>
                </div>
                <div class="col s10 m11">
                  <div>2 FTL Closed Body 18 wheels/ 19 ft/ 25 tons</div>
                  <div class="truck-no">DL-05E 7890</div>
                  <div class="truck-no">DL-05E 7890</div>
                </div>
              </div>
              <div class="row m-none">
                <div class="col s2 m1 p-l-none">
                  <span class="theme-text"><img src="imags/wight-brown.png" alt="wight"></span>
                </div>
                <div class="col s10 m11">48 Tons</div>
              </div>
              <div class="row m-none">
                <div class="col s2 m1 p-l-none">
                  <span class="theme-text"><i class="material-icons">message</i></span>
                </div>
                <div class="col s10 m11 theme-text">
                  <strong>COMMENTS</strong>
                  <P>Fragile material involved</P>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row section_row">
          <div class="title price">
            <p>
              <span class="col s6 theme-text left-align ">QUOTED PRICE</span>
              <strong class="col s6 right-align " style="color: #000;">Rs 78,000</strong>
            </p>
          </div>
        </div>
        <div class="row section_row">
          <div class="title payment_info">
            <div class="col s12">
              <h6 class="theme-text">PAYMENT INFO</h6>
              <table class="centered payment_table" >
                <thead>
                  <tr>
                    <th>DATE</th>
                    <th>AMOUNT</th>
                    <th>STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>31/5/2015</strong></td>
                    <td><strong>Rs 32,000</strong></td>
                    <td class="text-green">paid</td>
                  </tr>
                  <tr>
                    <td>31/5/2015</td>
                    <td>Rs 32,000</td>
                    <td class="overdue">overdue</td>
                  </tr>
                  <tr>
                    <td>31/5/2015</td>
                    <td>Rs 32,000</td>
                    <td>overdue</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row col s12 note">
              <div class="col s2 p-l-none">NOTE:</div>
              <div class="col s10">The amount mentiond above includes convenience charges due to your selected payment method</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>