<tr>
  <% if order.in_transit? %>
    <td class="green-text">
      <i class="material-icons green-text custom-material-icon">local_shipping</i>
      IN TRANSIT</td>
  <% elsif order.confirmed? %>
    <td class="light-blue-text">
      <i class="material-icons light-blue-text custom-material-icon">done</i>
    CONFIRMED</td>
  <% elsif order.completed? %>
    <td class="green-text">COMPLETED</td>
  <% elsif order.canceled? %>
    <td class="grey-text">CANCELLED</td>
  <% end %>
  <td><%= link_to transporters_order_path(order),class: "theme-text load_id",remote: true do %><%= order.load.load_docket_id %><% end %></td>
  <td><%= order.load.from_address %></td>
  <td><%= order.load.to_address %></td>
  <td class="grey-text text-darken-2"><%= order.load.load_type.name %></td>
  <td><%= order.load.loading_date.strftime("#{order.load.loading_date.day.ordinalize} %b, %Y") %></td>
  <td><%= order.quote.offered_price %></td>
  <% if order.confirmed?  || order.in_transit?%>
    <td class="green-text">Paid</td>
    <td>
      <%= link_to_if order.confirmed? && order.load.assign_vehicles.blank?, "Assign Truck", vehicle_list_transporters_order_path(order),class: "truck_no modal-trigger active",remote: true do;end %>
      <% if order.in_transit? %>
        <a id="quate" class="truck_no"><%= order.load.assign_vehicles.map(&:number_plate).join(",") %></a>
      <% end %>
    </td>
  <% else %>
    <td><%= order.load.vehicle_load_type.name %> <%= order.load.vehicle_type.name %></td>
    <td class="green-text">Paid</td>
  <% end %>
</tr>