<!-- <h3>CURRENT STATUS</h3> -->
<%= select_tag "vehicle_list", options_for_select(@trips.collect{ |t| [t.vehicle.number_plate, t.id] }) %>
<div id="tracking_details">
	<%= render 'tracking_details', load: @load, trip: @trips.first %>
</div>
<%#= link_to "Back", :back %>
<%#= render 'map' %>
