<div class="posi-top-left-outer">
  <%= link_to  :back,id: "back_to_confirm",class: "btn-floating btn-large waves-effect waves-light theme-bg posi top-call-btn modal-trigger" do %>
  <!-- <a id="back_to_transit" href="#modal_transit" class="btn-floating btn-large waves-effect waves-light theme-bg posi top-call-btn modal-trigger"> -->
      <i class="large material-icons">arrow_back</i>
  <% end %>
  <!-- </a> -->
</div>
<div class="custom_model">
  <div class="modal-content" style="padding: 0px">
    <div class="row m-none full-height">
      <div class="col s12 m12 l6 center-align left-content custom-left-body m-none" style="background-color: #f4f4f4;">
        <div class="row " style="height: 100%;">
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.459559908322!2d77.20591391460435!3d28.645955390225115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd68259e3211%3A0x40e4f874caed8109!2sPahar+Ganj+Police+Thana+Bus+Stand!5e0!3m2!1sen!2sin!4v1463556920628" width="100%" height="450" frameborder="0" style="border:0;margin-bottom: -6px; height:100%;" allowfullscreen>
          </iframe> -->
          <%= render 'map' %>
        </div>
      </div>
      <div class="col s12 m12 l6 custom-right-body">
        <div class="col s12 m12 right-content p-none ">
          <div class="row section_row">
            <div class="title">
              <div class="col s12">
                <h6 class="orange-text">CURRENT STATUS</h6>
              </div>
            </div>
          </div>
          <div class="row section_row">
            <div class="title schedule">
              <div class="col s12">
                <div class="row status">
                  <div class="col s8 m7 left-align status-name">
                    <strong class="black-text">Distance travelled:</strong>
                  </div>
                  <div class="col s4 m5 right-align status-value">-</div>
                </div>
                <div class="row status">
                  <div class="col s8 m7 left-align status-name">
                    <strong class="black-text">Stoppages:</strong>
                  </div>
                  <div class="col s4 m5 right-align status-value">-</div>
                </div>
                <div class="row status">
                  <div class="col s8 m7 left-align status-name">
                    <strong class="black-text">Stoppage duration:</strong>
                  </div>
                  <div class="col s4 m5 right-align status-value">-</div>
                </div>
                <div class="row status">
                  <div class="col s8 m7 left-align status-name">
                    <strong class="black-text">Trip duration:</strong>
                  </div>
                  <div class="col s4 m5 right-align status-value"><%= trip.duration %></div>
                </div>
                <div class="row status">
                  <div class="col s8 m7 left-align status-name">
                    <strong class="black-text">Average speed:</strong>
                  </div>
                  <div class="col s4 m5 right-align status-value"><%= number_with_precision(trip.avg_speed, precision: 2) %></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row section_row">
            <ul class="timeline">
              <li>
                <div class="timeline-badge gray"></div>
                <div class="timeline-panel left-align  text-darken-2" style="font-size: 0.9rem;">
                  <div class="p-none">
                    <%= label "from", "address", load.from_address, id: "from_address" %>
                    <p style="margin:0px;">
                      <!-- <span class="grey-text left-align text-left">110066</span> -->
                      <span class="grey-text right-align text-right"><%= trip.created_at.strftime("%d/%m - %I:%M %p") %></span>
                    </p>
                  </div>
                </div>
              </li>
              <li>
            		<% trip.trip_trackings.each do |track| %>
	                <div class="timeline-badge gray"></div>
	                <div class="timeline-panel left-align  text-darken-2" style="font-size: 0.9rem;">
                    <div class="p-none">
                      <%= track.location %><span class="grey-text right-align text-right time"><%= track.created_at.strftime("%d/%m - %I:%M %p") %></span>
                    </div>
	                </div>
                <% end %>
              </li>
            </ul>
            <div class="row address dots-address" style="margin-top: -6px;">
              <div class="center-align icons dots" >
                <span class="first green"></span>
                <span class="mid">.</span>
                <span class="mid">.</span>
                <span class="mid">.</span>
                <span class="mid">.</span>
                <span class="mid">.</span>
                <span class="mid">.</span>
                <span class="first red"></span>
              </div>
              <div class="left-align  text-darken-2 final_address" style="font-size: 0.9rem;">
                <div class="" style="margin-bottom: 35px;">
                    <%= load.from_address %> <span class="grey-text right-align text-right time"><%= trip.created_at.strftime("%d/%m - %I:%M %p") %></span>
                </div>
                <div class="" style="margin-bottom: 15px;">
                  <%= label "destination", "address", load.to_address, id: "to_address" %>
                  <p style="margin-top:0px;">
                    <!-- <span class="grey-text left-align text-left">110066</span> -->
                  </p>
                </div>
              </div>
              <div class="clearfix" ></div>
          	</div>
      		</div>
  			</div>
			</div>
		</div>
	</div>
</div>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<script>
$(document).ready(function () {
  $('#back_to_confirm').on('click',function(e){
    $('#modal-second').closeModal()
    if ($('#modal-quotes').is(':visible')){

    }
    else{
      $('#modal-quotes').openModal()
    }
    e.preventDefault();
   });
});
</script>


<!-- Distance travelled : <span id="travelled_distance"></span><br>
	Stoppages : -<br>
	Stoppage duration : -<br>
	Trip duration : <%#= trip.duration %><br>
	Average speed : <%#= number_with_precision(trip.avg_speed, precision: 2) %><br>
	<hr>
> <%#= label "from", "address", load.from_address, id: "from_address" %> | <%#= trip.created_at.strftime("%d/%m - %I:%M %p") %><br>
<div id="tracking_list">
	<%# trip.trip_trackings.each do |track| %>
		> <span><%#= track.location %></span> | <%#= track.created_at.strftime("%d/%m - %I:%M %p") %><br>
	<%# end %>
</div>
<br>
> <%#= label "destination", "address", load.to_address, id: "to_address" %>
<br>
<br> -->