<div class="posi-top-left-outer">
  <%= link_to  :back,id: "back_to_confirm",class: "btn-floating btn-large waves-effect waves-light theme-bg posi top-call-btn modal-trigger" do %>
 <!--  <a id="back_to_confirm" href="#modal-second" class="btn-floating btn-large waves-effect waves-light theme-bg posi top-call-btn modal-trigger"> -->
    <i class="large material-icons">arrow_back</i>
    <% end %>
  <!-- </a> -->
</div>
<div class="custom_model">
  <div class="modal-content" style="padding: 0px;">
    <div class="row m-none flex-display">
      <div class="col s12 m12 l6 flex-display custom-left-body" style="background-color: #f4f4f4;">
        <div class="col s12 m12 center-align left-content m-none">
          <div class="row full-height-sub">
            <!-- <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.459559908322!2d77.20591391460435!3d28.645955390225115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd68259e3211%3A0x40e4f874caed8109!2sPahar+Ganj+Police+Thana+Bus+Stand!5e0!3m2!1sen!2sin!4v1463556920628" width="100%" height="450" frameborder="0" style="border:0;margin-bottom: -6px;" allowfullscreen>
            </iframe> -->
            <%= render 'map' %>
          </div>
          <div class="row address">
            <div class="row"><p class="orange-text text-left left-align m-none">ADDRESS</p></div>
            <div class="row m-none">
              <%= render 'addresses' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l6 flex-display custom-right-body" style="padding:20px 0px !important;">
        <div class="col s12 m12 right-content p-none ">
          <div class="row section_row">
            <div class="title col s12">
              <div class="col s12">
                <h6 class="orange-text">AVAILABLE TRUCKS</h6>
              </div>
            </div>
          </div>
          <div class="row section_row">
            <div class="title schedule">
              <div class="col s12">
                <div class="row m-none">
                  <div class="col s2">
                      <span class="theme-text"><i class="material-icons">local_shipping</i></span>
                  </div>
                  <div class="col s10"><%= @quote.offered_vehicle_quantity %> <%= @quote.vehicle_load_type.name %> <%= @quote.vehicle_type.name %></div>
                </div>
              </div>
            </div>
          </div>
          <%= form_tag assign_vehicle_transporters_order_path(@order),id: "assign_truck_form", method: :post do %>
                            <!-- <form id="assign_truck_form" method="get" accept-charset="utf-8"> -->
            <div class="col s12">
              <div class="title truck-list">
                <div class="row section_row col s12">
                  <a href="#" class="add-item">
                    <div class="row add-truck-row">
                      <div class="col s2 p-l-none">
                        <span class="grey-text"><i class="material-icons" style="vertical-align: top;">add_circle_outline</i></span>
                      </div>
                      <div class="col s10 grey-text p-l-none" >Add another truck</div>
                  	</div>
                  </a>
                </div>
                <div class="row">
                  <ul class="trucks">
                    <% @quote.transporter.vehicles.each do |vehicle| %>
                      <li>
                        <%= check_box_tag "assign_vehicle[]", vehicle.id, @assign_vehicles.collect(&:id).include?(vehicle.id) %>
                        <label for="01" class="left-align">
                          <strong class="black-text"><%= vehicle.number_plate %></strong>
                        </label>
                      </li>
                    <% end %>
                  </ul>
              	</div>
          		</div>
      			</div>
            <div class="title row col s12">
              <!-- <div class="col s6 right-align">
                  <a href="#" id="discard" class="grey-text  p-none center-align" style="width:100%;">DISCARD</a>
              </div> -->
              <div class="col s12 right-align">
                <a href="#" id="" class="grey-text  p-none center-align close-popup" style="width:100%; margin-right: 20px;">DISCARD</a>
                <button type="submit" class="waves-effect waves-light btn-flat theme-bg white-text butons center-align " style="padding: 0px 20px;">ASSIGN</button>
              </div>
            </div>
        <!-- </form> -->
        	<% end %>
    		</div>
      </div>
    </div>
    <!-- </div> -->
	</div>
</div>
<%#= javascript_include_tag 'http://code.jquery.com/jquery-2.1.2.min.js' %>
<%#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>
<script>
$(document).ready(function () {
  $('#back_to_confirm').on('click',function(e){
    $('#modal-second').closeModal()
    if ($('#modal-quotes').is(':visible')){

    }
    else{
      $('#modal-quotes').openModal()
    }
    e.preventDefault();
   });
});
</script>


<%#= render 'addresses' %>
<!-- <h2>Assign vehicle</h2>
<h4>AVAILABLE VEHICLE</h4>
<%#= @quote.offered_vehicle_quantity %> <%#= @quote.vehicle_load_type.name %> <%#= @quote.vehicle_type.name %>
<br>
<%#= form_tag assign_vehicle_transporters_order_path(@order), method: :post do %>
	<%# @quote.transporter.vehicles.each do |vehicle| %>
		<%#= vehicle.number_plate %>
		<%#= check_box_tag "assign_vehicle[]", vehicle.id, @assign_vehicles.collect(&:id).include?(vehicle.id) %>
		<br>
	<%# end %>
	<%#= link_to "Discard", discard_vehicle_transporters_order_path(@order), method: :delete %>
	<%#= submit_tag "Assign" %>
<%# end %> -->
<%#= render 'map' %>