<style>
  .notice,.alert{
    display:none;
  }
</style>
<div id="my-order" class="main-page">
	<%=  render 'shared/transporter_quote_header' %>
	<div id="test1" class="col s12">
    <div class="container">
      <div class="row">
                            <!-- <div class="col l10 offset-l1 s12 search-bar"> -->
        <div class="col s12 search-bar custom-table-view">
          <div class="col l1 m1 s2 center-align theme-bg search"><i class="material-icons white-text">search</i></div>
          <input type="text" class="col l6 m5 s10" placeholder="Search via Load ID, Date, or, Destination">
          <div class="col l4 m5 s12 center-align tab-contain">
            <div class="filter custom-filter-tab ">
              <ul class="tabs transport-tabs">
                <li class="tab col s3"><a href="#all" class="">All</a></li>
                <li class="tab col s3"><a href="#intransit" class="" >IN TRANSIT</a></li>
                <li class="tab col s3"><a href="#confirmed" class="" >CONFIRMED</a></li>
              </ul>
            </div>
          </div>
          <div class="col l1 m1 s12 center-align tab-contain-view">
            <ul class="tabs view custom-tabs">
              <li class="tab custom-tab-icon"><a class="material-icons size" href="#grid-view">view_module</a><a class="material-icons size" href="#table-view">view_list</a></li>
            </ul>
          </div>
      	</div>
        <!-- grid view start -->
        <div id="grid-view" class="col s12">
          <h5 class="custom-table-view">October 2016</h5>
          <div class="custom-table-view">
            <% @cnt = 0 %>
            <% @orders.each_with_index do |order,index| %>
              <% if index%2 == 0 %>
                <% @cnt = 0 %>
                <div class="row flex-display">
              <% end %>
              <% @cnt += 1 %>
              <%= render partial: 'grid_view', locals: {order: order} %>
              <% if @cnt%2 == 0 %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- grid view end -->
	      <!-- table view start -->
        <div id="table-view" class="col s12">
          <div class="col s12 table-view grey-text custom-table-view" style="background: #fff;">
            <table class="striped centered responsive-table theme-bg custom-table">
              <thead>
                <tr class="theme-bg white-text">
                  <th>STATUS</th>
                  <th>LOAD ID</th>
                  <th>FROM</th>
                  <th>TO</th>
                  <th>LOAD TYPE</th>
                  <th><i class="material-icons white-text">event</i></th>
                  <th>OFFER PRICE</th>
                  <% if request.url.split("?")[1] == "status=active" %>
                    <th>PAYMENT</th>
                    <th>TRUCKS</th>
                  <% else %>
                    <th>TRUCK TYPE</th>
                    <th>PAYMENT</th>
                  <% end %>
                </tr>
              </thead>

              <tbody>
                <%= render partial: 'table_view', collection: @orders, as: "order" %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<div>
  <%= render 'shared/default_footer' %>
</div>

<%# @orders.each do |order|  %>
	<!-- Load ID : <%#= order.load.load_docket_id %><br>
	Loading Date : <%#= order.load.loading_date.strftime("#{order.load.loading_date.day.ordinalize} %b, %Y") %><br>
	From Address : <%#= order.load.from_address %><br>
	Destination Address : <%#= order.load.to_address %><br>
	Load Type : <%#= order.load.load_type.name %><br>
	Load details : <br>
	- weight : <%#= order.load.weight["value"] + order.load.weight["unit"] %><br>
	- Volume : <%#= order.load.volume["value"] + order.load.volume["unit"] %><br>
	- Dimension : <%#= order.load.dimension["length"] + order.load.dimension["height"] + order.load.dimension["dept"] + order.load.dimension["unit"] %><br>
	<h3>Truck Load : </h3>
	- Vehicle load type : <%#= order.load.vehicle_load_type.name %><br>
	- Vehicle type : <%#= order.load.vehicle_type.name %><br>
	- Vehicle Quantity : <%#= order.load.vehicle_quantity %><br>
<%#= order.load.assign_vehicles.map(&:number_plate).join(",") %><br>
	Trip Distance : <%#= order.load.trip_distance %><br>
	<h3>Quoted Price</h3>
	<%#= order.quote.offered_price %><br>
Loading Address : <%#= order.load.loading_address.presence || "-" %><br>
Destination Address : <%#= order.load.destination_address.presence || "-" %><br>
	<hr>

	<%#= order.status %>
	<%#= link_to "show", transporters_order_path(order) %>
	<%#= link_to_if order.in_transit?, "TRACK SHIPMENT", track_transporters_order_path(order) do %>
		<%#= link_to_if order.confirmed? && order.load.assign_vehicles.blank?, "Assign Vehicle", vehicle_list_transporters_order_path(order) do %>
			<%#= link_to_if order.confirmed?,"Change Vehicle", vehicle_list_transporters_order_path(order) do;end %>
		<%# end %>
		<%# if can? :cancel, order %>
 			<%#= link_to "Cancel Order", cancel_order_transporters_order_path(order), method: :put, data: { confirm: "Are you sure you want to cancel this order ?"} %>
 		<%# end %>
	<%#end %>
	<hr style="height:2px;border:none;color:#333;background-color:#333;">
<%# end %> -->