<%= render 'addresses' %>
<h3>LOAD ID</h3>
<%= @load.load_docket_id %><br>
Loading Date : <%= @load.loading_date.strftime("#{@load.loading_date.day.ordinalize} %b, %Y") %><br>
Load Type : <%= @load.load_type.name %><br>
Load details : <br>
- weight : <%= @load.weight["value"] + @load.weight["unit"] %><br>
- Volume : <%= @load.volume["value"] + @load.volume["unit"] %><br>
- Dimension : <%= @load.dimension["length"] + @load.dimension["height"] + @load.dimension["dept"] + @load.dimension["unit"] %><br>
Vehicle Details :
<%= @load.assign_vehicles.map(&:number_plate).join(",") %>
<br>
- Vehicle load type : <%= @load.vehicle_load_type.name %><br>
- Vehicle type : <%= @load.vehicle_type.name %><br>
- Vehicle Quantity : <%= @load.vehicle_quantity %><br>
Comment : <%= @load.commentable %><br>
Load status : <%= @order.status %>

<h3>QUOTED PRICE</h3>
<%= @quote.offered_price %>

<h3>PAYMENT INFO</h3>
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Amount</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>data</td>
			<td>data</td>
			<td>data</td>
		</tr>
	</tbody>
</table>

<%= link_to_if @load.completed?, "Statistics", "#" do;end %>

<%= render 'map' %>