<%= render 'addresses' %>
<h3>LOAD ID</h3>
<%= @load.load_docket_id %><br>
Loading Date : <%= @load.loading_date.strftime("#{@load.loading_date.day.ordinalize} %b, %Y") %><br>
Load Type : <%= @load.load_type.name %><br>
Load details : <br>
- weight : <%= @load.weight["value"] + @load.weight["unit"] %><br>
- Volume : <%= @load.volume["value"] + @load.volume["unit"] %><br>
- Dimension : <%= @load.dimension["length"] + @load.dimension["height"] + @load.dimension["dept"] + @load.dimension["unit"] %><br>
Vehicle Details :
<%= link_to_if @load.assign_vehicles.blank?, "Assign Vehicle", transporters_list_vehicle_path(@load), title: "Assign vehicle" do %>
	<%= link_to_if @load.confirmed?, @load.assign_vehicles.map(&:number_plate).join(","),transporters_list_vehicle_path(@load) do %>
		<%= @load.assign_vehicles.map(&:number_plate).join(",") %>
	<% end %>
 <% end %>
<br>
- Vehicle load type : <%= @load.vehicle_load_type.name %><br>
- Vehicle type : <%= @load.vehicle_type.name %><br>
- Vehicle Quantity : <%= @load.vehicle_quantity %><br>
Comment : <%= @load.commentable %><br>

<h3>QUOTED PRICE</h3>
<%= @quote.offered_price %>

<%= link_to_if @load.assign_vehicles.present? && @load.confirmed?, "Dispatch", transporters_dispatch_load_path(@load), method: :post do %>
	<%= link_to_if @load.confirmed?,"Dispatch", transporters_list_vehicle_path(@load) do %>
		<%= link_to "Track", transporters_load_tracking_path(@load) %>
	<% end %>
<% end %>
 | <%= link_to "Cancel Order", transporters_cancel_order_path(@load) %>

<%= render 'map' %>