<div class="custom_model">
    <div class="modal-content" style="padding: 0px;">
        <div class="row m-none flex-display">
            <div class="col s12 m12 l12" style="padding:20px 0px !important;">
                <div class="row section_row">
                    <div class="title">
                        <div class="col s12">
                            <h6>Edit Transporter Route</h6>
                        </div>
                    </div>
                </div>
                  <%= form_for [:transporters, transporter_route], html: {class: "modal-form", remote: true} do |f| %>
                    <div class="col s12">
                        <div class="title">
                            <div class="row">
                                <div class="">
                                    <div class="input-field col s12 error-log input-row">
                                      <%= f.select :source_city_id,options_for_select(@cities.collect{|c| [c.name , c.id]}, transporter_route.source_city.present? ? transporter_route.source_city.id : {}),{:include_blank => "Select City"},class: 'form-control custom-form-control validate'  %>
                                      <%= f.label :source_city_id, "Source City", class: "theme-text actives" %>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                        <%= f.select :destination_city_id,options_for_select(@cities.collect{|c| [c.name , c.id]},transporter_route.destination_city.present? ? transporter_route.destination_city.id : {}),{:include_blank => "Select City"},class: 'form-control custom-form-control validate' %>
                                        <%= f.label :destination_city_id, "Destination City", class: "theme-text actives" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="col s12 right-align">
                        <%= f.submit "UPDATE", class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align"  %>
                        <%#= f.submit "Update", data: {disable_with: "submitting..."}, class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align", style: "padding: 0px 20px; margin-right: 20px;" %>
                        <%= link_to "CANCEL", "javascript:;", class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align close-popup", style: "padding: 0px 20px; background-color:#d0d0d0;" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>