<%= form_for [:transporters, transporter_router] do |f| %>
  <div class="input-field col s12 error-log">
		<%= f.select :source_city_id,options_for_select(@cities.collect{|c| [c.name , c.id]}, transporter_router.source_city.present? ? transporter_router.source_city.id : {}),{:include_blank => "Select City"},class: 'form-control custom-form-control validate'  %>
     <%= f.label :source_city_id, "Source City", class: "theme-text actives" %>
	 </div>
  <div class="input-field col s12 error-log">
		<%= f.select :destination_city_id,options_for_select(@cities.collect{|c| [c.name , c.id]},transporter_router.destination_city.present? ? transporter_router.destination_city.id : {}),{:include_blank => "Select City"},class: 'form-control custom-form-control validate' %>
     <%= f.label :destination_city_id, "Destination City", class: "theme-text actives" %>
	</div>
 	<div class="actions col s12 left-align">
	  <%= f.submit "CREATE", class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align"  %>
	</div>
<% end %>