<tr>
	<td>
		<%= transporter_router.source_city.try(:name) %>
	</td>
	<td>
		<%= transporter_router.destination_city.try(:name) %>
	</td>
	<td>
		<%= link_to "Edit Route", edit_transporters_transporter_router_path(transporter_router), remote: true %> /
		<%= link_to "Delete", [:transporters,transporter_router],method: :delete ,data: { confirm: 'Are you sure?'} %>
	</td>
</tr>