<main>
  <div id="my-order" class="main-page">
    <!-- first tab -->
    <div id="test1" class="col s12 full-content-wrap">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="outer_box">
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="custom-box-wrap">
                    <div class="box_header">
                      <div class="col s6 text-left theme-text box_header_title">Add New Route</div>
                    </div>
                    <div class="box_content" id="user_basic_detail">
											<%= render 'form', transporter_router: @transporter_router %>
                    </div>
                  </div>
                </div>
              </div>
            <table>
            	<thead>
            		<tr>
        					<th>Source city</th>
									<th>Destination city</th>
									<th>Actions</th>
            		</tr>
            	</thead>
            	<tbody id="transporter_route_list">
            		<%= render @transporter_routes  %>
            	</tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>





<!-- 


<%#= link_to "Add new route", new_transporters_transporter_router_path %>
<table>
	<tbody>
		<th>Source city</th>
		<th>Destination city</th>
	</tbody>
	<tbody>
	<%# @transporter_routes.each do |transporter_route| %>
		<tr>
			<td>
				<%#= transporter_route.source_city.name %>
			</td>
			<td>
				<%#= transporter_route.destination_city.name %>
			</td>
			<td>
				<%#= link_to "Edit Route", edit_transporters_transporter_router_path(transporter_route) %>
				<%#= link_to "Delete", [:transporters,transporter_route],method: :delete ,data: { confirm: 'Are you sure?'} %>

			</td>
		</tr>	
	<%# end %>
	</tbody>
</table> -->
