<% if @transporter_route.errors.blank? %>
	$("#modal-quotes").closeModal();
	$("#transporter_route_list").html("<%= j(render @transporter_routes) %>")
<% else %>
	$("#modal-quotes").html("<%= j(render 'edit_form', transporter_route: @transporter_route) %>")
<% end %>
<% flash.each do |type, msg| %>
		Materialize.toast('<%= msg %>', 4000)
<% end %>
<% @transporter_route.errors.full_messages.each do |msg| %>
		Materialize.toast('<%= msg %>', 4000)
<% end %>
<% flash.discard %>
$('select').material_select();
