<style>
  .notice,.alert{
    display:none;
  }
</style>
<main>
  <div class="section no-pad-bot main-page" id="home">
    <div class="container" style="overflow: visible;">
      <h1 class="header center"><img src="/assets/customer/transport-logo.png" alt="transport"></h1>
        <div class="row">
          <div class="col m8 offset-m2 l6 offset-l3 s12 center-form-box">
            <div class="login_title_wrap">
              <div>Sign In</div>
              <span>
                New here?
                <%= link_to "Register here", new_registration_path(resource_name) %>
              </span>
            </div>
            <div class="home-from login_form clearfix col s12">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name, from: params[:from], to: params[:to])) do |f| %>
                <div>
                  <div class="row">
                    <div class="col s12">
                    <% if flash.present? %>
                      <div class="card-panel theme-bg">
                        <p class="errmsg"><%= notice %><%= alert %></p>
                      </div>
                    <% end %>
                    </div>
                  </div>
                  <div class="input-field col s12 error-log">
                    <%= f.label :login, "ENTER EMAIL / PHONE NUMBER",class: "theme-text actives login_input" %>
                    <%= f.text_field :login, autofocus: true, placeholder: "Enter Phone Number/Email",class: "validate" %>
                  </div>
                  <!-- <div id="error_message"></div> -->
                  <div class="login_button">
                    <button type="submit" class="btn-floating btn-large waves-effect waves-light theme-bg posi" id="login_submit"><i class=" large material-icons">navigate_next</i></button>
                  </div>
                  <div class="input-field col s12 error-log">
                    <%= f.label :password, "ENTER PASSWORD",class: "theme-text actives login_input" %>
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Enter Password", class: "validate" %>
                  </div>
                  <div class="col s12 show-moblie">
                    <button type="submit" class="btn-floating btn-large waves-effect waves-light theme-bg"><i class=" large material-icons">navigate_next</i></button>
                  </div>
                  <div class="col s12 form_footer">
                    <div class="forgot_link_wrap">
                      <%= link_to "Forgot password?", new_password_path(resource_name) %>
                    </div>
                    <span class="reg_link_wrap">
                      New here? <%= link_to "Register here", new_registration_path(resource_name) %>
                    </span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
<div>
  <%= render 'shared/default_footer' %>
</div>
<!-- <script type="text/javascript" src= "/assets/jquery.validate.js"></script> -->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!-- <div class="field">
    <%#= f.label :login, "ENTER EMAIL / PHONE NUMBER" %><br />
    <%#= f.text_field :login, autofocus: true, placeholder: "Enter Phone Number/Email" %>
  </div>

  <div class="field">
    <%#= f.label :password, "ENTER PASSWORD" %><br />
    <%#= f.password_field :password, autocomplete: "off", placeholder: "Enter Password" %>
  </div>

  <%# if devise_mapping.rememberable? -%>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end -%>

  <div class="actions">
    <%#= f.submit "Log in" %>
  </div> -->
<%# end %>

<%#= render "customers/shared/links" %>
