// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.payment_table {
	width: 25%;
}

#modal-quotes.modal .modal-content .section_row {
	border-bottom: 1px solid #ddd;
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}

#modal-quotes.modal .modal-content .title {
	float: left;
	width: 100%;
	padding: 0px 0px 10px !important;
}
