<tr>
	<td><%= order.load_id %></td>
	<td>
		<%= order.load.customer_id %>
	</td>
	<td>
		<%= order.transporter_id %>
	</td>
	<td><b><%= order.quote.admin_next_receivable_payment.present? ? "Pending" : "Paid" %></b></td>
	<td><b><%= order.admin_next_payable_payment.nonzero?.present? ? "Pending" : "Paid" %></b></td>
	<td>
	<%= link_to_if order.confirmed?, "Cancel |", cancel_admins_order_path(order, action_as: :customer), data: { confirm: "Are you sure you want to cancel this order ?" }, method: :put do;end %>
	<%= link_to_if order.confirmed?, "Dispatched?", dispatch_order_admins_order_path(order), method: :patch, data: { confirm: "You want to dispatch this order ?" } do %>
		<%= order.status.capitalize %> |
		<%= link_to "Delivered?", marke_as_reached_admins_order_path(order), method: :patch, data: { confirm: "You want to mark as reached this order ?" } %>
	<% end %>
	</td>
	<td>
	<%= link_to_if order.confirmed?, "Cancel", cancel_admins_order_path(order, action_as: :transporter), data: { confirm: "Are you sure you want to cancel this order ?", method: :put } do %>
		<%= order.status.capitalize %>
	<% end %>
	</td>
	<td>
		<%= link_to admins_order_path(order), class: "action-link", title: "See Order details" do %>
			<i class="glyphicon glyphicon-eye-open"></i>
		<% end %>
	</td>
</tr>