<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Assign Address</h4>
    </div>
		<%= form_for load, url: set_address_admins_order_path(order) do |f| %>
	    <div class="modal-body">
				<% if params[:loading].present? %>
	    		Enter Loading address :
					<%= f.text_field :loading_address, placeholder: "Enter Loading address", autofocus: true, id: "address" %>
				<% elsif params[:destination].present? %>
					Enter Destination address :
					<%= f.text_field :destination_address, placeholder: "Enter Destination address", autofocus: true, id: "address" %>
				<% end %>
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit "Save",class: "btn btn-primary" %>
	    </div>
    <% end %>
 </div>
</div>
