<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Assign Vehicle</h4>
      </div>
      <div id="add_new_vehicle">
        <%= form_for vehicle, url: admins_transporter_create_vehicle_from_order_path(transporter), remote: true do |f| %>
          <h4 style="text-align: center;"><%= params[:action] == "edit" ? "Edit" : "New" %> Vehicle</h4>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Vehicle Type</label>
                <%= f.select( :vehicle_type_id, VehicleType.all.collect {|p| [ p.name, p.id ] },{}, {class: 'form-control'})  %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputExample">Number Plate</label>
                <%= f.text_field :number_plate,placeholder: "Enter valid number plate",required: true, class: "form-control custom-form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Vehicle Status</label>
                <%= f.select(:vehicle_status, options_for_select(Vehicle.vehicle_statuses.map {|k,v| [k,k]},selected: vehicle.vehicle_status),{}, {class: 'form-control custom-form-control'})%>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputExample">Chassis Number</label>
                <%= f.text_field :chassis_number,placeholder: "Enter valid chassis number",required: true, class: "form-control custom-form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Fitness</label>
                <%= f.select(:fitness, options_for_select(Vehicle.fitnesses.map {|k,v| [k,k]},selected: vehicle.fitness),{},{class: 'form-control custom-form-control'})%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 login_btn">
              <%= f.submit "Create", class: "btn btn btn-default" %>
            </div>
          </div>
        <% end %>
        <hr class='border-bottom: 1px solid #e5e5e5;'>
      </div>
      <div id="vehicle_list">
        <%= form_tag assign_vehicle_admins_order_path(order), method: :post, remote: true do %>
          <div class="modal-body">
            <div class="row form-row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Select Vehicle to Assign</label>
                  <%= render partial: "admins/vehicles/vehicle_list", collection: transporter.vehicles, as: "vehicle", locals: {assign_vehicles: assign_vehicles}  %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= submit_tag "Assign", class: "btn btn-primary" %>
            <%= link_to "Discard", "#", method: :delete, data: {confirm: "Are you sure you want to discard all vehicle ?"}, class: "btn btn-default" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>

  </div>