<tr class="clickable-row" data-href="<%= admins_order_path(order) %>" >
	<td><%= order.load_id %></td>
	<td>
		<%= order.load.customer_id %>
	</td>
	<td>
		<%= order.transporter_id %>
	</td>
	<td><b>Paid</b></td>
	<td><b>Pending</b></td>
</tr>