<div class="row">

	<% if load.completed? %>
		Distance travelled : <span id="travelled_distance"></span><br>
		Stoppages : -<br>
		Stoppage duration : -<br>
		Trip duration : <%= trip.duration %><br>
		Average speed : <%= number_with_precision(trip.avg_speed, precision: 2) %><br>
		<hr>
	<% end %>
> <%= label "from", "address", load.from_address, id: "from_address" %> | <%= trip.created_at.strftime("%d/%m - %I:%M %p") %><br>
<%= hidden_field_tag "tracking_from_coordinate", load.from_coordinate.to_json %>
<div id="tracking_list">
  <% trip.trip_trackings.sort_by(&:id).each_with_index do |track, i| %>
    > <span id="<%= (trip.trip_trackings.collect.count - 1) == i ? 'tracking_current_address' : '' %>"><%= track.location %></span> | <%= track.created_at.strftime("%d/%m - %I:%M %p") %><br>
    <span><%= hidden_field_tag "tracking_current_coordinate", track.coordinate.to_json, class: "tracking_coordinate" %></span>
  <% end %>
</div>
<br>
> <%= label "destination", "address", load.to_address, id: "to_address" %> | <%= load.confirmed_order.completed_at.try(:strftime, "%d/%m - %I:%M %p") %>
<%= hidden_field_tag "tracking_to_coordinate", load.to_coordinate.to_json if load.completed? %>
<br>
<br>

<%= link_to_if  load.active?, "Add track points",admins_new_order_track_detail_path(trip), remote: true do; end %>
</div>
