$(".modal").modal()
$("#transportModal").html("<%= escape_javascript(render 'assign_vehicle_form_content', order: @order, vehicle: @vehicle, transporter: @transporter, assign_vehicles: @assign_vehicles) %>")