<% if @trip_tracking.errors.blank? %>
	$(".modal").modal('hide')
	$("#tracking_details").html('<%= escape_javascript(render "tracking_details", load: @load, trip: @trip) %>')
<% else %>
	$("#new_trip_tracking")[0].reset()
<% end %>