$(".modal").modal()
$("#transportModal").html('<%= escape_javascript( render "address_form", load: @load, order: @order ) %>')
transportApp = new TransportApp({autocomplete: true, selector: "address"});
