$(".modal").modal()
$("#transportModal").html("<%= escape_javascript(render 'track_form', trip_tracking: @trip_tracking, load: @load, trip: @trip ) %>")
transportApp = new TransportApp({autocomplete: true, selector: "trip_tracking_location"});
