<div class="row">
  <div class=" col-xs-12 col-sm-12">
    <div class="page_title view-page-title">
      <h2 class="mt-10 col-sm-1 p-none">Loads</h2>
      <div class="col-sm-4 add-more-left post_load">
      </div>
      <%= render 'load_and_quote_header' %>
    </div>
   </div>
</div>
<%#= link_to "Post New Load", new_admins_load_path, class: "btn btn-primary" %>
<!-- <h3>Loads</h3> -->
<div class="row table-contents-wrapper table-records-wrapper">
  <div class="col-xs-12 revenue-table-wrapper">
  	<div class="row search-wrapper">
      <div class="col-sm-6 revenue-search-box">
        <form class="form-inline revenue-table-form view-record-form">
          <label>Search</label>
          <input type="text" class="form-control search-box" name="search" id="search">
        </form>
      </div>
      <div class="col-sm-6 revenue-search-box">
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Order Type</button>
          <div id="myDropdown" class="dropdown-content">
            <%= link_to "Completed",processed_orders_admins_orders_path(status: :completed) %>
            <%= link_to "Canceled",processed_orders_admins_orders_path(status: :canceled) %>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover revenue-table">
        <thead class="bg-color-pink">
					<tr>
						<th>LOAD ID</th>
						<th>CUSTOMER ID</th>
            <th>TRANSPORTER ID</th>
            <th>CUSTOMER PAYMENTS</th>
            <th>TRANSPORTER PAYMENTS</th>
					</tr>
				</thead>
				<tbody>
          <%= render partial: 'completed_order', collection: @orders, as: 'order' %>
        </tbody>
			</table>
		</div>
  </div>
</div>