<% provide(:title, "Order") %>
<%= render 'shared/admin_breadcrumbs' %>
<div class="row">
  <div class="section-details">
    <div class="detail-wrapper p-none">
      <div class="row">
        <div class="detail-title">
          <h3> Load details :</h3>
        </div>
      </div>
      <div class="row ">
        <ul class="basic-detail-list">
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Load Docket Id  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.load_docket_id %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Load type  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.load_type.name %></div>
          </li>
          <li>
          	<div class="col-xs-6 col-sm-5  caption text-left"> Vehicle Load Type  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.vehicle_load_type.name %></div>
          </li>
          <li>
          	<div class="col-xs-6 col-sm-5  caption text-left"> Vehicle Type  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.vehicle_type.name %></div>
          </li>
          <li>
          	<div class="col-xs-6 col-sm-5  caption text-left"> Vehicle Quantity  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.vehicle_quantity %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> weight  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.weight["value"] +" "+ @load.weight["unit"] %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Volume  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.volume["value"] +" "+ @load.volume["unit"] %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Dimension  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.dimension["length"] +" x " +@load.dimension["height"] +" x " + @load.dimension["dept"] +" "+ @load.dimension["unit"] %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Loading Date  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.loading_date %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Customer comment  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.comment %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Load status  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.load_status %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> From Address  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.from_address %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> To Address  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.to_address %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Trip Distance  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.trip_distance %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"><b> Loading Address </b> <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.loading_address %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> <b> Destination Address </b>  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @load.destination_address %></div>
          </li>
				</ul>
			</div>
    </div>
	</div>
</div>

<div class="row">
  <div class="section-details">
    <div class="detail-wrapper p-none">
      <div class="row">
        <div class="detail-title">
          <h3>Customer Details :</h3>
        </div>
      </div>
      <div class="row ">
        <ul class="basic-detail-list">
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Phone Number  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @customer.ph_no %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Email  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @customer.email %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Name  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @customer.name %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Company Name  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @customer.company_name %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Address Detail  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @customer.address_detail %></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="section-details">
    <div class="detail-wrapper p-none">
      <div class="row">
        <div class="detail-title">
          <h3>Transporter Details :</h3>
        </div>
      </div>
      <div class="row ">
        <ul class="basic-detail-list">
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Phone Number  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @transporter.ph_no %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Email  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @transporter.email %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Name  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @transporter.name %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Company Name  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @transporter.company_name %></div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-5  caption text-left"> Address Detail  <span>-</span></div>
            <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @transporter.address_detail %></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% if @order.active? %>
  <div class="row">
    <% if @order.confirmed? %>
      <div class="col-xs-3 col-sm-3 btn btn-primary">
        <%= link_to "Assign Vehicle", assign_vehicle_form_admins_order_path(@order), remote: true %>
      </div>
    <% end %>
    <div class="col-xs-offset-1 col-sm-offset-1 col-xs-3 col-sm-3 btn btn-primary">
      <%= link_to "Assign Loading address", get_address_form_admins_order_path(@order, loading: true), remote: true %>
    </div>
    <div class="col-xs-offset-1 col-sm-offset-1 col-xs-3 col-sm-3 btn btn-primary">
      <%= link_to "Assign Delivery address", get_address_form_admins_order_path(@order, destination: true), remote: true %>
    </div>
  </div>

<% end %>

<% if @order.in_transit? %>
  <div class="row">
    <div class="section-details">
      <div class="detail-wrapper p-none">
        <div class="row">
          <div class="detail-title">
            <h3>Track :</h3>
            
            <%= select_tag "vehicle_list", options_for_select(@trips.collect{ |t| [t.vehicle.number_plate, t.id] }), {class: "form-control custom-form-control"} %>
          </div>
        </div>
        <div class="row", id="tracking_details">
          <%= render 'tracking_details', load: @load, trip: @trips.first %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @order.completed? %>
  <div class="row">
    <div class="col-sm-5">
      <div class="section-details">
        <div class="detail-wrapper p-none">
          <div class="row">
            <div class="detail-title">
              <h3>TRIP SUMMARY</h3>
              <%= select_tag "vehicle_list", options_for_select(@trips.collect{ |t| [t.vehicle.number_plate, t.id] }), {class: "form-control custom-form-control"} %>
            </div>
          </div>
          <div class="row" id="tracking_details" >
            <%= render 'tracking_details', load: @load, trip: @trips.first %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="section-details">
        <div class="detail-wrapper p-none">
          <div class="row">
            <div class="detail-title">
              <h3>ADDRESS</h3>
            </div>
          </div>
          <div class="row ">
            <h4>Loading Address</h4>
            <%= @order.load.loading_address %>
            <h4>Delivery Address</h4>
            <%= @order.load.destination_address %>
            <%#= render 'tracking_details', load: @load, trip: @trips.first %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="col-sm-5">
    <div class="section-details">
      <div class="detail-wrapper p-none">
        <div class="row">
          <div class="detail-title">
            <h3>Payment from Customer</h3>
          </div>
        </div>
        <div class="row ">
          <ul class="basic-detail-list">
            <li>
              <div class="col-xs-6 col-sm-5  caption text-left"> Payment Type  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @order.quote.customers_payments.first.try(:payment_plan).try(:payment_type) %></div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5  caption text-left"> Paid  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @order.receive_payments %></div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5  caption text-left"> Pending  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><% if @order.receive_payments != 0 %><%= @order.remain_receive_payments %><% end %></div>
            </li>
            <li>
              <%= link_to_if @order.quote.admin_next_receivable_payment.present?, "Receive Now", customer_payment_form_admins_order_payment_path(@order, @order.admin_next_receivable_payment||0), class: "btn btn-primary", remote: true do %>
                Received
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="section-details">
      <div class="detail-wrapper p-none">
        <div class="row">
          <div class="detail-title">
            <h3>Payment from Transporter</h3>
          </div>
        </div>
        <div class="row ">
          <ul class="basic-detail-list">
            <li>
              <div class="col-xs-6 col-sm-5  caption text-left"> Paid  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @order.paid_payments %></div>
            </li>
            <li>
              <div class="col-xs-6 col-sm-5  caption text-left"> Pending  <span>-</span></div>
              <div class=" col-xs-6 col-sm-6 caption-data font-normal"><%= @order.remain_paid_payments %></div>
            </li>
            <li>
              <%= link_to_if @order.admin_next_payable_payment.nonzero?.present?, "Pay Now", admins_order_transporter_payment_form_path(@order), class: "btn btn-primary", remote: true do %>
                Paid
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  transportApp = new TransportApp();
</script>