<div class="bank_account_details">
	<div class="row">
		<div class="col-xs-6 col-sm-5  caption text-left">
			<p class="feature_title form-label-title">
	  		Account Holder Name
			</p>
		</div>
		<div class="col-xs-6 col-sm-6 caption-data font-normal">
			<div class="form-group">
				<%= f.text_field :account_holder_name,class: 'form-control custom-form-control', placeholder: "Enter name" %>
				<div style="color: rgb(204, 0, 0)"><%= show_errors(f.object, :account_holder_name) %></div>
			</div>
		</div>
	</div>
	<div class="row">
	  <div class="col-xs-6 col-sm-5  caption text-left">
	    <p class="feature_title form-label-title">
	      Account Number
	    </p>
	  </div>
	  <div class="col-xs-6 col-sm-6 caption-data font-normal">
	    <div class="form-group">
	      <%= f.text_field :account_number,class: 'form-control custom-form-control', placeholder: "Enter valid account number" %>
	      <div style="color: rgb(204, 0, 0)"><%= show_errors(f.object, :account_number) %></div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-6 col-sm-5  caption text-left">
	    <p class="feature_title form-label-title">
	      Bank Name
	    </p>
	  </div>
	  <div class="col-xs-6 col-sm-6 caption-data font-normal">
	    <div class="form-group">
	      <%= f.text_field :bank_name,class: 'form-control custom-form-control', placeholder: "Enter valid bank name" %>
	      <div style="color: rgb(204, 0, 0)"><%= show_errors(f.object, :bank_name) %></div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-6 col-sm-5  caption text-left">
	    <p class="feature_title form-label-title">
	      IFSC Code
	    </p>
	  </div>
	  <div class="col-xs-6 col-sm-6 caption-data font-normal">
	    <div class="form-group">
	      <%= f.text_field :ifsc_code,class: 'form-control custom-form-control', placeholder: "Enter valid ifsc code" %>
	      <div style="color: rgb(204, 0, 0)"><%= show_errors(f.object, :ifsc_code) %></div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-6 col-sm-5  caption text-left">
	    <p class="feature_title form-label-title">
	      Branch Name
	    </p>
	  </div>
	  <div class="col-xs-6 col-sm-6 caption-data font-normal">
	    <div class="form-group">
	      <%= f.text_field :branch_name,class: 'form-control custom-form-control', placeholder: "Enter valid branch name" %>
	      <div style="color: rgb(204, 0, 0)"><%= show_errors(f.object, :branch_name) %></div>
	    </div>
	  </div>
	</div>
	<div class = "row">
		<div class="col-xs-6 col-sm-5  caption text-left">
	    <div class="form-group">
	    	<%= link_to_remove_fields "Remove", f %>
	    </div>
	  </div>
	</div>
</div>