<tr>
  <!-- <td><%#= transporter.id %></td> -->
  <td><%= link_to transporter.ph_no, admins_transporter_path(transporter) %></td>
  <td><%= transporter.name %></td>
  <td><%= transporter.company_name %></td>
  <td><%= transporter.email %></td>
  <td><%= transporter.approved ? 'Approved' : 'Pending' %></td>
  <td>
    <%= link_to edit_admins_transporter_path(transporter),class: "action-link" do %>
      <i class="glyphicon glyphicon-pencil"></i>
    <% end %>
    <%= link_to [:admins, transporter] do%>
      <i class="glyphicon glyphicon-eye-open"></i>
    <% end %>
    <%= link_to [:admins,transporter],method: :delete, class: "action-link",data: {confirm: "Are You Sure ?"} do %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %>
    <% unless transporter.approved? %>
      <%= link_to "Approve", approve_transporter_admins_transporter_path(transporter), method: :post %>
    <% end %>
  </td>
</tr>