<!DOCTYPE html>
<html>
  <head>
    <title>Admin<%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin', params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', params[:controller], 'data-turbolinks-track': 'reload' %>
    <% if ["cities", "trackers", "orders", "loads"].include?(controller_name)%>
    <%# if params[:controller] == "admins/cities"%>
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv_e0suoIN-n1Q8lT3m-HOIv8RMxLbFlw&types=(regions)&libraries=places" type="text/javascript" async defer></script> -->
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxmxJdar7Vxz6oNPqPX2vJduC6RdCkzFk&types=(regions)&libraries=places" type="text/javascript"></script> -->

      <script src="http://maps.google.com/maps/api/js?key=AIzaSyAwk4Ubbmqy5w7c215-UgZ5AHvS4d5x5YY&libraries=places" type="text/javascript"></script>
      <script src="/assets/RouteBoxer.js"></script>
    <% end %>

    <script type="text/javascript">
      var transportApp = {};
    </script>
  </head>

  <body class="<%= params[:controller] == 'devise/sessions' ? 'login_body' : '' %>">


    <% if admin_signed_in? %>
      <div class="page-wrapper">
        <div id="wrapper">
          <!-- Sidebar -->
          <%= render 'shared/admin_sidebar' %>

          <div id="page-content-wrapper">
            <%= render 'shared/admin_header' %>
            <div id="main-wraper" class="main-wraper-container">
              <%= render 'shared/flash_messages' %>
              <%= yield %>
            </div>
          </div>
          <%= render 'shared/admin_footer' %>
        </div>
      </div>
      <!-- <%#= render "shared/admin_header" %> -->
    <% else %>
      <%= yield %>
    <% end %>

    <script type="text/javascript">
    
      $(document).ready(function(event) {
        $("#leftbtn").click(function(){

          // if ($(window).width() > 1300) {
          //      $('.dashboard_menu_box').find("span").css({
          //       'marginLeft' :'20px',
          //       width:'70px',
          //       hight:'70px',
          //       lineHeight:'70px',
          //     });
          // }
          // else{
          //     $('.dashboard_menu_box').find("span").css({
          //       'marginLeft' :'40px',
          //       width:'75px',
          //       hight:'75px',
          //       lineHeight:'75px',
          //     });
          // }

        });
      });
    </script>
    <div id="transportModal" class="modal fade" role="dialog">
    </div>
  </body>
</html>