<!DOCTYPE html>
<html>
  <head>
    <title>Transportation Service</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="/assets/customer/favicon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css">
    <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src='http://code.jquery.com/jquery-3.1.0.min.js'></script>
    <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <% if ["customers/loads/builds", "transporters/orders", "transporters/tracking", "customers/loads", "landing"].include?(params[:controller])%>
      <script src="http://maps.google.com/maps/api/js?key=AIzaSyAwk4Ubbmqy5w7c215-UgZ5AHvS4d5x5YY&libraries=places" type="text/javascript"></script>
      <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
      <script src="/assets/leaflet-routeboxer.js"></script>
      <script src="/assets/Polyline.encoded.js"></script> -->
      <script src="/assets/RouteBoxer.js"></script>
    <% end %>
  </head>
  <div id="modal-second" class="modal"></div>
  <div id="modal-quotes" class="modal transport-modal"></div>
  <body>
    <%= render "shared/headers" %>
    <div id="flash_message">
      <% if false %><!-- not support flash notification like this in materialize -->
        <%= render "shared/flash_messages" %>
        <!-- <p class="notice"><%#= notice %></p>
        <p class="alert"><%#= alert %></p> -->
      <% end %>
    </div>
    <%= yield %>
    <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js' ></script>
  </body>
  <%# exit %>
  <script type="text/javascript">
    // Model error for all models
    <% if eval("@#{controller_name.singularize}").present? %>
      <% eval("@#{controller_name.singularize}").errors.full_messages.each do |msg| %>
        Materialize.toast('<%= msg %>', 4000)
      <% end %>
    <% end %>
    <% flash.each do |type, msg| %>
      Materialize.toast('<%= msg %>', 4000)
    <% end %>
  </script>
</html>