<div class="inner_box">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="custom-box-wrap">
        <div class="box_header">
          <div class="col s6 text-left">
            <%= bank_account_detail.bank_name %> Bank Detail</div>
          <div class="col s6 right-align">
            <%= link_to "EDIT", send("edit_#{@resource_name}_bank_account_detail_path", resource, bank_account_detail), class: "right-align theme-text modal-trigger", remote: true %><span>&nbsp; /&nbsp;</span>
              <%= link_to "DELETE", send("#{@resource_name}_bank_account_detail_path",resource, bank_account_detail), method: :delete, data: { confirm: "Are you sure you want to delete this bank account ?" }, class: "right-align theme-text modal-trigger", remote: true %>
                <!-- <a id="" href="#modal_edit_bank" class="right-align theme-text modal-trigger">EDIT</a> -->
                <!-- <a id="" href="#modaldelete" class="right-align theme-text modal-trigger">DELETE</a> -->
          </div>
        </div>
        <div class="box_content">
          <div class="row">
            <div class="col s6 m5 l4 mobile-view">
              <p><strong>Bank Name <span class="text-right colon"> : </span></strong></p>
            </div>
            <div class="col s6 m7 l8 mobile-view">
              <p>
                <%= bank_account_detail.bank_name %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col s6 m5 l4 mobile-view">
              <p><strong>Branch Name <span class="text-right colon"> : </span></strong></p>
            </div>
            <div class="col s6 m7 l8 mobile-view">
              <p>
                <%= bank_account_detail.branch_name %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col s6 m5 l4 mobile-view">
              <p><strong>Account Holder Name <span class="text-right colon"> : </span></strong></p>
            </div>
            <div class="col s6 m7 l8 mobile-view">
              <p>
                <%= bank_account_detail.account_holder_name %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col s6 m5 l4 mobile-view">
              <p><strong>Account Number <span class="text-right colon"> : </span></strong></p>
            </div>
            <div class="col s6 m7 l8 mobile-view">
              <p>
                <%= bank_account_detail.account_number %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col s6 m5 l4 mobile-view">
              <p><strong>IFSC Code <span class="text-right colon"> : </span></strong></p>
            </div>
            <div class="col s6 m7 l8 mobile-view">
              <p>
                <%= bank_account_detail.ifsc_code %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
