<div class="custom_model">
    <div class="modal-content" style="padding: 0px;">
        <div class="row m-none flex-display">
            <div class="col s12 m12 l12" style="padding:20px 0px !important;">
                <div class="row section_row">
                    <div class="title">
                        <div class="col s12">
                            <h6><%= bank_detail.new_record? ? "ADD" : "EDIT" %> BANK DETAIL</h6>
                        </div>
                    </div>
                </div>
								<%= form_for [resource, bank_detail], html: {class: "modal-form", remote: true} do |f| %>
                <!-- <form id="edit_bank" method="get" accept-charset="utf-8" class="modal-form"> -->
                    <div class="col s12">
                        <div class="title">
                            <div class="row">
                                <div class="">
                                    <div class="input-field col s12 error-log input-row">
                                        <%= f.text_field :bank_name, class: "validate", id: "bank_name" %>
                                        <!-- <input type="text" class="validate" name="bank_name" id="bank_name"> -->
                                        <label class="theme-text actives login_input" for="bank_name">Enter Bank Name:</label>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                        <%= f.text_field :branch_name, class: "validate", id: "brach_name" %>
                                        <!-- <input type="text" class="validate" name="brach_name" id="brach_name"> -->
                                        <label class="theme-text actives login_input" for="brach_name">Enter Branch Name:</label>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                        <%= f.text_field :account_holder_name, class: "validate", id: "ac_holder_name" %>
                                        <!-- <input type="text" class="validate" name="ac_holder_name" id="ac_holder_name"> -->
                                        <label class="theme-text actives login_input" for="ac_holder_name">Enter Account Holder Name:</label>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                        <%= f.text_field :account_number, class: "validate", id: "ac_num" %>
                                        <!-- <input type="text" class="validate" name="ac_num" id="ac_num"> -->
                                        <label class="theme-text actives login_input" for="ac_num">Enter Account Number:</label>
                                    </div>
                                    <div class="input-field col s12 error-log input-row">
                                        <%= f.text_field :ifsc_code, class: "validate", id: "ifsc_code" %>
                                        <!-- <input type="text" class="validate" name="ifsc_code" id="ifsc_code"> -->
                                        <label class="theme-text actives login_input" for="ifsc_code">Enter IFSC Code:</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="col s12 right-align">
                        <%= f.submit "SAVE", data: {disable_with: "submitting..."}, class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align", style: "padding: 0px 20px; margin-right: 20px;" %>
                        <%= link_to "CANCEL", "javascript:;", class: "waves-effect waves-light btn-flat theme-bg white-text butons center-align close-popup", style: "padding: 0px 20px; background-color:#d0d0d0;" %>

                            <!-- <button type="submit" class="waves-effect waves-light btn-flat theme-bg white-text butons center-align " style="padding: 0px 20px; margin-right: 20px;">SAVE</button>
                            <a href="#" id="" class="waves-effect waves-light btn-flat theme-bg white-text butons center-align close-popup" style="padding: 0px 20px; background-color:#d0d0d0;">CANCEL</a> -->
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
