<% if @bank_detail.errors.blank? %>
	$("#modal-quotes").closeModal();
	$("#bank_detail_list").html("<%= j(render @bank_details, resource: @resource) %>")
<% else %>
	$("#modal-quotes").html("<%= j(render 'form', resource_name: @resource_name, resource: @resource, bank_detail: @bank_detail) %>")
<% end %>
<% flash.each do |type, msg| %>
		Materialize.toast('<%= msg %>', 4000)
<% end %>
<% flash.discard %>
